[2021-11-17 04:06] city2011 opened #692 "JJwt Initialization is too Slow. Severer When it in a Concurrent System"
**Describe the bug**
jjwt builder initialization is too slow when it in a tomcatEmbedded class context.
It may cost 500ms ~ 3500ms to loadFirst

**To Reproduce**
1. Build a simple tomcat nio application.
2. Write a code to request a remote api using jjwt signature.
3. Call the api which using jjwt signatrue with a certain number of QPS.
4. Using some tools like arthas from alibaba to trace timecos

[2021-11-17 11:07] city2011 commented on #692
code implemention like this can solve ServiceLoader and iterate through Jars

`Date expiredTime = new Date(System.currentTimeMillis() + TTL);
        JwtBuilder builder = Jwts.builder()
                .setHeaderParam("typ", "JWT")
                .signWith(Keys.hmacShaKeyFor(SECRET.getBytes()))
                .setIssuer(ISS)
                .serializeToJsonWith(new JacksonSerializer<>());

[2021-11-17 19:16] bdemers commented on #692
I think there might be something environment-specific related to your tests.  I just created a simple (and ugly) perf test.

After the JVM warms up, I ran a similar code to yours 10,000 times with and without setting the `Serializer`. Granted these numbers are machine-specific, but they do NOT show the kind of issue you are seeing.

[code]

NOTE: My test did NOT include Tomcat.

If you still think

[2021-11-18 06:38] city2011 commented on #692
Thanks for reply！

I think this is not a issue in jjwt, but may trigger SPI a lot of times in some case.
Using compact() in multi thread that belang to a same root thread - won't touch the logic using ServiceLoader(SPI)

jjwt is thread-context isolated, if i understand right. Every new thread-context using jjwt without Serializer, will run whole SPI to find a serializer. And I agree the point that

[2021-11-18 18:29] bdemers commented on #692
Thanks @city2011!
I'll close the issue for now, but if you have a repo case feel free to comment and we can open the issue up again and re-evaluate the issue.

[2021-11-18 18:29] #692 closed

[2021-11-18 22:40] TheLeaf-code commented on #689
@bdemers Hi, thanks for the response. I appreciate the help!

[2021-11-18 22:40] #689 closed

[2021-11-23 03:28] meetGith opened #694 "Problem with using JJWT to generate token signature signwith"
According to the source code, the length of the key is at least 256bits, that is, 32 bytes. However, if the length of the key is sufficient, an error is reported, and the output shows that the length of the original byte is inconsistent with the length of the bytes parsed in Base64. Can you give the developer a friendly warning?

[2021-11-23 15:24] realjax opened #695 "cannot find symbol method parserBuilder"
This code:

[code]

gives me this error:

[code]

I am running version 0.11.2. ( double checked)

What am I missing?

[2021-11-23 15:25] bdemers commented on #694
Hi @meetGith, I’m not sure I’m following the description. Can you provide a code snippet so we can reproduce the issue? (It will make it easier for us to write a test case too)

[2021-11-23 15:30] bdemers commented on #695
Double check your classpath/dependencies and make sure you do t have the older 0.9 version as a dependency too.

Please keep us posted!

[2021-11-24 01:45] ipolevoy opened #696 "Upgrade to the latest version of Jackson"
A newer version is available:
https://search.maven.org/artifact/com.fasterxml.jackson.core/jackson-databind/2.13.0/bundle

[2021-11-24 07:48] realjax commented on #695
I am using SBT and have the  following lib dependencies defined:

[code]

However, something somewhere there is a dep to  https://repo1.maven.org/maven2/io/jsonwebtoken/jjwt/0.7.0/jjwt-0.7.0.jar
because it keeps reolving that as well. Could that be the cause?

[2021-11-24 16:15] bdemers commented on #695
@realjax yup!  Remove that first line, and you should be good to go.

NOTE: we have a PR to help smooth out this transition in the future.

[2021-11-24 16:17] #695 closed

[2021-11-25 01:53] meetGith commented on #694
String u = "saisaisaisaisaisaisaisaisaisaisasaisassss";
        System.out.println("字符串原字节长度："+u.getBytes().length);
        byte[] bytes = Decoders.BASE64.decode(u);
        System.out.println("通过base64解码之后的长度："+bytes.length);
        Key secretKey = Keys.hmacShaKeyFor(bytes);
        HashMap<String, Object> payload = new HashMap<>();
        payload.put("name","csl");
        String jwt = Jwts.b

[2021-11-25 09:06] realjax commented on #695
Actually, I put that first line in to see if it would a difference.  Which it didnt. Next to version 0.9 it still donwloaded version 0.70 from some reason. So it obviously was not that.

What DID fix it in the end was updating both SBT and the play framework. For reasons only the build gods know, it then no longer threw the error. ( Threw a shitload of new ones,  but hey! you win some, you lose so

[2021-11-25 13:31] bdemers commented on #695
Were the new exceptions JJWT related?

[2021-11-25 13:44] realjax commented on #695
Nope 😊
On 25 nov. 2021 14:31 +0100, Brian Demers ***@***.***>, wrote:

[2021-11-25 16:37] bdemers commented on #694
In your example, the decoded bit length is 240, which is less than the required 256 bits

The exception message that is thrown states:

That said, I'm guessing part of the issue you are seeing, might be character set related, which one is your system set to?

Assuming your are using Java 8+, you could try:

[code]

Please keep us posted!

[2021-12-13 10:06] TobiasReich commented on #696
This would come handy especially in this regard:

https://nvd.nist.gov/vuln/detail/CVE-2019-17531

It looks like the CVE exists until jackson 2.9.10.

[2021-12-13 21:16] lhazlewood commented on #696
We have a PR for this I believe, and we can merge it and cut a release as soon as we're able.

That said, projects always have the ability to define their own Jackson version using Maven `<exclusions>` or Gradle equivalents.

In fact, we've had so many upgrade requests for Jackson over the last two years, and they all had nothing to do with JJWT - I'm seriously considering defining it in JJWT as a

[2021-12-13 21:27] lhazlewood commented on #696
That CVE was fixed in Jackson `2.9.10.1` and later, and the JJWT `0.11.0` release created on February 5th 2020 depended on this fixed Jackson version.

The current/latest JJWT release at the time of this writing is `0.11.2` which depends on Jackson `2.9.10.4`.

[2021-12-30 13:06] ilko-rbi commented on #696
Unfortunately, it seems that jackson lib is really floated with vulnerabilities - I have now 22! high level findings related to it, which should have been fixed in 2.9.10.**5**  :-(
Also I've checked my ueberjar, which is 5.5 Mb big - 4.x Mb are contributed by the jackson lib :-(
So, fully appreciate the idea to define it as a provided scope dependency.

[2021-12-30 13:18] ilko-rbi commented on #696
bumped it now to 2.12.3 and all findings are gone - if this can help someone

[2021-12-30 14:58] Yanson commented on #131
Full example for generating, saving, loading and using a public/private key pair:

[code]

[2022-01-03 07:35] netmackan opened #700 "API update in order to support signing through PKCS#11 (and other)"
**Is your feature request related to a problem? Please describe.**
This issue brings up the issue that it is cumbersome to use JJWT for signing together with a smartcard/HSM as there are key parameter checks that are done on the PrivateKey instances that does not work in those cases and the user would have to make a lot of overrides and duplicate code in order to get past that.

**Describe the sol

[2022-01-06 05:58] coderman2022 opened #701 "JWT method signWith(java.security.Key, io.jsonwebtoken.SignatureAlgorithm) is not found at runtime despite including all dependencies"
**Describe the bug**
A library that uses JWT reports the following error at runtime (not during compile), even though all JWT dependencies are included:

`java.lang.AbstractMethodError: Receiver class io.jsonwebtoken.impl.DefaultJwtBuilder does not define or inherit an implementation of the resolved method 'abstract io.jsonwebtoken.JwtBuilder signWith(java.security.Key, io.jsonwebtoken.SignatureAl

[2022-01-06 15:57] bdemers commented on #701
You will need to exclude the 0.9.1 version of JJWT from your build.

#629 will actually have the benefit of working around this type of problem too.

[2022-01-06 18:10] coderman2022 commented on #701
Thanks. Do you happen to know the recommended way to do this in SBT?

[2022-01-06 18:12] bdemers commented on #701
I haven't used sbt much, but it looks like there are a few options depending on which version you are using:

https://stackoverflow.com/questions/10958215/how-to-exclude-commons-logging-from-a-scala-sbt-slf4j-project

[2022-01-06 18:53] coderman2022 commented on #701
Those are not working for me unfortunately. When I do the sbt build, I still have `io.jsonwebtoken.jjwt-0.9.1.jar` in my output jar.

By the way, when you said exclude JJWT from the build, did you mean only `io.jsonwebtoken.jjwt-0.9.1.jar`? Or also `io.jsonwebtoken.jjwt-api-0.11.2.jar, io.jsonwebtoken.jjwt-jackson-0.11.2.jar, io.jsonwebtoken.jjwt-impl-0.11.2.jar`? I tried removing the manually fro

[2022-01-06 20:51] bdemers commented on #701
You would need to remove only the old version `"io.jsonwebtoken" % "jjwt"` which sounds like it's a transitive dependency of  `stream-chat-java`

I'm guessing your sbt config would need to be updated to look something like:

[code]

That said, it looks like the current version of `stream-chat-java` uses the latest version of JJWT, so it might just be easier to update `stream-chat-java`.

If that d

[2022-01-07 02:17] coderman2022 commented on #701
The library I'm using is `io.getstream.client:stream-java:3.2.4` https://mvnrepository.com/artifact/io.getstream.client/stream-java/3.2.4

`io.getstream.client:stream-java:3.2.4` depends on a specific JWT implementation called `com.auth0:java-jwt`, this is according to the MVN repository link above, where it is listed as a Runtime Dependency. When `io.getstream.client:stream-java:3.2.4` makes its

[2022-01-07 18:13] bdemers commented on #701
What does your dependency tree look like?

[2022-01-07 20:20] coderman2022 commented on #701
[tree.txt](https://github.com/jwtk/jjwt/files/7831143/tree.txt)

[2022-01-07 21:14] bdemers commented on #701
Looks like the dependency is coming in from a transitive dependency of: `com.typesafe.play:filters-helpers_2.12:2.8.11`

but I don't see that dependency in your list above?

[2022-01-08 04:53] coderman2022 commented on #701
Problem solved! You're right, it was Play's own plugin that brought in `com.typesafe.play:filters-helpers_2.12:2.8.11`, which then in turn brought in the JWT dependency in question. Play's own dependencies are not listed explicitly in `build.sbt` (they're brought in via the `.enablePlugins(PlayJava)` call I believe), and my mistake was that I was only excluding the JWT dependency from my own expli

[2022-01-08 04:53] #701 closed

[2022-01-08 06:48] coderman2022 commented on #701
@bdemers What would happen if some dependency in my final build jar needed the `io.jsonwebtoken` implementation of JWT, and another dependency in my build jar needed the `com.auth0` implementation of JWT? Then I couldn't just exclude one of the JWT implementations from the jar. Is there a solution for such a scenario?

[2022-01-10 16:43] bdemers commented on #701
The `com.auth0` project and `jjwt` are unrelated, having both your classpath should not cause any problems

[2022-01-12 02:25] kuaile-zc commented on #429
So,  Perhaps the Linux environment variables JAVA_HOME and JAVA are incorrectly set.  I will try to correct this error and verify my conjecture

[2022-01-12 06:20] andotorg commented on #429
no,  is openjdk ,  you only openjdk change oracle jdk is ok

[2022-01-20 15:23] wz2cool commented on #131
thank you.  it's helpful

[2022-01-20 15:41] Joebig7 opened #702 "setClaims and set other property order fault"
hello,i use jjwt to generate token like this:
[code]

But in this order,  IssuedAt and Subject will be overrided by setClaims(clams),because this method will create a new clams,so i have to do like this :

[code]

I think this place needs to be improved to prevent this from happening，Please confirm if this is true thanks a lot!

[2022-01-20 15:46] Joebig7 opened #703 "jjwt setClaims problem"
Hello,i use jjwt to generate token like this:
[code]
but in this order,Subject and issuedAt will be overrided by clams,because clams will be decalared again,so i have to setClaims first,like this:

[code]

i think it can be improved to prevent it happening,pleanse check this thanks a lot

[2022-01-20 15:51] bdemers commented on #702
@Joebig7 This is expected behavior for beans using a "setter".  Take a look at the `JwtBuilder.addClaims()` method, as that probably does what you are looking for

[2022-01-20 15:53] bdemers commented on #703
Duplicate of #702

[2022-01-20 15:53] #703 closed

[2022-01-20 22:23] lhazlewood commented on #702
Just a note - all `setter`s adhere to the JavaBeans convention of total value replacement.  As @bdemers noted, `addClaims` as added for the scenario where you don't want to adhere to the JavaBeans convention.  I hope that helps!

[2022-01-20 22:23] #702 closed

[2022-01-21 02:02] Joebig7 commented on #702
yes,addClaims can resovle this problem,thanks a lot

[2022-01-27 00:39] mkeith6911 commented on #696
You could do that.  You could also specify a range, setting the minimum viable version and leaving the upper range unbounded.

Honestly, though, I think my vote would be to merely honor the jackson.version property.  If you check out the Jackson POM, it's internal dependency version(s) are handled by that property, pulled from the Jackson BOM Parent POM.  They allow for a host of properties to all

[2022-01-27 16:21] bdemers commented on #696
@mkeith6911 I'm not sure I'm following the suggestion.

JJWT's build does use a `jackson.version` property, but those properties are not changed by downstream consumers of the library.

IMHO, version ranges are painful and create a ton of build instability, for both library developers and application developers, (and they should be avoided).

For Maven users, adding the Jackson BOM to your project

[2022-01-27 19:04] mkeith6911 commented on #696
I didn't look at the POM.  Based off of the suggestion to use exclusions and the fact that people were asking for an updated dependency, I just presumed that the transient Jackson dependency was hard set within the project.

Honestly, I was suggesting you do exactly what you've already done:

[code]

I'm really not sure why people would complain and ask you to update the version.

[2022-02-06 18:38] limbic-derek commented on #667
Any updates on this? Seems like a smart API update to me.

[2022-02-07 04:27] linghengqian commented on #667
This should be one of the milestones of 1.0, and judging from the issue distribution 1.0 is still heavy work. At the same time, the 0.11.3 and 0.12.0 milestones still have unresolved issues.

[2022-02-07 15:14] bdemers commented on #667
@linghengqian the biggest thing in v1, is the JWE work, if you are interested in helping try it out, please take a look at the `jwe` branch 😄

[2022-02-28 19:57] ReDestroyDeR commented on #236
Any updated?

[2022-02-28 22:28] bdemers commented on #236
@ReDestroyDeR in the short term you can create a `SigningKeyResolver` that looks something like:

https://github.com/okta/okta-jwt-verifier-java/blob/master/impl/src/main/java/com/okta/jwt/impl/jjwt/RemoteJwkSigningKeyResolver.java

[2022-03-01 08:44] 2019-05-10 opened #707 "SecretKeySpec: SignatureAlgorithm ignored -- check broken"
jjwt 0.11.2

- create a token with a SecretKeySpec:
`new SecretKeySpec(MyKeyString, SignatureAlgorithm.HS256.getJcaName())`
- check created token and the SignatureAlgorithm is `HS384` instead.

If I look at `io.jsonwebtoken.forSigningKey(Key key)` the `SignatureAlgorithm` is _completely_ ignored -- instead some length test decides what algorithm is to be used.
So, inevitably, the check in the JWTP

[2022-03-01 08:47] 2019-05-10 commented on #707
Actually, it's even worse:
`Error processing validation response for: ... The verification key's size is 328 bits which is not secure enough for the HS384 algorithm.`

So, obviously the Parser does not even arrive at the same algorithm as the Signer, despite using the very same key!

[2022-03-01 15:54] bdemers commented on #707
Hi @2019-05-10,

I'm not sure I'm following your description, can you add a quick snippet to help us reproduce the issue?

I took a quick pass at creating an example, but this works as expected:

[code]

[2022-03-01 21:11] amarm85 opened #708 "White Source flags jjwt-0.9.1.jar with Severity for jackson-databind-2.9.6.jar"
**Describe the bug**
After adding below dependency in my pom.xml, white Source start complaining around 58 issues introduced by this dependency

		<dependency>
    		<groupId>io.jsonwebtoken</groupId>
    		<artifactId>jjwt</artifactId>
    		<version>0.9.1</version>
		</dependency>

<html>
<body>
<h2 class="f3" style="box-sizing: border-box; margin-top: 0px !important; margin-bottom: 16px; font-w

[2022-03-01 21:38] lhazlewood commented on #708
Hi!  Thanks for reporting the issue.  However, there are 2 things:

1.  You are not referencing the latest stable version of JJWT.  Users should always be using the latest stable version before reporting issues, as issues (like this one) may have been addressed/fixed and released.  [Maven configuration instructions for the latest stable release](https://github.com/jwtk/jjwt#maven) are always on th

[2022-03-01 21:38] #708 closed

[2022-03-01 22:54] amarm85 commented on #708
thanks @lhazlewood  for reply.  I took one sample code and did not realize I am using older version and now the package is split into api  and impl . Let me try new code !

[2022-03-02 00:21] lhazlewood commented on #708
@amarm85 let us know if you have any problems and `<exclusions>` doesn't solve them. Cheers!

[2022-03-02 17:11] bdemers commented on #707
@2019-05-10 ahh, thanks, i see what you mean now.

[2022-03-09 14:23] TheMarcoD commented on #259
This issue still persists. I tested it with Java 11 and version 0.9.1 of io.jsonwebtoken.

The error message is `java.lang.NoClassDefFoundError: javax/xml/bind/DatatypeConverter`.

The error also only happens when you run the application. The external dependencies are resolved at class initialization time.

The solution for me was to import an outdated version of JAX-B in Maven:
[code]

This depen

[2022-03-09 17:52] lhazlewood commented on #259
@TheMarcoD You're referencing a version that is 3 1/2 years old (`0.9.1`), and many fixes have occurred since then.  Ensure you're using the latest stable release (`0.11.2` at the time of this message), using the correct [Maven dependency declarations](https://github.com/jwtk/jjwt#maven) (which are different than 0.9.x), and try again.

[2022-03-10 07:48] TheMarcoD commented on #259
Thank you! I didn't realize that you split the dependencies and thought 0.9.1 is the latest build.

[2022-03-10 17:58] lhazlewood commented on #259
@TheMarcoD Yep, the project documentation is always the source of truth - not what shows up in Maven Central with artifact names.

[2022-03-11 15:10] KaustubhJha-TUL-UpperFunnel commented on #438
Did you find a solution ? Creating a new HmacKey by jeo4j gives the exception below that one and creation of new public/private key also gives error

[2022-03-16 05:45] bturner opened #713 "Document how SigningKeyResolver implementations should signal there's no matching key"
**Is your feature request related to a problem? Please describe.**
When building an implementation for `SigningKeyResolver`, the Javadocs for the interface provide no hints as to how an implementation should react when it cannot find a key. Returning `null` is not handled by the calling code in JJWT, so it _appears_ the correct thing to do is throw an exception. It would be nice if the Javadocs si

[2022-03-16 14:20] bdemers commented on #713
Either throwing or returning `null` will work, (the resolved key being null is checked here: https://github.com/jwtk/jjwt/blob/6b2843bded4ae9c446b74cf2b12f104c5ca97b52/impl/src/main/java/io/jsonwebtoken/impl/DefaultJwtParser.java#L390 )

I agree, making this more clear in the Javadoc would help. We can add something like "or {@code null} if a corresponding key could not be found"
https://github.co

[2022-03-16 21:05] lhazlewood commented on #713
Thanks @bturner for the issue! (@bdemers, Bryan and I go *way* back - he was the very first Stormpath engineer! 😎 )

And agreed, `Assert.notNull` will indeed throw an exception, but it is just an `IllegalArgumentException`, which is maybe not the best exception to self-document what is going on.  I suppose an `IllegalArgumentException` at the end of the day does work because the 'illegal argument'

[2022-03-17 05:59] bturner commented on #713
`HeaderException` doesn't feel like the right fit for this, to me, because there's nothing wrong with the headers (necessarily). I'd expect that to be more related to parsing than resolving keys. `NoSuchKeyException` or `UnknownKeyException` or `MissingKeyException`, something more indicative that the system tried to resolve a key but couldn't find one, that would be my vote.

Alternatively, if an

[2022-03-17 20:19] lhazlewood commented on #713
Thanks for the insight Bryan - we can definitely add these suggestions.  I do really like the Header being included in the exception - that makes total sense.

Unfortunately, I didn't explain my thoughts around the `HeaderException` concept too well - that would really be an intermediate exception in a hierarchy from which all other header-related exceptions subclass.  It would parallel (in concep

[2022-03-22 22:42] ivanlebed commented on #136
Seeing this issue in "jsonwebtoken": "^8.5.1"

[2022-03-23 15:49] bibAtWork opened #715 "Security Patches are not released to Maven Repository"
**Describe the bug**
The latest released version on the [Maven Repository](https://mvnrepository.com/artifact/io.jsonwebtoken/jjwt-jackson) is 0.11.2 at 11.06.2020. Mutliple security patches haven been applied since than, but never have been released.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [Maven Repository](https://mvnrepository.com/artifact/io.jsonwebtoken/jjwt-jackson)
2. C

[2022-03-28 08:56] anahita-arora commented on #715
Hi team,
When can we expect the patches to be released to maven? Also, please clarify, will these patches resolve the vulnerability marked in maven?
Maven - https://mvnrepository.com/artifact/io.jsonwebtoken/jjwt-impl/0.11.2
Vulnerability - https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-15522

[2022-04-13 09:26] denissignoretto opened #718 "Parsing multiple claims with a custom claim type"
With reference to the possibility to parse a custom/private claim [1], is not clear to me whether is already possible or not having the deserialization of multiple custom/private claims, each with it's own POJO object/structure.

e.g.

[code]

[1] - https://github.com/jwtk/jjwt#parsing-of-custom-claim-types

[2022-04-13 14:04] lhazlewood commented on #718
The first code snippet in the referenced link shows a Map builder being used to create a ‘Map’ of claim name-to-type mappings to use as the `JacksonDeserializer` constructor:

[code]

Just add more than one name-value pair 😉

Also, if possible, please ask questions as covered here: https://github.com/jwtk/jjwt#help-questions, as we use Github Issues for actionable work on the codebase itself.  Tha

[2022-04-13 14:04] #718 closed

[2022-04-14 10:06] bmarwell commented on #687
Hi @lhazlewood,

I just found out that a JWT body created by JJWT (+compact) will have a leading whitespace character.

[2022-04-15 18:54] bmarwell opened #719 "Add JSON-B extension"
**Is your feature request related to a problem? Please describe.**

There are gson and jackson and org.json extensions.
Let’s add one for JSON-B, so there is no need to ship a specific library.
This is useful for Java/Jakarta EE compatible servers where you do not know the implementation beforehand, but you won't need to ship one with your app either.

**Describe the solution you'd like**

Similar

[2022-04-16 12:12] bmarwell commented on #519
@skjolber @lhazlewood I could create such a file using the moditect plugin if you are interested.
I did the same for snakeyaml: https://blog.bmarwell.de/2020/12/08/use-snakeyaml-in-a-modular-jlink-distribution.html

WDYT? We would even still be Java 7 compatible if you needed that.

[2022-04-16 20:12] Marcono1234 commented on #670
@bdemers, could you please have a look?

And maybe also disable stale bot for this repository, or let it consider only issues with a special label, e.g. 'awaiting-response' (if that is possible). In its current form it closes legit issues where the maintainers have not commented yet.

[2022-04-17 05:34] bmarwell commented on #613
Ping. I'd like to help out.

[2022-04-18 17:27] bdemers commented on #670
Agreed!

[2022-04-18 17:38] #696 closed

[2022-04-18 18:07] lhazlewood commented on #212
This has been addressed in the `jwe` [#178] branch.

[2022-04-18 18:16] lhazlewood commented on #670
I personally like the stalebot as it helps reiterate which ones still need attention from time to time - very useful IMO.  That said, we can remove the label from this issue

[2022-04-18 18:21] lhazlewood commented on #637
Looks like significant work to support something like this will have to wait until after 1.0 - highest priority is to get JWE released.

[2022-04-18 18:22] lhazlewood commented on #637
(at least unless someone submits a PR that can facilitate this for the current module structure)

[2022-04-18 18:45] lhazlewood commented on #519
@bmarwell that would be great!  Any help here would be much appreciated.

[2022-04-18 22:46] Marcono1234 commented on #670
It probably depends on the perspective. As maintainer it might be useful, but for contributors or reporters of issues this can be extremely frustrating. At some point they might just give up after repeatedly commenting, even if the reported issue still exists, or a requested feature has multiple upvotes.

However, its usage can be reasonable when maintainers await the response from a reporter.

[2022-04-19 07:31] zhangan12138 commented on #666
thanks

[2022-04-19 17:04] lhazlewood commented on #670
@Marcono1234 fair point.  I often rely on it for in the context of "hey! I've been here longer than you probably wanted! Don't forget about me!"

I'm fine removing stalebot, but I won't be aware of these things as often, probably exacerbating the delay.  I'm certainly happy to remove it if others prefer.

[2022-04-19 18:30] lhazlewood commented on #670
Back to the topic at hand, I just added a Security Policy via https://github.com/jwtk/jjwt/commit/d91881fbacd303328da485c0b7e3217e9454c576

Please feel free to open another issue or PR to suggest changes/additions to that.  Thanks!

[2022-04-19 18:30] #670 closed

[2022-04-19 23:46] lhazlewood commented on #700
Not stale - still under consideration!

[2022-04-20 00:14] lhazlewood commented on #700
Just a note as I think about this:  This could impact the [jwe](#178) branch.  Implementations there currently assert `ECKey && PrivateKey` or `ECKey && PublicKey` and similar for `RSAKey` concepts via generics.  Example:

* [EllipticCurveSignatureAlgorithm](https://github.com/jwtk/jjwt/blob/3ba22feb0ee1655ffe0f08aac88c996f15ba11c1/api/src/main/java/io/jsonwebtoken/security/EllipticCurveSignatureA

[2022-04-20 05:39] bmarwell commented on #519
@lhazlewood I do have a local sketch-up now, but various things will fail.
Some Groovy tests are now restricted to the same level as Java is, e.g. `DecodersTest` will instantiate `new Decoders()` which will not be possible anymore.
Another one is access to `Base64.DEFAULT` (which is package-private and fails with 'no such property exception').

Or the call to this package-private constructor in an

[2022-04-20 10:01] bmarwell opened #723 "Misnomer/misconfiguration: hotspot and zulu CI"
**Describe the bug**

The CI job "hostspot" uses temurin and the CI job "zulu" uses zulu.
But zulu is in fact just another hotspot JVM.

**To Reproduce**

open `ci.yml`.

**Expected behavior**

Either
* rename `hotspot` jobs to `temurin` or
* replace `zulu` with `semeru` which is in fact the only non-hotspot-JVM as it uses OpenJ9 instead of hotspot.
… or both.

I recommend doing both.

[2022-04-20 15:28] cgal-capco opened #724 "PS256 not working on Android"
**Describe the bug**
After following the steps in [Android installation steps](https://github.com/jwtk/jjwt#install-android), and being sure Bounce Castle is in the classpath, when signing a token using PS256 it throws an error saying "Unavailable RSA Signature algorithm 'RSASSA-PSS'.

It looks `SHA256withRSAandMGF1` it's available , but not `RSASSA-PSS`

**Trace**
[code]

[2022-04-20 16:55] bdemers commented on #724
I don't spend much time with Android, so someone else might have to chime in.
But to try to point you in the right direction, you can set a breakpoint here:

https://github.com/jwtk/jjwt/blob/a4130dd1ec5d4bef4b1835927a2a1d966a519109/api/src/main/java/io/jsonwebtoken/lang/RuntimeEnvironment.java#L34

And check to make sure the BouncyCastle Security Provider was installed.

You can also set a break

[2022-04-20 19:55] lhazlewood commented on #519
@bmarwell makes sense.  I'm fine waiting for 1.0 to introduce these changes.  I don't want to cause any more churn than is necessary.  `jwe` is by far the highest priority, so anything else that requires more than trivial changes to the codebase or project configuration is best left for after that release.

[2022-04-20 20:05] lhazlewood commented on #724
Just a note for reference.  JJWT currently will auto-load and install BC as a SecurityProvider if found in the classpath when JJWT loads, but this 'pollutes' the system environment with something that the app developer really should do themselves if they need it for their purposes.

The `jwe` branch has changed logic to:
  1. *only* load BC if it is actually needed based on a runtime condition, e.

[2022-04-20 20:30] Marcono1234 commented on #670
Thanks a lot for addressing this issue, the new Security Policy looks great!

And sorry if my comment regarding the Stale bot sounded a bit demanding; if the bot helps you to better manage this repository, then it is completely reasonable to use it.

[2022-04-21 10:13] cgal-capco commented on #724
Hi! Thanks for the suggestions.

I've managed to fix the problem with the `RSASSA-PSS` support. As reference, I had to remove the BC provider and add it again.

[code]

Now I've got another problem.

I've expend some time debugging this and it looks the problem it's that the Private key it's a `AndroidKeyStoreRSAPrivateKey`, and BC expects a `RSAPrivateKey`.

I'm generating the RSA keys using the

[2022-04-22 05:56] prashil-sophos opened #726 "JVM Vulnerabiliity CVE-2022-21449"
used https://github.com/jfrog/jfrog-CVE-2022-21449 to check for our microservice and found that jjwt-0.9.1 might be vulnerable. Can you please confirm which version should we upgrade to if available for this CVE?

In build/libs/<microservice>.jar/BOOT-INF/lib/jjwt-0.9.1.jar/io/jsonwebtoken/SignatureAlgorithm.class: potential use of ECDSA - may be vulnerable

[2022-04-22 08:04] dhd0004 commented on #726
I can confirm that jjwt 0.11.2 is vulnerable.
This JWT will pass all checks:
eyJhbGciOiJFUzI1NiJ9.eyJzdWIiOiJCb2IifQ.**MAYCAQACAQA**

[2022-04-22 10:13] cgal-capco commented on #724
I will try to create a small sample to reproduce the problem. I will update this as soon as I do it

[2022-04-22 13:53] lhazlewood commented on #726
JJWT is not vulnerable - the _JVM_ itself is vulnerable, and _only_ if you are running Java SE versions 15-15.0.6, 17-17.0.2, or 18.

If you are running one of these JVM versions, the 'correct' fix is to upgrade to 15.0.7, 17.0.3 or 18.0.1 respectively.  This is because even if you upgrade JJWT, anything else that uses ECDSA signatures (your own application code, other 3rd party libraries) would s

[2022-04-22 15:19] lhazlewood commented on #726
@dhd0004 That may be true, but it's a false sense of safety - just because it doesn't surface through one library doesn't mean it is solved in all places - it may exist in another library or within application code or in a web server or the networking stack, etc.

Regardless of the upcoming 0.11.3 release, everyone who uses those JVM versions are vulnerable until they upgrade the JVM.  It's simply

[2022-04-22 15:21] lhazlewood commented on #726
The other benefit of upgrading the JVM instead of any library is that you just don't have to change your application code - no changing project files, pulling in new dependencies, rebuild and re-release your software, etc.  You can just swap out the JVM and you're safe against this particular vulnerability.

This is **so** much easier for most application teams than trying to track down any code w

[2022-04-22 18:49] lhazlewood commented on #726
Resolved by the 0.11.3 release.  Please allow 30 minutes or so for it to appear in Maven Central.

[2022-04-22 18:49] #726 closed

[2022-04-23 03:46] lhazlewood commented on #715
You should always use Maven Dependency Exclusions and specify the version(s) you prefer in your project if a library (like JJWT) does not cut a release as quickly as you would like: https://maven.apache.org/guides/introduction/introduction-to-optional-and-excludes-dependencies.html#dependency-exclusions

You always have control over transitive dependencies - there is no need to wait for a library

[2022-04-25 09:53] fr-DeepakKUMAR commented on #177
Continuing to @phil294 's comment regarding AzureAD.

Try to validate the `id_token` instead of `access_token` because there may be a case, when access_token is not a valid JWT !

[2022-04-26 18:43] lhazlewood commented on #723
Resolved with merge of 451c8d44dd76d71bc2a6d402a703fa901d4af1d5

[2022-04-26 18:43] #723 closed

[2022-04-26 18:49] lhazlewood commented on #715
FWIW, this change has already been made to master and will be released with the next release.

[2022-04-26 18:49] #715 closed

[2022-04-26 22:19] #617 closed

[2022-04-27 15:35] #694 closed

[2022-04-28 14:51] lhazlewood opened #734 "Rename JwtParser(Builder)#setSigningKey to JwtParserBuilder#verifyWith"
During parsing, the provided key is technically not a signing key (since the JWS is already signed), it's a signature verification key.  The `JwtParser` methods named setSigningKey* (and variants) should be renamed to `verifyWith` (and similar) to accurately reflect what's happening and for name parity with the jwe `decryptWith` method.

This would have to be done by deprecating the existing metho

[2022-04-28 14:53] lhazlewood commented on #734
Note: Also change the wording in the Exception message thrown by `DefaultJwtParser` to accurately reflect verification instead of signing

[2022-04-28 19:33] lhazlewood opened #736 "io.jsonwebtoken.security.SignatureAlgorithm generics"
should have generic type parameter for key type.

This ensures that

[code]

Can ensure the `key` argument matches the `SignatureAlgorithm`'s type argument, to prevent calling the method with a mismatched key + algorithm

[2022-04-28 19:50] lhazlewood opened #737 "SymmetricKeyAlgorithm and AsymmetricKeyAlgorithm builders"
generateKey() and generateKeyPair() should return builders to allow configuration of Provider and SecureRandom if desired

[2022-04-30 19:57] lhazlewood opened #738 "CI config: independent code coverage assertions build"
If the 100% code coverage checks fail, the current `jdk-8-temurin` build fails, and it's not clear that something attributed to Java 8 fails or if just code coverage fails.  It'd be ideal if two separate build jobs existed: one for a full/complete/clean JDK 8 build, same as any other JVM version build, and a second one for _just_ code-coverage requirements.

This helps us understand at a glance if

[2022-04-30 20:54] #738 closed

[2022-05-02 01:30] linghengqian commented on #667
I feel do not know how to start, for the vast and corresponding PR look it at the end stage, but does not have an issue of what it needs other parts (if I do not understand the function of snoatype-lift wrong, refer to https://github.com/jwtk/jjwt/pull/279 ).

[2022-05-02 01:41] lhazlewood commented on #667
@linghengqian that's true - JWE is large and almost finished, so given the scope, it's probably best to leave the remaining work for JJWT team members.  Normally I feel otherwise (anyone should jump in!) but it's a daunting task for jwe to wrap up because it includes *so* much stuff, like JWK support, key management algorithms, AEAD encryption algorithms, and various interface cleanup additions.

[2022-05-07 19:46] lhazlewood commented on #737
Fixed via 7d81efc21ef11bb4bb99c8bb361941f0584e36ef in the `jwe` branch

[2022-05-07 19:46] #737 closed

[2022-05-07 19:50] lhazlewood commented on #736
This was in the `jwe` branch a while ago.

[2022-05-07 19:50] #736 closed

[2022-05-09 23:17] lhazlewood opened #741 "JWK X5U verification"
https://datatracker.ietf.org/doc/html/rfc7517#section-4.6

If receiving a JWK with x5u, it must be verified as defined in the above spec section before it can be used.

[2022-05-09 23:18] lhazlewood commented on #741
@bdemers I seem to remember you working on similar HTTPS resolution logic for this stuff at one time, no? Any insights into this that I need to be aware of? Or do you want to take a crack at it?

[2022-05-13 08:39] Mark-i7 commented on #640
@scharrua Hi. How did you solve that error?:D

[2022-05-13 09:34] scharrua commented on #640
@Mark-i7  just added the following lines to my pom.xml file:

[code]

[2022-05-24 06:17] themeswordpress opened #742 "Critica bug in verification in https://jwt.io/#debugger-io"
Dears,

I am trying to use your library so I generated the token with my secret key so the I got the token and try to verification this token using this site https://jwt.io/#debugger-io with my secret key and I got each time the "Invalid Signature" message.

Kindly your help plz.

[2022-05-24 16:30] bdemers commented on #742
Hey @themeswordpress, thanks for reaching out!

We suggest asking how-to questions on StackOverflow with the tag `JJWT` and `jwt.io`, which keeps the GitHub Issues focused on bugs.

I'd also suggest looking at SO's ["How do I ask a good question?"](https://stackoverflow.com/help/how-to-ask) guide. I
t may seem like a silly guide, but it's packed full of tips that will help get your question answer

[2022-05-26 07:04] jaydeeplidder opened #743 "Gradle Dependency Not Found"
Gradle dependency is not working its not adding

[2022-05-27 22:43] #743 closed

[2022-05-27 22:45] lhazlewood commented on #734
Done in the `jwe` branch via https://github.com/jwtk/jjwt/commit/a5d30a0ff3c8bbd8d1f8e1dad62834a0016fd8dc

[2022-05-27 22:45] #734 closed

[2022-05-27 22:48] lhazlewood commented on #724
Closing due to inactivity, but definitely happy to re-open if there's any sample that allows us to re-create the problem!  If so, please add a comment with a link to the sample, and we'll test it asap.  Thanks!

[2022-05-27 22:48] #724 closed

[2022-06-02 10:10] er4z0r commented on #641
@lhazlewood sorry to bring this up again. I just ran into JJWT v0.11.2 on a pentest an was also looking at this issue. Can you point me to where in the source NONE is prevented?

[2022-06-02 21:02] lhazlewood commented on #641
@er4z0r `NONE` isn't explicitly prevented, but this logic has changed significantly in the `jwe` branch, which I hope to have out in a week or so:

https://github.com/jwtk/jjwt/blob/5307aa10ffe9aca8316efa6348ff712383048dea/impl/src/main/java/io/jsonwebtoken/impl/DefaultJwtParser.java#L445-L488

[2022-06-03 05:48] er4z0r commented on #641
Indeed it is much more obvious and readable in the new code. Still don't get why the old code in 0.11.2 doesn't seem to be susceptible to none/signature exclusion.

[2022-06-04 14:41] t0in4 opened #744 "JWT not working on Android"
**Describe the bug**
Code on Android it gives an error - Caused by: io.jsonwebtoken.security.SignatureException: Unavailable RSA Signature algorithm 'RSASSA-PSS'. code on [Android](https://github.com/t0in4/small_project)

But same code in IntelliJ Idea console return a valid JWT token. code on [IntelliJ Idea](https://github.com/t0in4/simple_project_intellij)

Sometimes, when i launch first time af

[2022-06-04 19:01] lhazlewood commented on #744
Hello!

The reqbin site or `yandex.net` aren't canonical authorities on the correctness of JWT tokens - I wouldn't necessarily trust either one of them for correctness.  It appears they don't support `PS384` or `PS512`, so clearly they don't implement the full specification.  In other words, I trust JJWT (which does implement the full JWS specification) more than I trust either of those two source

[2022-06-05 13:20] t0in4 commented on #744
Hello!
Thank you for response. I am very appreciated.

IntelliJ logs:
2021-11-26 13:57:34,958 [    516]   INFO -        #com.intellij.idea.Main - IDE: IntelliJ IDEA (build #IC-212.5284.40, 14 Sep 2021 01:29)
2021-11-26 13:57:34,968 [    526]   INFO -        #com.intellij.idea.Main - OS: Linux (5.10.0-9-amd64, amd64)
2021-11-26 13:57:35,028 [    586]   INFO -        #com.intellij.idea.Main - JRE: 1

[2022-06-05 13:50] t0in4 commented on #744
Just now, changed Android Studio jdk from 11.0.10 to 11.0.12
2022-06-05 16:41:57,218 [2371087]   INFO -                         STDOUT - Current JDK's:
2022-06-05 16:41:57,220 [2371089]   INFO -                         STDOUT - 11: /usr/lib/jvm/jdk-11.0.12

and the error is same as on jdk 11.0.10 -  Caused by: io.jsonwebtoken.security.SignatureException: Unavailable RSA Signature algorithm 'RSASSA

[2022-06-05 14:30] t0in4 commented on #744
added bcprov-ext-jdk18on-171.jar (BouncyCastle last jar) as a library in Android Studio,
(and commented //implementation("org.bouncycastle:bcpkix-jdk15to18:1.71" in gradle.build)
 but mistake is the same
2022-06-05 17:24:36.890 3053-3053/com.eyehail.smallproject E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.eyehail.smallproject, PID: 3053
    java.lang.RuntimeException: Unable to start

[2022-06-05 18:28] lhazlewood commented on #744
You may not have the correct dependency.  Our documentation shows:

[code]

[2022-06-05 18:30] lhazlewood commented on #744
From our [Android](https://github.com/jwtk/jjwt#android-projects) documentation:

![image](https://user-images.githubusercontent.com/121180/172065136-50d2929c-68fa-40d8-a483-7afe45cc32bd.png)

Try the `org.bouncycastle:bcprov-jdk15on:1.70` and see if that helps.

[2022-06-06 18:51] lhazlewood commented on #744
Out of curiosity, what if you explicitly registered the BouncyCastle provider in your code first, before using JJWT?  For example:

[code]

Does that fix it?

If not, is there a sample project you could provide for us to test with?  I am unable to reproduce the problem.

[2022-06-07 02:14] t0in4 commented on #744
doesn't fix..

sample project on Android - https://github.com/t0in4/small_project

the same working project IntelliJ - https://github.com/t0in4/simple_project_intellij

[2022-06-07 15:29] bdemers commented on #744
It looks like current versions of Android do not support RSASSA-PSS
https://developer.android.com/reference/java/security/Signature

Similar to what @lhazlewood mentioned, you would need to add a Provider that has that capability.

It looks like we can narrow things down to the call of `Signature.getInstance("RSASSA-PSS")`
https://docs.oracle.com/javase/7/docs/api/java/security/Signature.html#getI

[2022-06-07 17:02] t0in4 commented on #744
Hello!
Output for both variants
Caused by: java.security.NoSuchAlgorithmException: no such algorithm: RSASSA-PSS for provider BC

[2022-06-08 09:33] t0in4 commented on #744
Hello!
Still not working, maybe Android somehow prohibited to use bouncy castle?

[2022-06-08 14:25] bdemers commented on #744
@t0in4 possibly.

If we have narrowed it down to a `Signature.getInstance()` call, that means the issue isn't something in JJWT.

You might bet better insight into the problem on an Android-specific forum or Stack Overflow.

It sounds like you are only attempting to use `PS256` because it works with https://reqbin.com/ ?  If so I'd suggest using another tool for debugging (sorry, I know that isn't

[2022-06-08 18:08] lhazlewood commented on #744
I don't know what the issue is either - lots of answers on stack overflow say BouncyCastle works just fine with Android, especially for anything after 2018 that I could find.  My last suggestion of removing the provider and then manually adding it back in seems to work for others on Android.

I would definitely ask on StackOverflow.com and see if anyone with more Android expertise can help.  If yo

[2022-06-08 19:00] t0in4 commented on #744
Thank you, I am very appreciated for your responses.
Answers are really helpful and i learn many new. Thank you!

Just now, i check one more time - and i got an output without errors but token still cannot validated by yandex service
![Screenshot from 2022-06-08 21-24-25](https://user-images.githubusercontent.com/13383595/172692165-ef639af0-01af-45b3-a786-05e8633abea6.png)

https://github.com/t0in

[2022-06-08 19:22] lhazlewood commented on #744
Yes, something is weird here.  Please do ask on `StackOverflow` why this is the case.  It seems like you should be able to swap out their implementation for your own BouncyCastle instance, but I'm not sure how to do that beyond what I've suggested already.  Hopefully some Android experts can advise.

[2022-06-08 19:52] t0in4 commented on #744
Ok, i will try to ask on StackOverflow.
Thank you!

[2022-06-08 20:40] lhazlewood commented on #744
Please let us know if you find a solution!

[2022-06-09 17:01] t0in4 commented on #744
I am ask on StackOverflow direct link is
https://stackoverflow.com/questions/72563966/android-implementation-of-ps256-gives-an-error-jwt-signature-validation-fails

[2022-06-09 17:27] lhazlewood commented on #744
Your StackOverflow post indicates that, after registering BouncyCastle, JWT is created on Android without any exceptions/problems, but yandex cannot validate it.

So I'm curious - have you tried the following tests?

1.  Generate a token via android, and see if it verifies on the JVM in IntelliJ.
2. Generate a token via android, and see if it verifies with another 3rd party testing tool, like http

[2022-06-09 17:35] aca1234 opened #745 "java: package io.jsonwebtoken does not exist"
![Untitled](https://user-images.githubusercontent.com/107209532/172908902-f38ba943-c353-4fc7-89b6-edaded341d50.png)
i have a problem can anyone help me
java: package io.jsonwebtoken does not exist

[2022-06-09 18:19] bdemers commented on #745
This is likely an issue with your IDE settings, see:
https://stackoverflow.com/questions/9980869/force-intellij-idea-to-reread-all-maven-dependencies

I usually suggest folks try to build on the command line when you see these types of problems, as it helps narrow down the source of the issue.

Try running `mvnw package` from your project, to see if that works.

[2022-06-09 18:19] #745 closed

[2022-06-10 04:08] t0in4 commented on #744
Thank you!
Just now check both token output on https://jwt.io

They are not same

Android Studio
![android Studio](https://user-images.githubusercontent.com/13383595/172988223-c231936e-77f0-47cd-89d9-3353185c4ebc.png)

IntelliJ Idea
![intelliJ Idea](https://user-images.githubusercontent.com/13383595/172988255-8ff821e4-474d-439a-857c-6fbec13bb5e9.png)

The order of representation of the payload dat

[2022-06-13 16:51] t0in4 commented on #744
Yandex support says that i have to add parameter to header - "type": "JWT",
 i try to add this to Jwts.builder().setHeaderParams(params) but the error is same
`{
    "code": 16,
    "message": "JWT signature validation fails",
    "details": [{
        "@type": "type.googleapis.com/google.rpc.RequestInfo",
        "requestId": "23b32b5a-1a9b-4bea-bba2-66beede0ca61"
    }]
}`
also i try to add this

[2022-06-13 17:13] bdemers commented on #744
Hey @t0in4!
Per spec this header IS optional: https://datatracker.ietf.org/doc/html/rfc7519#section-5.1
But in your case to work with Yandex, try using `typ` instead of "type" (the claims in the JWT core specs are all 3 characters)

Fun Fact: There is an official registry of additional JWT claims names: https://www.iana.org/assignments/jwt/jwt.xhtml

[2022-06-13 18:04] lhazlewood commented on #744
If Yandex requires the `typ` header, they are wrong for doing so - as @bdemers states, it is definitely optional per the JWT specification.

[2022-06-13 18:08] lhazlewood commented on #713
Not stale, but it is probably resolved in the `jwe` branch with the addition of the new `Locator<Header>` interface, and that does indeed document that a null return value means 'cannot be found'

[2022-06-14 04:02] t0in4 commented on #744
changed to "typ" - error is same

{
    "code": 16,
    "message": "JWT signature validation fails",
    "details": [{
        "@type": "type.googleapis.com/google.rpc.RequestInfo",
        "requestId": "c272bc56-5aec-4809-b757-4ca03de01ad5"
    }]
}

[2022-06-16 13:14] t0in4 commented on #744
Hello!
Yes, i think the receiving end is properly cofigured, becouse token from IntelliJ is return iam_token.
Code is same as in Android Studio

[2022-06-16 15:09] t0in4 commented on #744
As you both told to me the solution is:
       `val provider: Provider = BouncyCastleProvider()
        Security.removeProvider("BC");
        Security.addProvider(provider)
        java.security.Signature.getInstance("RSASSA-PSS", "BC");`
Above code annihilate the error "no such algorithm: RSASSA-PSS for provider BC"
Before getting result of getJWT() function.
Thank you very much!

And the checki

[2022-06-16 15:28] bdemers commented on #744
Ahh cool! I think I read one of your previous posts incorrectly! Thanks for clarifying!

Here is what I would recommend.
Write some example code in your IntelliJ app, to decode the token:
Something like:
[code]

Once you have that working, use the token string created by your Android app.
If this fails, it may help narrow down the actual cause.

[2022-06-17 07:36] t0in4 commented on #744
Thank you!
i decode the both tokens from IntelliJ and from Android Studio, here is output
`
**// encoded token from IntelliJ Idea**
encoded token eyJraWQiOiJhamU5MmRwYzR0NHR1N2JidTh1biIsImFsZyI6IlBTMjU2In0.eyJhdWQiOiJodHRwczovL2lhbS5hcGkuY2xvdWQueWFuZGV4Lm5ldC9pYW0vdjEvdG9rZW5zIiwiaXNzIjoiYWplaWpwMTltNTk5czhhb3M2dnIiLCJleHAiOjE2NTU0NTA5NzksImlhdCI6MTY1NTQ1MDYxOX0.b3L92h6uUv29BB7Rs6bPcRwl4kvmPeEmBe

[2022-06-17 19:18] lhazlewood commented on #744
I issued a PR to your sample project here:

https://github.com/t0in4/small_project/pull/1/files

This PR enables the BouncyCastle provider correctly, whereby the JWT PS* algorithms will work correctly.  Note the `build.gradle` and proguard exclusions modifications.

However, the most important change was the following added to the main application class (how Kotlin does a `static { ... }` initiali

[2022-06-18 10:51] t0in4 commented on #744
Cool! Code is amazing! Thank you!

Yes, JJWT error is solved. Thank you all one more time.

I'm very appreciated. Thank you sirs.

[2022-06-18 15:57] #744 closed

[2022-06-19 20:15] AlisonPAnderson commented on #640
@Mark-i7  did that jjwt 0.9.1 solution work for you? neither that or these worked for me:
		<dependency>
			<groupId>io.jsonwebtoken</groupId>
			<artifactId>jjwt-api</artifactId>
			<version>0.11.5</version>
		</dependency>
		<dependency>
			<groupId>io.jsonwebtoken</groupId>
			<artifactId>jjwt-impl</artifactId>
			<version>0.11.5</version>
			<scope>runtime</scope>
		</dependency>
		<dependency

[2022-07-14 16:03] yhojann-cl opened #748 "Inexistent dependency required when use Spring Boot 3"
When use Spring boot and try generate a WJT says:

[code]

My code is:

[code]

Enviroment: Spring Boot 3, OpenJDK 17 and Ubuntu 22.04 LTS.

[2022-07-14 17:23] bdemers commented on #748
@yhojann-cl can you try with the latest version of JJWT?
See: https://github.com/jwtk/jjwt#installation

[2022-07-14 20:27] bdemers commented on #748
I'm not sure I'm following, your dependency tree lists: `com.auth0:java-jwt:4.0.0`  (I don't see `io.jsonwebtoken` in that list)
and your original exception shows version jjwt-0.9.1 instead of the latest: `0.11.5`
See these instructions if you need help upgrading: https://github.com/jwtk/jjwt#install-jdk-gradle

Can you double check you grabbed the output from the correct project?

[2022-08-01 09:56] xxxit opened #749 "HS encryption algorithm problem"
### pom
`

        <dependency>
            <groupId>io.jsonwebtoken</groupId>
            <artifactId>jjwt</artifactId>
            <version>0.9.1</version>
        </dependency>
`
### question
Use the HS series to add an encryption algorithm to generate token. When decrypted, the SIGNINGKEY value is not the same as the encryption, which can be successfully decrypted. The same problem will have t

[2022-08-02 19:54] lhazlewood commented on #749
Hi there.

You're not using the API correctly.  See https://stackoverflow.com/questions/40252903/static-secret-as-byte-key-or-string for more information.

Also please upgrade to the latest stable version which is currently `0.11.5`.  Correct dependency references for `0.11.5` are shown here:  https://github.com/jwtk/jjwt#install

If you insist on using Base64 strings, please ensure you understand

[2022-08-02 19:54] #749 closed

[2022-08-03 09:34] raphisuter opened #751 "Multiple applications using jjwt leading to ServiceConfigurationError io.jsonwebtoken.jackson.io.JacksonSerializer not a subtype"
**Describe the bug**
Since we updated jjwt from version 0.10.7 to 0.11.X we encounter an error saying `io.jsonwebtoken.io.Serializer: Provider io.jsonwebtoken.jackson.io.JacksonSerializer not a subtype`
We run multiple cxf rest clients on the same TomEE instance, all of them using our internal security module which is working with jjwt to create and validate jwts. Since we updated from version 0.1

[2022-08-03 15:25] ezzadeen commented on #365
There is another problem with the RsaSignatureValidator. It assumes you can use the private key to generate a signature which will be identical to the signature in the JWT. This is not the case when using RSA with PSS which is a probablistic signature that includes random input with the data that will be signed. Using the private key to validate the signature will fail in this case.

[2022-08-03 16:39] lhazlewood commented on #365
@prateeknischal the RsaSignatureValidator implementation has been removed/migrated to a new `DefaultRsaSignatureAlgorithm` implementation in the `jwe` branch: https://github.com/jwtk/jjwt/blob/jwe/impl/src/main/java/io/jsonwebtoken/impl/security/DefaultRsaSignatureAlgorithm.java

This design change was to allow for pluggable `SignatureAlgorithm` implementations, which was not possible previously (

[2022-08-05 15:01] lhazlewood commented on #751
Thanks for reporting this!  It appears to be a classloader issue, but I'm not sure how we can re-create the issue for testing without some help setting up a test instance with multiple webservices.

That said, there is a solid workaround for this issue:

That logic only executes if you don't specify your own Serializer instance.  You can instantiate `JacksonSerializer` yourself, and just configure

[2022-08-05 16:24] mrwilby commented on #648
@lhazlewood we're seeing the same in our AWS API Gateway+Lambda logs. This happens sporadically, and since AWS is recycling the underlying lambda container instances behind the scenes it's very difficult for us to create a reproducer for this.

Our guess is that something is leaking file/stream/IO handles (at least the call stack would appear to suggest as much). It might be a good idea to careful

[2022-08-05 16:37] lhazlewood commented on #648
@mrwilby - thanks for the stack trace, that was helpful!

It's so weird that you posted this today - another problem with `ServiceLoader` was discussed today: #751

This is due to the way JJWT uses the JDK `ServiceLoader` to look up pluggable implementations:  `ServiceLoader` looks for a file in `META-INF` that contains a fully qualified class name of the implementation class to instantiate.  The

[2022-08-05 18:17] mrwilby commented on #648
Thanks @lhazlewood . We're not actually using compression in our system, so we'll possibly disable that as you suggested.

However, I'm still not clear on what is actually responsible for the handle leak. Do you believe that the root cause of the problem is somehow related to the ServiceLoader calls themselves?

[2022-08-06 04:11] linghengqian commented on #748
I can't reproduce this issue on Spring Boot OSS 3.0.0-M4.  If you can't provide a reproducible example, I think this issue should be marked as invalid.

[2022-08-06 18:07] yhojann-cl commented on #748
I found the problem, are the main instructions in `readme.md`.

I try using the gradle example for main readme.md of repository but does not work, i use the main repository:

[code]

Says:

[code]

but i found the main mvn repository in https://mvnrepository.com/artifact/io.jsonwebtoken/jjwt. I made a automatic script for this `poc.sh` using the main implementation `implementation 'io.jsonwebtoken

[2022-08-07 01:50] lhazlewood commented on #748
AFAICT, the instructions are fine.

The problem is because there is something in your project - either your configuration, or another third party that depends on JJWT - that depends on JJWT 0.9.1, and that is conflicting with your configured `0.11.5`:

You will need to run a dependency tree report and see who or what is pulling in that old `0.9.1` version.  JJWT is a popular library, so something

[2022-08-07 01:51] lhazlewood commented on #748
Found this, hope it helps: https://docs.gradle.org/current/userguide/viewing_debugging_dependencies.html

[2022-08-07 01:53] lhazlewood commented on #648
@mrwilby it most definitely is.  The JDK `ServiceLoader` implementation will look for a file in any .jar's `META-INF/services/` directory for a file with the same name as the interface (e.g. `com.whatever.my.Interface`).  It will then read that file's first line to determine the fully qualified class name of the implementation of that interface.  It will finally create an instance of that implemen

[2022-08-08 09:13] raphisuter commented on #751
Hi @lhazlewood
Thank you for replying to the issue. I made the changes suggested and the workaround is working fine on our cxf webservices which share a single tomEE environment. I added a small private method to get a new `JwtParserBuilder` with the newly created `JacksonSerializer` instance.

	 /**
	 * Creates new JwtParserBuilder instance with new JacksonDeserializer instance to address classLo

[2022-08-08 20:03] lhazlewood commented on #751
@raphisuter Technically it's an issue with the JDK's `ServiceLoader` implementation, not directly with JJWT (JJWT uses ServiceLoader, and that's where the problem occurs).

That said, I don't know that we necessarily need to try and re-create the problem - I think a better approach is to remove the use of `ServiceLoader` entirely given the problems we've seen here and in #648 .

[2022-08-08 20:26] lhazlewood opened #752 "Migrate away from java.util.ServiceLoader"
Due to `ServiceLoader` problems with:
* file I/O at scale as discussed in https://github.com/jwtk/jjwt/issues/648#issuecomment-1206632743 as well as
* ClassLoader problems in JEE environments as discussed in https://github.com/jwtk/jjwt/issues/751 (and perhaps this extends to OSGI environments),

we should migrate away from using the JDK `ServiceLoader` concept, and at a minimum revert to the prev

[2022-08-08 20:27] lhazlewood commented on #648
Based on recent discussion here (thank you @mrwilby ! ), this issue has been superseded by #752.

[2022-08-08 20:30] lhazlewood commented on #751
Thanks again for the report on this @raphisuter.  I'm closing this issue now that we have #752 to represent work to address this issue as well as #648.

[2022-08-08 20:30] #751 closed

[2022-08-09 05:25] raphisuter commented on #751
Thank you @lhazlewood for your help and effort, really appreciate it.

[2022-08-12 16:05] linghengqian commented on #637
- Considering that the 1.0 version involved in this issue is likely to be far away from us, I suggest closing this issue.

- A more reasonable move is to submit the corresponding GraalVM metadata in Oracle's https://github.com/oracle/graalvm-reachability-metadata repository.  This will help deal with the problem right away.

[2022-08-12 16:23] lhazlewood commented on #637
@linghengqian thanks for the comment and insight!  I think we could leave this open just to ensure we can track it until after the 1.0 release.  JJWT's `jwe` work is mostly finished (mostly working on documentation now), and given the additions and package changes, I agree it doesn't make as much sense to work on this ticket until that is released.  At least that way we can have a stable package s

[2022-08-16 01:44] lyz-tech commented on #648
I also have this problem

[2022-08-16 18:01] mrwilby commented on #648
We're using Open JDK 8 (I can check the specific version if it helps).
However, just to muddy the water a little, we did find a potential handle leak in our own code. This makes me wonder whether the leak is outside of the JJWT library and that it just happens to manifest when some other handle allocation is attempted (which fails due to exhaustion).

[2022-08-16 18:38] bdemers commented on #648
That would be my guess, but it does seem odd that multiple people have reported it.
It's possible both were on the edge, and then the ServiceLoader usage pushed it over.

@mrwilby did fixing your handle leak resolve this issue for you?

[2022-08-16 22:27] lhazlewood commented on #648
There could be a file handle leak in application code, sure, but it could also just be the volume of calls to `ServiceLoader`.

I personally would expect `ServiceLoader` to cache fqcn lookup results so it doesn't have to re-read files again for the same fqcn, but I don't know if it does for sure.  If it does not, and enough calls to create a JWT parser exist (e.g. creating a JwtParser on every htt

[2022-08-17 05:58] Tejshri47 commented on #438
@NagaAtLv  have you got  solution on this I am also facing same exception while working on AzureAD

[2022-08-20 09:21] andrewlalis opened #753 "Add a copy() method to JwtBuilder"
**Is your feature request related to a problem? Please describe.**
I use a `JwtBuilder` to build JWT tokens (obviously), and most of the claims and settings of the builder are the same for each new token I make, with a few notable claims that must change each time. It's not feasible to simply use a common builder instance across my application, since it's a multi-threaded web app, and so I think i

[2022-08-20 15:20] bdemers commented on #753
@andrewlalis i'm not sure fully understand the suggestion, is this something you could do in your application with a helper method?

[code]

This could return the builder instead of a string too.

If you are trying to inject the `JwtBuilder` you could probably do something like:

[code]

[2022-08-29 18:22] andrewlalis commented on #753
Yes, I suppose a request-scoped bean would be appropriate for my use case. Although it would be nice to have a facility similar to what the JDK does for some of its own builders, like [`HttpRequest.Builder#copy`](https://docs.oracle.com/en/java/javase/17/docs/api/java.net.http/java/net/http/HttpRequest.Builder.html#copy())

[2022-08-29 18:22] #753 closed

[2022-09-28 12:03] hertg commented on #440
While I get the intention behind strictly rejecting expired tokens, an option to manually override that behavior and allow a token to be expired for parsing can be a real-world requirement. There are use-cases where you want to parse JWTs even when they have expired. Although admittedly, those use-cases might be rare.

In my specific use-case, I am working on an OAuth2/OpenID Connect Provider (OP)

[2022-09-28 12:35] bdemers commented on #148
One way you could do this is to catch an `ExpiredJwtException`, then parse the token again with a custom Clock, that returns some date in the future (days, years, etc):

[code]

The downside is you parse the token twice.

And trusting the data in an expired token does come with risk.

[2022-09-28 20:53] bdemers commented on #148
@hertg you are spot on, my suggestion would not work because of the nbf claim.
Sorry about that!

[2022-09-29 09:06] Jess103 opened #754 "HS encryption algorithm problem [Using 0.11.5 and SecretKey for signWith and setSigningKey]"
Hi there,
I found https://github.com/jwtk/jjwt/issues/749, which is the same issue with mine, and read the comment too.
But I'm already using 0.11.5 version and SecretKey (not String) for the encoding(signWith) and decoding(setSigningKey).

String jwt = Jwts.builder().setHeader(headers).setClaims(payload).signWith(key).compact();
//Decoding
Jws<Claims> claims = Jwts.parserBuilder().setSigningKey(t

[2022-09-29 10:21] hertg commented on #148
@bdemers thanks for the idea, I think I'll go ahead with something like that.
[code]

Also, this doesn't work with encrypted tokens for obvious reasons :)

[2022-10-07 10:49] xarick opened #755 "jwt token failed validation in token.dev"
Hello, I have a problem. This jwt token failed validation when checked in token.dev.

I want to check in php with a token created in java, I have the same keys but they don't match. That is, I want to work on two different projects with one token.

Please help me!

[2022-10-07 10:53] xarick commented on #755
![image](https://user-images.githubusercontent.com/29143806/194537277-d40739d3-ee32-4ee5-8cfc-1700c18115ba.png)
![image](https://user-images.githubusercontent.com/29143806/194537345-1fdf5abd-0df2-49fa-85c5-35910667296f.png)

[2022-10-07 15:01] bdemers commented on #755
Thanks for reaching out @xarick.
I'm not sure I'm following the question though, Token.dev is not managed by the JJWT team.

I personally have worked on JJWT, but you can use the `email` link to contact us for that.

That said, if you are using JJWT to create the JWT. Can you include the error that you see on the PHP side, and maybe we can point you in the right direction?

[2022-10-07 15:04] lhazlewood commented on #755
FWIW, that 'signing key' doesn't look to be a valid HS256 signing key.  If you use a base64-encoded key, please enable the 'Base64 encoded' toggle.

That said, I'm closing this issue as we use GitHub Issues for actionable work for the JJWT codebase itself.  If you have a question, please ask it here:

https://stackoverflow.com/questions/ask?tags=jjwt&guided=false

[2022-10-07 15:04] #755 closed

[2022-10-10 05:37] xarick commented on #755
I am not using it because the key is not base64.
I created a question here:
https://stackoverflow.com/questions/74010523/java-jjwt-failed-in-token-dev

[2022-10-10 14:36] mirai-toto opened #756 "Disable signature verification"
I only need to decode JWT token, this project is useful to get data from the payload.

In my micro service, I get a JWT Token, but I may not know the signature key used by the server.

The feature could look like below:
`Jws<Claims> result = Jwts.parserBuilder().disableSigningKey().build().parseClaimsJws(authorizationToken);`

I don't know if this feature break any security rule. I mean, I can alr

[2022-10-10 14:38] mirai-toto commented on #756
I just saw the issue https://github.com/jwtk/jjwt/pull/205, I guess that won't happen.

[2022-10-10 14:38] #756 closed

[2022-10-11 12:39] mirai-toto opened #757 "Implement better documentation"
Not a good documentation, sadly.

Most of the example that can be find in the issues are deprecated.

[2022-10-11 13:40] bdemers commented on #757
@mirai-toto we appreciate you reaching out to us, but the term “documentation” is a bit vague. Can you be more specific, as to the the problem you are seeing?

StackOverflow has a great article on how to ask good questions, it’s useful for devs of all levels:
https://stackoverflow.com/help/how-to-ask

[2022-10-11 13:47] mirai-toto commented on #757
I confess, I have been a little frustrated.

I was trying to verify a JWT token with a RSA public key that I have stored as a file, after a few hours digging around the issue searching for my use case, I was a bit salty.
My solution for this problem was switching to java-jwt. But this is a great project, without a doubt.

Maybe more examples on how to verify a JWT token would help newbies like me.

[2022-10-11 13:47] #757 closed

[2022-10-11 13:59] bdemers commented on #757
Keys can be stored on disk in multiple formats, and that’s outside the scope of JJWT.
That said, I don’t think having an example is a bad idea.
What format was your key stored in?

[2022-10-11 21:10] mirai-toto commented on #757
From what I understand, it's JWKS, I have a keycloak that I use for authentication. But I can also use pem, if needed.

[2022-10-11 21:18] bdemers commented on #757
The next version of JJWT will support JWKS, but PEM can be read by another library (I'd suggest bouncy castle).

Are you validating ID Tokens?

[2022-10-17 12:45] JasonTheDynamite opened #758 "Vulnerabilities from dependencies CVE-2022-42004 CVE-2022-42003 version: 0.11.5"
Please fix ASAP

<img width="1203" alt="image" src="https://user-images.githubusercontent.com/18309065/196180330-cb1f6c69-e470-483b-aa41-7ceaf518580a.png">

[2022-11-02 07:57] BenanaH commented on #758
[code]
It work for me.
Maybe this method will help you.

[2022-11-02 12:28] bdemers commented on #758
@BenanaH it looks like you are still on an old version of JJWT?
Take a look at the current version's dependencies:
https://github.com/jwtk/jjwt#maven

[2022-11-08 08:33] SXP-T opened #759 "Claims Attribute Value will be overwritten as null"
After calling Jwts.builder().setClaims(). If Ma length is 0.In the JwtMap method overridden by putAll(Map<? extends String, ?> m)，All existing values in LinkedHashMap will be overwritten as null。

io/jsonwebtoken/impl/JwtMap.java
  @Override
    public void putAll(Map<? extends String, ?> m) {
        if (m == null) { //or m ==null && m.length == 0
            return;
        }
        for (String

[2022-11-08 08:59] SXP-T commented on #759
public JwtBuilder setClaims(Map<String, ?> claims) {
        this.claims = new DefaultClaims(claims); //此时  new DefaultClaims(claims).size == 0; this.claims.size == 5
        return this;
    }

[2022-11-08 09:43] #759 closed

[2022-11-08 20:18] lhazlewood commented on #758
Just a note for anyone that might have a similar issue:

You always have control over transitive dependencies.  If a project (JJWT, Spring, etc) doesn't update it's internal transitive list quickly enough for your preferences, you can always use Maven's Dependency Exclusion concept to exclude a library's default transitive dependency:

https://maven.apache.org/guides/introduction/introduction-to-o

[2022-11-08 20:18] #758 closed

[2022-11-08 20:22] lhazlewood commented on #754
The signature is only validated on parsing, i.e. when `.parseClaimsJws` is invoked.

At first glance, your code looks a little different:  you call `signWith` using a variable `key`, and then verify with `setSigningKey` using a variable `theKey`.  Since `key` and `theKey` are different, I can't tell exactly what's going on here.  It could be just a typo in your example, or if not, might be indicat

[2022-11-08 22:44] Jess103 commented on #754
Hi, sorry that I forgot to mention the problem in my question; same as the issue I mentioned, I tried using different key for parsing but it doesn't throw an error. (What you see is correct. `key` and `thekey` are different)
I tried RS256 signing w/ privkey n validating w/ pubkey as well. In this case, it throws an error if I change the modulus or exponent value as I expected.
I thought it should

[2022-11-08 22:51] lhazlewood commented on #754
I'd have to see the keys (or an example that re-creates with a similar setup).  Is it possible that your keys are Base64-encoded before turning them into `Key` instances?  It is possible for different Base64 strings to decode to the same exact byte array, so you might be seeing this, but without an example, I can't tell.

For example, this is discussed in the referenced issue:

https://github.com/

[2022-11-17 16:31] linghengqian commented on #637
- Late reply, I've been busy with other work before. The current PR is at https://github.com/oracle/graalvm-reachability-metadata/issues/115 . If anyone thinks that the GraalVM reachability metadata generated by my unit test is missing, point it out in the issue at https://github.com/oracle/graalvm-reachability-metadata.

[2022-11-21 22:31] jnfran92 commented on #131
Using a copy/paste Private key PEM-format and Kotlin/Android:

[code]

[2022-11-29 08:45] alicursi1980 opened #761 "Modify POM dependency jackson-databind vulnerable"
I lhazlewood,
In my project I used  this fantastic library for mitigation crsf vulnerability. The current   pom.xml (branche master) has two vulnerabilities in the dependency  jackson-databind

CVE-2022-42004
CVE-2022-42003
https://mvnrepository.com/artifact/com.fasterxml.jackson.core/jackson-databind/2.12.7

I'd like to modify this pom to the version 2.12.7.1

Thanks Angelo

[2022-11-30 02:28] lhazlewood commented on #761
@alicursi1980 thanks so much for checking!  There's an open PR #750 that does exactly this.  I wasn't aware that the GitHub Actions build didn't run for the PR, but once it does, and it passes, we'll merge it.

[2022-11-30 02:28] #761 closed, assigned to nobody