[2017-06-01 17:37] stefan2904 commented on #212
fyi, today this issue was used in a security competition  to perform an Elevation of Privilege attack:
 https://hack.more.systems/writeup/2017/05/31/SCTF2017-underconstruction/

[2017-06-01 18:16] lhazlewood commented on #212
@stefan2904 yep, this is expected.  Our documentation says don't use `parse` if you don't know what format the JWT is in.  It will be removed before 1.0 final to prevent accidental misuse.

[2017-06-01 19:27] GMSyrimis commented on #1
For some reason when using the gradle import I get the following:

[code]

When I inspected my dependencies it seems that jsonwebtoken is getting all three files, so I'm confused as to why it's finding duplicates

[2017-06-03 18:32] lhazlewood commented on #223
Closing as there hasn't been any followup to the explanation of concrete dependency declaration.  Please re-open if you think this is incorrect (and please provide a test project that demonstrates the erroneous behavior).

[2017-06-03 18:32] #223 closed

[2017-06-04 10:31] samuelrey commented on #89
Bump. Found myself experiencing this same issue.
Like you said, this can be avoided by using the setters of the JwtBuilder class. For the sake of consistency, it may be worth considering deprecating the setClaims(...) method.

[2017-06-06 15:17] msymons commented on #221
@lhazlewood, is there yet an idea when 0.8 might be released?

[2017-06-08 13:20] kamilwlf commented on #183
Can this be done out of the box?

[2017-06-08 14:05] psevestre commented on #183
If you don´t have a "not-before" claim, then you can set the Clock instance used by the DefaultJwtParser. In your case, the Clock implementation would always return a date far,far in the future so no reasonable token would be expired.

[2017-06-09 05:23] kamilwlf commented on #183
I added, it works:

[code]

Did you write about it?

[2017-06-12 02:03] komiyak commented on #1
@GMSyrimis
Perhaps, is the cause of its problem here?
https://stackoverflow.com/questions/22467127/error-duplicate-files-during-packaging-of-apk

I solved it with this.
`exclude 'META-INF/LICENSE'`

[2017-06-15 13:33] frederikheremans opened #226 "Reusability of JwtParser vs. performance overhead"
The `DefaultJwtParser` contains a couple of members that are reusable across multiple `parse(...)` calls. For example, a parser always creates a new `ObjectMapper` instance which is recommended to be created only once and shared across your application (as it involves some setup, even though the number of models that it will generate/support is fairly limited for JWT).

1. The docs don't explicitl

[2017-06-19 02:47] Nbsaw opened #227 "Is there a way to add custom field to payload ?"
Hi all .

I want to add a custom field(UserType) to my jwt payload. look like that , how can i do that ?

[code]

[2017-06-19 15:47] jmarginier opened #228 "Support another crypto provider"
I wan't to create JWT token through PKCS11 interface.

So, I need to use another crypto provider (like IAIK). Because, your lib support JCE Key interface but we can't set the provider to read the key (or i missed that).

May be like that : Jwts.parser().setSigningKey(key).setProvider(myProvider)....

Thx :)

[2017-06-19 22:01] johnv-git-slc commented on #227
.claim("UserType", "Purple")

[2017-06-20 02:17] pravink opened #229 "can i verify jwt in node js which is generated using this java api?"
I am trying to use the jwt token generated using java in a different node application but I am getting invalid signature error while verifying JWS -  at valid = jws.verify(jwtString, header.alg, secretOrPublicKey);

Thanks in advance!
Pravin

[2017-06-20 03:34] Nbsaw commented on #227
@johnv-git-slc Thanks bro 👍

[2017-06-23 18:30] milesje opened #230 "[Question] How do I get a custom field out of the payload"
OK, I am adding a couple of custom claims to the payload when I generate the JWT, and I can pull those out just fine in my front-end (javascript) just fine. I then have my javascript send an ajax call to a micro-service and it passes the JWT along with it. I want to get my custom claims out of the JWT in the micro-service. I'm doing the following:

[code]

and it throws an exception.
[code]

Here

[2017-06-23 18:48] milesje commented on #230
Moved this to StackOverflow.

[2017-06-23 18:48] #230 closed

[2017-06-24 09:42] zbstof commented on #205
Found a use-case for this. Using SigningKeyResolver for successful case is fine.
But what about the error case?
I want to populate an audit event with the issuer claim in the authorization detail:
[code]
Also note that I have to call userDetailsService.loadUserByUsername 2 times.
Maybe I'm missing an obvious way to do it, what do you think?

[2017-06-24 14:48] msymons opened #231 "Update jackson.version to 2.8.9"
jjwt currently (v0.7.0) uses jackson-databind v2.8.2.  Update this by incrementing jackson.version to 2.8.9.

Addresses Jackson Deserializer security vulnerability:

FasterXML/jackson-databind#1599
https://github.com/FasterXML/jackson/wiki/Jackson-Release-2.8.9

[2017-06-24 15:03] msymons commented on #231
Pull request: #232

[2017-06-24 15:35] lhazlewood commented on #231
PR merged - thanks!

[2017-06-24 15:35] #231 closed

[2017-06-30 08:35] skuzzle opened #233 "Support for headless tokens"
Hi all,

is it possible to generate/parse headless tokens or would you consider this a useful enhancement? In my opinion headless tokens are a nice approach for saving some bandwidth when your application does not need to handle dynamic header information but instead use some static hardcoded defaults.

[2017-07-01 16:51] ederpadilla commented on #215
Error:Execution failed for task ':app:transformClassesAndResourcesWithProguardForRelease'. > Job failed, see logs for details
-keepnames class com.fasterxml.jackson.databind.** { ; }

and steel send me this warning
Warning:com.fasterxml.jackson.databind.ext.DOMSerializer: can't find referenced class org.w3c.dom.bootstrap.DOMImplementationRegistry
Warning:io.jsonwebtoken.impl.crypto.EllipticCurvePr

[2017-07-02 03:33] asdfiop commented on #215
不好

[2017-07-02 03:33] asdfiop commented on #215
不好

[2017-07-04 00:55] mkempster opened #234 "dependency-check-maven/1.4.5 plugin reporting a false CVE against jjwt/0.7.0"
Running the org.owasp/dependency-check-maven plugin reports jjwt/0.7.0 has this (clearly wrong) CPE

cpe:/a:sonatype:nexus:0.7.0

The dependency report even suggests that it has low confidence the CPE is correct. It then goes on to refer to the following CVE

http://web.nvd.nist.gov/view/vuln/detail?vulnId=CVE-2014-9389

"Directory traversal vulnerability in Sonatype Nexus OSS and Pro before 2.11.

[2017-07-12 08:58] petekaras opened #235 "Java8 jsr310 LocalDateTime"
Hi,
Maybe I'm missing something so apologies if this is not an issue.
I've configured my spring boot application to use jackson-datatype-jsr310 by including in pom.xml, all outgoing json is serialized correctly.
however I am using a hashmap to set the payload of the the jwt token:
[code]
and this is being serialized in the Long LocalDateTimeFormat:
[code]
I had a similar issue in another spring bo

[2017-07-12 21:39] leoconco opened #236 "Support a way to use JWK keys"
Would be really useful to support Key suppliers based on a JWS endpoint for the validation of a JWS, or any way to use JWK to verify a JWS (JWKParser?).

[2017-07-15 11:44] zishanj opened #237 "Securing secret key"
As I have gone through your example, I have seen that JWT requires a secret key to sign the token. Since Android apk can be easily decompiled, is they any way to secure this key so attacker can't find it easily. Otherwise, it will be very easy to compromise the server with fake token generated from stolen key.

[2017-07-17 11:04] bakulinav commented on #227
Hello,
I there are any way to parse the same fields in more natural way, to make kind of customization of claims?
For example, extend `DefaultClaims` like:
[code]
and use it like following:
[code]
For now to me it's a big question how to make parser to parse my custom fields.

[2017-07-21 02:40] Moriadry commented on #86
@lhazlewood  your explanation really helps me a lot, thank you! :)

[2017-07-21 04:08] dogeared commented on #86
folks:

Please read previous replies with code examples.

Using the signing key resolver pattern, you have (safe) access to the
header and claims. You can log anything you'd need to within while still
having a succinct block of parser code that will fail if the signature
can't be verified.

JWTs do not have to be signed. But, if they are, the signature must be
verified.

==========================

[2017-07-21 04:16] rendion commented on #86
This issue should be closed by the owner.  There is no point in having this conversation and there is nothing to be learned here.  If folks still have questions they should fork it.  This repo does not have any intention of satisfying the use case being discussed here.

[2017-07-24 07:13] huhanghao commented on #188
I have the same proble as ankit8051 write.My exception is"io.jsonwebtoken.SignatureException: JWT signature does not match locally computed signature. JWT validity cannot be asserted and should not be trusted."

[2017-07-24 09:17] huhanghao commented on #188
I have already fixed this problem,and find the reason.
Claims secret = Jwts.parser().setSigningKey("secret".getBytes("UTF-8")).parseClaimsJws(data).getBody();

focus on "getBytes("UTF-8")".Eventhough my AS have already set encoding mode as “UTF-8”，I have to set it again here.

[2017-07-24 21:59] Gingercookie commented on #228
The BouncyCastle JCE provider is loaded in the following file
jjwt/src/main/java/io/jsonwebtoken/lang/RuntimeEnvironment.java

I imagine you'd be able to use the same method to include whatever other JCE you'd like and add it for use.

[2017-07-25 14:45] dogeared commented on #236
+1 on this. I recently created a solution that I'd like to integrate into JJWT. I think where we should draw the line is to handle retrieval of jwk given an endpoint. Since it is guaranteed by the spec to be open and will always be a simple `GET`, I also think we can do this without the need to involve another external library. Here's the solution I created for a "quick and dirty" example. I will

[2017-07-25 15:55] dogeared commented on #236
TIL that JWK support is already in progress as it's a requirement for JWE support. It's not ready yet, but you can see progress here: https://github.com/jwtk/jjwt/compare/jwe#diff-9bcd9bdeb445b83fc3620c7f1ca1e87fR1

[2017-07-25 21:31] zippo227 commented on #237
@zishanj you should not put the secret key in the client application, only on the server. When the client sends up a request, it includes the jwt. The server will use the secret key verify the integrity of the jwt.

As long as you are using SSL/TLS, you should be able to safely assume that the client is receiving a verified token from the server. If you want to be extra secure, inspect the certifi

[2017-07-26 05:55] zishanj commented on #237
Actually my Android app does not provide with Login that will authenticate user and generate the token from server. I require an access to get REST API data from server and for that purpose I wish to use token to provide some security but without any user login.

[2017-07-26 08:44] thomseno commented on #166
Is there a schedule for this? Waiting for a fix in milestone 0.8 (#142)... Regards.

[2017-07-26 12:45] psevestre commented on #237
It seems to me that you need some kind of activation code to bootstrap your authorization process. One way to do this is to generate a UUID or a hash based on some combination of device info. Then you can send this to the server that will in turn generate the jet token.
That said, if your app does not require a login, even one acquired via an oauth flow, then why bother with security at all ?

[2017-07-26 12:48] psevestre commented on #237
Just to make clear: by "security" I mean identity and authorization aspects. You still have to worry about availability and integrity, of course.

[2017-07-26 16:41] samwebber commented on #204
+1
It would be helpful if you could set the TextCodecFactory in the builder and parser (with the current default) the builder and parser used it rather than static references. At least you would have some control over how the base64 encoding or decoding is done.

[2017-07-26 20:16] zippo227 commented on #237
@zishanj You won't need the secret key on the client to do that. You could simply generate a token and embed it in the source code for your client. Then the server will know that the request is coming from your client.

[2017-07-27 02:17] vokoi opened #243 "Java 1.7 ， slowly"
Sorry about my English.
in Java 1.7.0_79,

create time about 5s.

[2017-07-27 15:19] thepeachbeetle opened #244 "Intermittent unit test failure"
I have seen the following test failure occur on a couple of occasions, re-triggering the tests immediately after causes the tests to pass ..  any ideas ?

Tests run: 87, Failures: 1, Errors: 0, Skipped: 0, Time elapsed: 0.394 sec <<< FAILURE!
testParseRequireExpiration_Success(io.jsonwebtoken.JwtParserTest)  Time elapsed: 0.009 sec  <<< FAILURE!
java.lang.AssertionError: expected:<1.50116853E12> b

[2017-07-27 15:30] thepeachbeetle commented on #244
Alas, i know little about groovy, but, from what i can see of the stacktrace, it would suggest that groovy is using an undesirable type for the expiration value and transforming when required.

i tried this locally,  the test still passes,  its hard to trigger the failure, seems to be dependant upon the time the test is run, so its hard to say for sure if this is a "fix"

--- a/src/test/groovy/io/

[2017-07-27 15:30] thepeachbeetle commented on #244
`Tests run: 87, Failures: 1, Errors: 0, Skipped: 0, Time elapsed: 0.394 sec <<< FAILURE!
testParseRequireExpiration_Success(io.jsonwebtoken.JwtParserTest)  Time elapsed: 0.009 sec  <<< FAILURE!
java.lang.AssertionError: expected:<1.50116853E12> but was:<1.50116866E12>
	at org.junit.Assert.fail(Assert.java:88)
	at org.junit.Assert.failNotEquals(Assert.java:834)
	at org.junit.Assert.assertEquals(Ass

[2017-07-27 15:31] thepeachbeetle commented on #244
`--- a/src/test/groovy/io/jsonwebtoken/JwtParserTest.groovy
+++ b/src/test/groovy/io/jsonwebtoken/JwtParserTest.groovy
@@ -1573,7 +1573,7 @@ class JwtParserTest {
     @Test
     void testParseRequireExpiration_Success() {
         // expire in the future
-        def expiration = new Date(System.currentTimeMillis() + 10000)
+        Date expiration = new Date(System.currentTimeMillis() + 10000)

[2017-07-28 13:34] koa73 opened #245 "Change expiration time"

[2017-07-30 08:47] #245 closed

[2017-08-11 19:32] c0state commented on #215
There were some syntax errors and/or incorrect rules in the snippet above I believe. Wiki entry has been updated with corrections.

[2017-08-12 05:56] hong-yi-en commented on #174
This seems to be a bug in the definition of the interface JwtBuilder. I don't think it is possible to call the method setHeader(x) when x is of type Header. This is because a Header is also a Map<String,Object>, and so Java won't know whether to call the setHeader method with type Header or with type Map<String,Object>.

Well, casting a header to Map<String, Object> as robrez did might work, but y

[2017-08-15 20:16] lnoton commented on #205
Got it. Thanks. I've continued to permit the client to get claims without the requirement to verify signature, but I'll take lhazlewoods input into consideration next time round.

[2017-08-15 20:16] #205 closed

[2017-08-21 08:14] kleewho commented on #174
@hong-yi-en spot on. You can't call it with `Header` as compiler will complain.

@lhazlewood I guess any user that have commented here can fix that (including me) so just tell us how would you like it to be solved and we can move on

[2017-08-22 16:01] marcelstoer opened #247 "Add logging"
I didn't come here to rant about your code but allow one question. Is it a security feature to _not_ implement any logging for an application?

Just today I was analyzing your ["JWT signature does not match locally computed signature..." exception](https://github.com/jwtk/jjwt/blob/master/src/main/java/io/jsonwebtoken/impl/DefaultJwtParser.java#L354) in my application. Rather than poking around in

[2017-08-24 12:49] pkalwar commented on #227
You can have a custom class like:

public static final class MyJwtToken extends DefaultClaims {
		private static final String USER_ID = "userId";
		// ... your other fields
		public MyJwtToken() {
			super();
		}
		private MyJwtToken(Claims claim) {
			super(claim);
		}

		public String getUserid() {
			return (String) get(USER_ID);
		}
		public void setUserid(String userId) {
			super.setValue(US

[2017-08-27 11:58] java1983 opened #248 "Check JWT Signature problems !?"
Build token:
final String SECRET = "ThisIsASecret";
String JWT = Jwts.builder()
                .setSubject("username")
                .setExpiration(new Date(System.currentTimeMillis() + 864_000_000))
                .signWith(SignatureAlgorithm.HS512, SECRET)
                .compact();
        res.addHeader("Authorization", "Bearer" + " " + JWT);

Check token:
1)final String SECRET = "ThisIsAS

[2017-08-29 20:41] bhowell2 commented on #248
This has been answered multiple times in the issues (e.g., #128 ). It has to do with Base 64 encoding. If you want to use a string like that, you must Base64 encode it first.

This would not work as expected:

[code]

[2017-08-31 21:05] Bragolgirith commented on #113
The last commit in the JWE branch seems to have been about a year ago - is it still alive?

[2017-09-02 21:54] lhazlewood commented on #247
We've been thinking about adding it before the 1.0 release, but it would also add a dependency that maybe some don't want.

FWIW, this issue is the first we've ever seen from anyone asking about logging (not that isn't important) - just an indicator of want vs. need.  In other words, we're most likely to focus on being spec compliant first and then add features the community is most vocal about.

[2017-09-02 21:56] lhazlewood commented on #244
Thanks for the issue.  We'll get to it when possible, but a PR would be appreciated to help it go in faster.

[2017-09-02 21:57] lhazlewood commented on #243
I'm sorry, but without more information, we can't do anything here.

Can you please provide a .java test case that demonstrates the problem?  We can take it from there.

[2017-09-05 19:05] davideas commented on #89
I was testing the fields in my Object to check if I set correctly all my data, of course dates have milliseconds, but on verification step, the parsed token returns dates without milliseconds.
So, I went to check why my test was failing, and found this when setting dates before generating the token:
[code]
Why we save seconds and not milliseconds?
That division deletes all the milliseconds and tes

[2017-09-06 20:40] marcelstoer commented on #247
You could use JUL.

Sensible approach, I agree.

I don't want to start a flame war about logging best practices or logging guidelines. Lots of smarter folks (smarter than I that is) have done that before in other corners of the Internet.

Take my "JWT signature does not match locally computed signature..." case. I would have like to know
- what was the JWT signature
- what was the locally computed

[2017-09-07 11:24] songdongsheng opened #252 "JWS verification performance enhancements"
Here is the JMH results:

[code]

Here is the code:

[code]

[2017-09-08 15:12] Maartinsh opened #253 "Jwts.parser() returns Integer instead of String"
Jwts.parser() returns my key field value as Int instead of String

[https://imgur.com/a/1cxtn](url)

What could possibly cause this and is there a workaround?

[2017-09-08 15:17] Maartinsh opened #254 "Jwts.parser() returns Integer instead of String"
Jwts.parser() returns my key field value as Int instead of String

![Image of code](https://i.imgur.com/CpmYTVB.png)

What could possibly cause this and is there a workaround?

[2017-09-11 10:05] Staryjir opened #255 "Update Jackson Deserializer"
Can you please make a new version with updated the jackson databind library? - it may contains a security vulnerability - see below

https://github.com/FasterXML/jackson-databind/issues/1599

[2017-09-19 04:48] harshilsharma63 commented on #255
Any update on this?

[2017-09-19 15:45] dogeared commented on #255
The latest master uses `2.8.9`. I will look into getting a release out this week.

[2017-09-23 00:50] urthling opened #258 "Unable to parse JWT using .p8"

[2017-09-23 05:32] urthling commented on #258
Please remove

[2017-09-23 05:32] #258 closed

[2017-09-25 18:40] halber opened #259 "Fails with Java 9"
Exception in thread "main" java.lang.NoClassDefFoundError: javax/xml/bind/DatatypeConverter
	at io.jsonwebtoken.impl.Base64Codec.decode(Base64Codec.java:26)
	at io.jsonwebtoken.impl.DefaultJwtParser.setSigningKey(DefaultJwtParser.java:151)
	at com.xonnec.testauth0jwt.App.main(App.java:53)
Caused by: java.lang.ClassNotFoundException: javax.xml.bind.DatatypeConverter
	at java.base/jdk.internal.loade

[2017-09-26 15:40] aadrian opened #260 "New Release?"
Hi,

Any chance getting new release?

0.7 is more than a year old :( .

Thank you.

[2017-09-26 17:29] dogeared commented on #260
Funny you should say... [0.8.0](http://search.maven.org/#artifactdetails%7Cio.jsonwebtoken%7Cjjwt%7C0.8.0%7Cjar) was just released

[2017-09-26 17:29] #260 closed

[2017-09-26 17:30] dogeared commented on #255
[0.8.0](http://search.maven.org/#artifactdetails%7Cio.jsonwebtoken%7Cjjwt%7C0.8.0%7Cjar) has just been released which includes the jackson version bump (among others)

[2017-09-26 17:30] #255 closed

[2017-09-27 12:57] jansohn commented on #247
Why not use `SLF4J` and let the users decide whether they want logging or not?

https://www.slf4j.org/faq.html#when

[2017-09-28 09:55] jeffmaury opened #263 "Update README.md to reflect new version"
README.md mentions 0.7.0 whereas 0.8.0 is out !!!!

[2017-10-01 05:58] bdbais opened #264 "Google JSON file"
Could you write a method for receiving in input a Google credential file .json?
or directly by json object or string ?

like:
Key key = Macprovider.JSON("....");
like Key key = Macprovider.JSON(File handler);

Thx

[2017-10-02 16:10] aspecialkey opened #265 "how to sign jwt with existing privatekey"
I have a privatekey
`-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----`

and I want to sign the jwt with
`SignatureAlgorithm.ES512`
I couldn't pass a string to the `signWith` method, I have to use a Key
`If using RSA or Elliptic Curve, use the signWith(SignatureAlgorithm, Key) method instead.`

I don`t know how to create a Key from a string and how to sign with ES512
Could somebody give

[2017-10-04 12:58] jansohn commented on #86
For auditing purposes I also would like to access the claims without validating the signature (as validation has already failed in this case). Stripping the signature as explained by @lhazlewood (https://github.com/jwtk/jjwt/issues/86#issuecomment-180089267) only works if the `JWT` hasn't expired. Otherwise we'll have to add the next workaround, e.g. by setting the `setAllowedClockSkewSeconds(long

[2017-10-11 19:42] lhazlewood commented on #86
@jansohn and everyone else that wants to access parsed information and you don't care about vaidation:

**You can do this today, and you have always been able to do this in JJWT since the introduction of the `SigningKeyResolver` concept.**

All you have to do is implement a SigningKeyResolver (1), as @dogeared demonstrated above and set it on the parser (2):

[code]

This allows you to do exactly

[2017-10-11 19:42] #86 closed

[2017-10-11 23:12] #243 closed

[2017-10-11 23:15] lhazlewood commented on #263
Thanks for the issue!

[2017-10-11 23:15] #263 closed

[2017-10-11 23:17] lhazlewood commented on #264
I'm sorry, but this is currently out of scope for this project.   JJWT is currently *strictly* limited to an implementation of the JWT RFCs and nothing more.  If enough others ask for this feature, it's always a possibility we'll add it in the future.

[2017-10-11 23:17] #264 closed

[2017-10-11 23:18] lhazlewood commented on #248
Closing per response above.  Thanks @bhowell2 !

[2017-10-11 23:18] #248 closed

[2017-10-11 23:22] lhazlewood commented on #237
Closing as this doesn't represent actionable work for the JJWT library itself (unless I'm mistaken).  We use GitHub issues for actionable work and StackOverflow for these type of general questions (please use the `jjwt` tag on StackOverflow if it is a question regarding the JJWT library itself and the `jwt` tag if general to JWT but not specific to JJWT). Thanks!

[2017-10-11 23:22] #237 closed

[2017-10-11 23:23] lhazlewood commented on #247
If we add logging, it will most definitely be SLF4J.  That allows you to plug in any logging provider implementation you desire.

Thanks for the issue!  We'll keep this open to retain a log/list of the types of logging requested by the community until we're ready to force a dependency on everyone.

[2017-10-11 23:31] lhazlewood commented on #228
If I'm not mistaken, you can implement the `SigningKeyResolver` interface and call `Jwts.parser().setSigningKeyResolver(mySigningKeyResolver)...`.  That will allow you to look up  your PKCS11 key (which should implement the `java.security.Key` interface) and return it from the interface method.

If you believe this is mistaken, please do comment and we'll open up the issue again.

[2017-10-11 23:31] #228 closed

[2017-10-11 23:35] lhazlewood commented on #235
Unfortunately you cannot currently specify the ObjectMapper that the JwtBuilder will use to generate the resulting JSON.  Yet. :)

We'll use this issue to track the work to allow you to do so :)

That said, would you say this issue should be classified as "Allow me to set my own ObjectMapper" ?

Or is the issue *really* "Please support Java8 Date/Time formats ?

Thoughts?

Thanks for the issue!

[2017-10-11 23:39] lhazlewood commented on #208
@rhonnava sorry, didn't see your reply.  I meant to say that the method on the parser should probably be renamed to `setVerificationKey` (or similar) to be more accurate.  We can add the method before 1.0, and deprecate the current one.

For the 1.0 release, we can remove the deprecated `setSigningKey` method since we don't need to support backwards compatibility with 0.x releases at that time.

[2017-10-11 23:42] lhazlewood commented on #226
We definitely need to be more clear around these semantics.  Thanks for the issue!  We'll use this to keep track of the work required to update a proper documentation page (rather than just the README + Release notes).

[2017-10-13 15:19] note opened #269 "Multiple valid signatures for when signing with HS256"
According to @lhazlewood suggestions from https://github.com/jwtk/jjwt/issues/123 I am using 64 bytes key for HS256 and I am still having similar problem as it was described here: https://github.com/jwtk/jjwt/issues/123.

I created repo with minimal reproducer: https://github.com/note/jjwt-report. You can either clone the whole repo and run it with sbt or just copy paste https://github.com/note/jj

[2017-10-15 08:52] itfinally opened #271 "some question with rsa encryption in ‘signWith’ api"
Hello, I have a question of 'signWith' api.
In rsa algorithm, it is encrypted message with private key ?

Because I read a lot of blog and they said 'encrypted with public key' / 'decrypt with private key', and the public key can given anyone.   = 。=

But I got the exception when I encrypted with public key:
[code]
This is the message( RSA signatures must be computed using an RSA PrivateKey ??? ):

[2017-10-15 10:29] jansohn commented on #271
It's always sign with private key and verify with public key!

[2017-10-16 17:24] lhazlewood commented on #253
Closing duplicate issue.  See #254

[2017-10-16 17:24] #253 closed

[2017-10-16 19:29] lhazlewood commented on #269
Hi @note!

While it looks suspicious, it's not actually a security collision.  You can't just manually change a single remaining character of Base64 encoded string and expect it to always produce different byte arrays.  Base64 doesn't always work that way - *sometimes* barely different Base64 strings *may* decode to the same byte array - it all depends on which bits are represented and Base64's pa

[2017-10-16 19:29] #269 closed

[2017-10-16 19:38] lhazlewood commented on #271
@itfinally the blog article you read is incorrect.  Signatures using keypairs are _always_ created/signed with the _private_ key, and verified with the public key, never the other way around. In fact the exception message tells you that a public key isn't valid for creating signatures:

Think about this for a minute - if it where the other way around, anyone with the public key (i.e. everyone beca

[2017-10-16 19:38] #271 closed

[2017-10-16 19:50] lhazlewood commented on #234
@mkempster is there anything you think we need to do for JJWT to avoid this for others in the future?

[2017-10-16 19:52] lhazlewood commented on #204
Thanks for the issue folks - we'll need to clarify this in the documentation for sure.  You're definitely not the only ones to experience this issue.

[2017-10-17 08:53] protyay commented on #223
Facing same problem during start

aused by: java.lang.NoClassDefFoundError: io/jsonwebtoken/Claims
	at java.lang.Class.getDeclaredMethods0(Native Method)
	at java.lang.Class.privateGetDeclaredMethods(Class.java:2570)
	at java.lang.Class.getDeclaredMethods(Class.java:1855)
	at org.springframework.util.ReflectionUtils.getDeclaredMethods(ReflectionUtils.java:609)
	at org.springframework.util.Reflecti

[2017-10-17 16:49] lhazlewood commented on #252
Do you have a GitHub project that we can clone to run this?  I can't copy and paste this into a .java file and just run it.

[2017-10-17 16:51] lhazlewood commented on #244
@thepeachbeetle have you been able to re-create this?  I haven't.  If it doesn't fail for us nor in Travis, I'm inclined to close this because we can't recreate it :/  Thoughts?

[2017-10-20 02:02] mkempster commented on #234
A couple small modifications to the MANIFEST.MF seem to prevent jjwt from being matched up to the wrong project cpe.

[code]

I manually made those changes to the MANIFEST.MF, repacked the jar and jjwt disappeared from the list.

For an individual project that needs a workaround, the dependency-check tool suggests adding the jjwt jar to the false-positives-exclusion file with this xml snippet

[co

[2017-10-20 02:49] mkempster commented on #234
Setting just the project.url appears to be sufficient.

[2017-10-22 18:19] petekaras commented on #235
Hi Les,
Yes, I think this is really about supporting Java8 formats.
I would be happy to contribute to this project, but am short of time right now. Will let you know if I can help out in the future if you are looking for contributors ?

[2017-10-23 17:16] totszwai commented on #160
How do you get this to work?? I'm facing the same problem.
`RSA signatures must be computed using an RSA PrivateKey.  The specified key of type sun.security.mscapi.RSAPrivateKey is not an RSA PrivateKey.`

[2017-10-23 19:10] totszwai opened #273 "How do you use this in Windows?"
Is there a way to use this in Windows?

This is the error I'm getting when I try to pass the ProvateKey to jjwt:

`The specified key of type sun.security.mscapi.RSAPrivateKey is not an RSA PrivateKey.`

[2017-10-25 15:28] mattdehring commented on #204
It seems to have to do with not being a valid Base64 string in that it isn't padded correctly. It truncates the last few bytes if the input string length isn't a factor of 4.

[2017-10-30 21:33] lhazlewood commented on #273
Your RSA key implementation does not implement the JDK-standard interfaces:

* `java.security.PrivateKey`
* `java.security.interfaces.RSAKey`
or:
* `java.security.interfaces.RSAPrivateKey`

Your `PrivateKey` implementation must implement these interfaces to function correctly.

It is recommended that you wrap your `sun`-specific implementation with one that implements the `java.security.interfaces

[2017-10-30 21:33] #273 closed

[2017-10-30 21:34] lhazlewood commented on #244
Unable to reproduce.  Please re-open if you have a test case that can repeat this.

[2017-10-30 21:34] #244 closed

[2017-10-30 21:36] lhazlewood commented on #234
Merged to master - will be released with the next release.  Thanks for the PR!

[2017-10-30 21:36] #234 closed

[2017-11-01 18:50] lhazlewood commented on #188
Closing this as the `secret` was not a Base64-encoded string.  Please read the `setSigningKey` method JavaDoc.

Note: if your key string is not base64-encoded, you might be using a poorly-formed (i.e. insecure) key.

[2017-11-01 18:50] #188 closed

[2017-11-01 19:07] lhazlewood commented on #233
To the best of my knowledge, headless tokens are not allowed per [RFC 7519](https://tools.ietf.org/html/rfc7519), specifically [Section 7.2, Validating a JWT](https://tools.ietf.org/html/rfc7519#section-7.2).  All JWSs and JWEs have a header, and if you don't need any security whatsoever, you'd still need an [Unsecured JWT](https://tools.ietf.org/html/rfc7519#section-6) with a header of `{"alg":"n

[2017-11-01 19:07] #233 closed

[2017-11-01 19:19] lhazlewood commented on #187
closing per @gposcidonio and @dogeared last comments.  Also note that the term 'plaintext jwt' is no longer valid upon finalization of RFC 7519 (they removed that term and the support for arbitrary text payloads and now have only JSON Claims Set payloads that maybe secure or unsecure).  We'll remove 'parsePlaintext*' method variants from JJWT before the 1.0 final release to stay consistent with th

[2017-11-01 19:19] #187 closed

[2017-11-01 19:21] lhazlewood opened #274 "parsePlaintext* methods should declare byte array types, not strings"
[RFC 7515, Section 2](https://tools.ietf.org/html/rfc7515#section-2) states:

This is reinforced by the example shown in [Appendix A4](https://tools.ietf.org/html/rfc7515#appendix-A.4) using a payload of the string literal `Payload`.

As such, the JJWT API needs to be changed to reflect `byte[]` types and not `String`.  This change would be backwards incompatible so it is slated for 1.0.

[2017-11-01 19:31] lhazlewood commented on #79
This is not a bug.  Please read the JavaDoc for `setSigningKey` when using a String key argument.

If your string is not base64-encoded, that is a 'yellow flag' that you might very well be using a weak/poor key that could compromise security.

For shared-secret algorithms, you should always use a secure-random byte-array that is long enough for the chosen algorithm.  If you want to represent that

[2017-11-01 19:31] #79 closed

[2017-11-01 19:45] #65 closed

[2017-11-02 17:25] skuzzle commented on #233
Right, my suggestion is not part of the specification and should not be given attention if strict RFC compatibility with no extra features is desired.
However, my point is, that headless tokens are of course technically possible and also provide some advantages (see also bullet 4. at https://dev.to/neilmadden/7-best-practices-for-json-web-tokens).
If, for example, my app only needs to verify token

[2017-11-02 18:40] ryber commented on #236
+1 for this being part of this library. In the mean time while we wait. the auth0/jwks-rsa-java project plays well with a SigningKeyResolver

https://github.com/auth0/jwks-rsa-java

Something like
[code]

[2017-11-02 20:06] otramony opened #275 "Add ECCN notice"
Hello. Our team would like to use/include your library in our product, and since we export outside of the U.S., we're required to provide ECCN (Export Control Classification Number) information for all 3rd-party libraries that may use/include encryption.

[2017-11-03 17:45] lhazlewood commented on #275
Hello - we currently do not have an ECCN since we haven't applied for it.  If we did apply, I suspect it would be categorized as 5D002.C.1

[2017-11-03 17:48] lhazlewood commented on #275
P.S. It is unclear to me if we need to file or not - JJWT provides wrapper functions around the JDK, and the JDK (or BouncyCastle, if you use it) is the one that actually performs the encryption or signature calculations.

[2017-11-03 18:08] otramony commented on #275
Hi Les. My understanding is that you wouldn't need it if that's the case with the wrapping functions. However, if you want to confirm this for JJWT, please reach out to your legal team. Thank you for your time and for responding.

[2017-11-04 02:05] itfinally commented on #271
I used to pay attention to encryption.... = =||
Thank to show me the difference between encryption and signature.
It help for me.

[2017-11-06 16:16] aspecialkey commented on #259
0.9.0

`java.lang.NoClassDefFoundError: javax/xml/bind/DatatypeConverter
	at io.jsonwebtoken.impl.Base64Codec.encode(Base64Codec.java:21)
	at io.jsonwebtoken.impl.Base64UrlCodec.encode(Base64UrlCodec.java:22)
	at io.jsonwebtoken.impl.DefaultJwtBuilder.base64UrlEncode(DefaultJwtBuilder.java:349)
	at io.jsonwebtoken.impl.DefaultJwtBuilder.compact(DefaultJwtBuilder.java:295)
`

[2017-11-07 04:54] sreelekshmikp opened #276 "jwt token error-Getting signature exception"
Below m code for generating and decoding the token, But getting the following error. Please help.

io.jsonwebtoken.SignatureException: JWT signature does not match locally computed signature. JWT validity cannot be asserted and should not be trusted.
	at io.jsonwebtoken.impl.DefaultJwtParser.parse(DefaultJwtParser.java:354)

Make Token
-----------------------------
String token = Jwts.builder()

[2017-11-07 17:43] lhazlewood commented on #276
Do you have a JUnit test case method that you can copy-and-paste (using a different `SECRET` value of course) so we can try to re-create this?

[2017-11-08 00:27] hebront opened #277 "convenience method for setting expiration date on JWTSBuilder not working properly"
When using the setExpirationDate convenience method on the JWTBuilder as per doc-o :

* <p>This is a convenience method.  It will first ensure a Claims instance exists as the JWT body and then set
     * the Claims {@link Claims#setExpiration(java.util.Date) expiration} field with the specified value.  This allows
     * you to write code like this:</p>
     *
     * <pre>
     * String jwt = Jwts

[2017-11-08 00:29] hebront opened #278 "Issue with base64Decode"
When passing in a claim with {"exp", somesecondsinteger } the payload that gets generated appears to be invalid base64 and needs padding added as per :

http://ioscake.com/nsdata-wont-accept-valid-base64-encoded-string.html

[2017-11-08 17:56] lhazlewood commented on #278
"Appears to be" ?

Do you have a test case or example that shows this to be the case?  If you are able to re-create the problem (and give us a test case or code example that we can run), we'll be happy to take a look, otherwise we just don't have the time to investigate speculative comments.

[2017-11-08 17:59] lhazlewood commented on #277
I don't see how this code returns a date of Jan 1, 1970.  If you're going to submit a bug, please create a code snippet that demonstrates the problem.

[2017-11-08 21:57] dogeared commented on #259
Please provide more information. Here's my output:

[code]

[2017-11-09 11:53] hebront commented on #277
import io.jsonwebtoken.Jwts;
import io.jsonwebtoken.SignatureAlgorithm;
import io.jsonwebtoken.impl.crypto.MacProvider;

import java.security.Key;
import java.util.Date;

/**
 * Created by thebron on 10/13/2017.
 */
public class Tester {

    public String token(){
        // We need a signing key, so we'll create one just for this example. Usually
        // the key would be read from your applic

[2017-11-11 04:29] sreelekshmikp commented on #276
I found out the issue, While taking the Bearer token from Rest Client(plugin in Mozilla) The next line is coming as an extra space.
--

[2017-11-13 09:38] AlexCzar commented on #180
I see that this is still a problem in 0.9.0, for my tokens I have to remember to always check for type and properly convert:
[code]

[2017-11-14 10:41] vicente-valls commented on #113
why readme says jwk is supported if it isnt actually ?
`JJWT is a Java implementation based on the JWT, JWS, JWE, JWK and JWA RFC specifications.`

[2017-11-14 19:48] lhazlewood commented on #277
I'm afraid you are mistaken.  The JWT specification requires the `exp` value to be in *seconds* since epoch, not milliseconds.

[2017-11-14 19:48] #277 closed

[2017-11-14 19:48] #276 closed

[2017-11-14 19:55] lhazlewood commented on #254
Can you please provide a test case?  It is very difficult to understand what the problem is based on the above screen shot.

[2017-11-14 20:08] lhazlewood commented on #229
There are lots of people that use JJWT and Node JS together.  Please ask this question on StackOverflow.com using the `jjwt` tag.  GitHub Issues is used for actionable work to modify the JJWT source code.

[2017-11-14 20:08] #229 closed

[2017-11-14 20:13] lhazlewood commented on #227
I'd really recommend *not* subclassing the Claims implementation - you're tightly coupling your implementation to JJWT's.  Instead, it's better to use [composition over inheritance](https://en.wikipedia.org/wiki/Composition_over_inheritance).  In other words, save your custom data as a claim, e.g. `.claim("foo", myData)`.  Once you acquire your custom data, you can convert it or inspect it however

[2017-11-14 20:13] #227 closed

[2017-11-14 21:12] lhazlewood commented on #113
@vicente-valls it says "based on" - it didn't say fully implemented.  If you read the README, you'd see that we explicitly indicate that JWE is not yet fully supported:

https://github.com/jwtk/jjwt#currently-unsupported-features

That said, most of the `jwe` branch is finished, but we still need to fully support JWKs, and this is the only reason why JWE support isn't released.  We're working on i

[2017-11-15 11:26] vicente-valls commented on #113
@lhazlewood tbh, I dont understand whats the meaning of saying `based on something not implemented`. Anyway, it is fine, any open source project takes time as most of times it is done on our free time. FYI I use https://github.com/auth0/jwks-rsa-java/tree/9a3edf250e982a64a6fb2f5a6c8cf35eecc1e780

[2017-11-15 16:08] sithmein opened #280 "Allow parsing signed JWTs without the key"
As a client I want to parse a JWT received from a server to inspect the contents. The JWT is signed by the server and obviously I don't have the secret signing key. Currently it's not possible to simply parse a JWT and ignore the signature (except by manually stripping the signature from the string). The library should offer a way to simply ignore the signature while parsing and not require the si

[2017-11-15 19:29] lhazlewood commented on #113
"based on" means that we use those RFCs (and only those RFCs) to build JJWT - we don't use any other sources.  But it does not mean that we've fully implemented the entire specification yet.

This is why we have a "currently unsupported features" section in the README to indicate that we don't yet support 100% of the features.  We will eventually support them all - it just takes time.

[2017-11-16 10:14] danjee commented on #280
+1

[2017-11-17 01:40] mikedw opened #281 "Occasional crashes in DefaultJwtBuilder"
Hi, in using jjwt in an Android app, I occasionally see a crash in `DefaultJwtBuilder`, seems like `header` ends up being `null` even though I am not explicitly setting the `header` anywhere. Are there reports of other occurrence and is there anything I can do to debug?

`Jwts.builder()
  .setClaims(payload) // payload is a Map
  .signWith(SignatureAlgorithm.HS256, key.getBytes()) // key is a stri

[2017-11-18 19:59] RyanBard opened #282 "Support java 9 projects"
When https://github.com/jwtk/jjwt/issues/259 was fixed, it only verified that jjwt itself can be built with Java 9 (but targeting an older version of java).  It did not address the problem of using jjwt in a project that is targeting Java 9.

You can see the problem in jjwt by modifying the `<jdk.version>` to 1.9 and trying to build:

[code]

[code]

[code]

I have also created a project that uses

[2017-11-19 11:19] Bleser92 opened #284 "Token expiration NullPointerException"
Token generate:
[code]
Authentication manager:
[code]

[2017-11-19 11:35] Bleser92 commented on #284
Solved.

[2017-11-19 11:35] #284 closed

[2017-11-20 13:54] Spenhouet commented on #282
I can't build my project because of this issue.

[2017-11-20 23:33] RyanBard commented on #282
@Spenhouet

You can add an explicit dependency on jaxb-api to your project until jjwt adds the dependency or removes the usage of jaxb classes:

https://github.com/jwtk/jjwt/pull/283/files

[2017-11-24 13:52] kojotak commented on #280
There is a workaround described in https://stackoverflow.com/questions/34998859/android-jwt-parsing-payload-claims-when-signed - just replace the signature with empty string

[2017-11-24 14:19] ingebrigt opened #285 "Jwts.parser().parseClaimsJws(badString) throws ArrayIndexOutOfBoundsException"
Hi !

I validate JWT's using: https://github.com/jwtk/jjwt/blob/master/src/main/java/io/jsonwebtoken/JwtParser.java#L396

When I tamper with my input string, JwtParser.parseClaimsJws(String var1) throws an ArrayIndexOutOfBoundException:

The error can easily be reproduced by inverting the bits in a random charachter in the JWT I use as input.

(If you have trouble reproducing I can provide a test)

[2017-11-26 12:36] pcsantana commented on #135
Hi!
@lhazlewood I tried to use your example in an Android app:
[code]

But I'm getting the exception **io.jsonwebtoken.UnsupportedJwtException: Signed JWSs are not supported.**
The library changed since your comment or maybe I'm doing something wrong?
Thank you!

[2017-11-26 13:31] oguzhangedik commented on #135
Hi Paulo,

You may be right because long time passed on that answer.

Thank you for your feedback.

On Nov 26, 2017 3:36 PM, "Paulo Cézar Santana" <notifications@github.com>
wrote:

[2017-11-26 13:33] oguzhangedik commented on #135
Actually i do not know how can i help you about this stuation because i
forgot something about jwt infrastructure. Please forgive me.

Good luck

On Nov 26, 2017 4:31 PM, "Oğuzhan GEDİK" <info.oguzhangedik@gmail.com>
wrote:

[2017-11-26 20:07] pcsantana commented on #135
Thank you!
I found an lib to parse the JWT in Android apps.
If anyone needs: https://github.com/auth0/JWTDecode.Android
Thanks!

[2017-11-30 13:14] Marthym opened #286 "Support java.time Instant and java.time Clock"
It should be a great thing to be able to support java.time.Instant and java.time.Clock instant of Date and io.jsonwebtoken.Clock.

[code]

[code]

[2017-12-12 09:10] pme123 commented on #112
@lhazlewood

Even with your example I get the IllegalArgumentException described above:
`java.lang.IllegalArgumentException: MAC signatures must be computed and verified using a SecretKey.  The specified key of type sun.security.rsa.RSAPrivateCrtKeyImpl is not a SecretKey.
`

[2017-12-14 08:32] anshdiv opened #287 "java.lang.IllegalArgumentException: bad base-64"
try {
                        Jws<Claims> claims  = Jwts.parser().setSigningKey("IamSingleBitch@582").parseClaimsJws(response);
                        Log.e("Jwt claims",claims.getBody().toString());
                        //OK, we can trust this JWT

                    } catch (Exception e) {
                        //don't trust the JWT!
                        e.printStackTrace();

[2017-12-14 11:38] anshdiv opened #288 "How can i convert Claims object to json object"

[2017-12-18 23:19] Ben-Hermans opened #289 "Expiry date of token expressed in seconds, however milliseconds are expected"
Dear,

When passing my expiration date to the setExpiration method of the DefaultJwtBuilder class, it seems that somewhere down the line, the time expressed as milliseconds is converted to seconds (setDate method of JwtMap class). This makes that the value of my expiration date is stored as the value expressed in seconds.

When decoding the token, the expiration date is now a value in seconds, whe

[2017-12-19 18:35] mbeattie commented on #289
The "exp" registered claim is in seconds according to the spec.

https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32#page-9
Its value MUST be a number containing a NumericDate value.

https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32#page-6
NumericDate
      A JSON numeric value representing the number of seconds from 1970-
      01-01T00:00:00Z UTC until the specified UTC

[2017-12-21 04:00] ex34toway opened #290 "Why allowedClockSkewMillis must be > 0?"
1. Fine,if i impl just want skew before the now time expire jwt，set allowedClockSkewMillis < 0,but
final boolean allowSkew = this.allowedClockSkewMillis > 0 ==> allowSkew  = false,that will not be change the max (Date max = allowSkew ? new Date(maxTime) : now)。So,I think，
boolean allowSkew = this.allowedClockSkewMillis > 0 ==> boolean allowSkew = this.allowedClockSkewMillis != 0 ,and setAllowedClo

[2017-12-21 16:31] mbeattie opened #291 "ExpiredJwtException logs wrong date"
The ExpiredJwtException uses a SimpleDateFormatter in the ISO8601 format but doesn't set the timezone to UTC so the string it returns ends with a "Z" indicating it's UTC but the time is parsed in localtime.

The comparisons seem to be correct, just the message is not.

[2017-12-21 16:43] Ben-Hermans commented on #289
Hi @mbeattie,

Thank you for the answer. I expected this to be mentioned in the readme. When I couldn't find it I did some additional research, but didn't come up with the idea to check the official JWT spec.

[2017-12-21 16:43] #289 closed

[2017-12-25 17:45] mikegleasonjr commented on #183
@Hazem-Ben-Khalfallah You are not verifying the token signature, so you can accept easily forged tokens.

@psevestre, @kamilwlf  This really is a hack.

I will have to move away from this library since I too need to verify a token signature independently of its expiration date.

I need to refresh the access token using a refresh token, but I want to make sure someone had a valid access token befor

[2018-01-08 10:55] hotmeatballsoup opened #296 "Invalidating JWTs on sign out?"
I'm new to JWT and was wondering if it is possible to invalidate/void JWTs on the server-side when a user signs out of an application (I'm also wondering if it even *makes sense* to do so!). Idea is:

1. User clicks a sign out link in their app
2. App makes a call to `POST https://api.myapp.example.com/auth/invalidate`
3. The JWT (which is an authorization/bearer token in the HTTP request header)

[2018-01-09 08:49] gregoryalary opened #297 "Remove usage of javax.xml.bind.DatatypeConverter (removed in Java 9)"
JDK9 marks the package javax.xml.bind as deprecated for removal.

The current use results in a java.lang.NoClassDefFoundError :

`Exception in thread "main" java.lang.NoClassDefFoundError: javax/xml/bind/DatatypeConverter
	at io.jsonwebtoken.impl.Base64Codec.decode(Base64Codec.java:26)
	at io.jsonwebtoken.impl.DefaultJwtBuilder.signWith(DefaultJwtBuilder.java:99)`

[2018-01-09 18:46] avoidwork commented on #89
Hi,

This issue creates a pretty significant interoperability problem with JWTs from other libraries (not java) that are using the correct resolution of time. My valid tokens from a node.js app are being marked as expired by this lib because this lib is expecting numbers 1000x larger.

[2018-01-17 14:14] jorexe opened #298 "JWT Infinite loop on sign"
Hi, i'm trying to generate a jwt but i get stucked at signWith method. This is my code:

	Claims claims = Jwts.claims().setExpiration(expCal.getTime()).setIssuer(LAYER_PROVIDER_ID).setIssuedAt(new Date()).setSubject("my-api");
	Header header = Jwts.jwsHeader().setType("JWT").setContentType("layer-eit:v=1").setCompressionAlgorithm("RS256");
	JwtBuilder builder = Jwts.builder()
			.setId(UUID.random

[2018-01-18 16:28] househacker commented on #282
Any advice on how to configure this same workaround for a Java 9 proejct built with ant?
I have tried the --add-modules java.xml.bind

<javac executable="/Library/Java/JavaVirtualMachines/jdk-9.0.1.jdk/Contents/Home/bin/javac" srcdir="${basedir}/src" destdir="${build}/classes" listfiles="yes" debug="true"
               debuglevel="lines,vars,source">
            <compilerarg line="--add-modules j

[2018-01-26 09:49] Bragolgirith commented on #296
Related info: https://github.com/jwtk/jjwt/issues/201

[2018-01-27 09:46] gempain commented on #230
@milesje Can you reference the SO question ?

[2018-01-27 09:48] gempain commented on #230
For reference, here is the SO question: https://stackoverflow.com/questions/44728138/how-do-i-get-a-custom-field-out-of-the-payload-using-jjwt

[2018-01-29 08:14] Spenhouet commented on #282
When will the commit from @RyanBard be merged and when will there be a Java 9 compatible release?

[2018-01-31 19:25] asirazhi opened #299 "Adds \ to JSON"
Hey, I am trying to parse a JSON. The code is below.
[code]

As the result it gives:

When I put the Jws into jwt.io/#debugger it gives

So it replaces " with \" and adds "sub". Is there any approach so that jwt.io/#debugger will give the same result as the initial JSON?

[2018-02-01 09:04] ardmn commented on #280
You are right . WTF I think. Why ?  @kojotak, thanks for advise.

[2018-02-04 11:46] bluesnail95 opened #300 "what is apiKey.getSecret()"
byte[] apiKeySecretBytes = DatatypeConverter.parseBase64Binary(apiKey.getSecret());

execuse me ,could you tell me what is apiKey.where is this class?

[2018-02-06 12:23] #300 closed

[2018-02-10 01:38] dachristensen commented on #297
I ran into this as well. I just submitted a pull request that resolves this, but breaks the build for java7 as it leverages java.util.Base64 which was added in Java8. As such, I closed the pull request myself. If jjwt needs to support java7, then I'm not sure of a good way to get around this without adding an external dependency on something like commons-codec.

[2018-02-12 23:59] aabashkin opened #302 "Security Vulnerability - Jackson"
Please upgrade to Jackson databind 2.8.11 or 2.9.4 to address an important security vulnerability: https://github.com/FasterXML/jackson-databind/issues/1904

[2018-02-16 16:41] SoundJunkie opened #303 "ObjectMapper cannot be resolved to a type"
I just can't get beyond this:

Exception in thread "main" java.lang.Error: Unresolved compilation problems:
	The import com.fasterxml.jackson.databind cannot be resolved
	ObjectMapper cannot be resolved to a type
	ObjectMapper cannot be resolved to a type
	ObjectMapper cannot be resolved to a type

	at io.jsonwebtoken.impl.DefaultJwtBuilder.<init>(DefaultJwtBuilder.java:19)
	at io.jsonwebtoken.Jwt

[2018-02-16 17:19] SoundJunkie commented on #303
I download lasted jjwt jar and the problem went away.

[2018-02-16 17:19] #303 closed

[2018-02-19 14:54] Nadavbi87 opened #304 "Using addClaims to add public date claims cause undesirable behavior."
Hi,

setDate and getDate methods divide and multiple the date time value by 1000 (to store the value as seconds ).

When we use addClaims and override one of the public date claims such "exp" it will store it without dividing by 1000  .
 It will cause for example to accept "invalid" token  ( the user thought it should be invalid  token because he set it to expiration/1000 and getDate will mulitple

[2018-02-28 11:57] gus-mobbill opened #305 "Doesn't seem to correctly verify signatures generated with other libraries."
I didn't dive much into the issue, but it fails to verify signatures generated with a nodejs and python client.
Ended up using com.aouth0 java library.

[2018-02-28 17:39] lhazlewood commented on #305
JJWT most certainly does.  Did you read the documentation and JavaDoc on how to properly specify the signing and verification key?

[2018-02-28 17:39] #305 closed

[2018-03-02 14:00] RyanBard commented on #297
You can also fix the problem by explicitly depending on jaxb:
* https://github.com/jwtk/jjwt/issues/282
* https://github.com/jwtk/jjwt/pull/283/files

[2018-03-02 14:12] RyanBard commented on #282
@househacker, I haven't used ant in a long time, but I assume you can just specify the dependency information from maven (groupId=javax.xml.bind, artifactId=jaxb-api, version=2.3.0) if you use something like ivy.

Otherwise, you can download the jar out of the maven repo and include it in your projects' lib dir or something:
* https://repo1.maven.org/maven2/javax/xml/bind/jaxb-api/2.3.0/jaxb-api-2

[2018-03-02 15:18] RyanBard commented on #302
PR: https://github.com/jwtk/jjwt/pull/306

[2018-03-02 17:01] monzonj opened #307 "Keys generated by this library are not valid according to https://jwt.io/"
For instance, take this example:

[code]
The output is:
[code]

When validating this token at https://jwt.io/ it says the signature is not correct (see attached screenshot)

Am I doing something wrong? or is this library not JWT compliant?

![json_web_tokens_-_jwt_io](https://user-images.githubusercontent.com/986520/36911401-b89aa890-1e43-11e8-9f95-a6a14e08b593.png)

[2018-03-02 17:10] monzonj commented on #307
Ok, the key must be base64 encoded, as the "signwith" method declares. Sorry for that.

This is the good example:

import io.jsonwebtoken.*;
import io.jsonwebtoken.impl.TextCodec;

[code]

[2018-03-02 17:10] #307 closed

[2018-03-02 17:16] lhazlewood commented on #307
Just in case others come across this:

jwt.io is not a JWT authority.  They're just a website run by a company who has time and again shown examples using insecure keys.  The string literal `secret` is not a cryptographically valid signing key for JWT's HMAC algorithms, and that company is being negligent even showing that in an example.  Don't just blindly trust that website - they've previously

[2018-03-03 03:50] househacker commented on #282
Thanks, I had success with the brute force setting: --add-modules java.se.ee

    <target name="compile" depends="jooq">
        <echo>Compiling source code with:</echo>
        <echo>Java/JVM detail version: ${java.version}</echo>
        <javac executable="/Library/Java/JavaVirtualMachines/jdk-9.0.1.jdk/Contents/Home/bin/javac" srcdir="${basedir}/src" destdir="${build}/classes" listfiles="yes" d

[2018-03-07 14:58] lazystone opened #308 "Abandon java 7 in favour of Java 8 as a baseline"
That will allow to fix #282 without additional dependencies.

[2018-03-09 19:40] christopheblin opened #309 "Remove jackson dependency ?"
From what I understand, jjwt only use jackson to convert json into Map<String, Object> (object being used sometimes for Dates) and to seraialize the Map<String, object> back to json. Nothing complicated is used (like JsonIgnore, registering mapper and other tricks)

So my question is : why jjwt does not rely directly on an embedded json impl (like org.json) ?

The use case are :
* using jjwt in a

[2018-03-09 19:59] aadrian commented on #309
@christopheblin the statement from Jackson was that it's faster.

[2018-03-09 20:41] christopheblin commented on #309
@aadrian  well that is probably true for big payload, but JWT is not used in that case I suppose (the diff should be negligible).

And if you really want that, then I think you should modify DefaultJwtParser to use a static ObjectMapper (like in DefaultJwtBuilder)

[2018-03-09 20:48] aadrian commented on #309
@christopheblin AFAIK org.json is not optimized at all, independent of the payload size. It's also important how often that payload is checked :) .

[2018-03-10 19:27] teslavsedison commented on #285
Same error occured my code. I changed to following lines
`Jwts.parser().setSigningKey(signingKey).parseClaimsJws(this.token);`
to
`Jwts.parser().setSigningKey(signingKey.getBytes()).parseClaimsJws(this.token);`
and
` String token = Jwts.builder()
     .setClaims(claims)
     .setIssuer(settings.getTokenIssuer())
     .setId(UUID.randomUUID().toString())
     .setIssuedAt(Date.from(Instant.now()))

[2018-03-11 20:45] ingebrigt commented on #285
I agree.

For my use I handled the problem by catching and handling ArrayIndexOutOfBoundsException.
If TokenSigningKey is not a valid base64 encoded String I don't verify the JWT.

[2018-03-12 08:06] christopheblin commented on #309
@aadrian Yes true, org.json is not optimized but, at the moment, the usage of jackson is incorrect and I think it is slower than any other lib (i.e there should be a single instance of the ObjectMapper)

[2018-03-13 00:58] azagniotov commented on #291
+1

I experienced a similar issue today:
[code]
There are `32000` milliseconds difference between the two dates in the log, but the log message shows a difference of `1003`...

Probably has to do with the following code in `DefaultJwtParser`:
[code]

@lhazlewood in general: is there any plans to move away from using `java.util.Date` in favor of classes from `java.time.*`?

[2018-03-13 01:00] azagniotov commented on #291
I see there is another issue raised regarding the same question: https://github.com/jwtk/jjwt/issues/286

[2018-03-13 18:57] rs-renato opened #310 "Access to object mapper"
Shouldn't necessary to expose the ObjectMapper contained into `DefaultJwtParser`? Or, necessary to let me configure this object mapper?

For example, I  need to have a custom jwt output (omit null values, empty values, etc, may be generate the token in UpperCamelCase..) and for while, I can't do it because the object mapper isnt public.

So, I think it's necessary to let me configure the object ma

[2018-03-14 12:07] tgeens commented on #309
@christopheblin has no issue with performance, but with the jackson dependency on the classpath ?

[2018-03-14 17:35] MikeMitterer opened #312 "gradle lint shows 'Package not included in Android' for jjwt-0.9.0.jar"
[code]
Any ideas why this happens?

[2018-03-14 19:25] christopheblin commented on #309
@tgeens  Yes that is exactly my problem (need 1.4Mo of jackson to use the 110ko of jjwt...). That is not really a big deal nor a criticism to jjwt, just something not very clean :)

[2018-03-15 02:46] gdjennings commented on #77
This is a particularly irritating piece of the spec...is it a string or is it an array? To not break things, you need to serialize a single audience as a string, because some implementations are going to fail to verify if it is an array.

[2018-03-15 19:52] glebsts commented on #302
Can it be prioritized, mb minor version release? Quite scary to live with that.

[2018-03-16 16:40] lhazlewood commented on #302
We'll get it out when we can, for sure.  In the meantime, the quick workaround is using a maven [<exclude> directive](https://maven.apache.org/guides/introduction/introduction-to-optional-and-excludes-dependencies.html#) when depending on JJWT and then explicitly using the Jackson version you want to as a runtime dependency.

[2018-03-17 17:05] ricveal commented on #77
I've made a PR #238 that, if it's accepted, would add support for string arrays in audience attribute without breaks the current functionality. The idea behind the PR is to handle both a simple String and a String array.

[2018-03-19 15:10] ycoupe commented on #312
Same for me, did you find a trick ? @MikeMitterer

[2018-03-19 19:06] SasinduJayashma commented on #300
Did u find an answer for this?

[2018-03-21 08:14] aharonha commented on #308
This Is a great idea, although some legacy dependent projects might break.
This calls for new versioning or forking.

[2018-03-21 08:26] aadrian commented on #308
@aharonha what projects do you mean?

[2018-03-21 08:33] aharonha commented on #308
ones that we can't see ;-)

[2018-03-21 08:34] aharonha commented on #308
e.g. this PR #311

[2018-03-21 09:09] aharonha opened #313 "clear some warnings"
When cloning the project using eclipse it shows a lot of warnings.
Some of them are just missing generics tags

[2018-03-22 12:23] bluesnail95 commented on #300
no, I don't .

[2018-03-22 16:16] lhazlewood commented on #300
I'm not sure where you saw that - maybe on StackOverflow?

It's just an example of using an API Key in a 3rd party SDK to communicate with a web service.  That api key, if it is a secure-random byte array, can also be a reasonable candidate to use as a signing key for creating JWTs.  There is no `apiKey` concept in JJWT - it was just an example of using a suitable byte array as a signing key.

Jus

[2018-03-23 14:23] nmDejamobile opened #314 "Different signature for the same payload and header between jjwt and nimbus"
Hi,

My server part uses the Nimbus library (https://bitbucket.org/connect2id/nimbus-jose-jwt/) and I'm trying to use JJWT on the Android mobile part.

But for the same signing algorithm, apiKey and payload, we obtain a different signature.
Then my generated JWT token with JJWT can't be verified on the server part that use Nimbus.

I then tried to implement both JJWT and Nimbus on the Android part

[2018-03-23 16:04] lhazlewood commented on #314
Your API Key string is not a Base64-encoded byte array.  Please read the JavaDoc for `signWith` and see what the 2nd argument is supposed to be.

[2018-03-23 16:06] lhazlewood commented on #298
What is the data type of `MY_PRIVATE_KEY` ?

[2018-03-24 08:08] azagniotov commented on #308
@aharonha moving to Java `8` is definitely a breaking & non-backwards compatible change. I imagine the `major` version would need to be incremented, i.e.: `10.0.0`

[2018-03-25 23:35] jorexe commented on #298
Hi @lhazlewood, it was a problem with my private key. Thanks you!

[2018-03-25 23:35] #298 closed

[2018-03-26 09:32] sattlerio opened #315 "jjwt cant parse token generated from different service"
Hi,

I generate my JWT in a different service --> Python with Flask JWT Extended.
My Secret Key  is "secret".
Thats how I generate in my service the JWT:
[code]

In my Java Service I try to decode the JWT:

`Jwts.parser().setSigningKey("secret").parseClaimsJws(token);`

But I get always this exception:
[code]

If I use any online token decoder like jwt.io or anything else I can decode it succesful

[2018-03-26 17:14] jplace opened #316 "Generic parameter to Header type"
What is the generic parameter of the Header type supposed to be?

[code]

It looks as if the generic parameter is recursive. I don't understand how it can be used since there is no type to satisfy the recursion base case.

Am I misunderstanding?

[2018-03-26 19:11] azagniotov commented on #315
@sattlerio I am just curious, since you mentioned you can decode the token successfully

The `jwt.io` successfully decodes a token since it is base64 encoded. But, it does not verify the signature by default. To verify signature using the `jwt.io` you need to paste there your keys.

So, are you just decoding or actually verifying the signature using `jwt.io`?

[2018-03-28 14:24] floragunncom opened #317 "io.jsonwebtoken.impl.Base64Codec does not work with Java 9"
<pre>
java.lang.NoClassDefFoundError: javax/xml/bind/DatatypeConverter
  at io.jsonwebtoken.impl.Base64Codec.decode(Base64Codec.java:26) ~[jjwt-0.9.0.jar:0.9.0]
</pre>

Suggestion is to use replace javax.xml.DatatypeConverter with java.util.Base64

[2018-03-29 08:23] nmDejamobile commented on #314
I will try that thanks!

[2018-04-04 13:40] RyanBard commented on #317
See #297 and #282 for details on this (this ticket is a duplicate of at least 1 of those).  For an idea of a fix and/or workaround, you can look at #282 and its open PR: https://github.com/jwtk/jjwt/pull/283/files

[2018-04-04 16:09] floragunncom commented on #317
Its not only about DatatypeConverter its also about the general java 9 readiness of this library

[2018-04-04 16:38] RyanBard commented on #317
I didn't run into any other problems other than jaxb when testing in java 9 (check out: https://github.com/RyanBard/jjwt-consumer-example).  Did I miss something?

[2018-04-09 14:07] floragunncom commented on #317
@RyanBard you're right, seems its only the DatatypeConverter which interferes with Java 9.
But have not checked Java 10 or 11-EA

[2018-04-11 05:59] dereekb commented on #280
I ran into the same issue, and followed through these threads and ran into a few issues/exceptions, but figured out you can easily get the body of the jwt using the parse() function from the DefaultJwtParser.

[code]

This skips the signature validation, but still checks that the token is not expired and returns the body as a Claims object.

[2018-04-15 07:50] hashlin commented on #312
+1 Same here

[2018-04-18 01:15] regv opened #319 "Unable to read JSON value"
my problem is that my application send a token but when he has to read this token to call a resource it does not work and the console me out this message can anyone provide a solution to this problem despite I use an code used by everyone tnx
this is a link of my project
[https://github.com/regv/spring-boot.git](url)

JWTAuthorization file
`    public class JWTAuthorizationFilter extends OncePerRe

[2018-04-18 01:26] regv commented on #319
sorry i have a problem to insert code correctly this is my  first question in github  sorry  and tnx

[2018-04-19 07:08] simdevmon commented on #235
It would be nice to have overloaded methods e.g. in `Claims` e.g.

[code]

Would you accept a PR for that?

[2018-04-19 08:43] arracso commented on #315
@azagniotov Hi, I'm having same issue, I can't **verify** tokens generated by jjwt on jwt.io.
For me is just fine, because I won't pass the token to any other application. But, I think the authors may want to fix this.

- **algorithm**: HS256
- **graddle**: `compile 'io.jsonwebtoken:jjwt:0.9.0'`

[2018-04-19 16:34] azagniotov commented on #315
Are you saying that you cannot decode the base64 encoded JWT on jwt.io?

[2018-04-19 16:48] arracso commented on #315
no, I can decode the JWT but I can't verify it using jwt.io (jwt.io also have this functionality)

[2018-04-19 19:08] bcrist opened #320 "Enforcing a specific required algorithm for JwtParser"
I was surprised that there isn't already a method like `JwtParser requireAlgorithm(SignatureAlgorithm algorithm)` in JwtParser.  I realize that JwtParser will throw an exception if an attacker tries to get around the signature verification by specifying algorithm "none", but it still seems like if you have control over the algorithm used to create tokens, the best practice for validating them shou

[2018-04-23 06:33] sainaen commented on #142
@masudias
As far as I can tell, fix is included since v0.8.0.

[2018-04-25 03:50] GodIsALoli opened #321 "Don't know how to compile it"
Hi everyone.
I am trying to use NetBeans 8.2 to compile jjwt. But soon I got this error:
![default](https://user-images.githubusercontent.com/36006642/39225364-91e62a06-4811-11e8-85c1-72a0dad105d4.png)

It looks like something wrong with groovy. Do I need to install it or it just a configuration issule?

Thanks very much

[2018-04-25 04:33] #321 closed

[2018-04-25 22:57] RyanBard commented on #86
Not trying to stir the pot here, but I'm a little confused why a parseUnsafe/Untrusted method for auditing/logging purposes is being argued against so hard when [JwtParser.parse](https://github.com/jwtk/jjwt/blob/44faaca42205b99503e3d500a7ce3a82d4115819/src/main/java/io/jsonwebtoken/JwtParser.java#L287) exists in the code.

It is much much worse.

It seems to describe what I might want to do (ther

[2018-04-25 23:05] RyanBard commented on #86
header and claims.

@dogeared, not sure if you just misspoke or weren't aware.  The JWT header is not safe.  It's not signed and comes from the caller, so it can never really be trusted.  At best, it can give you an excuse to reject a JWT before doing extra work validating with a trusted algorithm you've already decided on out-of-band.

At worst, it can trick you into doing something you shouldn't

[2018-04-26 01:15] bpappin commented on #86
I get the feeling there is a little NIH going on with this. We're making it work, but we are having to hack around simple cases.

I think @RyanBard has made a simple but significant suggestion on how to improve things.

[2018-04-26 08:04] yosaku01 commented on #33
@alchemistgo87 , you can refrer the class org.springframework.security.oauth2.provider.token.DefaultTokenServices

[2018-05-08 10:09] smileMrLee opened #322 "Base64 encode trigger Chinese garbled"
hello！
 this is my playload：
[code]

[code]
'TextCodec.BASE64URL.encode(this.payload)' this code will trigger Chinese garbled!

I had to modify to 'new String(Base64.getEncoder().encode(this.payload.getBytes()), "UTF-8")'

now it's work!

[2018-05-08 12:41] cptwunderlich commented on #309
We are already using gson in our project and now that we are adding jjwt, it also pulls in jackson. I think some libraries solve this by providing "bridge packages", e.g., jjwt-core + jjwt-gson/jjwt-jackson - and org.json could be used as a fallback.

[2018-05-08 13:07] tgeens commented on #309
There is no need to have additional "bridge packages".

Modern Spring (Boot) applications detect and use what is already available
on the classpath.

Example - detect Jackon2:

*private static final boolean jackson2Present =
ClassUtils.isPresent("com.fasterxml.jackson.databind.ObjectMapper",
RestTemplate.class.getClassLoader()) &&
ClassUtils.isPresent("com.fasterxml.jackson.core.JsonGenerator",
Re

[2018-05-08 14:43] lhazlewood commented on #309
@tgeens is right - we do this technique today for BouncyCastle for example.  We can definitely extend this approach to the JSON parser.   Even so, we should still allow for an override (e.g. `Jwts.parser().setJsonMapper(JsonMapper mapper)` where `JsonMapper` is a jjwt interface that can be implemented to delegate to the json api of choice.  I'm not sure if `JsonMapper` is the best name (I'm just t

[2018-05-09 03:56] azagniotov commented on #322
Another reason to move to Java 8? :)

[2018-05-10 21:39] lhazlewood commented on #320
Nice issue - thanks for taking the time to add this!  I think it's a nice enhancement.

[2018-05-11 00:43] rosh89 opened #323 "Generating Jwt Id"
I wasn't sure if there is a forum for discussion. If there is one, i apologize for posting this as an issue.

Question:
I did not find an API in jjwt to generate a token ID / jti / jwt ID. Is this intentional or something that is planned for the future? I noticed this in another library[1] and was wondering if jjwt would support this too.

Thanks!

[1] https://static.javadoc.io/org.bitbucket.b_c/j

[2018-05-17 17:47] rosh89 commented on #323
I'm guessing this isn't needed as consumers can use Java's UUID class, directly? (Closing this issue.)

[2018-05-17 17:47] #323 closed

[2018-05-18 12:03] antoniogeroncio opened #324 "Similar key validation error"
Hello!

Sorry for my English,
I have possibly encountered an error in the library, I am running the following scenario:

I created two tokens:

secretkey1 = 6uh04S60wnp7R6YvyNXtJzHMRpvsG0MsBWMuOnFP9vhXhc3AUSu6sVglcEUV

tokenSecretkey1  = eyJhbGciOiJIUzUxMiJ9.eyJleHAiOjE1MjY2Mzk2MTV9.7vEadBgnhgCJJkoPcwuailTkNl2cmjTT5ZrbkdaQv1f4GGkLetL5SvtQC0Ronis3U7of7wUlh2kzaXvl3Cbqog

secretkey2 = 6uh04S60wnp7R6Y

[2018-05-18 17:46] lhazlewood commented on #324
Hi Antonio!

This is not an error - you can't just change base64 text a little bit and assume it will render a different underlying byte array - see #211 for why.

Also, if you're using HMAC, keys longer than the algorithm block length are truncated to the algorithm block length first because keys longer than the block length don't offer any added benefit in security.  In other words, you can have

[2018-05-18 17:46] #324 closed

[2018-05-18 18:36] lhazlewood commented on #315
jwt.io allows for insecure keys, and they shouldn't.

Read the JavaDoc on `setSigningKey` - the string argument must be Base64, not a plaintext password.  If it's not Base64, you're likely using an insecure key. (`secret` is definitely an insecure key).  Here's why:

https://stackoverflow.com/questions/40252903/static-secret-as-byte-key-or-string/40274325#40274325

Once you've generated a secure k

[2018-05-18 18:42] lhazlewood commented on #323
@rosh89 glad to see you answered this yourself 👍   The reality is that there are so many different ID formats that people like to use, that JJWT doesn't need to be in that business.  A UUID is a great default if you don't have a preference.

[2018-05-18 19:09] rosh89 commented on #323
Thanks Les! That makes sense.

[2018-05-23 07:47] macarlet commented on #319
hi all, any news on this issue? I have encountered the same problem.

thanks

[2018-05-26 16:53] JeremyColton commented on #320
Nice addition, When will this update be released?

[2018-05-27 15:54] TongDaDa commented on #177
[code]

[2018-05-28 14:04] TongDaDa opened #325 "parseJWT error"
setExpiration
environment:
`
 macOs 10.0.3
 jjwt :    compile group: 'io.jsonwebtoken', name: 'jjwt', version: '0.7.0'
 java 8
`

[code]

error the below

`
Exception in thread "main" io.jsonwebtoken.SignatureException: JWT signature does not match locally computed signature. JWT validity cannot be asserted and should not be trusted.
	at io.jsonwebtoken.impl.DefaultJwtParser.parse(DefaultJwtParser

[2018-05-28 14:17] TongDaDa commented on #177
@lhazlewood Please you to help me.

[2018-06-01 10:15] seedinwind commented on #319
in my case , it occurs frequently but not always;I have to give up using setClaims now; waiting for solution

[2018-06-02 20:16] sscarduzio opened #326 "Creating token for ES256 Algorithm throws IllegalArgumentException: Key bytes may only be specified for HMAC signatures."
Hi guys, I have this piece of code, that works with algorithm "HS256", but throws this exception with "ES256" which is needed if we want to use [Google Cloud IAP](https://cloud.google.com/iap/docs/signed-headers-howto#iap_validate_jwt-java).

The exception:

[code]

The code that throws the exception:
[code]

I didn't find any example on how to create a Key object given byte array or string repres

[2018-06-05 16:49] #325 closed

[2018-06-05 19:56] crizo23 opened #327 "Support multiple issuers in JwtParser"
It would be a nice if the JwtParser could be configured for multiple possible issuer(iss) claims, like so: JwtParser.requireIssuers(String[] issuers)

[2018-06-10 17:35] floragunncom commented on #317
Any chance that we get a new release soon? The last commit in the master branch is 7 month old! So for me jjwt currently looks like a dead project.

[2018-06-10 19:34] lhazlewood commented on #317
@floragunncom it's definitely not dead - we've just been insanely busy.  I *really* hope we can get one out in the next 3-4 weeks.

[2018-06-10 21:14] floragunncom commented on #317
Great to hear. Let me know if we could help to drive it forward.

[2018-06-13 14:56] zolyfarkas opened #328 "JwtParser to parse CharSequence instead of String?"
JwtParser parameters that get parsed are all String, can these be made to CharSequence? it would make this a bit more flexible...

[2018-06-14 11:59] amirensit opened #329 "parsing custom claims"
While generating a token, I added custom claims:

What I need now is how to get the custom claims that I created ?

I searched on the net and I find that I must use

`Jackson's object mapper to convert Claims`

Any idea please ?

[2018-06-15 04:40] SeaCN opened #330 "rs256 for privatekey"
I generate privateKey use puttyGen tool.  and how to use it  to create a Key in my code? then I can use this key to compact. e.g. `Jwts.builder()
				  .setPayload(payload).setHeader(header)
				  .signWith(SignatureAlgorithm.RS256, signingKey)
				  .compact();
`

[2018-06-16 07:55] SeaCN commented on #330
I get the privatekey as a .ppk file, and need to make a Key object using this file. Can you share me an example for this,thank you very much

[2018-06-17 06:54] amirensit commented on #329
I figure out the response in this link
[https://www.callicoder.com/spring-boot-spring-security-jwt-mysql-react-app-part-2/#comment-3944432358](url)

[2018-06-17 06:54] #329 closed

[2018-06-18 23:14] paymentplugins opened #331 "Specifying algorithm as none and empty signature"
When reviewing security vulnerabilities for JWT I came across the following article hosted on auth0.com

https://auth0.com/blog/critical-vulnerabilities-in-json-web-token-libraries/

It appears based on my tests that if the header algorithm is set to "none" and the signature is left blank, then the parsing of the JWT is successful. For implementations that don't explicitly check that the algorithm

[2018-06-19 18:49] lhazlewood commented on #331
Have you looked at #20, #36, #47, #119 and #202 ? ;)

[2018-06-19 18:49] #331 closed

[2018-06-19 18:55] paymentplugins commented on #331
Thank you for the response and apologies for not going further back in the issues log.

Kind Regards,

[2018-06-21 01:14] androidty commented on #314
I'm an android development engineer, and I had this problem, and I used all kinds of base64 encoding, but it didn't work, I used Nimbus, and it worked

[2018-06-22 11:23] getjack commented on #317
@floragunncom Can confirm the problem for JDK10 (10.0.0.1). Problems appears on runtime.

[2018-06-30 03:58] azagniotov commented on #328
I am not sure I agree with having `CharSequence` type parameters in the public interfaces without a strong justification `why`.

My main concern here is that `CharSequence` is not guaranteed to be immutable, while Strings are.

[2018-07-04 07:31] oddbjornkvalsund commented on #160
For others coming here with the same problem, I solved this by subclassing `io.jsonwebtoken.impl.DefaultJwtBuilder` and supplying my own `io.jsonwebtoken.impl.crypto.Signer`:

[code]

This instance of `DefaultJwtBuilder` can then be used instead of `Jwts.builder()`. The passed-in `key` in my case is an instance of `sun.security.mscapi.RSAPrivateKey`.

Example use:
[code]

Works like a charm in my

[2018-07-05 17:04] lhazlewood commented on #302
Merged to 0.9.x branch pending release.

[2018-07-05 17:04] #302 closed

[2018-07-05 17:08] zuzzurell0ne opened #332 "java.lang.ClassNotFoundException: io.jsonwebtoken.Jwts"
Hi :)
First all, many compliments for your work on this library, i think you are great :)

I'm using it for a personal project, i don't have any problems at compile time (eclipse 4.7.2) neither during the build of my jar (maven eclipse plugin v1.8.3 - dependency in pom as per instructions) or during deploy (tomcat7.0.85) but i found following issue at runtime while my integration with WSO2AM (2.2.

[2018-07-05 17:11] lhazlewood commented on #282
@RyanBard thanks for your help/input in this.  The JAXB import was provided only because that was guaranteed to work in JDK 7 and 8 environments using the same code.  The real solution to this problem is basically to detect if using JDK 8 and above, and if so, use the JDK's native Base64 encoder/decoder, and if on JDK 7, use the JAXB APIs.  That said, we probably won't support JDK 7 for too much l

[2018-07-05 17:18] lhazlewood commented on #312
@MikeMitterer @ycoupe @hashlin JJWT .jars are used in both normal Java projects as well as Android projects.  As a result, JJWT will automatically depend on JAXB APIs if not running in an Android runtime environment.  Here's the logic:

https://github.com/jwtk/jjwt/blob/master/src/main/java/io/jsonwebtoken/impl/DefaultTextCodecFactory.java#L45-L49

As you can see, even though JJWT use non-Android-

[2018-07-05 17:46] lhazlewood commented on #326
You need to find out how to convert your key in your configuration file to an elliptic curve `PrivateKey` instance and use that instance as the argument to the `signWith` method:

[code]

Since I don't know the format or the content encoding of the key in configuration, I couldn't tell you how to convert it to an EC PrivateKey instance.  Here is a StackOverflow answer that shows an example, but on

[2018-07-05 17:46] #326 closed

[2018-07-05 17:52] lhazlewood commented on #330
Just a friendly reminder: JJWT's GitHub issues are for actionable work that requires changes to the JJWT codebase. Please use StackOverflow with the `#jjwt` tag for usability/help questions. Thanks!

[2018-07-05 17:52] #330 closed

[2018-07-05 18:06] lhazlewood commented on #282
@RyanBard I think we need to modify https://github.com/jwtk/jjwt/blob/master/src/main/java/io/jsonwebtoken/impl/DefaultTextCodecFactory.java to check for the presence of `java.util.Base64`, and if available, use that.  It's available on later Android SDKs as well as JDK 8.

We'll still need to fall back to either the previous native Android codec or the JAXB api depending on if `java.util.Base64`

[2018-07-05 18:11] RyanBard commented on #282
I'll try that out some time tonight.

[2018-07-05 19:27] #314 closed, assigned to nobody

[2018-07-05 19:51] lhazlewood opened #333 "Deterministic Base64 support"
This issue is being created to supersede similarly reported issues and represent a canonical issue to enable the following:

1. Check to see if `java.util.Base64` is available at runtime using `Classes.isAvailable` (or similar), and if so, use that.  This is the [best/fastest one available](http://java-performance.info/base64-encoding-and-decoding-performance/) to most default environments and sho

[2018-07-05 19:52] lhazlewood commented on #333
cc @RyanBard

[2018-07-05 19:53] lhazlewood commented on #322
Closing as a duplicate to #333.  Work will be tracked via that issue.

[2018-07-05 19:53] #322 closed

[2018-07-05 19:55] lhazlewood commented on #317
Closing as a duplicate of #333.  Work will be tracked via that issue and we hope to have that released asap in the coming days.

[2018-07-05 19:55] #317 closed

[2018-07-05 19:56] lhazlewood commented on #297
Closing as a duplicate of #333.  Work will be tracked via that issue and we hope to have that released asap in the coming days.  Thanks to @RyanBard for the jaxb optional dependency pointer!

[2018-07-05 19:56] #297 closed

[2018-07-05 20:00] lhazlewood commented on #285
Keeping this issue open, and should be completed with #333.  The (assumed new) `JaxbBase64Codec` should throw an appropriate exception after catching `ArrayIndexOutOfBoundsException`

[2018-07-05 20:03] lhazlewood commented on #282
Closing as a duplicate of #333. Work will be tracked via that issue and we hope to have that released asap in the coming days.

[2018-07-05 20:03] #282 closed

[2018-07-05 20:04] lhazlewood commented on #333
@RyanBard I don't think we'll need the JAXB dependency in the pom now based on the above fallback logic?  That is, `javax.xml.bind.DatatypeConverter` would only be used in a JDK 7 environment which is guaranteed to exist in that JDK.  Do you agree? Or might I be missing something?

[2018-07-05 20:05] lhazlewood commented on #278
Closing due to inactivity and no follow-up reply.  Please feel free to open a new issue if you believe there is actionable work in the JJWT codebase.

[2018-07-05 20:05] #278 closed

[2018-07-05 20:08] lhazlewood commented on #204
@samwebber your suggestion is being tracked in the #333 description.  Thanks for the idea!

FWIW, I'm leaving this issue open to enhance documentation as part of the upcoming release that will include #333.

[2018-07-05 20:31] lhazlewood commented on #146
Assigned to milestone 1.0 because this is a backwards-incompatible change that semver requires updating the major revision number

[2018-07-05 20:39] lhazlewood commented on #313
This is IDE-specific, and not in scope for the JJWT codebase (i.e. it doesn't impact JJWT users in any way).  The JJWT developers use IntelliJ.

That said, if you have a PR to issue that modifies the code accordingly, we'd definitely be open to reviewing it.   I'm closing this issue in the meantime, but feel free to open a PR with those changes.

[2018-07-05 20:39] #313 closed

[2018-07-05 20:41] lhazlewood commented on #319
I'm sorry, but I don't understand this issue.  What is being asked?

[2018-07-05 20:45] lhazlewood commented on #315
Closing due to inactivity.  Additionally `jwt.io` has been known to be buggy and allows insecure keys, so it is not a valid litmus test for a JWT parser.

If you believe there is actionable work to modify the JJWT code, please open a new issue explaining the problem.  Thanks!

[2018-07-05 20:45] #315 closed

[2018-07-05 20:57] lhazlewood opened #334 "Mandatory Key Length Assertions"
Too many submitted issues are submitted like "My key on service A works, but it's not working with JJWT".   This is basically because:

1.  The user uses a String key that is not Base64-encoded as the JJWT `signWith` JavaDoc clearly documents, or:
2. The key is rarely of the mandatory length required by the JWT specification.

This issue represents the work to throw an exception if invalid keys ar

[2018-07-05 21:02] lhazlewood commented on #316
It's for sub-interfaces that return T from a method (for method chaining).

Without this, if I called `aJwsHeader.setContentType` the return type would be `Header` not `JwsHeader`, which is expected.

[2018-07-05 21:02] #316 closed

[2018-07-05 21:29] lhazlewood opened #335 "Custom JSON marshaller"
JJWT's internal Jackson marshaller is ... internal.  It can't be modified or replaced by JJWT users.

This issue represents the work to:

1.  Create a new `JsonConverter` (or similarly named) interface.  Instances of this interface perform the JSON work.

2.  Create multiple maven modules in the JJWT project.  The current code would go under a new module, `jjwt-core`. or `jjwt-api` (haven't decide

[2018-07-05 21:34] lhazlewood commented on #309
Closing this issue in favor of tracking this work as #335.  Please continue the discussion in that thread if desired.

[2018-07-05 21:34] #309 closed

[2018-07-05 21:37] lhazlewood commented on #310
Closing in favor of tracking this as #335.  Please add further comments or discussion to that issue.  Thanks!

[2018-07-05 21:37] #310 closed

[2018-07-05 21:39] RyanBard commented on #333
@lhazlewood I agree.

[2018-07-05 21:41] macarlet opened #336 "Claims array support (Audience, etc)"
Hi, reading the rfc about audience claim https://tools.ietf.org/html/rfc7519#section-4.1.3, it seems that the aud can be a list of values, but the api implement this claim just as a single value.

[2018-07-05 21:43] lhazlewood commented on #336
Yep, you're right - thanks for the issue.  We have to do this for a similar set of other claims as well.

Can you use the `JwtBuilder#addClaims` method to work around this temporarily?

[2018-07-05 21:45] lhazlewood commented on #312
I wonder if this will be cleaned up with #333

[2018-07-05 21:48] macarlet commented on #336
Sure! Thanks!

[2018-07-05 21:52] lhazlewood opened #337 "Upgrade Jackson to latest stable"
2.9.6 at time of issue creation

[2018-07-05 22:04] lhazlewood commented on #333
@RyanBard I'm just about to start work on this - I just wanted to make sure you haven't already so we're not stepping on each other's toes.  Let me know.

[2018-07-05 22:59] lhazlewood commented on #302
0.9.1 has been released.  Please allow 15-30 minutes for the release to propagate to Maven Central.

[2018-07-05 23:00] lhazlewood commented on #337
0.9.1 has been released.  Please allow 15-30 minutes for the release to propagate to Maven Central.

[2018-07-05 23:00] RyanBard commented on #333
@lhazlewood I haven't started anything yet.  When you have something in a branch, if you want me to test non-android java, let me know (I have a laptop setup w/ 7, 8, and 9 that I can test on easily).

[2018-07-05 23:04] azagniotov commented on #333
@lhazlewood the approach sounds reasonable.
But, I do want to say that that I hope this won't set a precedent for having such conditional logic in other places when trying to support multiple JDKs/Platforms. It can easily get out of hand over time

[2018-07-05 23:14] lhazlewood commented on #299
You're setting a JSON object escaped as a string as a JSON value.   Escapes are expected.

Please note that GitHub issues are for actionable work to change the JJWT codebase.  For API or usage help, please ask questions on StackOverflow.com and use the `#jjwt` tag.  Thanks!

[2018-07-05 23:14] #299 closed

[2018-07-05 23:19] lhazlewood commented on #201
Compact JWTs are immutable.  You can't change them otherwise a new signature would be required, which does not equal the existing/previous signature.

When it comes to using JWTs for Token authentication - this is almost always achieved using expiration as @prateeknischal indicated or via a blacklist database (or cache) with entry TTL that indicates that particular JWT (e.g. the JWT's `kid` value)

[2018-07-05 23:19] #201 closed

[2018-07-05 23:20] lhazlewood commented on #296
Just a friendly note:  GitHub Issues are used to track actionable work to change the JJWT codebase.  Please ask usability questions on StackOverflow using the `#jjwt` tag.  Thanks!

[2018-07-05 23:20] #296 closed

[2018-07-05 23:21] lhazlewood commented on #287
This will be addressed as part of #333.  Please follow that issue for related work.

[2018-07-05 23:21] #287 closed

[2018-07-05 23:36] lhazlewood commented on #333
Thanks @RyanBard and @azagniotov  - I'll cc  you when a branch is created so you can review.

And I agree on getting out of hand for multiple JDKs/platforms, but I do tend to prefer usability over internal library complexity.  In other words, if it's mildly complex for the dev team but makes 99% of users happy, I'll usually favor the slightly more complex approach.

That said, thankfully we're onl

[2018-07-06 02:00] RyanBard commented on #333
@lhazlewood I added some dockerfiles to test java 7, 8, & 10 in containers to that jjwt-consumer-example I used to show the runtime problems w/ the base64 code:
https://github.com/RyanBard/jjwt-consumer-example/commit/50e2dbdaae5ad8bebba40b264bdaecfbccd910b2

It can show the problem (and verify if a fix works), however, I haven't thought through how you would test  local changes with it yet (it's

[2018-07-06 15:24] lhazlewood commented on #333
@RyanBard in this particular case, I'm thinking of using reflection (and memoizing results for performance) so that it builds on JDK7 and runs as expected on JDK8 (with test cases to verify this of course).  JJWT travis builds currently run on OpenJDK 7, and Oracle JDK 8 and 9.  We can add 10 easily.

[2018-07-06 19:50] lhazlewood opened #339 "Remove all deprecated code for 1.0"
Remove all code marked as `@Deprecated` or `//TODO deprecated` (or similar) before cutting `1.0.0` final.  To maintain semver adherence, this cannot be done prior to the `1.0.0` release.

[2018-07-06 22:08] RyanBard commented on #333
@lhazlewood , see #282 for an explanation of the gap of testing in your travis builds.

You are testing that jjwt builds w/ various versions of java, however, the target jdk isn't the newer versions of the jdk (so you're using java 9 to build java 7 compliant byte code for example).

* https://github.com/jwtk/jjwt/blob/master/pom.xml#L84
* https://github.com/jwtk/jjwt/blob/master/pom.xml#L214

Thi

[2018-07-07 16:14] lhazlewood commented on #333
@RyanBard I don't see the rationale here.  If you build on JDK 9 it *must* succeed on JDK 9 because all of the tests exercise 100% of functionality.  The `1.7` in the pom is only for bytecode compatibility - not library/API availability.

I think the reason you saw #282 was because Oracle completely hosed JDK 9 and how it handled JAXB (among other things).  This is one of the biggest reasons why J

[2018-07-07 16:57] RyanBard commented on #333
When I saw #267 as the fix + verification of java 9, I assumed that the source compatibility was affecting what modules maven chose to run tests under or something.  That was a misconception on my part.  I just tinkered with my source/target and it didn't pass the tests -- which I thought I had tested for at some point, but probably overlooked it.

Was the gap in TravisCI that the oraclejdk was in

[2018-07-07 17:04] lhazlewood commented on #333
Yep, you got it - oraclejdk included it but openjdk apparently did not.  The solution to detect this was to have travis build against both oracle and openjdk.

[2018-07-07 17:09] lhazlewood commented on #333
Just an update on this ticket - I'm avoiding the "if on platform X, use Base64 decoder Y" logic entirely.  I decided to fork (and directly embed) a modified/stripped-down version of [MigBase64](https://github.com/brsanthu/migbase64) (and included proper license attribution in JJWT per Mig's license requirements).

This means JJWT is guaranteed to have deterministic Base64 support on all platforms

[2018-07-07 18:50] azagniotov commented on #333
@lhazlewood I agree with your intentions to avoid `if-else` mess.

Just to point something out - the https://github.com/brsanthu/migbase64 does not have any functional tests, only some speed test and one more test which is commented out. I hope that the code does what it suppose to do

[2018-07-07 20:00] lhazlewood commented on #333
@azagniotov I've used migbase64 in production environments before, so I'm not too worried about that.  That said, I'm adding tests for it anyway to ensure we still keep 100% coverage.

[2018-07-07 21:50] ricardofavero opened #340 "Using Android SHA-1 to hide String"
I was looking for a way to hide a String in an Android application and found this answer: https://stackoverflow.com/a/35576792

It seemed to be a good solution as each application has its own SHA-1 fingerprint.

As suggested, I wrote one code for encoding and another for decoding a string. I just copied and pasted the encoded String to the second code.

**Printing enconded String**
[code]

**Decod

[2018-07-08 16:53] lhazlewood commented on #340
@ ricardofavero no need to base64-encode your key bytes - in fact the `setSigningKey(String)` will be deprecated on the next release.  Instead, you should do:

[code]

That said, the linked answer isn't secure at all - it merely is obscuring the data, not encrypting it (anyone skilled enough could find the SHA fingerprint and re-create the final digest, being able to impersonate you).  Your best b

[2018-07-08 16:53] #340 closed

[2018-07-08 16:58] lhazlewood commented on #308
Because of a backwards-incompatible breaking change, semver requires this to wait until at least `1.0.0`.  Assigning that milestone and we'll deal with it at that time.

[2018-07-09 02:19] #333 closed

[2018-07-10 08:37] RicoSpm opened #345 "How to retrieve the secret used in MacProvider.generateKey()"
Hi,

How can I retrieve the plaintext secret from the signature of a JWT? I would need to compare the secret coming from the signature with the original one.

Thank you.

Riccardo

[2018-07-10 15:42] lhazlewood commented on #345
It is impossible to look at a signature only and then find the secret based on that.  That would completely eliminate the entire security model of cryptographic hashes. :)

JWTs can however have a `kid` field ("key identifier") in the Claims that have some sort of identifier that lets the signing validator know which key was used to create the signature.  It is up to the verifier to look up the si

[2018-07-10 15:42] #345 closed

[2018-07-10 19:00] bitbythecron commented on #296
Thanks @lhazlewood -- [here you go!](https://stackoverflow.com/questions/51272360/can-jjwt-invalidate-tokens-on-the-server-side)

[2018-07-11 15:45] lhazlewood commented on #320
Actually, I don't see why this is necessary?  When you use `parseClaimsJws` as documented for parsing JWSs, you cannot forge an `alg` header and still have signature validation succeed.  You should never use the unqualified `parse` method if you are expecting a specific type of token, e.g. a JWS.

[2018-07-11 20:54] lhazlewood opened #348 "Create multi-module project"
JJWT 0.10.0 will support different JSON and Base64 implementations and allow users to plug-in their own implementations where necessary.

As a result, all 3rd-party libraries should be moved to individual jjwt modules so users can depend on only what they need and not pull in more classes or dependencies than are required.

This issue is to track the work to:

- Change the existing pom.xml to refl

[2018-07-11 22:01] lhazlewood commented on #335
Module splitting work has been extracted to #348.  This issue depends on #348 completion first.

[2018-07-11 22:07] lhazlewood commented on #290
You can specify any value you wish - negative, positive or `0`, and JJWT will always use the greater of `0` or your value as the actual value.  Negative clock skew does not make sense because the value is only relevant for times *after* the `exp` claim field - i.e. always time _added_ to the `exp` value.  A negative value essentially means "no skew necessary".

Finally, a friendly reminder: JJWT's

[2018-07-11 22:07] #290 closed

[2018-07-11 22:14] lhazlewood commented on #304
The initial idea behind `addClaims` was that you were explicitly setting the claims to known values according to the JWT specification yourself and JJWT shouldn't change anything you've specified.

That said, it couldn't hurt to make this more robust and iterate over your custom clams, check to see if they match a specification-standard claim name, and if so, ensure that the Date object is convert

[2018-07-11 22:14] lhazlewood commented on #288
Just a friendly reminder: JJWT's GitHub issues are for actionable work that requires changes to the JJWT codebase. Please use StackOverflow with the `#jjwt` tag for usability/help questions. Thanks!

[2018-07-11 22:14] #288 closed

[2018-07-11 22:15] lhazlewood commented on #286
This depends on #308

[2018-07-11 22:19] lhazlewood commented on #281
Do you have a test that can reproduce this?

We have tests for null map/object values, so without a new test case, it'd be extraordinarily difficult for us to help.

[2018-07-11 22:24] lhazlewood commented on #254
Closing due to inactivity.

[2018-07-11 22:24] #254 closed

[2018-07-11 22:26] #252 closed, assigned to nobody

[2018-07-11 22:29] lhazlewood commented on #286
Closing as duplicate of #235.  Please #235 for work/discussion.

[2018-07-11 22:29] #286 closed

[2018-07-11 22:30] lhazlewood commented on #235
Depends on #308.

[2018-07-11 22:31] lhazlewood commented on #235
This ticket would add support for claims of type:

- LocalDateType
- Instant

Anything else?

[2018-07-11 22:37] lhazlewood commented on #226
Note that #335 resolves the problem of multiple ObjectMappers used (now only one static instance is used by default), and it also allows you to plug in your own JSON implementation if JJWT's defaults aren't sufficient for whatever reason (or if you just want JJWT to use your existing ObjectMapper instance).  #335 functionality is already merged to master and will be released in 0.10.0.

We'll stil

[2018-07-11 22:46] lhazlewood commented on #59
Closing since there's not much we can do here (it's a JDK implementation issue).  There is a workaround identified in the comments of http://bugs.java.com/view_bug.do?bug_id=7092821.

[2018-07-11 22:46] #59 closed

[2018-07-11 22:50] lhazlewood commented on #66
Closing as this his was resolved via #196, released in 0.8.0

[2018-07-11 22:50] #66 closed

[2018-07-11 22:51] lhazlewood commented on #73
Closing since JDK 7 is used currently.   JDK8 as a minimum will be resolved via #308

[2018-07-11 22:51] #73 closed

[2018-07-11 22:54] lhazlewood commented on #192
Only Base64Url is used now per #333 which has been merged to master and will be released in 0.10.0

[2018-07-11 22:54] #192 closed

[2018-07-11 22:59] lhazlewood commented on #89
All JWT RFC timestamps claim fields (nbf, exp, etc) *must* be in seconds, *not* milliseconds.  Any other JWT library that allows otherwise for the RFC standard fields are violating the JWT specification.

That said, bulk setting via `setClaims` or `addClaims` will be cleaned up soon via #304.  Closing this issue and will track remaining work via #304.  Please use that issue for updates and/or disc

[2018-07-11 22:59] #89 closed

[2018-07-12 13:10] ex34toway commented on #290
Ok.I've got it.Thank you.

[2018-07-12 15:49] t0b0 opened #349 "parseClaimsJws may throw something other than SignatureException"
According to README.md, the recommended way to do signature verification is the following:
[code]
But this is insufficient as the following example demonstrates:

[code]

[2018-07-12 16:10] lhazlewood commented on #349
Hi there!

The readme is just a simple example for quickstart/demonstration purposes, not recommended usage.  It is not representative of exhaustive-path execution, otherwise the readme would be way too long.  Readmes in general, as I see them, are not to be used as the canonical source for definitive information - they're just there to whet your appetite and get you started quickly.

In this part

[2018-07-12 16:38] t0b0 commented on #349
Hi Les,
I see your points. I've seen examples in the wild where developers were using `Jwts.parser().setSigningKey(key).parseClaimsJws(jwt_string);` and then only checked for the `SignatureException`, which led to vulnerabilities. Probably because they copied the snipped from the README.md. I think their wrong assumption was that when you do `setSigningKey`, the library should always expect a sign

[2018-07-12 17:29] lhazlewood commented on #349
Also, FWIW (in case anyone else is reading this thread), JJWT's API is definitely secure-by-default.  Not catching a `MalformedJwtException` has no bearing whatsoever on JJWT's security model.

[2018-07-13 22:22] jieliu218 commented on #91
@gamedevhelper

Hi, have you solved this problem?

[2018-07-13 22:40] jieliu218 commented on #91
@hisankaran Hi, have you solved this problem?, which front end lib do you use?

[2018-07-14 05:00] hisankaran commented on #91
@jieliu218 I am using this lib on my android app.

[2018-07-14 14:00] hisankaran commented on #91
May be post your decoding snippit and error details. I can help you.

On Sat, Jul 14, 2018, 6:58 PM jieliu218 <notifications@github.com> wrote:

[2018-07-17 02:11] vraravam commented on #320
I have a JWT that was created using `SignatureAlgorithm.HS256` - but when I try to parse it, I get an error `SignatureException: JWT signature does not match locally computed signature. JWT validity cannot be asserted`. Is this error related to this feature request?

[2018-07-17 16:33] lhazlewood commented on #349
Hi @t0b0

Can you please clarify these vulnerabilities?  If an exception is uncaught and propagates, the JWT isn't processed, so I don't see what the vulnerability is.

[2018-07-17 16:35] lhazlewood opened #350 "Public KeyFactory (or similar) support"
Previously users were shown examples with `MacProvider` (or `RsaProvider` or `EllipticCurveProvider`) to generate keys.  These are private implementation classes that shouldn't be used by users.  Instead, provide a `Keys` utility class (or similar) with key generation capabilities that can be publicly referenced.

[2018-07-17 21:32] lhazlewood opened #352 "Remove `Clock` in favor of `Supplier<Date>` for 1.0"
Requires JDK 8, i.e. 1.0.0 release  #java

[2018-07-18 18:07] fkoseoglu opened #353 "Upgrade Bouncycastle"
Any plans to upgrade BC version to BC 1.60 beta 4 or later?

[2018-07-19 19:38] lhazlewood commented on #353
Yep, happy to do this in the upcoming 0.10.0 release which should be out this week.

[2018-07-19 19:42] lhazlewood opened #354 "Functional interface cleanup"
Current 0.10.0-SNAPSHOT base (master) has a few of duplicate(ish) interfaces in the `io.jsonwebtoken.io` package that could probably be consolidated with a single functional interface.  This would have to be an internal `io.jsonwebtoken.lang` interface since we can't utilize JDK 8 until 1.0 final.

[2018-07-20 16:21] lhazlewood opened #355 "Documentation revamp"
Due to #348 and #350 the quickstart dependency reference and key generation techniques need to be changed in the README.  Required to release 0.10.0

Also document:

- new pluggable JSON serialization support
- new pluggable Base64Url support
- new io.jsonwebtoken.crypto.Keys functionality
- new Jwt Key length assertions
- new JwtBuilder#signWith(Key) functionality
- Jackson unmarshaling with Jack

[2018-07-20 16:49] lhazlewood commented on #275
@otramony I did some deep diving/research and JJWT would indeed be categorized as `5D002.C.1`. I hope that helps!

[2018-07-20 16:51] lhazlewood commented on #348
Completed via #351 - merged to master, will be released for 0.10.0

[2018-07-20 16:51] #348 closed

[2018-07-20 16:51] ramonyoung7 commented on #275
Great! Thanks a lot.

[2018-07-20 16:53] lhazlewood commented on #275
internal note: leaving this open to track the work for adding an ECCN notice to the readme (or similar).  Will be done with the 0.10. release

[2018-07-20 17:18] lhazlewood commented on #335
#348 has been completed and merged to master and this issue is now effectively complete.  #354 however may introduce further changes to these modifications.

[2018-07-20 17:18] #335 closed

[2018-07-20 20:47] #353 closed

[2018-07-20 20:51] lhazlewood commented on #204
This issue is now closed per the closing of #333 .  Documentation for this will be done as part of #355 .

[2018-07-20 20:51] #204 closed

[2018-07-20 20:53] lhazlewood commented on #312
This is now resolved via #333 and in master.  A new release with this change will happen asap, hopefully in the next few days, but most definitely before the end of the month.

[2018-07-20 20:53] #312 closed

[2018-07-20 20:54] lhazlewood commented on #60
Moving this to 1.0.0 in favor of using the JDK8+ `java.time.duration`

[2018-07-20 21:24] #275 closed

[2018-07-20 21:56] lhazlewood commented on #319
Closing due to inactivity.  Additionally, the exception shown in the screenshot is a Jackson exception that indicates the JSON contained within the token was invalid, and exceptions on invalid JSON or Base64Url input are expected.

If you feel that this is incorrect somehow, please open another ticket and provide a test or steps to reproduce and we'll be happy to look at it.  Thanks!

[2018-07-20 21:56] #319 closed

[2018-07-20 23:16] lhazlewood commented on #86
@RyanBard and @bpappin Per Ryan's argument against accidental mistakes (e.g. `parse` vs `parseClaimsJws`), it seems the very argument asking for this behavior is the same argument that should prevent it).  (Thanks for the parse vs validation examples Ryan - I agree that better illustrates separation of concerns.  That said, if we ever did something like this - and I'm not sure we should - it would

[2018-07-20 23:36] lhazlewood commented on #280
Closing as a duplicate of #86

Also @sithmein, the solution to your problem is not using HMAC because that is a shared secret.  Use asymmetric keys (RSA, EllipticCurve) and your client can verify the server's signature just fine.  That is the correct solution for that particular use case.

[2018-07-20 23:36] #280 closed

[2018-07-20 23:58] #291 closed

[2018-07-23 10:07] RicoSpm opened #358 "Validate JWT RSA256 signature"
Hi,

I have a JWT signed with a RSA256 algorithm. What about to validate a JWT like this one? Do I have to use the same statement as the README.md reports, using the public key got from the public certificate used to sign the JWT?

    try {

        Jwts.parser().setSigningKey(public_key).parseClaimsJws(jwt);

        //OK, we can trust this JWT

    } catch (SignatureException e) {

        //do

[2018-07-23 15:07] lhazlewood commented on #358
Just a friendly reminder: JJWT's GitHub issues are for actionable work that requires changes to the JJWT codebase. Please use StackOverflow with the `#jjwt` tag for usability/help questions. Thanks!

As to your question:

Yes, you should verify a signed JWT (aka 'JWS') with the public key, and your code example looks good.

Only the private key should be used to _create_ a JWS, but the public key

[2018-07-23 15:07] #358 closed

[2018-07-23 16:03] lhazlewood commented on #328
I don't understand the request exactly - can you show a code snippet example of what you're asking for?

[2018-07-23 19:45] lhazlewood commented on #208
Just noting that this isn't as simple as expected: the `SigningKeyResolver` interface, its adapter, and anything else referencing such needs to be refactored.  This is a change that's probably better left for 1.0 (or at least a release after the more urgent 0.10.0 release).

[2018-07-23 19:50] #285 closed

[2018-07-24 16:31] TomasCruz opened #362 "When signature is changed on generated JWT, parseClaimsJws doesn't throw"
JJWT version 0.9.1
When signature's last character is deliberately changed, that tampering with the signature is not registered. In DefaultJwsParser, check
validator.isValid(jwtWithoutSignature, base64UrlEncodedDigest)
passes, and SignatureException is not thrown. So, JWS is treated as valid though it's not.

Example:
public static final String SECRET = "SecretKeyToGenJWTs";
Token  Jwts.builder()

[2018-07-24 16:38] lhazlewood commented on #362
You can't just modify Base64 and think it invalidates the encoding.  That's not how Base64 works.

Please see #211 #269 #324.

[2018-07-24 16:38] #362 closed

[2018-07-24 16:50] lhazlewood commented on #362
Just a note - I can't tell if your `SECRET` constant is just an example, but it is definitely insecure.  [`HS512` requires keys that are at least 64 bytes in length](https://stackoverflow.com/a/40274325/407170), and preferably secure-random at that.

[2018-07-24 19:11] TomasCruz commented on #362
Ok,  #211 had a good explanation on Base64. I've had naively expected a one-to-one correspondence of text and it's encoding :)

Thanks for the tip on secret key security.

[2018-07-25 17:00] #350 closed

[2018-07-25 17:04] lhazlewood opened #364 "JDK 9+ module testing"
Certain tests in the api module use reflection and this fails on JDK 9+ due to the new Java Module system.  Creating a core module that depends on api and impl might fix this.  If so, we should do this before the 0.10 release since we don't want to introduce more than 1 release with module/dependency requirement changes.

[2018-07-25 19:06] workmanw commented on #336
@lhazlewood Just out of curiosity is this something you would expect a PR for? Or would you rather just keep the audience simple without an array?

[2018-07-26 19:55] lhazlewood opened #365 "Remove the ability to verify asymmetric signatures with PrivateKeys"
JJWT's early days allowed this for server-side convenience - in case a server wanted to verify a JWS with the private key it had access to.  This however encourages poor security practices, potentially exposing the private key unnecessarily.

The JWT specification does require public keys to be used for signature validation (only references public key verification).  Also, the JDK's `Signature.ini

[2018-07-27 17:06] lhazlewood opened #366 "JwtBuilder#signWith(Key)"
There is no need to specify a SecurityAlgorithm in the large majority of cases - the algorithm can be automatically chosen by inspecting the specified key and choosing an ideal algorithm based on the key length.

[2018-07-27 18:59] jieliu218 commented on #91
@hisankaran thanks， i change another two libs。 working well

[2018-07-28 04:13] #366 closed

[2018-07-30 16:03] lhazlewood opened #369 "JSON POJO unmarshalling"
Per the discussion in #214:

Improve the exception message:

String msg = "Cannot convert existing claim value of type " + value.getClass() + " to desired type " + requiredType + ". JJWT only converts simple Date, Long, Integer, Short and Byte types automatically. Anything more complex is expected to be already converted to your desired type by the JSON Deserializer implementation. You may specify

[2018-07-30 19:53] #364 closed

[2018-08-01 20:43] lhazlewood commented on #369
Didn't have time to get this in 0.10.0.  We should be able to get this in the next release.

[2018-08-01 20:44] lhazlewood commented on #354
Leaving for 1.0 to utilize JDK 8 interfaces.

[2018-08-01 21:51] #355 closed

[2018-08-01 23:08] lhazlewood commented on #309
For those following this thread, Jackson is now optional and you can choose your own implementation in 0.10.0.  There is a JSON-Java (`org.json`) implementation as well which can work natively on Android without any additional dependencies.  Please see the Readme docs for more information.

[2018-08-01 23:11] lhazlewood commented on #333
This has been released in 0.10.0.

[2018-08-01 23:11] lhazlewood commented on #304
This has been released in 0.10.0.

[2018-08-01 23:11] lhazlewood commented on #285
This has been released in 0.10.0.

[2018-08-01 23:12] lhazlewood commented on #291
This has been fixed and released in 0.10.0.

[2018-08-01 23:12] lhazlewood commented on #312
This has been fixed and released in 0.10.0.

[2018-08-01 23:13] lhazlewood commented on #204
This has been fixed and released in 0.10.0.

[2018-08-01 23:13] lhazlewood commented on #353
This has been fixed and released in 0.10.0.  JJWT 0.10.0 now uses BC 1.60 final

[2018-08-01 23:14] lhazlewood commented on #192
Released in 0.10.0.

[2018-08-01 23:14] lhazlewood commented on #297
This has been fixed and released in 0.10.0.

[2018-08-02 13:33] ufoscout opened #372 "Mark BouncyCastle as an optional dependency"
After an upgrade from 0.9.1 to 0.10.0 we noticed a huge increase in our final fat jar. This is due to the fact that in 0.10.0 the org.bouncycastle:bcprov-jdk15on is imported by default and not managed as optional any more.
We manually excluded it from our pom.xml file this way:
[code]

now everything works as expected and the bouncycastle dependency is not included in the fat jar anymore.
Is there

[2018-08-02 15:16] lhazlewood commented on #372
This is a total oversight and should be marked as optional for sure.  Adding an exclusion as you've done is the workaround until we can release 0.10.1.  Thanks for reporting this!

[2018-08-02 15:53] ufoscout commented on #372
Great, thank you!

Please note that you declared it to be fixed in 0.10.1 but you added it to the 0.11.0 milestone.

[2018-08-02 15:58] lhazlewood commented on #372
I know, I removed the milestone immediately thereafter.  I guess you didn't see that before sending the message ;)

[2018-08-02 21:27] #372 closed

[2018-08-02 21:37] lhazlewood commented on #372
0.10.1 has been released - please allow 15-30 minutes to allow the release to show up in Maven Central.  Thanks for reporting the issue!

[2018-08-06 13:25] ItsFunny commented on #112
can i encrypt by publickey and parse by private key ?

[2018-08-06 13:57] lhazlewood commented on #112
@ItsFunny no, you cannot encrypt or create signatures with the public key.  Doing so would completely violate the security model of such keys: since anyone can get access to a public key, then anyone would be able to 'impersonate' you by simply using your public key if this were possible.

[2018-08-06 13:57] lhazlewood commented on #112
Closing this as per the 0.10.0 release, signatures with both Secret and Public/Private keypairs are documented in the Readme.

[2018-08-06 13:57] #112 closed

[2018-08-06 17:04] lhazlewood opened #374 "Support nested JWTs"
We want this for full JWT specification compliance (even though the JWT spec indicates this is optional).  See:

https://tools.ietf.org/html/rfc7519#section-5.2
https://tools.ietf.org/html/rfc7519#section-7

Scheduling for 1.0 since that's our target 100% compliance target.

[2018-08-06 17:11] lhazlewood commented on #349
Documentation in the latest 0.10.0 release includes multiple **bold** notices on the correct method to use as well as changes the example from `SignatureException` to `JwtException` and also explains the possibility for signature and non-signature-related exceptions.  Thanks for the issue!

[2018-08-06 17:11] #349 closed

[2018-08-06 17:18] lhazlewood commented on #189
The JJWT team feels strongly about using unchecked exceptions.  Even if the signature was changed to `throws Exception`, that exception would be wrapped and re-thrown as a `JwtException` (or some such subclass) because `parse` methods throw `JwtException`, not a checked exception.

Based on this, the correct solution is to throw a runtime exception and catch it, or catch JJWT's runtime exception,

[2018-08-06 17:18] #189 closed

[2018-08-07 08:56] seunghx opened #375 "Can i get Claims from expired jwt token?"
hi i'm student using jjwt to my project.

i need some information(claim) from expired jwt.

but JwtParset#parseClaimsJws() throws ExpiredJwtException immediately,
so i could not get some information. for example, user id ...

if expired access token detected, i want to check refresh token(or similar data) in DB but
since i could not get user id from expired jwt token(access token) due to ExpiredJw

[2018-08-07 09:03] #375 closed

[2018-08-07 09:03] seunghx opened #376 "Can i get claims from expired jwt??"
hi i'm student using jjwt to my project.

i need some information(claim) from expired jwt.

but JwtParset#parseClaimsJws() throws ExpiredJwtException immediately,
so i could not get some information. for example, user id ...

if expired access token detected, i want to check refresh token(or similar data) in DB but
since i could not get user id from expired jwt token(access token) due to ExpiredJw

[2018-08-07 10:09] #376 closed

[2018-08-07 10:11] seunghx opened #377 "Way to get claims from expired jwt"
hi i'm student using jjwt to my project.

i need some information(claim) from expired jwt.

but JwtParset#parseClaimsJws() throws ExpiredJwtException immediately,
so i could not get some information. for example, user id ...

if expired access token detected, i want to check refresh token(or similar data) in DB but
since i could not get user id from expired jwt token(access token) due to ExpiredJw

[2018-08-07 12:30] seunghx opened #378 "Way to get Claims from expired JWT"
hi i'm student using jjwt to my project.

i need some information(claim) from expired jwt.

but JwtParset#parseClaimsJws() throws ExpiredJwtException immediately,
so i could not get some information. for example, user id ...

if expired access token detected, i want to check refresh token(or similar data) in DB but
since i could not get user id from expired jwt token(access token) due to ExpiredJw

[2018-08-07 15:00] lhazlewood commented on #378
Duplicate of #148.  We'll try to address this as soon as we're able.  JWE is currently a higher priority.

The best way to do this is to set your own `Clock` instance on the parser.  Return a date that is in the future and the parsing will not fail.

[2018-08-07 15:00] #378 closed

[2018-08-07 16:04] seunghx opened #379 "Way to get claims from expired JWT"
hi i'm student using jjwt to my project.

i need some information(claim) from expired jwt.

but parsing method like JwtParset#parseClaimsJws() throws ExpiredJwtException immediately,
so i could not get some information. for example, user id ...

if expired access token detected, i want to check refresh token(or similar data) in DB but
since i could not get user id from expired jwt token(access tok

[2018-08-07 16:04] #379 closed

[2018-08-07 16:20] jurajjurci opened #380 "java.lang.NoSuchMethodError: No virtual method toList()"
Hi,
my usage of the newest version of your library throws exception

`java.lang.NoSuchMethodError: No virtual method toList()Ljava/util/List; in class Lorg/json/JSONArray; or its super classes (declaration of 'org.json.JSONArray' appears in /system/framework/core-libart.jar)
        at io.jsonwebtoken.io.OrgJsonDeserializer.toList(OrgJsonDeserializer.java:71)
        at io.jsonwebtoken.io.OrgJsonD

[2018-08-07 17:00] seunghx commented on #378
Thanks a lot !

2018-08-08 0:00 GMT+09:00 Les Hazlewood <notifications@github.com>:

[2018-08-07 17:57] #380 closed

[2018-08-08 09:49] jurajjurci commented on #380
Thank you, it works now.

[2018-08-13 21:33] rodmaz opened #381 "SecretKey algorithm did not equal one of the three required JCA"
Hi there,

We have struggled for over 2 hours to get this library to work (for a such a simple task (JWT) as to generate a simple JWT). Not a good start!

We end up figuring out the final problem to be this exception:

`SecretKey algorithm did not equal one of the three required JCA algorithm names of HmacSHA256, HmacSHA384, or HmacSHA512.`

The collection `PREFERRED_HMAC_ALGS` has `jcaName`s inte

[2018-08-13 22:05] lhazlewood commented on #381
`0.9.0` does not have the logic you describe.

I understand why you'd be frustrated after two hours, but we're here to help, please try not to be too confrontational.  The entire codebase has 100% code coverage, so we try extremely hard to ensure that everything works perfectly, but code coverage assertions even has its faults.

The internal JCA provider should have identical names on both creatio

[2018-08-13 22:15] tmm1 opened #382 "Problems using with Android app"
The readme says to add this to gradle:

[code]

However this produces errors as `runtime` is not a valid function in the latest version of gradle.

If I change to `api` or `implementation`, I get proguard failures:

[code]

[2018-08-13 22:27] lhazlewood commented on #382
Thanks for reporting this.  What version of Android Studio and/or Gradle are you using?

Those two org.json classes aren't needed on Android - what would be the ProGuard exclusions for them? I'd like to add this to documentation.

I don't know a whole lot about Android dependency scopes, but does `implementation` work for you?

[2018-08-13 22:32] lhazlewood commented on #381
Even with the test the JCA name is less important than the key length, so I'll use this ticket to change the assertion from a name to a key length.  We'll get a quick 0.10.3 release out asap to address this.

Even so, what version of the JDK are you using?

[2018-08-13 22:35] tmm1 commented on #382
Using Android Studio 3.1.4

If I remove the `exclude` then I get this other error:

[code]

The `compile` in the gradle example should definitely be changed to `implementation`. But I'm not sure what `runtime` should be changed to, and so far I'm unable to make it work with my app..

[2018-08-13 22:40] tmm1 commented on #382
Okay I changed `runtime` to `api` and then added this to my .pro file:

[code]

Everything appears to work now.

[2018-08-13 22:54] rodmaz commented on #381
Hi Les,

Thanks for your prompt feedback. Our engineer in directly charge of this actually already left for today. We found this issue by actually stepping into the class SignatureAlgorithm and the string comparison fails, as we described.
We are actually running this on Android and the project is written in Kotlin. Perhaps we have an issue here. I will let you know more details tomorrow.

Honestl

[2018-08-13 23:00] rodmaz commented on #381
Anyway, I agree that directly string comparison (case-sensitive) is not the best solution. On Android we may have it in camelcase, as it seems to be the case. Are we the first ones to use it on Android?  🤔

[2018-08-13 23:01] lhazlewood commented on #381
Hi @rodmaz

Thanks for letting me know.

It's not a stupid issue in JJWT however - the release where you're seeing the issue is only a week or so old.  I have had feedback from Android devs that are using JJWT 10.x in prod - they probably just haven't come across this particular edge case based on how they use JJWT.

What *is* stupid IMO is that the Android JVM has an internal discrepancy on how i

[2018-08-13 23:03] lhazlewood commented on #381
P.S. I'm cutting a 0.10.3 release tonight so you shouldn't see this issue (since the assertion will be on key lengths only).  Your engineer should be able to try tomorrow with the new 0.10.3 release and have it work out.  If not, don't worry - I'm happy to help and we'll get you guys up and running asap. :)

[2018-08-13 23:05] rodmaz commented on #381
@lhazlewood Thanks Les! We were about to fork it and do a pull-request tomorrow. We will analyse and let you know.

[2018-08-13 23:06] rodmaz commented on #381
We also saw some (in fact many) situations in which the JJWT actually freezes on Android when we called the `compact()` method. This may be yet another issue w/ Android.

[2018-08-13 23:18] lhazlewood commented on #381
@rodmaz any information on those freezes would be greatly appreciated.  There are a ton of people using JJWT in Android, so if we can fill in any remaining gaps, all the better.

[2018-08-13 23:29] lhazlewood commented on #382
I just read this:

https://medium.com/mindorks/implementation-vs-api-in-gradle-3-0-494c817a6fa

You definitely don't want to use  `api` for runtime-only dependencies.

Will this work?

[code]

with

`-dontwarn org.json.*`

?

[2018-08-13 23:34] lhazlewood commented on #382
Ah, I just found `runtimeOnly` in the Android documentation.  So it should probably be:

[code]

[2018-08-14 00:08] lhazlewood commented on #382
Thanks for your help with this today!  I'll get the release out asap.

[2018-08-14 00:09] tmm1 commented on #382
Thanks. I don't think there's anything different between 0.10.2 and 0.10.3 as far as this issue is concerned. But it would be helpful if the README.md on master was updated as well, since that's where I copy/pasted the original incorrect configuration from.

[2018-08-14 00:30] lhazlewood commented on #382
Yep, I'll merge to master right after the 0.10.3 release.  Branch patches/fixes always have to go into master too.  Thanks again!

[2018-08-14 00:35] lhazlewood commented on #382
Released with 0.10.3 - please allow 30 min or so to propagate to Maven Central.

[2018-08-14 00:35] #382 closed

[2018-08-14 00:36] lhazlewood commented on #381
Released with 0.10.3 - please allow 30 min or so to propagate to Maven Central.

[2018-08-14 02:40] ITWall opened #385 "The signing key's algorithm 'HMACSHA256' does not equal a valid HmacSHA* algorithm name and cannot be used with HS256."
This error occured when I run the sample in readme. After check the SignatureAlgorithm.java file, I found out that the HS256.jcaName = HmacSHA256 but the secretKey.getAlgorithm() = HMACSHA256 so it will return false when you use equals to compare them and throw the error. You can check it at line 352 of SignatureAlgorithm.java file. Please fix it soon! Thank you.

[2018-08-14 02:58] lhazlewood commented on #385
Duplicate of #381.  This has been fixed and released in 0.10.3

[2018-08-14 02:58] #385 closed

[2018-08-14 06:53] ITWall commented on #385
I still got the error when I use 0.10.3 version on android

[2018-08-14 07:43] wengertj opened #386 "Typos/incorrect examples in JwtBuilder JavaDoc"
This is nothing critical - I think i just stumbled across two minor issues in the `JwtBuilder` JavaDoc:

[1 - setAudience(String aud)](https://github.com/jwtk/jjwt/blob/master/api/src/main/java/io/jsonwebtoken/JwtBuilder.java#L191)
[code]

[2 - setId(String jti)](https://github.com/jwtk/jjwt/blob/master/api/src/main/java/io/jsonwebtoken/JwtBuilder.java#L304)
[code]

I'd be happy to open a PR if yo

[2018-08-14 08:05] ITWall opened #387 "The signing key's algorithm 'HMACSHA256' does not equal a valid HmacSHA* algorithm name and cannot be used with HS256"
I did exactly the sample in readme file for android but I still got this error when I use 0.10.3 version. Please check it, thanks!

[2018-08-14 13:36] rodmaz commented on #387
This is a potential duplicate issue. See issue [#381](https://github.com/jwtk/jjwt/issues/381)

[2018-08-14 13:39] rodmaz commented on #381
@lhazlewood This is what we see on Android 5.1 (old) and Android 8 (Samsung). Even when using Android emulator on macOS the problem exists with camelcase.
![screen shot 2018-08-14 at 10 21 11](https://user-images.githubusercontent.com/55300/44095080-43569778-9fae-11e8-945c-6e801937c10f.png)

[2018-08-14 13:57] rodmaz commented on #381
@lhazlewood We just tested version 0.10.3 and it turns out the problem persists. The class `SignatureAlgorithm` checks against the `jcaName` in other places. Now the problem occurs in another line in the same class.
See this screenshot.
![screen shot 2018-08-14 at 10 51 45](https://user-images.githubusercontent.com/55300/44096062-b67fa472-9fb0-11e8-8cb4-d71fd6db3f45.png)

[2018-08-14 14:59] lhazlewood commented on #381
Thanks for the follow up - I really appreciate it.

In my haste to get you up and running, I only fixed what was reported.  I'll do a full usage search of `jcaName` and ensure comparisons are case-insensitive.  The check still should be there to prevent using invalid keys for a different algorithm for which it was intended, but clearly Android likes to change standard, documented JCA name casing a

[2018-08-14 15:00] lhazlewood commented on #385
Yep, I've re-opened 381 - we'll get a fix out in 0.10.4 today.  Thanks for reporting this!

[2018-08-14 15:06] lhazlewood commented on #381
P.S.  Does anyone know how to test this in CI?  We put in a great deal of work to put in 100% code coverage on every build specifically to catch these types of 'gotchas', but that's not guaranteed unless Android is part of the CI runs.

As an example, I found this Android project on GH, and looked at its travis config:

![image](https://user-images.githubusercontent.com/121180/44099927-c09b15ee-9f

[2018-08-14 15:07] lhazlewood commented on #387
Thanks for reporting this!  I'd rather see duplicates instead of people not reporting.  I'll close this issue in favor of tracking the work with #381.

[2018-08-14 15:07] #387 closed

[2018-08-14 15:08] lhazlewood commented on #386
Doc PRs are always welcome! Thanks for finding this :)  And thanks for the kind words!

[2018-08-14 15:10] rodmaz commented on #381
@lhazlewood Thanks!

P.S. We do not use TravisCI but you can also check out [this post](https://medium.com/@harmittaa/travis-ci-android-example-357f6e632fc4).

[2018-08-14 15:13] lhazlewood commented on #381
@rodmaz I read the article but the examples there also show using `oraclejdk8`.  So my question still stands. ;)

[2018-08-14 15:26] lhazlewood commented on #381
Wow - from that document, nestled in one little innocuous line:

Well, this is a good confirmation of the `.equalsIgnoreCase` change~

[2018-08-14 16:38] lhazlewood commented on #381
Released in 0.10.4.  Please allow 30 minutes to propagate to Maven Central.

[2018-08-15 01:32] ITWall opened #388 "java.lang.NoClassDefFoundError: org.json.JSONString"
When I use 0.10.4 version, I got this error when I do the sample in readme. I don't know why but after add this library http://mvnrepository.com/artifact/org.json/json, I solved it. Not so sure if this is a bug or not.

[2018-08-15 14:25] lhazlewood commented on #388
Sigh.  Android is killing me! 😭

org.json.JSONString and org.json.JSONWriter are used by the implementation but never used by Android at runtime.  When the class is loaded, that's when it barfs.  I'll have to change the implementation again, potentially duplicating logic from later org.json releases that Android doesn't have.

Thanks for reporting this.  You're correct - the workaround in the mean

[2018-08-15 21:37] rodmaz commented on #388
Same problem here on Android. Has this fixed on `0.10.5`?
When we include version `0.10.5` we get `Gradle sync failed` on Gradle/Android Studio.

[2018-08-15 21:38] rodmaz commented on #388
This was causing the reported `freeze` when we called the `compact()` method on Android.

[2018-08-15 21:42] lhazlewood commented on #388
0.10.5 is being released as we speak.  Maven Central staging is *super* slow due to degraded network performance, so please allow it 30 minutes or so before trying.

[2018-08-15 21:49] rodmaz commented on #388
Thanks. We tried it like 1h ago as the tag was already there. We will resume tomorrow. Thanks again @lhazlewood!

[2018-08-15 21:49] #388 closed

[2018-08-15 23:36] khoubyari opened #389 "Does jjwt support applying multiple signatures"
Per bottom of section https://tools.ietf.org/html/rfc7515#section-7.1  it is possible to sign a JWT with multiple signatures and the application can choose which signature to verify. Can JJWT do this? If so, can you share a code snippet as example?

Thank you.

[2018-08-16 09:11] ycoupe opened #391 "Program type already present"
Hi! I get an error when I run the project on 0.10.5 (the gradle compilation works fine):

`Program type already present: io.jsonwebtoken.ClaimJwtException`

`AGPBI: {"kind":"error","text":"Program type already present: io.jsonwebtoken.ClaimJwtException","sources":[{}],"tool":"D8"}
:app:transformDexArchiveWithExternalLibsDexMergerForDebug FAILED
:app:buildInfoGeneratorDebug
FAILURE: Build failed wi

[2018-08-16 09:13] #391 closed

[2018-08-16 09:14] ycoupe commented on #391
Cache problem 👍

[2018-08-16 15:30] #386 closed

[2018-08-16 15:38] lhazlewood commented on #389
I think your reference is mistaken.  Section 7.1 discusses compact JWSs and those only support one signature, one recipient.

[Section 7.2](https://tools.ietf.org/html/rfc7515#section-7.2) discusses JWS JSON Serialization (non-compact, just a standard JSON document) which _does_ support multiple signatures (e.g. 1 per recipient).  JWS JSON Serialization will be completed via #199, but we can't say

[2018-08-16 15:38] #389 closed

[2018-08-16 17:44] zumoris opened #392 "Possible memory leak when using CompressionCodecs.DEFLATE"
### Prehistory
We are using **jjwt 0.9.0** inside a Spring Boot application in a production environment, which is running in a Docker container. Here is some information about our environment:

- openjdk version "1.8.0_171"
- OpenJDK Runtime Environment (IcedTea 3.8.0) (Alpine 8.171.11-r0)
- OpenJDK 64-Bit Server VM (build 25.171-b11, mixed mode)

Every second we create approximately 10-30 JWTs. O

[2018-08-16 19:33] lhazlewood commented on #392
Thank you for this - fantastic analysis!  This should be an easy fix.

FWIW, the `DeflateCompressionCodec` class's `doDecompress` implementation does not appear to have the same problem - the default constructor is used.  Here's the code:

https://github.com/jwtk/jjwt/blob/master/impl/src/main/java/io/jsonwebtoken/impl/compression/DeflateCompressionCodec.java#L64-L72

Line 71 will close the stream

[2018-08-16 20:35] excopirum commented on #392
I am happy to help. :)

And yes, I agree: `doDecompress` do use `InflaterOutputStream` with a default `Inflater`, so it should work fine.

[2018-08-17 07:17] wengertj commented on #83
Are you still planning to change the method signature in `1.0.0` @lhazlewood ?
It would be great to ditch that `@SuppressWarnings( "rawtypes" )` annotation in my code 🙂

[2018-08-17 14:27] lhazlewood commented on #83
Yes, this is still planned for 1.0.0, but we need to finish JWE and JSON (non-compact) serialization first.

[2018-08-23 02:31] eonezhang commented on #168
no update yet?

[2018-08-23 15:36] lhazlewood commented on #168
Because Object unmarshalling can be very complex (type discovery, optional vs required properties, etc), this is not something that we want support directly in the JwtParser API itself - JWT parsing and RFC compliance and POJO unmarshalling are totally separate concerns and should ideally not be tightly coupled.   This opinion is reinforced by the fact that some JSON libraries (like org.json in An

[2018-08-27 02:27] IldarFattakhov commented on #183
I think this is ок:
`              try
	        {
	            Jws<Claims> jwsR = Jwts.parser().setSigningKey( key ).parseClaimsJws( jws );
	            System.out.println( "value = " + jwsR.getBody().get( "value" ) );
	        }
	        catch ( ExpiredJwtException ex ) {
	            System.out.println( "value = " + ex.getClaims().get( "value" ) );
	        }`

[2018-09-07 09:05] ghost opened #395 "JwtParser.parseClaimsJws() should not bother about unsupported or malformed JWT"
Hello!

**Problem:**

I think that the current method parseClaimsJws(String claimsJws) is unoptimal because it can result in 3 different scenarios:

- JWT is OK and signature is OK
- JWT is OK and signature is NOT OK or the content is EXPIRED
- JWT is NOT OK

This is caused by the `parseClaimsJws` method to accept a String and the subsequent check of its content by means of a `JwtHandlerAdapter`.

[2018-09-07 09:37] V1HVN opened #396 "[JWT][JJWT] Function compact() very slow"
I use lib JJWT 0.9.0 to generate Token. I have write log code segment generate Token, and I see function compact() run verry slow (664 -151 = 513(ms)) . I used JDK 7. how to the function compact() run faster or How to generate tokens faster? My code:

[code]

My console log:
[code]

Thanks!

[2018-09-18 14:28] lestephane opened #397 "RuntimeClasspathDeserializerLocator fails when jackson is in the classpath, but jjwt-jackson isn't"
jackson is being pulled transitively by some other dependency in my project, but i did *not* add the jjwt-jackson dependency. The way the RuntimeClasspathDeserializerLocator works, just because it sees the jackson ObjectMapper, then the JacksonDeserializer must be there, which is not true.
[code]
I'm getting this error:
[code]

[2018-09-18 18:15] lhazlewood commented on #397
Thanks for reporting this.

I think the proper solution for this is to check for `io.jsonwebtoken` implementation classes instead.

The current conditional logic was leftover from old versions of this code that did something like "if Jackson is in the classpath, automatically use the Jackson implementation" _before_ the JSON implementations were extracted to separate artifacts.  Now that they're i

[2018-09-22 10:42] Visanth opened #398 "Spring boot custom object mapper not working after integrated with JJWT"
Does jjwt bypass Spring Boot's autoconfigured  Jackson Object mapper?

Please find more info here in stackoverflow.
[https://stackoverflow.com/questions/52444987/jackson-object-mapper-not-working-when-extended-configuration-provided-but-worki](url)

[2018-09-25 15:31] les-okta commented on #398
JJWT has no knowledge of Spring Boot directly.  If you want JJWT to use the Spring Boot ObjectMapper, you should configure JJWT (e.g. via Spring Config) to use it as documented here:

https://github.com/jwtk/jjwt#json-jackson

[2018-09-26 16:20] gutmox opened #399 "JDK 10+ support"
I'm using java 9 modules in my project and when I try to use it, I get this compilation error:

[code]

My gradle file looks like this:

[code]

I couldn't make it work or find any workaround to this issue.

[2018-09-28 10:27] dcmoeller opened #401 "Support running with JRE 11: Fix/remove usage of javax.xml.bind package"
Hello,

one of my projects use jjwt lib, version 0.9.1 at the moment (newest one in [Maven Repo](https://mvnrepository.com/artifact/io.jsonwebtoken/jjwt)).
Running on JRE 11 breaks with e.g.
[code]
javax.xml.bind package has been deprecated since Java 9 marked to get removed with a later version:

[https://docs.oracle.com/javase/9/docs/api/java.xml.bind-summary.html](https://docs.oracle.com/javase

[2018-09-28 18:17] lhazlewood commented on #401
Hi there,

`javax.xml.bind` is no longer in use.  Please upgrade to the latest stable JJWT version.

See https://github.com/jwtk/jjwt#base64

[2018-09-28 18:17] #401 closed

[2018-09-28 18:18] lhazlewood commented on #398
Closing due to inactivity.  Please re-open if you feel the above answer is insufficient and you believe there is actionable work to do within the JJWT codebase.  Otherwise, please use stackoverflow.com with the #jjwt tag for general usability questions.  Thanks!

[2018-09-28 18:18] #398 closed

[2018-10-02 06:00] ashcoll opened #402 "why use older java.util.Date?"
## jjwt-version: 0.10.5

[code]

why not update to use `java.time.*` api?

[2018-10-11 15:03] javatechbytes opened #403 "Unsupported Class Version Error(io/jsonwebtoken/Jwts) while using in jboss eap 6 with ibm jdk1.6"
Hi,

We are using below jwtk version in our project deployed in jboss eap 6.0 and ibm jdk 1.6 version.
 <dependency>
          <groupId>io.jsonwebtoken</groupId>
          <artifactId>jjwt-api</artifactId>
          <version>0.10.5</version>
      </dependency>
While running the application we are getting below exception. Could you please help me to resolve this ? Any work around without upgrading

[2018-10-12 09:21] javapapo opened #404 "Jackson Se/De-serliazation question / bug?"
Hello  I am using the following deps

[code]

In the code , I pass my already configured ObjectMapper (resides within SpringBoot init app)

[code]
But when I try to retrieve my `Customer` obj I get a class cast exception

[code]
But I get

[code]

So in the debugger the object in the custom claim is actually a LInkedHashMap.

Do I miss something from the docs?

Maybe its my bad

[2018-10-12 09:22] javapapo commented on #402
+1

[2018-10-12 15:31] lhazlewood commented on #402
Duplicate of #308 Please see that issue for why we don't use `java.time` yet.  We will however!

[2018-10-12 15:31] #402 closed

[2018-10-12 15:40] lhazlewood commented on #404
Hi!

This isn't a bug per se - it's more that the feature does not exist just yet.  I think your issue will be addressed by #369 (you might want to read the referenced #214 discussion thread - it shares a lot of insight into what's going on).

As a result, I'm closing this as a duplicate just for housekeeping purposes, but if you feel otherwise, please do make a comment and I'll be happy to open i

[2018-10-12 15:40] #404 closed

[2018-10-12 15:51] lhazlewood commented on #403
JJWT 0.x supports JDK 1.7 and later.  1.6 is not supported and there are no plans to support it.

JJWT 1.0 final will only support 1.8 and later.

Cheers!

[2018-10-12 15:51] #403 closed

[2018-10-12 15:54] lhazlewood commented on #396
Please use the latest stable release (0.10.5 at the time of this comment) and run your test again.

Also, do you have a standalone code snippet that I can run to re-create your test locally?  Without this, there is no way to perform objective performance comparisons.

[2018-10-12 16:28] javapapo commented on #404
Thanks thats fine I will follow #369 & #214 . Thanks for the prompt response

[2018-10-12 16:29] javapapo commented on #369
+1 on this . thanks

[2018-10-13 06:18] Tanijia opened #405 "JwtBuilder.signWith HS256 key no more than 4 character"
I try signing my data with **key "rumoss"**:
`JwtBuilder builder = Jwts.builder().setId("666").setSubject("Tanijia")
                .setIssuedAt(new Date())
                .signWith(SignatureAlgorithm.HS256,"rumoss");`
Console:
`eyJhbGciOiJIUzI1NiJ9.eyJqdGkiOiI2NjYiLCJzdWIiOiJUYW5pamlhIiwiaWF0IjoxNTM5NDExMDM1fQ.XNHLD4N4Bfb_Zj7bNnApytFwBRZIIxk4R0YZI9I4LAg`
And then I try decoding with another key

[2018-10-16 17:59] lhazlewood commented on #399
Wasn't JDK 9 abandoned/deprecated?  They dropped support for it immediately after 9.0.4.  It's not a version JJWT has ever supported and because not even Oracle does anymore, JJWT probably won't either.   JDK 10 and 11 are more appropriate candidates, no?

[2018-10-17 07:56] V1HVN commented on #396
I'll try and answer you soon.
Thank!

[2018-10-17 07:56] V1HVN commented on #396
I'll try and answer you soon.
Thank!

[2018-10-17 16:02] lhazlewood commented on #399
Got it - thanks.  Yeah, we don't build/test on >= JDK 10 just yet, but I'll use this issue to track that work.

[2018-10-22 13:31] V1HVN commented on #396
I'll try it(jjwt-api-0.10.5.jar), but it's failed.
This is error detail:

io.jsonwebtoken.lang.UnknownClassException: Unable to load class named [io.jsonwebtoken.impl.DefaultJwtBuilder] from the thread context, current, or system/application ClassLoaders.  All heuristics have been exhausted.  Class could not be found.
	at io.jsonwebtoken.lang.Classes.forName(Classes.java:92)
	at io.jsonwebtoken.la

[2018-10-26 18:54] edeandrea commented on #115
+1 for this as well. We've switched to a different parsing library that supports it.

[2018-10-30 19:44] mindhaq commented on #174
It is not possible to use headers created with Jwts.header() in the builder without any compilation warnings or errors.

[2018-10-31 09:40] dfavaro commented on #396
same here

[2018-10-31 16:09] lhazlewood commented on #396
What does your maven or gradle configuration look like?  Did you follow the [Installation instructions](https://github.com/jwtk/jjwt#install) ?

Please do not change the focus of this ticket which is specifically about `compact()` performance.  If you have general purpose questions about JJWT and you don't know if it is actually a bug, please ask them on StackOverflow.com and use the `jjwt` tag.

[2018-11-07 12:42] behrangsa opened #407 "Create Gittr chat room for JJWT"
Please create a [Gittr](https://gitter.im) chat room for JJWT.

[2018-11-07 12:51] behrangsa opened #408 "JWT `x5u` verification"
When receiving a signed JWT token with a header such as:

[code]

Where is the appropriate place for verifying the identity of `https://certificates.example.com/123456789.cer`, before resolving it and letting JJWT use it to verify the signature of the token? Should this also be done in the `SigningKeyResolver`? And if the verification fails, does it matter what exception is thrown or is it require

[2018-11-07 12:58] behrangsa opened #409 "Provide an implementation of SigningKeyResolver that resolves and caches certificates from the JWT header"
Provide a default implementation of `SigningKeyResolver` that:

* Inspects the JWT header (e.g. `x5t` and `x5u` headers)
* Fetches the key from an internal cache (probably a `KeyCache` interface that can have multiple implementations, e.g. `InMemoryKeyCache`, `JdbcKeyCache`, etc.) if the key is already cached
  * If the key is not already in the cache, it fetches the key from `x5u` and caches it
*

[2018-11-08 09:41] pierre-laurens commented on #396
Hello. I have the same problem. I'm using the latest jjwt (0.9.0 version).  what I can say is that the problem occurs the first time the compact method is called in the JVM.
Sample code
`	private static void testForGit(){
		int cpt = 0;
		while (cpt < 10){
			long nowMillis = System.currentTimeMillis();
			Date now = new Date(nowMillis);
			JwtBuilder builder = Jwts.builder()
	                .set

[2018-11-09 10:12] patton73 commented on #309
Is there also an implementation that relies on gson library. I mean Google com.google.json library?
Thanks.

[2018-11-09 10:26] patton73 opened #410 "org.google.com gson extension"
Is there also an implementation that relies on gson library. I mean Google com.google.gson library?
Thanks.

[2018-11-11 12:14] prateeknischal commented on #365
@lhazlewood does this issue require to remove the implementation from [RsaSignatureValidator](https://github.com/jwtk/jjwt/blob/master/impl/src/main/java/io/jsonwebtoken/impl/crypto/RsaSignatureValidator.java) that allows computing the signature using the `this.SIGNER` when the key type in not of the type `PublicKey` ?

There are 3 scenarios
1. `JwtParser setSigningKey(byte[] key)` - this can rema

[2018-11-13 11:27] sscarduzio opened #411 "Keys.keyPairFor(SignatureAlgorithm.<whatever>) throws Method threw 'java.lang.NoSuchMethodError' exception."
I'm trying to generate a key pair on the fly in my tests:
[code]

And I get this exception:
[code]
I'm using the latest version:

[code]
Not sure what I'm doing wrong, as this should work as per documentation, right?

[2018-11-20 23:36] dsmclaughlin opened #412 "Adding jjwt as a dependency causes NoClassDefFoundError"
Hi,

I've been googling around for a while, and looked at related issues here, but can't find a solution to my problem. I hope someone here can help :)

I have an application that runs an embedded jetty server, I'm trying to add JWT support to this application. The new code I have written to support JWT compiles fine but when I make any request to the server I get an Exception with the following s

[2018-11-22 06:39] aa3313322122 opened #413 "do you support refresh a new token before expire time?"
if expire time - now > some seconds
  return a new token and expire time is refresh.
do jjwt support?

[2018-11-22 11:57] patton73 commented on #410
I have provided a pull request for that.
https://github.com/jwtk/jjwt/pull/414

[2018-11-23 21:59] UkrainianCitizen commented on #308
I can help with the migration to the java.time.* or to Java 8 at all. @lhazlewood do you need such a help?

[2018-11-25 03:29] cnsyear opened #415 "Why is ciphertext generated using different key encryption the same? 为什么使用不同的key 加密 生成出来的密文一样"
I have two keys: secret and secret2. The generated ciphertext is the same.
我有两个key 分别是 secret 和 secret2,生成后的密文一样.
Here is my test for advice.
下面是我的测试，请指教！

[code]
The output is
输出的结果是

[code]

[2018-11-25 16:49] lhazlewood commented on #415
Closing as a duplicate of #211 #269 #324 #362 #405

`.signWith(SignatureAlgorithm, base64EncodedKey)` requires the second argument to be Base64, not a plaintext password. You appear to be using the API incorrectly.

Additionally `abcde` and `abcdef` are not valid signing keys - you must be using an old version of JJWT.  The latest stable version of JJWT (0.10.5 at the time of this comment) goes th

[2018-11-25 16:49] #415 closed

[2018-11-27 23:10] dsmclaughlin commented on #412
I found a solution to this. I upgraded the following dependencies:

as well as adding a new dependency:

[2018-11-27 23:10] #412 closed

[2018-11-28 21:06] daveneiman commented on #174
The only benefit I see of using Header and then casting in the setHeader() method is the use of type-safe getters and setters as stated in the Header Javadocs.

[code]

[2018-11-29 10:19] mindhaq commented on #174
I would consider using these type-safe methods a very good thing. Otherwise - why is there even a class `JwsHeader`?

[2018-11-30 11:03] PrafullJoshi commented on #413
I also want to ask this same question.

[2018-12-04 15:50] tarinidash opened #416 "Validation successful if signature key is altered"
I am facing a strange issue. If I tweak the signature key with next couple of chars , validation is still successful. Shouldn't the validation fail if the signature is altered?

PS: I have tested with multiple secret keys and multiple tokens and the above behaviour exists.

Token Creation
===========

public class ValidateJWTClaims {
public String createToken(String secretKey) {
        SignatureA

[2018-12-04 19:18] lhazlewood commented on #416
Duplicate of #211 #269 #324 #362.

Please see https://github.com/jwtk/jjwt/issues/211#issuecomment-283076269 for why.

[2018-12-04 19:18] #416 closed

[2018-12-04 19:32] lhazlewood commented on #396
@pierre-laurens 0.9.0 is not the latest version.  0.10.5 is.  HTH!

[2018-12-04 19:34] lhazlewood commented on #396
Also, a slow initial run is nothing unusual.  The additional runs are the JVM performing JIT optimizations.  This is normal/expected for most Java code, not just JJWT.

[2018-12-05 13:50] mcgin commented on #399
The problem here is what is known as a split package problem.

The package `io.jsonwebtoken.io` is defined in both the jjwt-jackson and jjwt-api modules which is not allowed in J9+.  It can be resolved by moving the two classes in jjwt-jackon to a new package.

`io.jsonwebtoken.io.JacksonDeserializer` -> `io.jsonwebtoken.jackson.JacksonDeserializer`
`io.jsonwebtoken.io.JacksonSerializer` -> `io.js

[2018-12-05 13:52] mcgin commented on #399
The same issue applies to the two classes in `jjwt-orgjson`

[2018-12-05 18:59] ralima opened #417 "Question about Base64 encoded secrets"
Hello all,

This is more of a question than an issue I believe but I've been struggling a bit to understand how this is supposed to work.

This is how I am generating my token:

[code]

My generate new token looks like this:

[code]

And this is how I make a call to the API I just built the token to:

[code]

From this request, I get a `401` as a response.

When accessing the jwt.io website, I add

[2018-12-10 14:42] ralima commented on #417
I am closing this issue.

The problem was I had to pass the character encoding to the `getBytes`.

[2018-12-10 14:42] #417 closed

[2018-12-10 20:36] lhazlewood commented on #135
@Jazzbear

'HMAC using SHA-256' is required by [JWT RFC 7518 Section 3.2](https://tools.ietf.org/html/rfc7518#section-3.2).  In that section, it identifies  https://tools.ietf.org/html/rfc2104 as the algorithm implementation for 'HMAC using SHA-256'.  In the JDK, this algorithm is identified by the name `HmacSHA256`.

If ASP .NET's `HmacSha256Signature` algorithm does not produce something that is

[2018-12-10 20:41] lhazlewood commented on #411
@sscarduzio it shouldn't be, but it sounds like something is incorrect with the dependency declarations in your project between test and non-test code.  Could you please verify?  I'd like to close this issue if so.

[2018-12-13 08:38] bakulbanthia opened #418 "Provide a way to renew a token"
Is there a way to extend the expiry date of a token while retaining the same signature?

[2018-12-13 16:27] ryber opened #419 "Multiple versions of ClaimJwtException.class"
Hello. When I pull in the main jsonwebtoken as well as the jackson extension I get a warning at startup:

[code]

It's probably not a problem but might be if one changes independent of the other. Should I only use the Jackson one? Seems like I might be missing something then?

[2018-12-27 07:04] chf-gh opened #420 "You have a spelling mistake."
`
Similarly, if you called signWith with an RSA PrivateKey that was 4096 bits long, JJWT will use the R512 algorithm and automatically set the alg header to RS512.
`
it shuld be `JJWT will use the RS512`. not `R512`

[2018-12-28 20:47] vortecsone opened #423 "Custom Claims inside of another Custom Claims"
Hello, I'm trying to create a JWT with some Custom claims, but there are parameters inside of anothers and I don't find how to do it in the documentation, this is an example of the token that I want to encode:

.......
.......
{
  "context": {
    "user": {
      "avatar": "url to user avatar",
      "name": "user name",
      "email": "username@example.com",
      "id": "abcd:a1b2c3-d4e5f6-0abc1-

[2019-01-02 16:48] kishoretangudu commented on #396
Hi I am following the documentation to create JWT token. I am using jjwt 0.10.5 version. This is the only entry I have in my pom.xml. I am seeing this issue. Please help me.

=================
io.jsonwebtoken.lang.UnknownClassException: Unable to load class named [io.jsonwebtoken.impl.DefaultJwtBuilder] from the thread context, current, or system/application ClassLoaders.  All heuristics have been

[2019-01-02 16:55] kishoretangudu commented on #396
@lhazlewood Please respond the above issue ASAP. Anticipating quick reply. Thank you.

[2019-01-04 13:19] #423 closed

[2019-01-07 06:41] FDU-SE-LAB opened #424 "Your project jwtk/jjwt is using buggy third-party libraries [WARNING]"
Hi, there!
We are a research team working on third-party library analysis. We have found that some widely-used third-party libraries in your project have major/critical bugs, which will degrade the quality of your project. We highly recommend you to update those libraries to new versions.
We have attached the buggy third-party libraries and corresponding jira issue links below for you to have more

[2019-01-07 22:10] lhazlewood commented on #418
No, JWTs are immutable once signed.  You must create a new JWT with an extended expiration date.

Please use StackOverflow with the `#jjwt` tag for usage questions.  GitHub Issues are used for actionable work to change the JJWT codebase.  Thanks!

[2019-01-07 22:10] #418 closed

[2019-01-07 22:11] lhazlewood commented on #420
Nice catch! Would you mind issuing a pull request?

[2019-01-07 22:12] lhazlewood commented on #411
Closing due to inactivity.  Please let me know if this is still an issue and we can discuss re-opening.

[2019-01-07 22:12] #411 closed

[2019-01-07 22:12] lhazlewood commented on #419
You're using different JJWT versions.  The version must be the same for all JJWT artifacts.

[2019-01-07 22:12] #419 closed

[2019-01-07 22:15] ryber commented on #419
I'm confused about how that is possible as there is no 0.10. series of jjwt and no .9 series of jackson? Am I now supposed to be using io.jsonwebtoken::jjwt anymore?

[2019-01-07 22:17] lhazlewood commented on #419
The artifact IDs changed on the 0.10.X release.  Please see the docs for the correct artifact group and name IDs:

https://github.com/jwtk/jjwt#install-jdk

[2019-01-07 22:17] ryber commented on #419
Sorry, just saw this part https://github.com/jwtk/jjwt#jdk-projects

[2019-01-07 22:23] lhazlewood commented on #396
@kishoretangudu please ask usability questions on StackOverflow using the `#jjwt` tag.  GitHub Issues is only used to track actionable work to change the JJWT codebase.

[2019-01-09 14:05] brotherYoung commented on #213
How did you solve it? thanks

[2019-01-10 02:20] brotherYoung commented on #213
I've already put it into practice:

1. please set IssuedAt & Exp at the time of creation
`Jwts.builder().setSubject("Joe").setIssuedAt(new Date()).setExpiration(DateUtil.expirationDate(20000)).signWith(key).compact()`

2. if token expire, Claims throws exception automatic

[2019-01-12 19:31] sscarduzio opened #426 "From EC public key string to JWT validation - invalid key format"
I have an ES256 public key, represented as a String in this format:

[code]

Now a JWT token arrives. It has this header:

[code]

So I go and try to validate it:

[code]

All I get is:

[code]

What am I doing wrong?

[2019-01-13 13:05] aharonha opened #427 "upgrade version of jackson-databind to 2.9.8"
https://github.com/jwtk/jjwt/blob/243ec7802c0c89dc66232a26b5722fade4844da4/pom.xml#L91

see https://www.cvedetails.com/cve/CVE-2018-1000873/

[2019-01-14 08:46] jansohn commented on #426
I think you should post this question on StackOverflow as it seems that JJWT is not even part of the problem you describe.

I haven't tried it yet with an ES256 public key but you should take a look at the following RSA example (https://stackoverflow.com/a/27621696/3375325). You seem to not strip away the begin and end lines and you don't seem to Base64 decode your String (or you didn't show the r

[2019-01-16 04:24] yanlinly opened #429 "Unable to obtain JCA MAC algorithm 'HmacSHA256'"
### My pom

[code]
### My Code
[code]
### Exception
io.jsonwebtoken.security.SignatureException: Unable to obtain JCA MAC algorithm 'HmacSHA256': Algorithm HmacSHA256 not available

### jdk env( have this problem )
[code]
### Jdk env (OK)
[code]

this method need what jdk or config?

[2019-01-21 17:40] hypnoce opened #430 "Maintenance status"
Hi,

I noticed that this the pulse status of the project is relatively low. A bunch of PRs and issues are stacking up.
Is there a reason for such a low activity from the maintainers ?
If so, will it be possible to add more maintainer so this project can live with the community ?

Let me know what you think.

Thanks for your feedback.

[2019-01-22 05:00] yanlinly commented on #429
-Djava.ext.dirs=xx be change.
https://blog.csdn.net/cyony/article/details/74375251

[2019-01-22 05:00] #429 closed

[2019-01-29 06:59] ayushj158 opened #431 "Does this library support java version 1.6 ?"

[2019-01-29 15:55] dbadia commented on #113
Does 90ade64  provide full JWE support, or is this still a work in progress?  Any estimate for a release with JWE support?

[2019-01-29 17:13] lhazlewood commented on #113
@dbadia it's still a work in progress - I'd say it's about 90% complete.  Unfortunately we can't give time estimates since we're volunteers and work on it when our employment isn't consuming all of our time. :)

[2019-01-29 17:14] lhazlewood commented on #431
No, 1.6 is not supported.  Please ask questions on StackOverflow.com using the `#jjwt` tag.  Thanks!

[2019-01-29 17:14] #431 closed

[2019-01-30 00:32] dbadia commented on #113
@lhazlewood Understood, thanks for the quick reply

[2019-01-31 09:22] SuperRight opened #432 "How to add blacklist with jjwt ?"
If coustoms refresh token, the old token isn't expired. I want adding old token to blacklist, but I don't find the function in jjwt .

[2019-01-31 19:58] lhazlewood commented on #432
Please ask this question on StackOverflow using the tag `#jjwt`.  GitHub issues are for tracking actionable work on the JJWT codebase.

[2019-01-31 19:58] #432 closed

[2019-02-05 13:55] bamapookie commented on #427
This is also needed for Java 11 support, since the dependency for JAXB-API is no longer included in the JRE.

[2019-02-06 18:18] pedroromao-acceptto commented on #215
Wiki link
https://github.com/jwtk/jjwt/wiki/ProGuard-exclusions

[2019-02-07 09:06] Trancever opened #433 "Problem on Android with release build"
Hello :)

First of all thanks for this lib, it's really helpful.
However, we have a problem on a release build.

That is stackTrace of the error we get and it only happens on release build:
[code]

Our configuration in build.gradle:
[code]

and proguard-rules.pro:
[code]

What is also important is fact that I showed here config of "our" library that uses this library. Then we consume "our" library

[2019-02-07 13:11] Trancever commented on #433
It was issue with proguard configuration. Had to put proper pro guard rules into app proguard-rules file instead of library.

[2019-02-07 13:11] #433 closed

[2019-02-10 14:13] hypnoce commented on #430
@lhazlewood Thanks for your reply. I understand that you are currently very busy.
Nevertheless, keeping activity on the repo for corrective maintenance without any big new feature development would unblock many users.
I would be interested in such corrective maintenance (Bug fix, dependencies updates, travis build updates...) without being involved in bigger development for now.
Thanks !

[2019-02-11 12:06] uddinayazsk commented on #177
Hi,
I am getting same, kind help is appreciated.
uddinayazsk@gmail.com

[2019-02-18 19:58] LucasHCruz opened #435 "How to ungzip or inflate the token in browser?"
Hi guys, I'm generating a JWT in back end with DEFLATE or GZIP compression codec, but I can't decompress in browser. Does anyone knows some lib to do this with JJWT?

[2019-02-21 12:26] gmerrall opened #437 "Minor typo in README.md"
In reference to adding headers, the code in the README file refers to setHeaderParameter() when in fact it should be setHeaderParam().

[2019-02-21 21:47] mbarkley opened #438 "JwtParser throws wrong exception when signing key is HMAC but token signed with RSA"
Given:
* A parser with an HS256 signing key.
* Key was specified using `JwtParser.setSigningKey(String base64Encoded)`.
* Token being parsed is signed with algorithm RS256.
* Using the `parseClaimsJws(String)` method.
* Using jjwt-impl version 0.10.5

Expected:
* A `JwtException` of some kind.

Observed:
* An `IllegalArgumentException` with the following message: "Key bytes can only be specified f

[2019-02-26 08:28] YooKiHyun opened #439 "EXPIRATION Claims wrong value"
-The code below is incorrect
String token = Jwts.builder().claim(Claims.EXPIRATION, new Date()).compact();
Jws<Claims> claims = Jwts.parser().parseClaimsJws(token);
Date expr = claims.getBody().getExpiration();

-The code below is correct
String token = Jwts.builder().setExpiration(new Date()).compact();
Jws<Claims> claims = Jwts.parser().parseClaimsJws(token);
Date expr = claims.getBody().getExpi

[2019-02-27 20:23] bpappin commented on #6
This should not be happening, because it prevents parsing the tiles to get the valid data out.
e.g. I parse and get this exception, but I still need to check the issuer to figure out how to refresh the token.

I'm about to log a bug about that.

[2019-02-27 20:27] bpappin opened #440 "Parser throws exception when token is expired"
When parsing a token that has expired, the parser should *not* throw an exception, as was implemented in #6, because then the rest of the data in the token is inaccessible.

This appears to have been brought up before, and ignored in #379.

This exact case is happening to me now. I'm literally parsing the token to check if it has expired, but before I can evaluate it, I get an exception. Ok, so no

[2019-02-28 20:51] breun opened #441 "JJWT 0.11.1 released or not?"
https://github.com/jwtk/jjwt/releases/tag/jjwt-root-0.11.1 suggests that there has been a release of 0.11.1 a couple of days ago, but the latest version on Maven Central is 0.10.6 according to https://search.maven.org/search?q=g:io.jsonwebtoken%20AND%20a:jjwt-root&core=gav and that's also the latest version that's mentioned in the changelog at https://github.com/jwtk/jjwt/blob/master/CHANGELOG.md

[2019-02-28 22:13] shevek opened #442 "Please release a version using standard Jackson dependency"
Please can you separate your custom code from the Jackson dependency so that we can build an application using your library. Right now, we have a clash between your jackson and the upstream one, and we cannot resolve it by excluding either one, because each contains something that the other does not.

[2019-03-04 16:11] DanFTRX commented on #308
According to this: https://developer.android.com/about/dashboards/ more than half of all android devices still ran on Java 7 last year. (Java 8 is on devices with API 24+).

A lot of people seem to forget that Android Java has a different release schedule than regular Java. While regular Java may be at version 11, Android Java is still barely jumping into Java 8 compatability.

[2019-03-09 19:20] lhazlewood commented on #441
@dogeared  ? Was this a failed release?

[2019-03-09 19:23] lhazlewood commented on #442
I don't understand this issue.  What 'custom code' are you talking about?

Can't you use an mvn exclude on our Jackson dependency to resolve your issue?

Can you please provide more information?  Exactly what in the JJWT codebase is causing you issues?

[2019-03-09 19:30] lhazlewood commented on #438
I think I understand what you're saying - let me reformulate it to see if we're on the same page:

The current exception indicates that the jws specified is an illegal argument because of how the parser was configured.  But this isn't obvious because of the internal parser key is expecting a different type of JWS, so that should be made more obvious/explicit with a more concrete JwtException.  Is

[2019-03-09 19:32] lhazlewood commented on #281
Closing due to inactivity or submitter follow up.

[2019-03-09 19:32] #281 closed

[2019-03-09 19:41] lhazlewood commented on #131
Just a follow up:  This is currently outside the scope of JJWT since it s a general Java question (of how to convert a .pem file (or contents) to java `Key` instance, which isn't a JWT-specific concept at all.  That is, this is a general Java question, not a JWT question.

That said, it would be *nice* if JJWT had a helper function that could do this.  However, meeting JWT RFC compliance is our hi

[2019-03-09 19:44] lhazlewood commented on #441
@breun after digging around, I believe that this was a tag created during a failed release attempt.  Neither 0.11.0 or 0.11.1 have been released.

I'll be working on the 0.11.0 release this week.

[2019-03-09 19:44] #441 closed

[2019-03-09 20:21] lhazlewood commented on #427
Closed with PR merge.

[2019-03-09 20:21] #427 closed

[2019-03-09 20:36] lhazlewood commented on #407
We use slack.

For anyone wanting to join, feel free to [join the JJWT Slack workspace](https://join.slack.com/t/jwtk/shared_invite/enQtNTcxODc3NDAxOTcyLTYzMGIyMGZhNzA5ZWQwMWQ5MWQ4NjFkNDQyYzAxYzdhZDU1ZjYyOTUxMjliZTVkNTg0NzczZmY2ZDljNjI0Nzc)

[2019-03-09 20:36] #407 closed

[2019-03-10 01:02] mbarkley commented on #438
Yes, that's correct.

Understood. Thanks for following up.

[2019-03-10 07:06] lhazlewood commented on #440
This is due to the JWT specification:

https://tools.ietf.org/html/rfc7519#section-4.1.4

Quote:

   or after which the **JWT MUST NOT be accepted for processing**.

(Bold emphasis is mine).  A parser rejecting the jws (i.e. MUST NOT be accepted) is a pretty clear-cut-and-dry adherence to the RFC specification IMO.

What are you trying to do that requires that you trust an expired JWS?  Maybe cont

[2019-03-10 15:55] #397 closed

[2019-03-10 16:05] #420 closed

[2019-03-10 16:05] lhazlewood commented on #437
Thank you!

[2019-03-10 16:07] #437 closed

[2019-03-10 16:11] lhazlewood commented on #430
Just an FYI: we're releasing 0.10.7 today or tomorrow and hopefully 0.11.0 at the end of the week.
For further discussion, please feel free to join our Slack workspace via https://github.com/jwtk/jjwt/issues/407#issuecomment-471219769

[2019-03-10 16:11] #430 closed

[2019-03-10 16:13] lhazlewood commented on #435
Hi there!

Please feel free to ask this question on StackOverflow, where I'm sure you'd get some good answers.  We use GitHub issues for tracking actionable work on the JJWT codebase, not for general discussion.  Thanks!

[2019-03-10 16:13] #435 closed

[2019-03-10 16:40] lhazlewood commented on #439
You must be using an old version (< 0.10) of JJWT.

The following works with the latest stable JJWT release (0.10.6):

[code]

Please upgrade to the latest stable JJWT release.

[2019-03-10 16:40] #439 closed

[2019-03-10 16:43] lhazlewood commented on #438
Thanks for the clarification!

[2019-03-10 17:08] lhazlewood commented on #395
RFC 7517 Section 5.2 https://tools.ietf.org/html/rfc7515#section-5.2 indicates:

   MUST successfully validate, or the JWS MUST be considered invalid.

In other words, using your nomenclature, the RFC makes it is quite clear that if the signature is NOT OK, then by definition the JWT is NOT OK.

JJWT reflects RFC-compliant validation failures by throwing an exception.  Not doing so could cause sev

[2019-03-10 17:08] #395 closed

[2019-03-10 17:15] #392 closed

[2019-03-10 17:26] lhazlewood commented on #328
Closing due to inactivity or follow up from OP.

[2019-03-10 17:29] lhazlewood commented on #190
Closing due to inactivity.  The current builder pattern has served well over time, so we're not inclined to change it.

[2019-03-10 17:29] #190 closed

[2019-03-10 17:31] lhazlewood commented on #81
Closing as this was resolved in the 0.10.0 release.

[2019-03-10 17:31] #81 closed

[2019-03-10 17:34] lhazlewood commented on #143
This was resolved in the 0.10.0 release. Documentation here: https://github.com/jwtk/jjwt#base64

[2019-03-10 17:34] #143 closed

[2019-03-10 17:38] lhazlewood commented on #168
Closing this as a duplicate of #369.

[2019-03-10 17:38] #168 closed

[2019-03-10 17:42] lhazlewood commented on #180
Closing as this was resolved a while ago via https://github.com/jwtk/jjwt/pull/172

[2019-03-10 17:42] #180 closed

[2019-03-10 17:44] lhazlewood commented on #183
This will be resolved via #148.  Closing as a duplicate of that issue.

[2019-03-10 17:44] #183 closed

[2019-03-10 17:48] lhazlewood commented on #440
Closing as duplicate of #148 .  If you want to violate the specification, you'll be able to by getting the JWT from the exception.

Due to the security implications however, we won't be altering the exception-throwing design of JJWT.

[2019-03-10 17:48] #440 closed

[2019-03-11 00:06] zolyfarkas commented on #328
well  somehow I missed the notifications for the followup questions... this awesome email spam filters in action...

the idea is when parsing from some source CharSequence is a bit more flexible... (String, StringBuilder ...)

for an example, in class  Integer you have both:

    public static int parseUnsignedInt(String s, int radix)
and:
    public static int parseUnsignedInt(CharSequence s, int

[2019-03-11 03:12] bpappin commented on #440
Parsing and processing are not the same thing, and not in the spirit of the point of the spec.

I think your interpretation of the spec needs to be peer reviewed, on a more regular basis.

This is not the first time I've noticed this library making assumptions like that, in fact I think it's the 3rd time I have personally noticed that the interpretation of the spec was misapplied inna significantl

[2019-03-12 17:36] zolyfarkas opened #444 "More flexible parsing support (old #328)"
The idea is when parsing from some source, CharSequence is a bit more flexible... (String, StringBuilder ...)

for an example, in class Integer you have both:

public static int parseUnsignedInt(String s, int radix)
and:
public static int parseUnsignedInt(CharSequence s, int beginIndex, int endIndex, int radix)

in case on JWT, lets say the web token needs to be parsed out of a string like:

"Bear

[2019-03-12 19:49] mayonesa commented on #308
Supporting Java 7 project here.

[2019-03-15 20:08] SanthaNarayana opened #445 "JWT Header"
I have JWT and i need to verify whether Header has valid Cert Chain and the public cert is registered at our end. if any issue then i need to raise exception. If everything good then only verify signature
I am using RSA, asymmetric keys
- Currently is there any way i will get my JWT header with out parsing. so i will do above check and these all satisfy then i will go for verifying signature
or
is

[2019-03-18 15:48] SanthaNarayana commented on #445
Hi All,

May i know the update? is it right way to post the message as issue... Please let us know. Thank you

[2019-03-18 19:39] SanthaNarayana commented on #445
For the alternate approach i am getting header
`int i = jws.lastIndexOf('.')
String withoutSignature = jws.substring(0, i+1);
Jwt<Header,Claims> untrusted = Jwts.parser().parseClaimsJwt(withoutSignature);`
mentioned in https://github.com/jwtk/jjwt/issues/67

[2019-03-19 21:39] lhazlewood commented on #440
If you start using an expired JWT immediately after the parser returned quietly - as you would have it do - what would you call your usage?  Once you start reading it and interpreting it and making logic decisions based on it - is that not processing?  And consequently in direct violation of the spec?

According to whom? How do you know we haven't spoken with JWT RFC specification committee member

[2019-03-20 04:09] shevek commented on #442
I found the issue at the time when we tried to integrate your codebase into our project, but I can't figure it out now. Sorry.

[2019-03-20 04:09] #442 closed

[2019-03-20 05:29] bpappin commented on #440
Ok, real world software happening here.

Think through the logic of throwing an exception, and *preventing any more information* from being gleaned from the token, just because it's expired.

Ok, so the token is expired.
It should not be considered valid, and it's *the responsibility of the calling code* to prevent the client from doing anything that should be protected.
All good. Now what?

In a

[2019-03-21 13:52] TonyLiuYan opened #446 "How to use custom encryption"
How to use custom encryption in 0.10.5
like：JWTSigner signer = new JWTSigner(“encryption ”);

[2019-03-24 07:01] mkindika commented on #397
I am getting the same error when parsing. Both dependancies are added.
[code]
io.jsonwebtoken.lang.UnknownClassException: Unable to load class named [io.jsonwebtoken.impl.DefaultJwtParser] from the thread context, current, or system/application ClassLoaders.  All heuristics have been exhausted.  Class could not be found.

[2019-03-24 07:17] mkindika opened #447 "io.jsonwebtoken.lang.UnknownClassException: Unable to load class named [io.jsonwebtoken.impl.DefaultJwtParser] is thrown when passing jwt string for Claims"
I am getting a runtime exception while passing jwt string for Claims.

[code]

io.jsonwebtoken.lang.UnknownClassException: Unable to load class named [io.jsonwebtoken.impl.DefaultJwtParser] from the thread context, current, or system/application ClassLoaders.  All heuristics have been exhausted.  Class could not be found.

[2019-03-24 17:50] lhazlewood commented on #447
You forgot the `jjwt-impl` .jar:

https://github.com/jwtk/jjwt#dependencies

[2019-03-24 17:50] #447 closed

[2019-03-24 17:51] lhazlewood commented on #446
Encryption is not yet released.  It will be when  #178 is complete.

[2019-03-24 17:51] #446 closed

[2019-03-24 17:53] lhazlewood commented on #444
Please don't duplicate issues.  I'll re-open 328.

[2019-03-24 17:53] #444 closed

[2019-03-24 17:53] lhazlewood commented on #328
Reopening, but I don't know when we'll get to it.  This is low priority given the 1.0 feature set we need to support.

[2019-03-29 07:31] ifzm commented on #308
+1

[2019-03-29 09:13] Wouter8 commented on #411
I get the same error when running normally. I'm running it through Payara 5. Had to add the .jar files to the Payara installation but now I'm getting this error. Any help would be appreciated

[2019-04-10 19:33] txtad opened #448 "Is JWT Signature Validated After the Signing Key is Resolved? - Help Wanted"
When using SigningKeyResolverAdapter as illustrated below, can I assume that the JWT signature has been validated when parsing the JWT after MySigningKeyResolver.resolveSigningKey() has been called?

Thanks!

[code]

[2019-04-10 20:01] lhazlewood commented on #448
Yep!  The SigningKeyResolver was created for the specific purpose to allow key lookup by inspecting the header, but *before* the signature validation step.

If signature validation fails, it will throw a `SignatureException`.

For future general questions, please do use StackOverflow and tag your question with `jjwt`.  We use GitHub issues for actionable work to modify the JJWT codebase.  Thanks!

[2019-04-10 20:01] #448 closed

[2019-04-10 20:28] txtad commented on #448
Excellent, and thank you for the prompt reply!

I had searched for forums and found several "Help Wanted" entries here, so went ahead and posted my question.

May I suggest you mention the use of Stack Overflow for assistance in the README.md?

Thanks again!

[2019-04-10 23:27] lhazlewood commented on #448
`Help Wanted` tags on GitHub issues are a way for a project team to indicate to prospective contributors that the issue is a good one to volunteer for if they want to contribute to the project.  They're not intended to be used by non-committers to ask for help 😉

https://help.github.com/en/articles/helping-new-contributors-find-your-project-with-labels

And yes, I'll create a ticket to update the

[2019-04-10 23:38] lhazlewood opened #449 "Update readme for instructions on how to ask for help"
Per #448, we should update the readme to indicate how to use StackOverflow (using the `jjwt` tag) and/or the Slack channel.

[2019-04-12 20:38] UkrainianCitizen commented on #339
@lhazlewood I can do that.

[2019-04-12 21:28] lhazlewood commented on #339
@UkrainianCitizen we only want to do this *very* last right before we cut the 1.0 release.  We're not close to being ready to do that, so please don't start on it yet!  That said, of course I'll be super happy to ping you when it's ready to be worked on :)  Thanks for the offer!

[2019-04-13 11:53] hypnoce opened #450 "Release 0.10.7"
Hi,

since all milestones are closed https://github.com/jwtk/jjwt/milestone/19 do you think it's possible to release 0.10.7 or is there any new issues ?

Thanks

[2019-04-30 10:17] neerajjain92 opened #451 "Throwable error while creating JWT : io.jsonwebtoken.SignatureAlgorithm.assertValidSigningKey(Ljava/security/Key;)V"
JWT creation works fine in my local environment using the below method but this fails when i deploy this code in UAT.

[code]

Throwable cause :

[2019-05-05 09:54] DR-YangLong opened #452 "jwt token can not decode"
i get a jwt:

eyJhbGciOiJIUzUxMiJ9.eyJ1c2VyTmFtZSI6Iua1i-ivleaWsOWiniIsInN1YiI6ImxvZ2luVG9rZW4iLCJpc3MiOiJsZWFwbW90b3JfYXBpIiwiYXVkIjoiZmYzZjM2ZGMwOTlhZDRmYTUyMDI2NDJiMGM1NDU3OGYiLCJpYXQiOjE1NTcwNDk5NTUsImV4cCI6MTU1NzA1MDA3NX0.CNgATDgP2orHtBq_sPLrzmkmjhH2MLqbxiIQAovEKS5xPMYXLiqTpukub_AOYg-Bd0xU2-3Yb8m1SpErbWGsxw

the payload can not use js base64url to decode.

[2019-05-06 17:15] UkrainianCitizen commented on #308
Migrate to 8, it is 2019 already, for God's sake. Anyway, you can just use an older version.
@lhazlewood when this will be implemented? I guess it would be an easier and smoother transition if it isn't done all at once. It would be feasible, for instance, firstly move to `java.time` because I guess it is the easiest part of this transition so to speak, break the transition into several parts as we

[2019-05-06 17:25] DanFTRX commented on #308
@UkrainianCitizen Dropping compatability for nearly half a userbase(Probably closer to 1/3 now but google apparently isn't updating it's numbers anymore) is not really a valid option for people.

[2019-05-07 06:06] UkrainianCitizen commented on #308
This has to be done eventually. Majority community uses Java 8 +. Using Java 7 in the popular third-party libraries restrains a lot and makes usage of such a library less viable option.

[2019-05-07 13:39] DanFTRX commented on #308
@UkrainianCitizen Eventually is not the same as right now though.  Ideally Google releases updated marketshare numbers to confirm, but based on past trends I would estimate that Java 7 Android phones will be around in a significant enough percentage until 5-6 months after the next major Android version release

[2019-05-08 19:05] DanFTRX commented on #308
Coincidentally enough they finally upgraded their marketshare numbers last night.    Java 7 devices are currently sitting at 25% of all android devices.  As I said, we will likely see that drop to insignificant numbers in 1-2 more android releases.

https://developer.android.com/about/dashboards/

[2019-05-09 16:05] kurenai-ryu commented on #452
your payload has non-ascii characters,
[code]
better if you define with which character set it was encoded or change it to UTF-8

[2019-05-17 13:12] cassiomolin commented on #235
Can we add [`OffsetDateTime`](https://docs.oracle.com/en/java/javase/12/docs/api/java.base/java/time/OffsetDateTime.html) to the list?

[2019-05-21 07:29] neerajjain92 opened #453 "Throwable Error : io.jsonwebtoken.SignatureAlgorithm.getMinKeyLength() in OpenJDK 11"
I am getting a throwable while generating jwt on java version openJDK 11

This is how i am creating the JWT
[code]

and my getH256SecretBytes method looks like this :

[code]

[2019-05-21 10:30] strguntbr commented on #308
It is 2019! Oracle will be dropping support for Java 7 in July (https://www.oracle.com/technetwork/java/java-se-support-roadmap.html).
As I'm a backend developer, I don't know the exact situation related to Android, but I've been talking to the Android devs in my company (and I'm working in a company whos main activity is developing mobile apps). They told me that the are using Java 8 to develop A

[2019-05-21 13:47] DanFTRX commented on #308
Android has a syntax desugaring compilation step that allows for select Java 8 APIs and language features to be compiled into Java 7 equivalent bytecode.   I had not been keeping a close eye on it myself as it did not support much when it was first announced.  It does appear that the java.time package has been added to that select list in the time since I last checked.  It also appears to transfor

[2019-05-21 16:15] strguntbr commented on #308
So does anybody here know of an existing fork that's supporting java.time? I still object the decision not to move on and support java.time.
There has to be some way to support it. People are asking for it and nobody who has the choice wants to work with the pre java 8 date classes any more.
But I understand that it might be important for you if your main focus is on the Android community, but the

[2019-05-21 17:02] DanFTRX commented on #308
A moduled approach may be preferable.  Because it could be implemented then with https://github.com/JakeWharton/ThreeTenABP for android, or java.time for non-android environments.

[2019-05-22 14:30] hypnoce commented on #450
Any chance to get a release ?

[2019-05-23 13:36] roneywei opened #454 "how Invalid token？"
how Invalid token

[2019-05-27 08:19] jaapcoomans commented on #399
Bumped into this issue as well. Happy to file a PR with a solution for using JJWT on the module-path. But looking at #400 I want to check the best solution path here first. It's a little bit of a catch 22 because breaking backwards compatibility causes issues for existing users, whereas not solving the issue blocks users wanting to move forward with JPMS.

There are a few options that both solve t

[2019-05-29 15:57] chrisaige commented on #236
I think it would be nice to have this

[2019-05-30 06:18] riyaz commented on #131
I had same requirement, I have solved using Auth0's utils, documenting it for others,

1. https://github.com/auth0/java-jwt/blob/master/lib/src/test/java/com/auth0/jwt/PemUtils.java
copy this file to your repo

2. Include boucny castle as dependency in your project or you can copy paste the required dependency
 `    implementation 'org.bouncycastle:bcprov-jdk15on:1.60'`

3. Use `readPublicKeyFromF

[2019-06-06 06:33] jaapcoomans commented on #308
@lhazlewood browsing this and related issues and PR's I notice a common theme in all of them. JVM developers wanting to move forward to java.time and modules at the one side and android developers wanting to stay at 7 because that's the only option they have. It made me realize that these two platforms are drifting apart, leaving jjwt in between where neither choice will make both sides happy.

In

[2019-06-06 10:03] strguntbr commented on #308
If necessary I could/would support implementing that approach. In the meantime I was playing around a little and added getters/setters that accept/return objects for the relevant datetimes to get a single library that works on android and if present can accept/return certain java.time classes
- One approach is purely based on reflection (https://github.com/strguntbr/jjwt/tree/jsr310-reflection). T

[2019-06-06 10:36] sudarshanthite opened #455 "Getting Weak key Exception when yousing the 20 Charectory secrete key."
Hi I am getting the Following exception when i use the 20 charector String as secrete key.

io.jsonwebtoken.security.WeakKeyException:

The signing key's size is 160 bits which is not secure enough for the HS256 algorithm.  The JWT JWA Specification (RFC 7518, Section 3.2) states that keys used with HS256 MUST have a size >= 256 bits (the key size must be greater than or equal to the hash output s

[2019-06-06 14:33] UkrainianCitizen commented on #308
@jaapcoomans this is the best solution by far for this problem for now. @lhazlewood must give some feedback about that.

[2019-06-14 13:19] chrisaige commented on #236
If I can contribute in any way. Hit me up currently I have to use 2 Libaries and I want to only use this one

[2019-06-16 10:45] JonSnow592622272 opened #456 "Parsing the token number problem"
The problem is as follows: jwt long type field parsed into java type is int.
问题如下：jwt中long类型字段解析为java类型是int

[2019-06-17 07:08] rubeninoto commented on #171
any news?

[2019-06-20 09:58] mbaluda commented on #450
The release is mentioned in the release notes but is not available yet

[2019-06-21 16:43] lhazlewood commented on #451
Your `getHS256SecretBytes()` method didn't return a key that was strong enough for the HS256 algoithm as required by the JWT RFC.

Please ask future questions on StackOverflow using the `jjwt` tag - we use GitHub issues to track work that is necessary for the JJWT codebase.  Thanks!

[2019-06-21 16:43] #451 closed

[2019-06-21 16:55] lhazlewood commented on #452
We use GitHub Issues to track actionable work for changes that need to occur within the JJWT codebase.  Please use StackOverflow and the `jjwt` tag for asking general questions.  Thanks!

[2019-06-21 16:55] #452 closed

[2019-06-21 16:58] lhazlewood commented on #453
I've no idea what `secrets.get` does or returns.

Also we use GitHub Issues to track actionable work for changes that need to occur within the JJWT codebase.  Please use StackOverflow and the `jjwt` tag for asking general questions.  Thanks!

[2019-06-21 16:58] #453 closed

[2019-07-01 20:53] DanFTRX commented on #308
If we are lucky and it ever gets done, https://issuetracker.google.com/issues/114481425 will make a split unneccessary.  Bazel has shown that desugaring standard libs like java.time is possible, so its up to the Android Team to incorporate a similar feature into D8.

[2019-07-02 17:19] mhp0rtal opened #459 "Misuses of cryptographic APIs"
Hi
The following lines have cryptographic API misuses. <br> File name => api/src/main/java/io/jsonwebtoken/SigningKeyResolverAdapter.java: Line number => 51: API name => SecretKeySpec:<BR> File name => api/src/main/java/io/jsonwebtoken/security/Keys.java: Line number => 70: API name => SecretKeySpec:<BR> File name => api/src/main/java/io/jsonwebtoken/SigningKeyResolverAdapter.java: Line number =>

[2019-07-02 17:37] lhazlewood commented on #459
What are the misuses?  Where did you get this information?  What is your justification?

Just pasting a list of random information isn't too helpful.  I'm likely to close this without any further information.

[2019-07-02 23:03] CharlieReitzel opened #460 "Cannot parse JWS with non-claims JSON payload."
Besides assuming that all payloads are UTF-8 Strings, it also assumes that if the String starts and ends with curly brackets `{}`, it must be a Claims payload.

If I pass in JSON data as the payload, it successfully creates the JWS.  But when parsing the resulting JWS using parsePlainTextJws(), if with the exception:
[code]

If using plain parse(), it fails on deserialization because the returned

[2019-07-03 23:37] SharkFourSix commented on #447
OMG. Why? I'm using maven (uber jar) and I do not want external libs. The final jar does not contain the jjwt-impl classes but I can access the classes in IntelliJ

And where do I put the .JAR file?

[2019-07-03 23:38] SharkFourSix commented on #447
OMG. Why? I'm using maven (uber jar) and I do not want external libs. The final jar does not contain the jjwt-impl classes but I can access the classes in IntelliJ

And where do I put the .JAR file?

[2019-07-08 19:39] DanFTRX commented on #459
@lhazlewood This guy(bot?) posted 900 issues to 900 repo's all listing "cryptographic API misuses"  It looks like some sort of bot that ran an overzealous static analysis without any context of use.

[2019-07-08 22:43] fernando-jascovich commented on #388
Hi, I think that this issue (or some new form of it) is still around; when I set dependencies as explained in documentation:
[code]
And then, I use the following example code:
[code]
I get the following NPE:
[code]

And if I include `org.json.json` at `build.gradle` (this is, remove exclusion from `runtimeOnly` declaration), code works as expected. I think that there is some weird Android handling

[2019-07-09 02:03] lhazlewood commented on #459
@mhp0rtal do you have any context here?  How do you know they're misuses? What is the justification for each of these line items from your static analysis tool?

[2019-07-09 02:03] lhazlewood commented on #459
@DanFTRX thanks for the heads up - let's see if we get any relevant information.

[2019-07-09 09:36] mhp0rtal commented on #459
Hi,
Thanks for your attention.
I reported the cryptographic misuses due to my recent research on how developers employ Java Cryptography Architecture (JCA) APIs in Java applications. I utilized some static analysis tools intended for checking cryptographic practices. The aforementioned misuses in those files were obtained from the results of the tools. The severity of the bug is relative. For inst

[2019-07-09 09:36] #459 closed

[2019-07-09 12:36] thatsIch opened #461 "jjwt-jackson depends on jackson-databind 2.9.8 with known vulnerabilities"
`jjwt-jackson` depends on `jackson-databind` 2.9.8 as seen in the [pom](https://github.com/jwtk/jjwt/blob/master/pom.xml#L91).

Running

[code]

results in

Links to the NVD entries:

* https://nvd.nist.gov/vuln/detail/CVE-2019-12384
* https://nvd.nist.gov/vuln/detail/CVE-2019-12814
* https://nvd.nist.gov/vuln/detail/CVE-2019-12086

Upgrading to at least 2.9.9 fixes it. The latest version is at th

[2019-07-11 07:18] daishicheng opened #462 "Will consider supporting custom time zones?"
The default time zone is UTC. For different time zones, the error message is not very friendly.
such as `ExpiredJwtException`.

[2019-07-11 20:11] lhazlewood commented on #455
The exception message is extremely clear on why your 20 character key is not allowed to be used according to the JWT RFC specification.  JJWT does not allow keys that are not allowed by the specification - you would be significantly compromising security otherwise.  This is why it is listed as `REQUIRED` in the RFC.

[2019-07-11 20:11] #455 closed

[2019-07-11 20:12] #454 closed

[2019-07-11 20:12] lhazlewood commented on #450
Releasing today

[2019-07-11 20:22] lhazlewood commented on #462
UTC is chosen because it is generally a sane as well as recommended default:  production applications should usually always reflect UTC timezones since clients/requests/whatever as well as server instances can be in any timezone in the world.

In other words, UTC normalizes all error reporting so you can know canonically when it occurred, no matter where in the world it occurred, and then error re

[2019-07-11 20:34] lhazlewood opened #464 "Deprecate Plaintext JWT support"
Per #460, 'Plaintext' (non JSON-claims) JWTs were a feature when the JWT specification was a draft, and JJWT was created and implemented this feature when it was a draft as well.

When the JWT RFCs were finalized, plaintext JWTs were not supported at all in the specification - A JWSs (or JWEs) 'payload' must always be a JSON object now.  As a result, JJWT will remove support for this behavior just

[2019-07-11 20:35] lhazlewood opened #465 "Remove JWT plaintext support"
Per #464, this feature  should be removed just prior to the 1.0 release (can't be removed before a major release per semantic versioning guidelines).

[2019-07-11 20:37] lhazlewood commented on #460
'Plaintext' (non JSON-claims) JWTs were a feature when the JWT specification was a draft, and JJWT was created and implemented this feature when it was a draft as well.  At the time of implementation, we just used an open and closing curly brace as a heuristic to determine if it was JSON or not, and if JSON, it must be a claims object.

When the JWT RFCs were finalized, plaintext JWTs were not sup

[2019-07-11 20:43] lhazlewood commented on #456
Sorry, there is not enough information in the report.  If you have a usability question, please ask on StackOverflow.com and use the `#jjwt` tag.  Thanks!

[2019-07-11 20:43] #456 closed

[2019-07-11 20:45] #461 closed

[2019-07-11 20:53] lhazlewood commented on #464
Hrm - I thought it was removed, but the JWS specification explicitly mentions payloads of any type, not just JSON: https://tools.ietf.org/html/rfc7515#section-3.3

We'll have to keep the feature.

[2019-07-11 20:53] #464 closed

[2019-07-11 20:55] lhazlewood commented on #460
Well, I thought it was removed, but the JWS RFC does indeed define a payload as any Base64URL string:  https://tools.ietf.org/html/rfc7515#section-3.3

So we'll have to keep the feature, and update the implementation to better handle your scenario and not rely on heuristics if you explicitly call `parsePlaintext*` methods.  Apologies for the confusion!

[2019-07-11 20:57] lhazlewood commented on #465
This issue was created in error.  Generic payload support is still required by the JWS RFC: https://tools.ietf.org/html/rfc7515#section-3.3

[2019-07-11 20:57] #465 closed

[2019-07-11 21:06] lhazlewood commented on #460
Also implementation note:  The JWS RFC indicates that the `JWS Payload` can be any arbitrary octet sequence (byte array), not just a UTF-8 String.   The `cty` header should indicate the content type of the payload and, according to the RFC, it is the application (not the JWT library, i.e. JJWT) that needs to convert the payload to it's desired format based on the `cty` value.  That said, JWT might

[2019-07-11 23:13] lhazlewood commented on #445
@SanthaNarayana using the `SigningKeyResolver` is definitely the correct way to do this - you got it! :)  Don't use the approach in #67 - it's not nearly as secure as using the `SigningKeyResolver`.

As an aside, please ask further usability questions using [StackOverflow with the jjwt tag](https://stackoverflow.com/questions/ask?tags=jjwt&guided=false).  Thanks!

[2019-07-11 23:13] #445 closed

[2019-07-11 23:48] #449 closed

[2019-07-12 00:09] #450 closed

[2019-07-12 14:24] SharkFourSix commented on #396
There's clearly a problem with this if a lot of people are having this problem. And verbatim installation procedures are what I used in my case. Still, I still get the same errors. The classes are not bundled in the final jar file for some reason.