[2014-09-26 20:09] mattjonesorg opened #1 "Application requires explicit inclusion of fasterxml"
So, when I included the section mentioned in the wiki into my pom.xml of my appengine application (Ninja Framework):

[code]

and ran the application, I got the following stack trace, repeatedly.

The resolution of this was to manually include the dependency for fasterxml.

[code]

I'm not sure why this is the case, but wanted to document it here just in case anybody else runs into this in the fut

[2014-09-26 20:54] #1 closed, assigned to nobody

[2014-09-26 22:25] mattjonesorg opened #2 "The docs have a one-liner to parse the token, but there is no Token class"
The readme has the following line to parse the token.

[code]

However, there is no Token class in the library.  The parse method is defined to return a Jwt object.

[code]

The implementation returns a DefaultJwt<Object>, which does not allow for the syntactic sugar currently shown in the README.md

[code]

I'm curious how you'd like this fixed.  I'll happily submit a pull request.

[2014-09-27 00:42] lhazlewood opened #3 "Claims Date fields do not function as expected"
using Integer.parseInt is not working - seconds since epoch is greater than Integer.MAX_VALUE in some cases, causing rollover (negative) values.  Changing to Long.parseLong will work.

[2014-09-27 05:38] #3 closed, assigned to nobody

[2014-09-27 05:39] #2 closed, assigned to nobody

[2014-10-28 23:38] lhazlewood opened #6 "Throw an ExpiredJwtException when parsing expired Claims JWT"

[2014-10-28 23:49] #6 closed, assigned to lhazlewood

[2014-10-29 00:41] lhazlewood opened #7 "Throw a PrematureJwtException when parsing a Claims JWT with NotBefore after the current parsing time"

[2014-10-29 00:47] #7 closed, assigned to nobody

[2014-11-16 18:18] josebarrueta opened #8 "Add ability to resolve signing key based on Jws embedded values before its signature is verified"
Sometimes the signature key is embedded either in the JWT header or body, and therefore is useful to parse the JWT skipping the signature verification. Of course the verification must happen after getting the signature key.

If this is a valid approach the client is responsible of checking the signature after getting the values they need from the Jws.

A second approach would be to have a callback

[2014-11-20 03:52] #8 closed, assigned to nobody

[2014-11-22 00:13] josebarrueta opened #10 "Verify signature before asserting jwt body claims like expiration."
By verifying the signature before asserting body claims, the Exceptions that are thrown when a token is expired or used before certain time can contain the claims, allowing the client to do clean up work related to verified but not valid jwt.

[2014-11-26 22:35] stephaneeybert opened #12 "The random byte[] key is misleading"
For a newbie the random byte[] key may imply the key has to be random.

Also why having it in a byte[] instead of a String ?

I wonder how to have a constant private key.

Am I misusing your API ?

Sorry for being the newbie...

[2014-12-15 16:56] Fabryprog opened #13 "Unrecognized token error"
hello,

I have this exception using this java code (i am using last release).

Can you help me? Tnkx

[code]

[code]

[2014-12-16 04:50] teknosains opened #14 "How do I achieve this with jjwt ?"
I got Node.js implementation here

[code]

Thanks

[2014-12-16 09:28] #13 closed, assigned to nobody

[2014-12-17 19:05] #14 closed, assigned to nobody

[2014-12-21 07:10] jtushar53 opened #15 "Error including library"
i was just reviewing all classes, will be using AngularJS and Servlets(non-Maven project)

 got this error
![untitled](https://cloud.githubusercontent.com/assets/5780117/5517529/a3d8bd98-890e-11e4-8161-13114c0c6d1f.png)

included all dependency Jackson, SLF4J, first time seen this error.

[2014-12-21 16:13] #15 closed, assigned to nobody

[2015-02-12 00:24] oliverhausler opened #16 "Import of constant does not resolve in Android Studio"
Something minor but something you may want to fix throughout. I am using Android Studio with default settings, and the "HS256" does not resolve on this line:

String compact = Jwts.builder().setSubject("Joe").signWith(HS256, key).compact();

I'd suggest you change it to

String compact = Jwts.builder().setSubject("Joe").signWith(SignatureAlgorithm.HS256, key).compact();

and import SignatureAlgori

[2015-02-12 00:27] oliverhausler commented on #16
[and Les, if everybody would write easy-to-use code like yours devving would be much easier]

[2015-02-12 00:34] oliverhausler commented on #16
I just looked at both versions again and it's the static import which my Android Studio does not like, for whatever reason.

I have

import io.jsonwebtoken.SignatureAlgorithm;

instead of the static import with *

I googled and found this http://stackoverflow.com/questions/4387134/intellij-static-import-completion so it doesn't seem to be the default setting in Android Studio to allow static impor

[2015-02-12 00:52] lhazlewood commented on #16
Ah yes, this assumes static imports - I assume that people use these regularly :/

Thanks for the note and the kudos!

[2015-02-12 01:01] lhazlewood commented on #16
Static imports are a standard Java language feature, regardless of what an IDE may or may not do by default.  Also, the first code example shows how to use this:

[code]

Any objection to me closing this issue since this is not a JJWT issue?  Or do you still feel like the example should be changed to use a non-static import?

I consider this a language feature and not something that should be chan

[2015-02-12 01:43] oliverhausler commented on #16
I agree with you and I agree Google/IntelliJ should set a different default for Android Studio. I don't know the reason but I will file a ticket there.

I only told you because I like your tool and it would be sad to see people leave just because they can't get it to work.

You can close this.

-------- Original message --------
From: Les Hazlewood
Date:2015/02/11 17:02 (GMT-08:00)
To: jwtk/jjwt
C

[2015-02-12 03:11] oliverhausler opened #17 "Feature request: Signature overload for time methods in builder"
It would be nice to see a second signature overload for .setExpiration(long), setIssuedAt(long) etc. which takes a long value instead of a date.

[2015-02-13 01:06] lhazlewood commented on #17
This was (initially) avoided due to possible confusion:  JWTs represent time values as *seconds* since epoch (not millis) but Java longs usually represent millis since epoch.

A single long scalar value allows ambiguity that can only be understood by reading JavaDoc, whereas the current method signatures avoid this problem entirely.

[2015-02-13 01:07] lhazlewood commented on #17
additionally, there is nothing wrong with just calling:

[code]

[2015-02-13 14:52] oliverhausler commented on #17
Oh, I didn't realize they used seconds in the JWT specs. Then I would have used Date as well to avoid confusion.

[2015-02-13 14:52] #17 closed

[2015-03-11 03:33] rhyscoronado opened #18 "Problem with java.xml.bind.DatatypeConverter"
Hi, I'm having issue with using this on android, the following fatal exception occurs:

 java.lang.NoClassDefFoundError: javax.xml.bind.DatatypeConverter
            at io.jsonwebtoken.impl.Base64Codec.encode(Base64Codec.java:24)

and found out Android doesn't support javax.xml.bind.DatatypeConverter.

Any possible fix for this? Thanks.

[2015-03-11 03:38] lhazlewood commented on #18
Does Android have a Base64 encoder/decoder that can be plugged in?

[2015-03-11 03:39] lhazlewood commented on #18
In other words, DatatypeConverter is available out-of-the-box on standard JVMs.  If Android JVMs do not have this, is there an alternative that you might recommend?

[2015-03-11 04:58] rhyscoronado commented on #18
Hey, thanks for the prompt reply, I'm not sure honestly, but android uses some kind of android.util.Base64, would you be able to plug that in as an alternate to the java class causing the error?

Thanks again,

[2015-03-11 06:30] rhyscoronado commented on #18
https://bitbucket.org/connect2id/nimbus-jose-jwt/issue/52/library-does-not-work-on-android-b-c-of

I don't know if that will help.

[2015-03-15 00:45] #12 closed

[2015-03-15 00:47] lhazlewood commented on #16
Resolving now that the Readme example does not use static imports - should work for Android folks too.

[2015-03-15 00:47] #16 closed

[2015-03-15 01:39] lhazlewood commented on #10
Closing per merge.

[2015-03-15 01:39] #10 closed

[2015-03-17 15:22] abrodersen commented on #18
I'm seeing this problem as well. I think the [Base64 class](http://developer.android.com/reference/android/util/Base64.html) is what is needed. There probably needs to be either an interface or a run-time detection mechanism for switching to the Android implementation.

[2015-03-17 15:34] abrodersen commented on #18
Also, here's a [public domain implementation](http://iharder.sourceforge.net/current/java/base64/) that you could include in the library.

[2015-03-17 20:41] lhazlewood commented on #18
Is this the only thing required to make it work on Android?  Or will there be more work necessary?

[2015-03-24 03:10] rhyscoronado commented on #18
I believe that's all that's needed to make it work on Android

[2015-03-27 13:03] enflout opened #19 "manifest.mf additional data for osgi supporting"
Hi, your lib is awesome. Could you please add some manifest data to run it in osgi-container?

[2015-03-27 16:12] lhazlewood commented on #19
Sure - do you have a pull request to enable this?

[2015-03-27 18:01] enflout commented on #19
@lhazlewood, it will be first time when I do this kind of action, but I can try. So I'll try to send a pull-request on the next week :)

[2015-03-27 18:18] lhazlewood commented on #19
Thanks!  It will be a good learning experience :)

[2015-04-02 18:36] KPRATIK opened #20 "Critical vulnerabilites in JWT"
Wanted to know if your libray takes care of security vulnerabilites https://auth0.com/blog/2015/03/31/critical-vulnerabilities-in-json-web-token-libraries/

Please update

[2015-04-03 01:16] lhazlewood commented on #20
JJWT is **not** vulnerable to the listed attacks as long as you use it correctly - I had security in mind from the beginning when designing and implementing JJWT :)

Here are the two discussed attack vectors and verification that you are not susceptible to attack:

1.  Discussed attack vector 1: client sends the server an unsigned JWT with a missing `alg` header field or the `alg` header field is

[2015-04-03 01:18] #20 closed

[2015-04-04 01:23] lhazlewood commented on #20
P.S. For good measure, I added 3 test cases in commit 060666a that indicate JJWT is not vulnerable.

[2015-04-04 02:14] lhazlewood commented on #18
I just added a quick fix for this in the [android](https://github.com/jwtk/jjwt/tree/android) branch.  Can someone please build and test this out on an Android project and let me know how it goes?

You should just be able to:

1) `git clone https://github.com/jwtk/jjwt.git`
2) `git checkout android`
3) mvn clean install
4) change your android project dependency to:
[code]

(and don't forget to ens

[2015-04-04 02:14] lhazlewood commented on #18
@rhyscoronado @abrodersen ^^

[2015-04-06 01:33] rhyscoronado commented on #18
@lhazlewood awesome, thanks for this, will provide you feedback as soon as I'm able to test it.

[2015-04-06 02:48] lhazlewood commented on #18
@rhyscoronado sounds good - thanks!

[2015-04-07 10:20] KPRATIK commented on #20
Hey, was going through your new test case and had a doubt in testForgedTokenWhenUsingRsaPublicKeyAsHmacSigningKey()

Was thinking of use case which is reverse of yours. So server signs with private key and client verifies using public key. Do you think it will still work?

Thanks,
Pratik

[2015-04-08 00:46] lhazlewood commented on #20
I'm confused by your question.  Public/private key pairs are designed specifically to allow anyone to verify a signature using the public key.  The important point is that only the holder of the private key should be able to create the signature.  This is the expected behavior of any public/private signature key mechanism and JJWT works this way for RSA as expected.

In other words, this is correc

[2015-04-08 05:23] KPRATIK commented on #20
I was talking about use case where some one uses public key for signing. So if this line in the test changes :
Jwts.parser().setSigningKey(privateKey).parse(forged);
to
Jwts.parser().setSigningKey(publicKey).parse(forged);

Should not it throw exception as it is a possible attack?

[2015-04-15 02:16] lhazlewood commented on #18
Just curious - has anyone been able to try this fix out on Android yet?

[2015-04-17 18:18] lhazlewood commented on #18
@rhyscoronado @abrodersen ^^

[2015-04-18 23:48] christopherlakey commented on #20
If the public key approach can be trusted for verification, then this would limit the need to distribute the private key to each micro service that needs to validate tokens but not create them.

Is there a simple way to use the publication key for verification and avoid vector 2 above?

[2015-04-20 12:25] vanduc1102 opened #22 "How to extend token timeout?"
I already create a question on [StackOverflow](http://stackoverflow.com/questions/29744385/how-to-extend-expiration-time-java-json-web-token) for the issue.
Thanks you.

[2015-04-22 03:11] pglezen opened #23 "SigningKeyResolverAdapter Javadoc Typo"
Line 35 of `SigningKeyResolverAdapter.java` has a typo.  You referenced the `(JwtHeader, String)` signature twice.  I suspect you meant one `(JwtHeader, String)` and one `(JwtHeader, Claims)`.

[2015-04-28 00:04] lhazlewood commented on #23
thank you!

[2015-04-28 00:09] #23 closed

[2015-04-28 00:35] lhazlewood commented on #20
@christopherlakey good idea - this will be a simple addition - I'll create a ticket as a feature enhancement

[2015-04-28 00:45] lhazlewood opened #25 "Allow RSA public key to be used to parse/verify signed JWTs"
Ensure that if a public key is configured for the parser that it does not recognize non-RSA algorithms.

[2015-04-28 00:46] lhazlewood commented on #20
See #25

[2015-04-28 02:26] christopherlakey commented on #20
Thanks!

[2015-04-29 02:41] lhazlewood commented on #25
Implementation complete.  This will be released in 0.5

[2015-04-29 02:41] #25 closed

[2015-04-29 02:43] lhazlewood commented on #19
Closing as PR #24 was merged.  This will be released with 0.5

[2015-04-29 02:43] #19 closed

[2015-04-29 02:44] lhazlewood commented on #18
@rhyscoronado or @abrodersen can you please confirm if this works or not?  I want to release 0.5 and would like this in if it works.  Thanks.

[2015-04-29 03:45] lhazlewood commented on #22
Answered on SO.

[2015-04-29 03:45] #22 closed

[2015-04-29 09:43] rhyscoronado commented on #18
hI @lhazlewood apologies for the late testing, I managed to generate from the device, but there are warning messages.

04-29 17:43:35.284  13254-13254/com.nelsoft.easyshop I/dalvikvm﹕ Could not find method javax.xml.bind.DatatypeConverter.parseBase64Binary, referenced from method io.jsonwebtoken.impl.Base64Codec.decode
04-29 17:43:35.284  13254-13254/com.nelsoft.easyshop W/dalvikvm﹕ VFY: unable to

[2015-04-29 16:12] lhazlewood commented on #18
Let me try to fix that - should be quick.

[2015-04-29 16:16] lhazlewood commented on #18
@rhyscoronado I just pushed a change to the `android` branch - can you please try again and let me know if the warnings are gone?

[2015-04-29 17:07] lhazlewood commented on #18
Had to make one more change - if the CI build passes, we should test this latest one.

[2015-04-29 17:33] lhazlewood commented on #18
The CI build tested fine - @rhyscoronado if you can confirm this latest change, I can cut the release.

[2015-05-01 17:28] lhazlewood commented on #18
@rhyscoronado I'd like to release today if you can confirm if this works.

[2015-05-03 11:12] vanduc1102 commented on #22
Thanks

[2015-05-05 16:03] KPRATIK commented on #20
When are you planning to release 0.5 version?

[2015-05-05 16:09] lhazlewood commented on #20
As soon as @rhyscoronado or @abrodersen can confirm the fix for #18 works as expected.  We're waiting on them.

If I don't hear an answer back within a day or two, I'll cut the release and people can issue pull requests if it doesn't work.

[2015-05-05 21:56] graemefunk87 opened #26 "gradle error"
I'm getting this error when trying to install your plugin

Could not transfer artifact io.jsonwebtoken:jjwt:zip:0.4 from/to m2repo_spockframework_org_ext_ (http://m2repo.spockframework.org/ext/): m2repo.spockframework.org (Use --stacktrace to see the full trace)

I've tried googling around and can't figure this out, and I'm new to the gradle game so any help would be awesome!

[2015-05-05 23:11] lhazlewood commented on #26
did you include maven central in  your repositories config?

[code]

[2015-05-06 04:59] graemefunk87 commented on #26
not sure what I changed, but I finally got it to resolve, sorry about the inconvenience

[2015-05-06 05:00] #26 closed

[2015-05-07 05:41] lhazlewood opened #27 "Support Elliptic Curve Signatures"
ES256, ES384, ES512

[2015-05-08 06:45] lhazlewood commented on #27
This has been implemented and merged to master.  It will be released with the upcoming 0.5 release.

[2015-05-08 06:45] #27 closed

[2015-05-08 09:26] KPRATIK commented on #20
Any updated on this?

[2015-05-08 16:11] lhazlewood commented on #20
This issue is closed.  If you're referring to the release, I hope to get it out today.

[2015-05-08 16:12] lhazlewood commented on #20
@KPRATIK btw, if you need it earlier, you can build from master - that has the fix in it and the branch is stable.

[2015-05-11 10:16] KPRATIK commented on #20
Is the release out now?

[2015-05-11 16:11] lhazlewood commented on #20
No, I needed to do some code cleanup to get higher test code coverage and include elliptic curve signature support.  You will know when a release has been completed by watching the [releases page](https://github.com/jwtk/jjwt/releases).

[2015-05-13 00:10] lhazlewood commented on #18
Since I've received no confirmation from the parties in this thread, I'm releasing the fix implemented in PR #29, now merged in master and I believe to work.  Any other concerns can be raised in a new issue.

[2015-05-13 00:10] #18 closed

[2015-05-13 02:32] damnhandy opened #30 "0.5 Not Found in Maven Central"
I ran across this project and tried taking for a spin, I tried adding the 0.5 version to my pom.xml and it Maven could not resolve it. A quick search on Maven Central showed that the artifact is not present there:

http://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22io.jsonwebtoken%22%20AND%20a%3A%22jjwt%22

Are there plans to publish this release?

[2015-05-13 02:34] lhazlewood commented on #30
@damnhandy WOW, you're fast! :)  I *just* released 0.5 literally 14 minutes ago :)  It typically takes 15 to 30 minutes (or sometimes up to an hour) for Sonatype to push OSS project releases to Maven Central.  Please try back in 15 - 45 minutes :-D

[2015-05-13 02:36] lhazlewood commented on #30
And just to show I'm not pulling your chain:

https://github.com/jwtk/jjwt/releases

:-D

[2015-05-13 02:39] lhazlewood commented on #20
@KPRATIK 0.5 has *just* been released.  Please wait for an hour or so from now and it should be accessible in Maven Central.

[2015-05-13 19:23] lhazlewood commented on #30
Closing this as it showed up in Maven Central yesterday.

[2015-05-13 19:23] #30 closed

[2015-05-13 19:44] damnhandy commented on #30
LOL! I thought I saw 0.5 on GitHub page yesterday and tried to grab it this morning. Glad to know I was just jumping the gun here. Thanks!

[2015-06-24 09:34] mikosik opened #31 "Parsing fails on android platform"
Parsin JWT string using jjwt-0.5 fails on android platform.
jjwt library is added to android project as gradle dependency.
[code]

Following code
[code]
works correctly on desktop JDK producing following output
[code]

However when the same code is run on android (Nexus-5 device running android 5.1.1) if fails with exception thrown from `parseClaimsJwt` method:
[code]

It looks to me that `android

[2015-06-26 00:23] lhazlewood commented on #31
Thanks for the report!   This should be relatively easy to fix.

[2015-06-26 18:52] lhazlewood commented on #31
The [PR](https://github.com/jwtk/jjwt/pull/32) for this was successful and merged to master.  The fix will be in the 0.5.1 release.

[2015-06-26 18:52] #31 closed

[2015-06-26 20:50] lhazlewood commented on #31
This has been released as 0.5.1.  Please allow 1 to 2 hours for the release artifact to appear in Maven Central.  Cheers!

[2015-06-28 07:33] mikosik commented on #31
@lhazlewood Great! Thanks for a quick response and fix. :bow:

[2015-07-07 11:04] alchemistgo87 opened #33 "Implement Refresh Token"
How can I implement Refresh Token if I want user's token to get refreshed after a certain amount of time?

[2015-07-07 17:48] lhazlewood commented on #33
This is not the responsibility of jjwt - it is the responsibility of your OAuth implementation (that might use JJWT) to create the refresh token correctly.

[2015-07-08 18:16] arvinsuresh opened #34 "remove slf4j dependency?"
Will it be possible to avoid dependency on slf4j logger? Looks like the only class using it is io.jsonwebtoken.lang.Classes?
I'm trying to use this in a WAS TAI which requires me to deploy jjwt and its dependent libraries so it is loaded as a WAS extension, which then affects any application specific class loaders trying to load their slf4j.

I like that jjwt has very few dependencies, seems like

[2015-07-14 18:21] #33 closed

[2015-07-20 03:14] pglezen commented on #34
+1
Since JJWT is a library that ideally would be referenced from a wide variety of execution contexts (JEE, standalone, Spring containers, OSGi containers (ok, OSGi doesn't have this problem)), dependencies should be kept to an absolute minimum.  If SLF4J was embedded everywhere in JJWT, I would wipe my brow and bear it.  But it seems that by simply (pun intended) logging to the JUL Loggers in the

[2015-07-21 20:23] lhazlewood commented on #34
Yeah, this was an artifact from a copy-n-paste operation long ago.  I'm happy to remove it since it's not prolific in JJWT and only used in one class.  Thanks for the issue!

[2015-07-21 20:30] lhazlewood opened #35 "MacValidator: use MessageDigest.isEqual for digest comparison"
instead of Arrays.equals

[2015-07-28 20:27] mattblang commented on #34
+1
Android users try to stay under a function limit of 65k, so removing unnecessary dependencies would be nice.

[2015-08-02 03:46] gamedevhelper opened #36 "Possible security vulnerability"
Two security issues.

1) Must change the parse function and make it mandatory to specify decrypt algorithm instead of reading it from header.

2) 'none' algorithm is open for abuse.

Please read this article https://auth0.com/blog/2015/03/31/critical-vulnerabilities-in-json-web-token-libraries/ to see the detail discussion on these issues.

[2015-08-02 03:57] lhazlewood commented on #36
I'm curious - did you report this because you think JJWT might be vulnerable?  Or did you test JJWT and find that it is vulnerable?

Did you see my comment in the linked article?

[2015-08-02 04:03] gamedevhelper commented on #36
I was reporting it that JJWT might be vulnerable.  I just went back and read the comments and thank yo for verifing that JJWT is not vulnerable to those attack (https://github.com/jwtk/jjwt/issues/20) .  Case closed.

[2015-08-02 04:03] #36 closed

[2015-08-20 16:13] sparty02 opened #37 ""Advertise" on JWT.io"
Establish a presence on [jwt.io](http://jwt.io/) here, which I think you can do by submitting a PR somewhere [around here](https://github.com/jsonwebtoken/jsonwebtoken.github.io/tree/master/html/libraries)

[2015-08-20 17:03] jarias opened #38 "Problem with date precision"
[code]

This renders a token in wich issueAt and expiration are the same.

Looks like some millisecond precision is lost when transforming to JSON

[2015-08-21 18:26] josebarrueta commented on #38
The values for IssuedAt ("iat") and Expiration ("exp") are expected to be seconds since UTC, as specified by the standard: https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32#page-10

[code]

[2015-08-23 01:07] jarias commented on #38
Ahhh my bad, I was tired when I was writing that code :D

[2015-08-23 01:07] #38 closed

[2015-08-26 23:56] josebarrueta opened #39 "DefaultJws class doesn't propagate the generic B type to the interface"
By not propagating the generic type to specific generic to the interface, IDEs warn of not passing the specific type in the Jws.

For example:

[code]

The IDE complains the the returned type is not of  ```Jws<MyClaims> ```.

Solution will be add the generic body to the signature of the class:

```public class DefaultJws<B> implements Jws<B> ```

[2015-08-27 00:19] lhazlewood commented on #34
Resolved by PR #41.  Will be released in 0.6.

[2015-08-27 00:19] #34 closed

[2015-08-27 00:20] lhazlewood commented on #39
Resolved by PR #40.  Will be released in 0.6.

[2015-08-27 00:20] #39 closed

[2015-09-01 11:46] geoand commented on #37
+1 When I was out to find a Java JWT library I immediately went to http://jwt.io/ and picked the first suggestion from there.
Needless to say that this project seems much easier to use than the one I picked :(

[2015-09-09 20:54] lhazlewood commented on #37
A PR has been opened: https://github.com/jsonwebtoken/jsonwebtoken.github.io/pull/102

Any +1s in the comment thread would be appreciated to show your support!

[2015-09-09 20:58] lhazlewood opened #42 "Enable remaining pro-active assertions when parsing a JWT"
`exp` and `nbf` are already asserted automatically.  Also allow building a parser that expects values for the following:

* `iss`
* `aud`
* `sub`
* `iat`
* `jti`

Ensure the parser method names use the more friendly names - e.g.

[code]

[2015-09-10 04:25] #35 closed

[2015-09-10 04:27] lhazlewood commented on #37
Side note: @geoand has the coolest avatar ever :)

[2015-09-10 07:06] geoand commented on #37
@lhazlewood Thanks! Let's hope the PR will be merged quickly :)

[2015-09-11 12:37] danilobuerger opened #47 "Possibility to force signature algorithm on parse"
Is it possible to force the signature algorithm on parse? Meaning that the jwt is only considered valid if it is signed with a particular algorithm?

If not, is it possible to disallow the NONE algorithm or otherwise check the algorithm and make sure that the jwt is signed on parse?

[2015-09-11 12:58] jcarvalho commented on #47
You can always use a {{SigningKeyResolver}}, so that you can decide to whether to provide the key or not, depending on the provided algorithm.

[2015-09-11 13:09] danilobuerger commented on #47
But will that get called if there is no Signature? When Algorithm is NONE?

[2015-09-11 13:21] jcarvalho commented on #47
That will be called after the token is parsed, but before its signature (and also expiration I believe) is validated, so you can already determine if the algorithm is `NONE`, and return a `null` key.

You can find more about it [here](https://github.com/jwtk/jjwt/blob/0.5.1/README.md#04).

[2015-09-11 13:39] danilobuerger commented on #47
Reading ``DefaultJwtParser`` it seems that the ``SigningKeyResolver`` will only be called if ``base64UrlEncodedDigest != null``. So what if that is null? How can i check that?

[2015-09-11 14:44] danilobuerger commented on #47
I think i found the solution here: https://stormpath.com/blog/jwt-java-create-verify/ Looks like we can use ``parseClaimsJws`` which does not allow Algorithm ``NONE`` and must have a valid signature.

[2015-09-11 14:57] danilobuerger opened #48 "Add build Jwt to JwtBuilder"
`JwtBuilder` should have the ability to actually build a `Jwt` object instead of only the compact `String` representation.

I would
- add `Jwt build();` to `JwtBuilder`
- add `String compact();` to `Jwt`
- move all functionality (minus return `String`) from `DefaultJwtBuilder.compact()` to `DefaultJwtBuilder.build()`
- implement `DefaultJwt.compact()` and `DefaultJws.compact()` to return the compa

[2015-09-11 16:14] louoso commented on #47
+1 this request. It seems like the parser should enforce a signature by default.

[2015-09-11 17:59] lhazlewood commented on #47
This is documented in the Readme:

Is this issue resolved, then, by just improving the documentation?

[2015-09-11 18:15] lhazlewood commented on #48
What is the use case where a JWT object needs to be built instead of the compact string?  I'm just trying to understand the desired change since almost everyone only uses JWTs to 1) build the compact string, and then later 2) parse a compact string

[2015-09-11 18:21] louoso commented on #47
First, great work and thank you for writing this.

Second, now that I go back and look at the readme again, it is clear that you purposefully used parseClaimsJws in the first example:

[code]

My eyes somehow skipped right over that though, and went to this:

[code]

So maybe just change that second example to also use parseClaimsJws?

It could just be me, but I can't understand why "algo: none" e

[2015-09-11 18:27] lhazlewood commented on #47
Thanks for the feedback!  This would definitely clean up the docs to reflect the most common use case - I  think that'd be helpful.

And yeah, NONE is asking for trouble, but we support it because it is in the JWT spec - we're kind of required to support it.

[2015-09-11 18:29] lhazlewood commented on #47
I just updated the Readme in Master - hopefully that helps!

[2015-09-11 18:38] danilobuerger commented on #48
@lhazlewood I have an endpoint which spits out a JWT token. This token is later used by clients to auth. I want to make it easier for clients so that they don't necessarily have to parse the token. Thats why i am return the claims in my response to:

[code]

If we had a ``build`` i could do:

[code]

Which would be awesome :dancer:

Since we are not breaking API, and just adding another two public

[2015-09-11 18:44] danilobuerger commented on #47
Yes, @louoso explained it perfectly, that second example got me too! Maybe even go further highlighting in the README that ``parseClaimsJws`` should be considered the default except you know what you are doing and that it excludes JWT (vs. JWS) and Algo NONE.

Algo NONE is just dangerous. The library (especially being in the "crypto" sector) should make it easy for people to just do the right thin

[2015-09-11 18:44] lhazlewood commented on #48
This is helpful, thanks!

I think the sentiment of the request definitely makes sense.  The only thing I'm currently debating is the notion of having `jwt.compact()` - this requires the JWT implementation know about JSON/JWT compaction logic, which feels a little too 'coupled' to me at the moment (not sure though - just thinking out loud).

In other words, in the spirit of the Single Responsibilit

[2015-09-11 18:49] lhazlewood commented on #47
I definitely agree about 'doing the right thing' automatically - it's a tactic we take in Apache Shiro (another project I work on), and it's a big reason why Shiro is so nice to use.

I'll leave this issue open as a marker to clean up the documentation and maybe even make API changes as necessary to make this more obvious.  Suggestions welcome!

[2015-09-11 18:55] danilobuerger commented on #48
Hmm, yeah. Thats definitely a valid point. Maybe we could try a general Serializer approach. Moving the logic out of ``DefaultJwtBuilder.compact()`` into Serializer. That way something like

[code]

would be possible. I don't know however if thats worth the effort if we are always just stuck with the compact representation.

[2015-09-14 09:04] pednekarprajakta opened #50 "Dependency on SLF4J"
I have a question.
Is slf4j-api an optional dependency ?

[2015-09-15 19:27] danilobuerger commented on #48
@lhazlewood so how should we proceed?

[2015-09-15 20:08] lhazlewood commented on #48
I think the Builder should still have `.compact()` - the reason is that the Builder is the coordinator for relevant behavior for creating JWTs and strings.  It in turn should delegate to respective components that perform specific responsibilities as necessary.

That said, what about something like this:

[code]

By specifying a JWT instance, it's almost like you're 'kick starting' the builder, an

[2015-09-15 20:23] danilobuerger commented on #48
I like it. I will do a PR then :-).

However we could have a ``Jwt`` with ``B != String || Claims`` which the builder would not be able to support. I guess we have a couple of options there:

* Throw an exception from constructor
* Just cast like in ``DefaultJwtParser.parse(String compact, JwtHandler<T> handler)``

[2015-09-15 20:47] lhazlewood commented on #48
I'd throw an exception if the payload is not a String or Claims - fail fast :)

[2015-09-15 20:56] danilobuerger commented on #48
For my use case not necessary, but one thing that would not work out of the box:

[code]

Could be made to work though by adding ``JwtBuilder.setSignature(String signature)``. That way this could be invoked if a ``Jws`` is invoked.

[2015-09-17 18:57] BugsBunnyBR opened #51 "Retrofit Converter"
Hi, There is any known implementation of a retrofit[1] converter using jjwt?
It would be nice to have, for instance, a GSON converter[2] with the jjwt support.
[1] - https://github.com/square/retrofit
[2] - https://github.com/square/retrofit/tree/master/retrofit-converters/gson/src/main/java/retrofit

Thanks.

[2015-09-17 20:15] lhazlewood commented on #51
I'm inclined to close this issue if there isn't actionable work to be done by the JJWT project team.  Have you pinged the Retrofit community with the same question?

[2015-09-23 17:23] josebarrueta opened #52 "Add ability to compress JWT body."

[2015-09-23 17:33] lhazlewood commented on #52
Just some thoughts:

[code]

[code]

[code]

[code]

Any thoughts on this?

[2015-09-23 18:27] josebarrueta commented on #52
I was actually thinking in something simpler an more automated for the user for this first iteration

[code]

[2015-09-23 18:53] josebarrueta commented on #52
after further discussion this is the outcome

single interface (no enums):

[code]
The interface will expose two Default implementations DEFLATE and GZIP.

[code]

And we will provide a default resolver that will know about the default implementation, but developers can provide their own.

[code]

[2015-09-23 22:12] lhazlewood commented on #50
SLF4J is no longer required or even referenced in JJWT.

[2015-09-23 22:12] #50 closed

[2015-09-23 22:13] lhazlewood commented on #42
Implementation complete.  Will be released in 0.6.

[2015-09-23 22:13] #42 closed

[2015-09-24 22:18] kag0 opened #55 "Version 0.6 not in maven central"
Readme here on github indicates latest version is 0.6, but the latest build in maven is 0.5.1. https://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22io.jsonwebtoken%22%20AND%20a%3A%22jjwt%22

[2015-09-24 22:27] lhazlewood commented on #55
0.6 has not yet been released - the release notes were added to master in preparation for the release, which we hope to have out tomorrow.  HTH!

[2015-09-25 20:59] kag0 commented on #55
gotcha! I didn't notice you weren't running git flow haha

[2015-10-05 18:42] lhazlewood commented on #51
Closing as out of scope.  Happy to reopen if there is work to be done in JJWT.

[2015-10-05 18:42] #51 closed

[2015-10-08 14:35] danilobuerger commented on #47
Maybe the new ``requireXXX`` (0.6) methods from ``JwtParser`` could be extended to the header?

[2015-10-08 20:27] jmht opened #57 "Compile error - incompatible inheritance"
In just pulling project from GitHub and building (mvn clean verify), I receive the following compile error:
<pre>
[ERROR] /F:/Code/jjwt/src/main/java/io/jsonwebtoken/impl/DefaultJwsHeader.java:[22,8] F:\Code\jjwt\src\main\java\io\jsonwebtoken\impl\DefaultJwsHeader.java:22: java.util.Map cannot be inherited with different arguments: &lt;&gt; and &lt;java.lang.String,java.lang.Object&gt;
</pre>
Look

[2015-10-09 15:14] jahlborn commented on #55
Any eta on the release?  i'd like to use the new "requires" feature.

[2015-10-09 15:16] jahlborn commented on #47
After reading this article https://auth0.com/blog/2015/03/31/critical-vulnerabilities-in-json-web-token-libraries/ i believe that the parseClaimsJws() method should take a signature algorithm as a second argument (or provide an overloaded method which allows this).

[2015-10-09 15:37] jahlborn opened #58 "Implement toString on JwtMap"
I'm playing with the library right now, and most of the default class impls don't have useful toString() implementations on them.  JwtMap could have a simple toString() (delegate to the internal map).  Would be nice to add toString() to some of the other value types (e.g. DefaultJws, etc.).

[2015-10-09 16:25] lhazlewood commented on #58
Pull requests welcome!

[2015-10-09 16:26] lhazlewood commented on #57
You're compiling with JDK 6 - that product has been end-of-lifed *long* ago - it is not supported by JJWT.

[2015-10-09 16:26] #57 closed

[2015-10-09 16:36] lhazlewood commented on #55
I'd like to get it out sometime in the next few days or next week at the latest if possible.  All contigent upon work schedules of course...

[2015-10-09 16:56] jahlborn commented on #58
[code]

[2015-10-09 17:21] lhazlewood commented on #47
@jahlborn Not necessary.  This has been asked and answered previously: https://github.com/jwtk/jjwt/issues/20

[2015-10-09 17:48] jahlborn commented on #47
Ah, i see, you protect against it as long as you use a Key based type because they are strongly typed in java.  cool.

[2015-10-09 18:18] lhazlewood commented on #47
Indeed :)

[2015-10-12 20:58] lhazlewood commented on #58
I see what you're saying now - thanks!

[2015-10-12 21:16] lhazlewood commented on #58
FWIW, this was more work than just what was suggested - both the DefaultJws and DefaultJwt classes needed to be modified and test cases provided for both to retain 100% test coverage.  Please submit a Pull Request with tests next time.

[2015-10-12 21:18] lhazlewood commented on #58
Implemented in https://github.com/jwtk/jjwt/commit/4d230a07256401a170911786de180886db28a003.  Will be released in 0.6.

[2015-10-12 21:18] #58 closed

[2015-10-12 21:45] lhazlewood commented on #52
Implemented and in master.  Will be released with 0.6.

[2015-10-12 21:45] #52 closed

[2015-10-12 21:45] #47 closed

[2015-10-14 15:27] strokine opened #59 "Getting threads blocked"
Hello, under normal load everything works just fine, but when server gets a lot of traffic I'm getting response time spikes. While I'm analyzing the thread dump I see a lot of blocked threads, which I don't see at all during no spike time, even under heavy load:

[code]

I'm not sure what could cause the problem, but if you know, please fix it.

Thanks for the library anyway,
Eugene

[2015-10-14 16:00] lhazlewood commented on #59
This has nothing to do with JJWT - JJWT is completely stateless and does not manage threads or locks itself anywhere.  You're apparently hitting what looks to be like a design flaw in the `sun.security.jca.ProviderList` implementation.  What JDK are you using?

[2015-10-14 17:04] strokine commented on #59
Right, looks like this is not a problem of your library, but JDK:
http://bugs.java.com/view_bug.do?bug_id=7092821
It looks like Provider.getService method is synchronized.
We are using Java 7.
But maybe there is a work around of this JDK bug. For example someone did this:
http://stackoverflow.com/questions/27944331/why-is-the-java-method-provider-getservicestring-type-string-algorithm-synchr
I gue

[2015-10-14 20:17] lhazlewood commented on #59
Could you please offer a pull request for the fix?

[2015-10-14 20:54] lhazlewood commented on #55
I just released 0.6.0.  Please allow 30 minutes for the artifacts to appear in maven central.

[2015-10-14 20:54] #55 closed

[2015-10-14 22:14] lhazlewood commented on #59
Also, what SDK are you using?  Oracle JDK? Open JDK?

[2015-10-15 01:08] jahlborn opened #60 "Add a convenience expiration setter which takes a duration"
I would imagine that when most people are setting an expiration on a JWT, they will be using some configured timeout duration (e.g. 15 minutes).  the ClaimsMutator has a basic setExpiration helper which takes the expiration date.  It would be great if you added a convenience method which took the duration and did the math to compute the final exipration date, something like:

    public T setExpir

[2015-10-15 01:25] lhazlewood commented on #60
Good idea!  I think `expireAfter` might be a bit more readable, e.g.:

`expireAfter(15, TimeUnit.MINUTES)`

Thoughts?

[2015-10-15 02:24] jahlborn commented on #60
yep, that does make for a more fluent api.

[2015-10-27 18:02] timchaffee opened #61 "JWT NBF and clock drift"
4.1.4.  "exp" (Expiration Time) Claim

   The "exp" (expiration time) claim identifies the expiration time on
   or after which the JWT MUST NOT be accepted for processing.  The
   processing of the "exp" claim requires that the current date/time
   MUST be before the expiration date/time listed in the "exp" claim.
   **Implementers MAY provide for some small leeway, usually no more than
   a few

[2015-10-27 18:06] lhazlewood commented on #61
Thanks for the issue - any suggestions on how this would be specified by a JJWT user?

[2015-10-27 18:28] timchaffee commented on #61
Hmm - not sure - maybe:

Jwts.parser().setSigningKey(key).**setAllowedClockSkew(3)**.parseClaimsJws(s).getBody().getSubject().equals("Joe");

[2015-10-27 18:42] ca0abinary commented on #61
+1 jose4j has similar functionality: https://bitbucket.org/b_c/jose4j/wiki/JWT%20Examples

[2015-10-29 09:04] somasundaramsekar opened #63 "Jwts.parser() works with incorrect signing keys at times"
SignatureAlgorithm signatureAlgorithm = SignatureAlgorithm.HS256;

        long nowMillis = System.currentTimeMillis();

        Date now = new Date(nowMillis);

        byte[] apiKeySecretBytes = DatatypeConverter.parseBase64Binary("8754487552");

        Key signingKey = new SecretKeySpec(apiKeySecretBytes, signatureAlgorithm.getJcaName());

        Map<String, Object> map = new HashMap<String,

[2015-11-09 16:33] Fabryprog opened #64 "Retrieve all token's headers"
Hello, an interface Jwt (io.jsonwebtoken)  has only two methods: getHeader() and getBody().

How to retrieve ALL token's headers? I am thinking a method like "getHeaders()".

Can i do it?

thankx

[2015-11-09 17:55] lhazlewood commented on #64
The JWT specification calls all the headers just 'header', which is why JJWT's `jwt.getHeader()` method is named that way.  When you call `jwt.getHeader()`, you are actually getting all of the headers.   It's just a map.  Call `toString()` on it and see :)

[2015-11-09 17:55] #64 closed

[2015-11-10 18:58] lhazlewood commented on #59
@strokine Could you please indicate which SDK you were using?  Also, did you try using BouncyCastle to see if that helped?

[2015-11-10 19:45] strokine commented on #59
Oracle JDK. No, we didn't use BouncyCastle.

[2015-11-10 21:11] lhazlewood commented on #63
The test is invalid:  your test key lengths are invalid per the [HMAC-SHA2](https://tools.ietf.org/html/rfc4868) specification and cannot satisfy the specification's integrity protection guarantees.

When used for integrity/authentication verification (as JWS does), HMAC-SHA2 key lengths *must* be equivalent to the output length.  For HMAC-SHA-256, the output is 256 bits (32 bytes), so your key mu

[2015-11-10 21:11] #63 closed

[2015-11-14 16:54] basler1 opened #65 "Execution failed for task ':app:dexDebug'"
I just added the library to dependencies.

[code]

When i tried to ran the application, I got the following

I've googled around for a while but can't figure this out, so any help would be awesome

[2015-11-17 17:15] lhazlewood commented on #65
Are you sure that's the only change you made in your Gradle file?  The error message does not indicate anything about JJWT - unfortunately without more information that points to _something_ in JJWT, I can't really help.

[2015-11-18 13:13] leantony opened #66 "custom claims"
How do I add a map of custom claims to the jwt ? For example, if I wanted to add a user's role
Currently iam doing it like this

[code]

This is just a portion of a function. Claims is variable of Map<String, Object> type. Iam using this as the custom claims, but when I do this, my token is generated without an expiry date. What am I doing wrong?

[2015-11-18 20:54] lhazlewood commented on #66
Try setting the claims before you set any other field:

[code]

I suspect that setClaims is overwriting the other claims that have already been set.

If this works, let me know - I'll leave the ticket open to copy the map key/value pairs into the existing map (rather than replace the existing map).

[2015-11-19 08:24] leantony commented on #66
Yes. I noticed it was overwriting the other claims. So, had to do this:
[code]
I thought SetClaims() would take in my custom claims, but on reading through the source code, I saw that it wasn't doing that. But with my above method, I have to repeat the claim('key', 'value') portion, for any custom claim I have to add

[2015-11-20 02:08] kag0 opened #67 "Ability to inspect body of signed JWT"
When attempting to read the body of a signed jwt without setting a key, an IllegalArgumentException is thrown. For example: `Jwts.parser().parseClaimsJws(someJwtString).getBody().get("iss")`. This makes sense, as it prevents users from ignoring signatures when they shouldn't.
However, sometimes it is useful to know some fields of the body before checking the signature. For example, if there are se

[2015-11-20 04:53] josebarrueta commented on #67
With the ```JJWT``` library you can already do this in a secure way, by setting a ```SigningKeyResolver```
[code]
The signature is still validated, and the JWT instance will still not be returned if the jwt string is invalid, as expected. You just get to 'see' the JWT data for key discovery before the parser validates.

As small sample of how to use it would be the following:

[code]

[2015-11-20 18:20] kag0 commented on #67
Perfect, thank you.
I should have searched the [closed issues](https://github.com/jwtk/jjwt/issues/8) better before posting, so sorry about that.

[2015-11-20 18:46] lhazlewood commented on #67
No worries! :)

[2015-11-20 18:46] #67 closed

[2015-11-20 18:48] lhazlewood commented on #65
Do you have a sample project that can be used that demonstrates the problem is with JJWT?  If not, we'll likely close this issue in due time.

[2015-11-21 11:28] KalinKanev opened #68 "Android 6 RSAPrivateKey"
Hello,

I understand that this may not be issue with the library but may is worth extending. Some changes were made by google in API 23 so the code below that worked on lower version is no longer valid.

    PrivateKey privateKey = KeyChain.getPrivateKey(context, "Alias");
    String jwtString = Jwts.builder().setHeaderParams(map)
                .setPayload(payload)
                .signWith(Sign

[2015-11-21 22:07] lhazlewood commented on #68
This is actually an easy fix I think.  Instead of asserting:

[code]

we can just assert:

[code]

This would assert the correct expectations and would work both on the standard JDK because the JDK's `RSAPrivateKey` interface extends both `PrivateKey` and `RSAKey`, and so does Android's RSA private key implementation.

[2015-11-21 23:24] lhazlewood commented on #68
This has been implemented and merged to master.  It will be in the next release.

[2015-11-22 11:48] KalinKanev commented on #68
Working like a charm. Thanks for fast reaction!

[2015-12-02 05:21] bhowell2 opened #70 "Set claims can erase other claim setters in JwtBuilder"
The documentation does not state it, but in the code, you can see that any call to `setClaims(...)` in `JwtBuilder` will overwrite any convenience claims that were written  (e.g., `setIssuer()`, `setAudience()`, etc.).  This is somewhat inconsistent, since `audience`, `issuer`, etc., are claims (registered) as well. It may be more clear to just leave out `setIssuer()`, `setAudience()`, and company

[2015-12-02 19:11] lhazlewood commented on #70
Closing as a duplicate of #66.

[2015-12-02 19:11] #70 closed

[2015-12-02 19:12] lhazlewood commented on #66
I've thought about this for a while now.

Per standard/idiomatic Java setter methods (where state is replaced with what is currently being specified) setClaims *should* replace any current claims that might be set.

That said, I think we should add a `addClaims` method that takes an input map and appends it to the existing populated claims.

[2015-12-17 10:21] ExtinctAmoeba opened #72 "Getting error: java.lang.IllegalStateException: Either 'payload' or 'claims' must be specified."
Hi, I'm getting this error:

Getting: java.lang.IllegalStateException: Either 'payload' or 'claims' must be specified.
[code]
What I'm missing or doing wrong?

1. I need to decode token (empty, there is no data inside, I just need simple token validation) from JSON response.

For example token: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiOjE0NTAzNDQ4NDcsImV4cCI6MTQ1MDM0NDkwNywidXNlcl9pZCI6bnVsbCw

[2015-12-17 16:40] strokine opened #73 "Minimum Java Version"
It looks like the minimum JDK version is 1.6

[code]

But GzipCompressionCodec instantiates GZIPOutputStream with signature which is available only in Java 7:
https://github.com/jwtk/jjwt/blob/master/src/main/java/io/jsonwebtoken/impl/compression/GzipCompressionCodec.java#L65

new GZIPOutputStream(outputStream, true):
Java 6:
https://docs.oracle.com/javase/6/docs/api/java/util/zip/GZIPOutputStream

[2015-12-17 17:45] pglezen commented on #73
You're probably right.  If it is imperative that you work with JDK 6, I know I used JJWT with Java 6 late last Spring.  So an older version of JJWT might work for you.

[2015-12-17 17:57] lhazlewood commented on #73
@strokine I haven't looked at the GZIPOutputStream API in a little while, but I'm assuming it is backwards compatible such that we can just use it in a way that is compliant with JDK 6.  Has anyone checked yet?  If so, we can keep JDK 6 compatibility.

That said, it is a bit odd today that JDK 6 be supported by (m)any current open source projects.  @pglezen do you see a strong reason to continue t

[2015-12-17 18:12] pglezen commented on #73
The shop in which I worked that was using JDK 6 last Spring has since upgraded to JDK 7.  IMHO, you have to weigh the burden of maintaining JDK 6 support with the following factors:

* most places have moved on to JDK 7
* earlier builds of JJWT do successfully build and run with JDK 6

So if some shop is adamant about JDK 6 support, they can simply download an earlier build of JJWT.  It may not ha

[2015-12-17 18:19] strokine commented on #73
I use Java 8, but I've submitted the issue, just because, I've checked out the project and **mvn install** gives a compilation error, because it uses java version set by jdk.version property. Once, I've flipped the version to 7, everything worked fine.

[2015-12-18 14:33] michaelHicks opened #75 "Getting SignatureException when verifying token that was created by another library"
Hi,
I'm having a hard time decoding token created with node-jsonwebtoken (also tried tokens created in jose.4.j - didn't work as well).
Weird thing is that I can verify this token using other libraries without any problems.

I'm getting this error:
io.jsonwebtoken.SignatureException: JWT signature does not match locally computed signature. JWT validity cannot be asserted and should not be trusted.

[2015-12-21 07:28] lhazlewood commented on #75
@michaelHicks if you are parsing a known signed string payload JWT, you shouldn't use `parse`, you should use the `parsePlaintextJws` method.

Also, are you certain your String key above is a Base64-encoded key and that key is of a valid length for HMAC-SHA-512? (If you do `TextCodec.BASE64.encode(MacProvider.generateKey().getEncoded())` - how many characters are printed?  Is it the mostly the sam

[2015-12-22 13:53] michaelHicks commented on #75
Hi Les, thank you for your help. As you mentioned above, the issue was with not a valid length key for HS-512.

[2015-12-22 13:53] #75 closed

[2015-12-23 18:30] nbarbettini commented on #37
Looks like they merged this, it's available on JWT.io now. (Although they listed the package maintainer wrong. :stuck_out_tongue_winking_eye: )

[2015-12-23 18:34] lhazlewood commented on #37
We should ask them to fix that.  My name isn't _b_c :-P

[2015-12-23 19:32] nbarbettini commented on #37
PR for typo fix: https://github.com/jsonwebtoken/jsonwebtoken.github.io/pull/143

[2015-12-23 20:04] lhazlewood commented on #72
This line:

[code]

Is not signing anything.  You've got to specify a payload or a claims to sign in that line.

But that line is specifically for *creating* tokens.  If you already have one, you don't need to do that.  Just call the `Jwts.parser()...` line.

[2015-12-23 21:37] ddt-tdd opened #76 "JWS"
Hi,

I had a quick look to your JWT implementation, but didn't try it (yet).
Is there a way to only use the JWS part to sign JSON data?

Greetings,
ddt

[2015-12-23 21:39] lhazlewood commented on #76
I'm a bit confused by the request.  JWS is a specification to sign JSON data.  And JJWT fully supports JWS.  So without any further information, the answer is absolutely, it does :)

[2015-12-23 22:17] ddt-tdd commented on #76
It's not a request, but a question. I'll have to look further and deeper then ;-).

Thanks

[2015-12-23 22:17] #76 closed

[2015-12-29 07:38] diskzzokejs commented on #72
Thank You for information. I will try Your suggestion.

[2015-12-30 17:24] lpborges opened #77 "Suport Array of String for Audience"
From the JWT specification, the Audience should accept a array of strings. Whould be nice a methot setAudience that accept a array of Strings and put this attribute as array on JWT
As a workaround, I'm setting this as a claim attribute:

[code]

Generated payload:

[code]

From https://tools.ietf.org/html/rfc7519#section-4.1.3

[code]

[2015-12-30 18:53] zemelett opened #78 "Cannot use EllipticCurveSignatureValidator with Key bytes."
In DefaultJwtParser.parse if a Key object is not provided but key bytes is not empty a SecretKeySpec object is created for the key:
[code]
If however the algorithm is ES256, ES384 or ES512, the DefaultSignatureValidatorFactory will try to use an EllipticCurveSignatureValidator.  Which will check that the key is an instance of ECPublicKey, which it won't be because of the above.

[2016-01-03 21:03] stormoPL commented on #65
I may have solution to this issue (though it is not JJWT fault). I had exactly same problem and I managed to trace it to using:

INSTEAD:

More info here: http://stackoverflow.com/a/33690032

After cutting from all services to particular service problem has been resolved.

[2016-01-06 13:13] sidhuurs opened #79 "No signature key validation"
I am using 0.4 release with jdk 1.6. Below is my test code. I am confused why I am able to parse with wrong key.  As shown below key used while generating jwt is "secret" . I was able to parse it with key "secr". I expect this to throw exception. Can someone help me understand why this worked?

long cur_secs = new Date().getTime();
    Date expdt = new Date(cur_secs+ 60*1000);
    Map<String, Obje

[2016-01-07 22:06] t2r opened #81 "NBF claim date exception"
The Not_BEFORE claims date is not handled the same between Claims vs Map<String, Object>.  If you set the Not_BEFORE claims, like so:

claims.put(Claims.NOT_BEFORE, org.joda.time.DateTime.now.toDate());

Client attempts to parse it:
io.jsonwebtoken.PrematureJwtException: JWT must not be accepted before 47988-06-20T02:48:33-0400. Current time: 2016-01-07T16:36:26-0500
    at io.jsonwebtoken.impl.De

[2016-01-08 03:34] thiloplanz commented on #67
I am in the situation where a proxy should check the claims and expiration date of a signed token before passing it on. The proxy itself is not able to verify the signature, but I still want to be able to drop requests with invalid tokens (expired or missing claims).

Is there a good way to do that currently? Should I just strip off the signature part using String manipulation?

[2016-01-08 16:46] mikiebrenbren commented on #79
Yeah, this is definitely a bug that needs to be addressed. However I have found that if the secret is 8 characters or more then this is not happening.  The bug seems to be in the DefaultJwsParser class on line 339 where the JwtSignatureValidator class calls the isValid method.  If you dig a little more you see the MacValidator class uses the MessageDigest class to call the isEqual method and there

[2016-01-08 19:14] sidhuurs commented on #79
Thanks mikiebrenbren for your inputs.  Yes, I don't see any issue with secret having 8 or more characters. I read online that we should use BASE64 encoded secret keys. I tested with BASE64 encoded secret and its working as expected , even when the encoded secret has less than 8 chars.

        long cur_secs = new Date().getTime();
        Date expdt = new Date(cur_secs+ 60*1000);
	Map<String, Obje

[2016-01-09 22:50] adcoolguy commented on #60
Is there any ETA when is this feature going to be available?

Thanks!

[2016-01-11 20:14] JohnKiel opened #82 "SignatureException with valid jwt/key"
Nevermind...

[2016-01-11 21:00] #82 closed

[2016-01-11 21:19] dwalend opened #83 "Replace existential JwsHeader method arguments in SigningKeyResolverAdapter with something sane"
SigningKeyResolverAdapter uses existential - raw - JwsHeader in its arguments.

My immediate problem is that I can't override those methods in Scala - no way to express the raw type in a way the compiler will swallow.

object ShrineSigningKeyResolver extends SigningKeyResolverAdapter {
    def resolveSigningKey(header: JwsHeader, claims: Claims):Key = { ... }}

can't be made to compile.

Long-term

[2016-01-20 20:30] matthewjosephtaylor opened #84 "API signature enhancement for JwtBuilder.setClaims"
Currently:

[code]

Would be nice if this looked like:

[code]

This would allow one to pass a Maps of type `Map<String,String>`, etc into this method without needing to cast.

[2016-01-22 10:48] jebbench commented on #77
It would be good if the requireAudience method could also work with arrays.

[2016-01-27 20:42] chadjaros opened #86 "No way to read body, and then later verify a token"
I want to have a signed token with a subject claim. I can create the token perfectly well.

When I'm verifying the token, I would like to first determine the subject. After determining the subject and retrieving some data, I would like to verify the signature.

I can do the parsing of the body manually, but it would be nice to have this as a function of the parser class

[2016-01-27 20:54] chadjaros opened #87 "Incompatible with auth0 java-jwt"
I tried to create a token with each library, and then verify the token with the opposite library. Since both are implementing a "standard", the libraries should be able to verify signatures created by other libraries. This was not the case in either direction.

[2016-01-27 20:57] lhazlewood commented on #86
What's wrong with using a SigningKeyResolver?

https://github.com/jwtk/jjwt#04

[2016-01-27 21:00] lhazlewood commented on #87
Did you create a ticket w/ Auth0?  If so, can you please link it here?

Also, what is your test case - can you please share it?

Our code coverage is ~ 100% and tests are constructed based on actual test cases defined in the JWT RFC, so without any more information, there's not much we can do.

[2016-01-27 21:03] lhazlewood commented on #87
Also, I created a signed JWT in JJWT and put it in auth0's jwt.io tool - it was validated and verified the signature correctly.  So it looks like their JavaScript verifier works but their Java one does not?

[2016-01-27 21:10] chadjaros commented on #86
I'd rather use a method like:

    public Map<String, Object> parseBody(String token) {
        String json = new String(BaseEncoding.base64().decode(token.split("\\.")[1]), "UTF-8");
        return objectMapper.readValue(json, Map.class);
    }

than create a subclass implementation. For my use case, ideally I would be able to run the token signature through a validator without also parsing the b

[2016-01-27 21:20] lhazlewood commented on #86
I'm confused - there is no subclass implementation, and you have the ability (today) to perform full inspection before the signature is validated.

What is the use case exactly?  From a JWT library implementor's perspective, it is dangerous to allow parsing without token validation at all - it opens up security holes, so I'm trying to understand why this should be in our default API?

[2016-01-27 21:27] chadjaros commented on #87
This is code from a scala worksheet:

[code]

It seems the problem was that I was failing to base64 encode the secret for the jjwt library. Once I did that, they worked together.

[2016-01-27 21:27] chadjaros commented on #87
So it turns out that it was user error, rather than a real issue

[2016-01-27 21:30] lhazlewood commented on #87
Closing as user error.

[2016-01-27 21:30] #87 closed

[2016-01-27 21:44] chadjaros commented on #86
The use case is that the token will contain a user-id. This user id is required data in order to retrieve the secret from the database, which is stored per-user. SigningKeyResolver is an appropriate hook for this, but I'd be hesitant to embed a data dip within a third party library.

I'd have to create a subclass of SigningKeyResolver or SigningKeyResolverAdapter in order to properly leverage this

[2016-02-01 21:45] mad0gre opened #89 "Using SetClaims(Map<String, Object>) makes the NotBefore and Expiration dates being multiplied by 1000"
Hello,

I believe that the problem is on the JwtMap class.

The setDate(String, Date) method divides the date by 1000 (to store the date in seconds), and the getDate(String) method multiplies the dates by the same factor.

However, the JwtMap constructor that receives a Map makes no such check for dates, therefore dates will be stored in millis and multiplied by 1000 when the getDate(String) metho

[2016-02-02 19:01] vertex-github commented on #86
@lhazlewood I took a quick look at the SigningKeyResolver example you referenced.  That mechanism still requires us to generate a key and pass it back to jjwt. In our use case, we dont want to validate the key at this point - just extract a couple of the claims fields.  While we can wrap the following call with an exception block and move forwards, its not overly elegant:
```Jws<Claims> jws = Jwts

[2016-02-04 12:24] echox opened #90 "Parser doesn't throw SignatureException if no signature is included"
Hi,
I think if a SigningKey is set and the token doesn't contain any signature, a SignatureException should be thrown.

I think this would also address the vulnerabilities mentioned here: https://auth0.com/blog/2015/03/31/critical-vulnerabilities-in-json-web-token-libraries/

Example:

[code]

[2016-02-04 18:22] rickla commented on #86
I hit the same wall. I need what's inside the token to get my key, can't do it.

[2016-02-04 19:56] lhazlewood commented on #86
@rickla I don't understand:

This is *exactly* what the `SigningKeyResolver` was designed for.  Can you please elaborate?

[2016-02-04 20:05] lhazlewood commented on #90
Hi,

JJWT was mentioned in the article you referenced:

https://auth0.com/blog/2015/03/31/critical-vulnerabilities-in-json-web-token-libraries/#comment-1943426659

It is not vulnerable if you use the API correctly.  In this case, you're using the `Parser` API incorrectly.  You only call `parse` when you don't know the type of JWT - either an unsigned JWT, a JWS, JWE, etc, and even then you may not

[2016-02-04 20:35] rickla commented on #86
I put in the key resolver but it's a kludge. My utility is wrapping this and I have caller wanting just the payload and they don't yet have a key.

So what I did was put in the resolver, save the data before the exception, then return the data to my caller.

To hook in the key generation into this would not fit our model. The key generating code we don't want other things calling into, it's walled

[2016-02-04 20:49] lhazlewood commented on #86
Yep, I'm not saying it's not a valid issue - I just didn't understand the initial comment :)  Thanks for clarifying!

[2016-02-04 21:10] lhazlewood commented on #86
@vertex-github @chadjaros and @rickla

This is exactly what I'm confused/concerned about, and it seems that each of you are trying to do similar things.

If a JWT is signed (has a signature), and you don't validate it, you **cannot** trust what is in the JWT at all.  You shouldn't even look at it, process it, whatever.  If you ignore this, you open yourself up to spoofing attacks where an attacker

[2016-02-04 21:15] vertex-github commented on #86
Sure - one of the fields in the token is the expiration date.  If the token is expired, then we dont send the token off for validation which incurs a network round trip.  If its still valid, then we proceed, validate etc.  There are also other fields that we want to leverage that we don't care about from a security standpoint - some operations just don't require validation in our application.  For

[2016-02-04 22:02] chadjaros commented on #86
If your JWT contains the caller's id, and you require the callers id to find the signing key, you have to trust the unvalidated JWT up to a point. This is why you provide the SigningKeyResolver, so that you can initiate that lookup and validation.

I think the pattern is good, but the implementation leaves something to be desired. My issue remains that the requirements of implementing a SigningKey

[2016-02-04 22:13] rickla commented on #86
For my case it contains the user id. That is used to get the key.
Then we validate the token, no security hole there. If the userid is tampered with, nothing works.

The implementation problem is it assumes my code containing jwt processing is aware of its callers, which it is not. I can't have my generic jwt utility service magically aware of my login system, nor do I want to pass callback pointe

[2016-02-04 22:25] lhazlewood commented on #86
Unless I'm missing something, I think the SigningKeyResolver interface is already better than what you propose: it is a single method, not two.  Additionally, what is presented to you is fully parsed and ready-to-use Java objects that reflect both the header and the claims, and you can inspect them without restriction.  No `JsonNode` messiness.  Also, why a String return value?  Signatures are com

[2016-02-04 22:31] lhazlewood commented on #86
@rickla

Then we validate the token, no security hole there. If the userid is tampered with, nothing works.

Just to ensure I really understand here: you believe this is messy?

    Jws<Claims> jwt = parser.setSigningKeyResolver(new SigningKeyResolver() {
        public byte[] resolveSigningKeyBytes(JwsHeader header, Claims claims) {
            String userId = getUserId(claims);
            retur

[2016-02-04 22:32] lhazlewood commented on #86
@vertex-github would your concern be addressed if we did the other validations first before doing the signature validation?  Currently that happens after signature validation, but re-ordering it would be trivial.

[2016-02-04 22:41] rickla commented on #86
That example is bad for my particular use. keyStore.findByUserId(id) is not a call I can let the code where this lives access. That's an isolation breakage for me.

Here's my code right now. Yep ugly! But safe and contained, only calls in by requestors, no callbacks.

`   public Claims decodeToken(String token)
    {
        Claims claims = null;

        try
        {
            // This hacky th

[2016-02-04 22:48] vertex-github commented on #86
It would be great if there was a simple way for us to extract the body contents so that we could make decisions on the web server side of our back end infrastructure.  Only our auth service holds the keys that are used for signing and validation - they do not get passed out.  So, by forcing key validation when reading a signed token on the webserver, you force us to a.) right some messy code and c

[2016-02-04 22:52] lhazlewood commented on #86
Thanks @rickla

I understand that you're trying to get the claims without validation, but *why*.  Why can it be trusted?

Any maybe more broadly, why should JJWT, a generic library used by hundreds of teams and/projects, many in very secure contexts, allow what is essentially violating the JWT specification?

Could this be easily solved in your particular use case(s) by doing the following?

    i

[2016-02-04 22:54] vertex-github commented on #86
@lhazlewood Thats exactly what I think we're all trying to do - but a single API method would be much nicer:  call it something like parseClaimsUnsecure( String signedToken ) or similar

[2016-02-04 23:01] rickla commented on #86
I tried removing the signature and the code throws and exception not allowing it.

I think the jwt is being misinterpreted. If you had data that should not be used in any way unless verified, you'd encrypt it.

I have to have some way to know where to get my key. I could add some additional header or parameter with the user id, but that makes no sense to me. It belongs inside the token.

Finally,

[2016-02-04 23:03] lhazlewood commented on #86
@vertex-github my concern here isn't that you guys do/do not know what is good for your project - I'm sure you do, and make very calculated decisions here.

My concern is in adding something so risky that knowingly violates the specification (when JJWT is first and foremost supposed to be an uber-easy-to-use spec-compliant library), especially when compliance is relied upon by many other developer

[2016-02-04 23:05] lhazlewood commented on #86
@rickla I just ran this test and it works just fine (no exceptions):

    byte[] key = MacProvider.generateKey().getEncoded();
    String id = UUID.randomUUID().toString();

    String jws = Jwts.builder().setId(id)
        .setAudience("an audience").signWith(SignatureAlgorithm.HS256, key)
        .claim("state", "hello this is an amazing jwt").compact();

    int i = jws.lastIndexOf('.');
    St

[2016-02-04 23:13] lhazlewood commented on #86
This is verifiably false in cryptography.  Encryption as a general concept does *not* ensure authenticity at all.

There are many cases where message content can be publicly seen by 3rd parties with little/no ill effect, and that's ok, but you might still need to ensure the message is authentic before processing it.  A national passport is one such example.

[2016-02-04 23:37] lhazlewood commented on #86
So, here's my next question.

If we add this to the parser as an `insecure` method or something like that.  How would it work?

Signature validation is just one of many validations.  Should that only be turned off?  What about `exp`, `nbf` validation, or other types of validation?  Is it an all or none thing?  Thoughts?

[2016-02-05 00:22] rickla commented on #86
@lhazlewood I really mis-stated that, I'm well aware the two are different things!

Anyway, I figured out why your example works! I was using parseClaimsJw**s** not Jw**t**  I must admit I am not sure why two calls, but I just blindly copied it (I have not found the javadoc yet).

Anyway, this is much cleaner and exactly what I was looking for! It's probably what the original poster wanted also.

[2016-02-05 00:27] lhazlewood commented on #86
@rickla yeah, once you remove the signature at the end, it is no longer considered a JWS, hence the method name change to `parseClaimsJwt`

The difference in method names exists to make it easier to provide a return value of the type you expect to use.  A plaintext JWT is different than a claims JWT (e.g. body string vs body map respectively).  Because of generics and subtypes, we need to scope th

[2016-02-05 00:29] lhazlewood commented on #86
P.S. If you have suggestions for how this could be made more obvious/intuitive, please let us know!  The trick is ensuring that security and type-safety are maintained at the same time ;)

[2016-02-05 00:41] rickla commented on #86
I am new to these and the distinction between at jwt and jws is confusing, mainly because I thought jwt.io was a good learning source, and apparently they are a bit off, as well as other sites. It led be to believe jwt was the three part format, but it's really just the payload in the middle, right?

To help maybe the exceptions could say "this token has a signature, use parseClaimsJws instead" an

[2016-02-05 00:50] lhazlewood commented on #86
Yeah, the spec doesn't make it much easier to understand.  There is 'jwt' which is either a non-signed JWT, or, commonly, the generic name for any of the formats.  Then there's jws, which is a signed jwt, and then a jwe, which is an ecrypted jwt.  Then there's jwa, the spec for the various crypto algorithms used in jws and jwe.  Not too easy to grok :/

At a high level, a plain JWT has (in order):

[2016-02-05 19:44] lhazlewood commented on #86
@vertex-github do you think we need to re-order the validation checks and interact w/ the SigningKeyResolver last?

If we did that, would it have solved your specific problem?  Or do you still need to look at the claims for something else?

[2016-02-05 20:31] vertex-github commented on #86
Not really - we thought a simple API method that could give us the Claims without us having to mess with keys would be nice.

[2016-02-05 20:44] rickla commented on #86
How about this, make a little utility call somewhere JwsToJwt doing that string truncation to remove the signature. Then use the Jwt to get the claims.

[2016-02-05 21:52] lhazlewood commented on #86
@vertex-github I'm trying to address your previous comment that you wanted `exp` and such to be validated before incurring a network call for signature validation.  This is orthogonal to disabling validation.  I'm just trying to be clear on your intentions on that specific comment.

[2016-02-07 01:00] gamedevhelper opened #91 "Unable to parse JWT created from JavaScript"
I created a demo signed JWT using Javascript with the key "demo". When I send this signed 256 or 512 JWT to back end that uses jjwt, I am getting exception
*"io.jsonwebtoken.SignatureException: JWT signature does not match locally computed signature. JWT validity cannot be asserted and should not be trusted".*  I re-verified that I am using the same key "demo" when parsing it in the back end.

Is

[2016-02-07 02:52] lhazlewood commented on #91
Cryptographic signatures are always computed with keys that are byte arrays, not strings.  If you supply a string as the key to JJWT, it assumes the string is a base64-encoded byte array and JJWT will base64-decode the string first to get the actual key bytes.

In your case, I suspect that if you called `"demo".getBytes("UTF-8")` and passed those bytes to JJWT as the key, it would work.  **However

[2016-02-07 08:21] gamedevhelper commented on #91
I generated a new key using MacProvider.generateKey().  I also switch to another more mainstream JavaScript Library http://kjur.github.io/jsjws/tool_jwt.html and created new token with the the new generated key.  However result is still same. *Untrusted token JWT signature does not match locally computed signature*

[2016-02-07 18:15] vertex-github commented on #86
Not really - we thought a simple API method that could give us the Claims without us having to mess with keys would be nice.

[2016-02-08 17:03] lhazlewood commented on #91
We don't know how they implement the specification, and unfortunately we don't have the time to track down discrepancies with other projects.  I will say that JWTs created JJWT are interoperable with other JavaScript libraries we've seen, so the problem is probably with the library/libraries you've tried.  Without further information on why you're seeing problems or a test project that demonstrate

[2016-02-08 17:13] lhazlewood commented on #91
I just thought of something:  MacProvider.generateKey() returns a byte array.  Are you base64 encoding this before providing it to the JavaScript library?  If so, does that library know how to use base64 strings?  I've seen many JavaScript libraries incorrectly deal with key strings...

[2016-02-10 13:03] echox commented on #90
Thanks for the clarification. You are right.

Why/How I made this mistake:

I just was looking for a method to validate a given signed token string. At this point I'm not interested in checking for any claims.
* The first examples use `parseClaimsJws`, which returns `Jwt<Header, Claims>`, which I skipped, since I just need the token validation.
* The next examples from the release notes cover "Enf

[2016-02-10 13:15] echox commented on #90
I'm not sure if Closing the issue prevents commenting, so feel free to close :-)

[2016-02-10 15:50] ircecho commented on #67
We have a similar problem. In the client, we only want to check if the token is expired or not and display a more informative message. We do not really care if the token was manipulated at this point, since our backend does the real verification. What would be a good way to do it?

[2016-02-10 18:50] lhazlewood commented on #67
int i = jws.lastIndexOf('.')
    String withoutSignature = jws.substring(0, i+1);
    Jwt<Header,Claims> untrusted = Jwts.parser().parseClaimsJwt(withoutSignature);

That should work until we figure out a way to (safely) make this available in the library.

[2016-02-10 19:29] lhazlewood commented on #86
@vertex-github you just repeated your previous comment.  It did not answer my question.

Your stated concern was that you didn't want to incur a network call until *after* the dates have been validated.  If we moved date validation before signature validation, this would solve that problem.  What other concern do you have that is not satisfied by this change?

I'm not being difficult here - as a l

[2016-02-10 19:37] vertex-github commented on #86
Huh, so we did - my apologies.  That wasn't our intent.  We totally appreciate we are likely in a minority situation here so .  Thanks for your hard work on the library. Just leave it as is.

[2016-02-10 19:42] lhazlewood commented on #86
Thanks for the reply.  But per your comments, I do think it is better to do the other validation before signature validation anyway - specifically because of the potential for a network hop.  It's a minor optimization, but I'm sure it could help!

[2016-02-10 19:44] lhazlewood opened #92 "Perform other validations before signature validation"
As discussed in #86, the SigningKeyResolver might require a network hop.  It would be more efficient to do the other validations first before invoking the SigningKeyResolver to ensure that if the other validations fail, a network hop isn't ever executed.

This issue represents the work to ensure all validations execute first before finishing with signature validation.

[2016-02-11 07:42] josebarrueta commented on #92
Just my 2 cents here, I think one of the reasons I proposed to do all other validations after the signature is verified is because it's the only way to ensure that you can trust the content of the body.

I understand there are users that want to avoid a network hop to look for a key in a datastore or do a extra computing if the body has a invalid field, but we need to make sure this change doesn't

[2016-02-15 23:45] xnog opened #93 "Cannot validate JWT token with "typ" in header"
Hi, I am generating a JWT token (RS256) with jose-jwt (https://github.com/dvsekhvalnov/jose-jwt) and trying to validate it with your lib but when I have the header "typ": "JWT", i got "java.security.SignatureException: Signature length not correct: got 128 but was expecting 256". How can I validate it with this "typ" header? Thanks

[2016-02-16 00:39] xnog commented on #93
Sorry, my mistake.

[2016-02-16 00:39] #93 closed

[2016-02-16 13:12] thiloplanz commented on #77
@jebbench: For `requireAudience("a", "b")` would that mean

1) requires "a" **or** "b" to be in the audience
2) requires "a" **and** "b" to be in the audience
3) requires the audience to be exactly `[ "a", "b" ]` (in that order?)

Maybe we'd need more than one method (with the method name making it clear what it looks for).

[2016-02-16 13:22] jebbench commented on #77
@thiloplanz Sorry - I wasn't clear, I meant for the requireAudience method to support looking for a single audience from an array in the token.

[code]

`requireAudience("a") -> True`
`requireAudience("c") -> False`

[2016-02-16 15:36] alexkeramidas opened #94 "Support of Ed25519 Keys and Signatures from the libSodium Library"
Congrats for your good work. In an application that we are developing now, we use the libSodium library, specifically the Ed25519 algorithm to produce, sign and verify keys.

- https://github.com/jedisct1/libsodium (C library)
- https://github.com/joshjdevl/libsodium-jni (JNI binder)

To our knowledge JJWT does not support that algorithm and uses as keys [for signing and verifying] the native Andr

[2016-02-16 17:27] lhazlewood commented on #94
Hi @alexkeramidas

Thanks for the kudos!

ed25519 is not a [JWA](https://tools.ietf.org/html/rfc7518) spec-compliant algorithm, so JJWT does not currently support it.

That said, I think we'd be willing to do so if you can submit a pull request for the work and we *clearly* label anywhere it is referenced that it is not a specification-supported algorithm, and that people should use it at their ow

[2016-02-16 17:31] lhazlewood commented on #92
Good point!  Need to think then if this should be implemented.

[2016-02-16 17:38] lhazlewood commented on #77
Yep, this should be supported, as per the spec.  Thanks for the issue.  Pull Requests would be much appreciated!

[2016-02-17 14:39] alexkeramidas commented on #94
Thank you very very much!
We will start working on it and as soon as we are happy with the results (even if some tests fail) we will notify you about the progress and/or if some help will be needed. So you can close this issue until we come back to you with results!

[2016-02-17 19:54] lhazlewood commented on #94
Sounds good!

[2016-02-17 19:54] #94 closed

[2016-02-22 14:17] alexkeramidas commented on #94
All right got down to it today. The main difference is that we use sodium generated keys whereas the library uses normal java keypairs.

Also we want to generate the keys out of sodium so no need to make an Ed25519 provider for that purpose.

Anyway after 4-5 hours I managed to produce a correct (and verifiable via a python app we use) JWT using something like that

`Jwts.builder().setHeader(jwtHe

[2016-03-03 19:31] jaschenk commented on #81
Running into this issue.  Currently using the work around to set nbf via setter instead of claims map.

Any idea when this will be fixed?

Thanks,
Jeff

[2016-03-04 14:37] ExtinctAmoeba commented on #72
[code]
**Returns me SignatureException: ** JWT signature does not match locally computed signature. JWT validity cannot be asserted and should not be trusted.

What does it mean? And what I'm doing wrong?

[2016-03-04 19:16] lhazlewood commented on #72
use `.parseClaimsJws` instead of `.parse`

[2016-03-09 03:08] lhazlewood opened #97 "Cobertura + Open JDK7 core dumps"
We don't really need to test against Open JDK 7 anymore given that 1) Oracle JDK 7 builds work and 2) JDK 7 is end of lifed anyway.

[2016-03-09 03:17] #97 closed

[2016-03-09 03:33] lhazlewood opened #100 "Enable JJWT to be an OSGi bundle"

[2016-03-09 03:35] #100 closed

[2016-03-09 03:36] lhazlewood opened #101 "Update Jackson to latest stable dependency"
2.7.0 at the time of writing.

[2016-03-09 03:42] #101 closed

[2016-03-09 03:45] lhazlewood commented on #90
@echox thanks for the feedback!  We'll definitely try to make the docs better.  Your bullet list of thought progression was really helpful and can help us figure out how to make the API simpler too.

You can comment on closed issues, but I'll leave this one open to represent any work to simplify the documentation and/or any API methods.  Thanks!

[2016-03-09 04:23] lhazlewood commented on #86
@vertex-github I re-read this today:

What I am about to write is a large tangent for the originally discussed ticket, but I think it could be helpful for other people considering similar approaches.

If I'm reading between the lines, I think I understand what you imply by this: that the same JWS that is used to authenticate a request into your infrastructure is forwarded on to backend web servers

[2016-03-12 00:31] robertracz opened #103 "non base64 Encoded Secret Key"
Is there a way to use a secret that does not get base64encoded or that is a limitation of the digest algorithms? Just asking because I'm trying to directly communicate with an ios app using this lib:
https://github.com/yourkarma/JWT
and it works with non base64encoded secrets.

Regards,

Rob

[2016-03-12 00:36] #103 closed

[2016-03-12 00:38] robertracz commented on #103
Never mind, I realized what the difference is between the two libraries. I just needed an encoded decoded version of my base64 encoded string.

[2016-03-28 21:11] eldontc opened #106 "Expiration date not return with a correct value"
Class: JwtMap
Method:

`
[code]
`
When the v instanceof Number is true, the value of seconds is already in mills, then the seconds * 1000 multiply 1000 to milliseconds, cause date to go to long future. :)

[2016-03-28 22:16] josebarrueta commented on #106
Hi @eldontc,

The reason to multiply the Number by 1000, is because the ```exp```, ```nbf``` and ```iat``` [claims]((https://tools.ietf.org/html/rfc7519#page-10) per the JWT spec must be ```[NumericDate](https://tools.ietf.org/html/rfc7519#page-6)```, which also by the spec is defined by the number of seconds since epoch.

Since JJWT complies the spec, it assumes all values are already given in se

[2016-03-30 10:43] spidiTsakirales opened #107 "DefaultJwtParser does not use UTC"
Hello,

When generating a jwt, as part of the claims we add an expiration of UTC.now+30 minutes.
When  parsing back the jwt the DefaultJwtParser the dates are checked with the local timezone of the machine .

 Exception msg io.jsonwebtoken.ExpiredJwtException: JWT expired at 2016-03-30T11:37:33+0100. Current time: 2016-03-30T12:07:34+0100

            Date now = null;
            SimpleDateFormat

[2016-03-30 19:29] lhazlewood commented on #107
The date checks are valid - `java.util.Date` is timezone independent (per the Javadoc).

What you are seeing is a bug that the _text_ in the exception message (the printed date) is reflecting the local timezone, and yes, that string logic should probably be UTC-based by default.

We'll use this issue to track the fix - thanks for submitting it!

[2016-03-31 21:38] kennycason opened #108 "Secrets with "_""
I have a secret token of the format, abc_def_ghi. On the Jwt.io page I paste in my JWT, and past my secret that has "_"s  and check "base64 encoded secret" and it validates the signature. I'm having problems getting this to work in my code. Any recommendations on getting around this? I've tried reformatting the base64 and have had little luck.

[2016-03-31 21:46] kennycason commented on #108
Nevermind, `Base64.decodeBase64(TestUtils.resourceToString("secret/staging_secret.txt").getBytes())` fixed it.
I had to switch from using `java.util.Base64` to `org.apache.commons.codec.binary.Base64` to get it to work

[2016-03-31 21:46] #108 closed

[2016-04-01 23:21] lhazlewood commented on #106
Closing this issue since the JWT spec requires timestamp values to be in seconds, not milliseconds, but please feel free to re-open if you believe a change should be made.

[2016-04-01 23:21] #106 closed

[2016-04-01 23:22] lhazlewood commented on #92
Agreed that signatures must be validated before other fields can be validated since you can't validate fields that are not yet trusted.

[2016-04-01 23:22] #92 closed

[2016-04-01 23:24] lhazlewood commented on #91
Given no follow ups by the OP, I'm closing this issue.  Please feel free to re-open if you can provide a test case that shows what is breaking.

[2016-04-01 23:24] #91 closed

[2016-04-02 00:35] lhazlewood commented on #37
They merged the last PR.  Yay!

[2016-04-02 00:35] #37 closed

[2016-04-02 01:13] lhazlewood opened #109 "Support the injection of a time source"
so that timestamp checks can be customizable if desired

[2016-04-02 01:23] #109 closed

[2016-04-03 04:02] lhazlewood commented on #72
Closing due to inactivity and no functionality changes discussed.  Feel free to re-open if there is something to be done.

[2016-04-03 04:02] #72 closed

[2016-04-03 04:03] #68 closed

[2016-04-03 16:07] QiuMing opened #111 "NoClassDefFoundError: com.google.android.gms.R$string in android project"
Hi, I am trying to use jjwt  for my android project,but while I add
` compile 'io.jsonwebtoken:jjwt:0.6.0'` in  my build.gradle profile, I  could not start my app   and  get exception like this
` Could not find class 'android.app.AppOpsManager', referenced from method com.google.android.gms.common.zze.zzb
04-03 23:48:06.681 12759-12759/? E/AndroidRuntime: FATAL EXCEPTION: main
04-03 23:48:06.681 1

[2016-04-03 23:52] bearrito opened #112 "Documentation on use of Public/Private Keys"
Any docs or even links to relevent tests on using Public/Private Keys would be useful.

I have seen and read : https://github.com/jwtk/jjwt/issues/25 but could not figure out how to actually use the keypair.

I'm attempting to do what I think should be the obvious thing but receive

[code]

[2016-04-04 17:01] lhazlewood commented on #111
It appears that you need to enable Multidex with Gradle:

http://stackoverflow.com/questions/34831445/java-lang-noclassdeffounderror-com-google-android-gms-rstring-error-after-ad

[2016-04-04 17:01] #111 closed

[2016-04-05 11:04] QiuMing commented on #111
Thank you  very much.That is I  want  to find and it solve  my problem  at last.Thanks

[2016-04-07 03:40] hisankaran commented on #91
I am using https://www.npmjs.com/package/jsonwebtoken and I had the same problem

This helped me to safely decode the body.

[2016-04-07 15:35] lhazlewood commented on #91
I personally don't trust most JavaScript-based solutions - of the ones I've seen, they have had silly cryptography mistakes and as a result haven't been that trustworthy in my opinion.  Because JJWT was written and verified with test cases that came directly from the RFC, it is as 'correct' as I've seen.

@hisankaran - I don't know your exact use case, but "my_secret_key".getBytes("UTF-8") is almo

[2016-04-12 07:15] GuillaumeUnice commented on #112
+1

[2016-04-12 10:02] spidiTsakirales commented on #107
Thanks for getting back. Dates are always fun!
Per Javadoc indeed only date.toString() is in localDateTime which caused confusion here. We actually saw a use case where one server would issue a jjwt token with expiry set to 30 min, another server would parse it and as servers were in different timezones, parsing would fail.

We use jdk 1.8 ZonedDateTime which we convert to Java.util.Date.
I think

[2016-04-12 20:34] lhazlewood commented on #112
Hiya,

We want to document this properly, but in the mean time, here's a minor example (excuse the Groovy - it was adapted from a test class):

[code]

More tests are in https://github.com/jwtk/jjwt/blob/master/src/test/groovy/io/jsonwebtoken/JwtsTest.groovy

HTH!

[2016-04-13 01:49] lhazlewood opened #113 "Initial JWE support"
Shared key ( `dir` ) encryption first, more complicated next.

[2016-04-15 08:41] GuillaumeUnice opened #114 "Verify Signature client side"
Hi, I want to know if exist a JS library in order to verify client side the JWT generate by JJWT. I see you have develop NJWT but I would like verified signature client side? Do you know if it’s possible with JJWT?

Thanks for your help!

[2016-04-15 15:59] lhazlewood commented on #114
The best thing to do here is to create a JWS (signed JWT) on the server side using a private key and let the client tier use the corresponding public key to verify the signature.  I don't know if NJWT can do that yet, @robertjd ?  If not, there are probably other JS libraries that support rsa public key signature validation, but I personally don't know that landscape well enough to make a recommen

[2016-04-18 07:06] GuillaumeUnice commented on #114
The problem is here, I test jsrasign and some other but the format of public key provide by JJWT not match with other library :s...

[2016-04-18 16:15] lhazlewood commented on #114
Most JavaScript libraries I've seen fail tremendously on representing cryptography concepts correctly, but this has nothing to do with JJWT, and the JJWT maintainers don't have the time to see if other language libraries work correctly according to the JWT RFC specifications.

Because of this, I'm closing this issue as it is unrelated to JJWT.  If you have an issue related to the JJWT library itse

[2016-04-18 16:15] #114 closed

[2016-04-21 04:54] dsingh13 opened #115 "Support for JWK"
Do JJWT have support for JWK? How can I verify the JWT using JWK?
Please provide any example.

Thanks,
DSingh13

[2016-04-21 05:30] lhazlewood commented on #115
Not currently, but it will be implemented before 1.0 final for sure.  We're currently working on JWE, and that will likely need JWK concepts, so we might get to JWK at the same time - we'll see.  Stay tuned!

(PRs always welcome too! ;) ).

[2016-04-21 15:00] dsingh13 commented on #115
Thanks! Will wait for it.

[2016-04-21 15:35] lhazlewood commented on #115
Out of curiosity, can you please explain your particular use case so we have an understanding of what is going on so we can prioritize accordingly?

[2016-04-22 15:01] dsingh13 commented on #115
In our case, we don’t have cert or secret key for validation. We will get the JWK set from the OAuth 2.0 server, published at a well-known URL. We want to use it and get our JWT validate.
Using this pattern we can also gracefully handle key-rollover. Hope this provide you some insight what we are looking for.

[2016-04-22 15:36] lhazlewood commented on #115
So let me see if my understanding is correct:

- You probably use an API Key (or similar HTTP Authorization header-based mechanism) to authenticate with an OAuth 2.0 server when requesting a well-known URL.
- The response to that request contains a JWK that reflects the signing key that you should use for validating future messages that come from the OAuth 2.0 server.
- When you receive a signed J

[2016-04-22 16:19] dsingh13 commented on #115
Yes,this is the correct use case.

Thanks!

[2016-04-24 02:28] lhazlewood commented on #115
👍

[2016-04-26 16:44] BryanHunt opened #116 "OSGi bundle should not require android package"
The OSGi bundle imports package android.util which doesn't work in a pure Java OSGi environment.

Import-Package
  android.util
  com.fasterxml.jackson.core             {version=[2.4,3)}
  com.fasterxml.jackson.databind         {version=[2.4,3)}
  io.jsonwebtoken.lang
  javax.crypto
  javax.crypto.spec
  javax.xml.bind
  org.bouncycastle.jce                   {version=[1.51,2), resolution:=optiona

[2016-04-26 22:17] lhazlewood commented on #116
Hiya!

Can you please open a pull request?  No one on the JJWT team uses OSGi and we don't have an interest in maintaining its metadata ourselves, so if it should be supported in the future, we pretty much have to rely on Pull Requests from the JJWT community.

[2016-04-26 23:03] BryanHunt commented on #116
I just looked at this some more, and it appears the pom file has the package marked as optional, but that change was after the 0.6.0 release.  I think it is a simple matter of cutting a release.

[2016-04-28 23:01] 4-k opened #118 "How do I get token from certificate?"
Do we have something like this with jjwt?

[code]

This is implemented in [jsonwebtoken](https://github.com/auth0/node-jsonwebtoken)

Any alternatives?

[2016-04-28 23:12] 4-k commented on #118
What I have tried here is:

[code]

Not sure if this is the right way to do it!

[2016-04-28 23:41] lhazlewood commented on #118
Not quite - you have to sign JWTs with a _PrivateKey_, not a PublicKey.

X.509 certificates do not contain the Private Key - they only contain a public key - so you can't use an X.509 certificate alone to derive the PrivateKey necessary to sign a JWT.

You might find the article [What is an X.509 Certificate?](https://stormpath.com/blog/what-x509-certificate/) helpful.

[2016-04-29 00:58] 4-k commented on #118
@lhazlewood I get that.

I am now using this:

[code]

[2016-04-29 15:07] lhazlewood commented on #118
If that works and what comes out is both an `RSAKey` and a `PrivateKey` instance, then yes, I'd say you're good to go. :)

That said, you of course wouldn't want to do Key reconstitution_every_ time you sign a JWT, so I'd assume you'd do that at application startup and cache it somewhere to re-use.

[2016-05-10 11:55] laurensb opened #119 "Security vulnerability in JWT parser"
Hi,

I believe the security vulnerability described here:

https://auth0.com/blog/2015/03/31/critical-vulnerabilities-in-json-web-token-libraries/

also effects JJWT.

One possible way of handling this would be to change the signature of JwtParser::setSigningKey to also include a parameter of type SignatureAlgorithm. Or at least to include a parameter indicating whether a secret key (e.g. HS256) o

[2016-05-11 22:54] rudolfschmidt opened #120 "Does the library support Token Expiration?"

[2016-05-12 22:26] nbarbettini commented on #119
@laurensb AFAIK, this has already been addressed here: https://github.com/jwtk/jjwt/issues/20

[2016-05-12 23:04] caseyscarborough opened #121 "Cannot use with Jackson 1.x provided dependencies"
We would like to use this JWT library, but we currently use Jackson 1.x dependencies provided by the application server, making it impossible to use without getting runtime exceptions ([as mentioned in the README.md](https://github.com/jwtk/jjwt#already-using-an-older-jackson-dependency)).

Is there any way to make this so that Jackson 1.x can be utilized?

This is also related to issue #1.

[2016-05-12 23:24] #121 closed

[2016-05-12 23:25] caseyscarborough commented on #121
Actually, just tested this with Jackson 1.x on the classpath and it seems to be working with no runtime issues. Will report back if I run into any issues!

[2016-05-13 00:24] dmitriyvolk commented on #83
David, did you manage to go around this problem somehow? Thank you!

[2016-05-13 14:14] dwalend commented on #83
I hacked around it with (the only) lump of Java code in SHRINE. It'll likely work for Java through JDK10 and maybe JDK11, but the folks at Oracle do want to change existential types into a compile error. You'll want to fix this (maybe with higher kinded types, which Java can handle, but not gently) eventually. The easiest fix for you might be to remove the type parameter entirely. Groovy doesn't c

[2016-05-14 01:43] dmitriyvolk commented on #83
Thanks, Dave, I ended up doing something very similar. Was easier for me, too, because I didn't have to do anything general-purpose. I only had to provide an interface for resolving the key based on the issuer.

Dmitriy

[2016-05-14 08:34] sashu opened #122 "JwtMap.toDate method requires seconds"
`else if (v instanceof Number) {
            long seconds = ((Number) v).longValue();
            long millis = seconds * 1000;
            return new Date(millis);
        }`

The claim has value new Date() and is parsed as Number in Map and the number is in millis so no need to multiply the millis to 1000 it should not be presumed that he number value will be coming in seconds always. Since we a

[2016-05-14 18:22] lhazlewood commented on #122
Hi @sashu,

I'm afraid this statement is incorrect:

The JWT RFC specification *requires* datetimes to be represented in seconds since epoch, never milliseconds.  See the `NumericDate` definition here:

https://tools.ietf.org/html/rfc7519#page-6

That said, I'll leave this ticket open as a reminder to put a code comment in that section of the code so that other people in the future know why it mus

[2016-05-14 18:27] lhazlewood commented on #83
What is the suggested fix for this issue?  Without a suggestion or PR, it doesn't seem like there is anything to be done?

[2016-05-14 18:30] lhazlewood commented on #83
Is it to change the method signatures from these:

[code]

to these:

[code]

?

[2016-05-14 18:33] lhazlewood commented on #120
Yes.  Look at the JavaDoc for `Jwts.parser().parseClaimsJws` - notice the ExpiredJwtException in the throws clause.  Also look at `JwtBuilder` `setExpiration` and `setNotBefore`.

[2016-05-14 18:33] #120 closed

[2016-05-14 18:35] lhazlewood commented on #118
Closing this issue as it is not an issue with JJWT itself.  Feel free to re-open if you'd like to make a suggestion to improve the JJWT code for this use case.

[2016-05-14 18:35] #118 closed

[2016-05-14 19:02] dwalend commented on #83
That's probably the most type-safe option. Do you care about backwards compatibility?

[2016-05-14 19:09] lhazlewood commented on #83
Yes, but to a slightly lesser degree while we're on 0.x.  Once we hit 1.0.0, we'll need to be very strict about semantic versioning.

That said, I don't think this will break anything - at least not in Java.  I made the method signature change (didn't change the Adapter at all), rebuilt the entire project, and all tests pass.

[2016-05-15 12:20] dwalend commented on #83
No new warnings even? That's a surprise.

Thanks for making the fix,

Dave

[2016-05-15 13:26] laurensb commented on #119
@nbarbettini Thanks for pointing out that issue, I searched for something similar, but obviously I didn't search well enough.
Looking at the code I now realize that the RSA and ECDSA validators check whether the key is of the correct type, so the issue can indeed not occur.

[2016-05-15 13:26] #119 closed

[2016-05-17 09:17] bringfeldt opened #123 "Muliple valid sinatures when signing JWT with HS512 and HS256"
We've just noticed that when we sign a JWT with the HS512 signature algorithm we can replace the last character and still have the token's signature verified. The pattern is that if, let's say, the signature ends with an 'A' all tokens ending with 'B' to 'O' (the following 15 characters in alphabetical order) will also pass when checkin the signature. The problem also arises when we sign the token

[2016-05-17 15:56] lhazlewood commented on #123
For security reasons, I won't open .zip files from people I don't know personally.  Can you please provide a [Gist](https://gist.github.com) or a GitHub example project?

After Base64-decoding, how long is the key byte array?

For HS256, the key should be 64 bytes (512 bits) long.  For HS384 and HS512, the key should be 128 bytes (1024 bits) long.

If a key is not long enough to match the block si

[2016-05-17 16:04] lhazlewood commented on #123
P.S. while those key lengths (HS256=512 bits, HS384/HS512=1024 bits) should guarantee there are no key collisions (as I think you may be seeing) for a respective algorithm, many security experts believe that 128 or 256 bit keys are just fine (even with zero padding) because brute forcing such a key is still seen outside the capability of today's common computing infrastructure.  So if your Base64-

[2016-05-18 06:33] bringfeldt commented on #123
Of course, my bad. Sorry about the zip-file.

Thanks for your response! I was wondering if the size of the key or the the data that is signed could explain what happens, I was curious about have this could be and it feels assuring that you don't see any immediate security issues. I will look into it based on your suggestions and I will of course let you know if I can't figure it out.

[2016-05-18 15:10] lhazlewood commented on #123
Sounds good - please feel free to re-open this issue if you think there is work to be done by the JJWT team.

[2016-05-18 15:10] #123 closed

[2016-05-20 13:34] MohamedHaggagH opened #124 "I have error in DefaultJwsHeader class of Name Clash"
Multiple markers at this line
	- Name clash: The method compute(K, BiFunction<? super K,? super V,? extends V>) of type Map<K,V> has the same erasure as
	 compute(K, BiFunction<? super K,? super V,? extends V>) of type Map<K,V> but does not override it
	- Name clash: The method computeIfAbsent(K, Function<? super K,? extends V>) of type Map<K,V> has the same erasure as
	 computeIfAbsent(K, Functio

[2016-05-20 15:01] lhazlewood commented on #124
Which version of Java are you using?

JJWT builds on Oracle JDK  7 and JDK 8:

https://travis-ci.org/jwtk/jjwt

[2016-05-22 08:28] MohamedHaggagH commented on #124
First of all thank you for your fast reply,
I am  using JDK 8. I  removed the implementation of jwsHeadr interface from DefaultJwsHeader and it Worked jusy fine.

Thank you for this amazing library :).

[2016-05-22 18:32] lhazlewood commented on #124
Hi - thanks for the feedback!  Which JDK 8?  Oracle JDK 8? Or Open JDK 8?

I'm confused as to why it builds on Oracle JDK 8 in TravisCI but fails on your JDK 8.

[2016-05-22 18:41] MohamedHaggagH commented on #124
![screenshot from 2016-05-22 20 40 46](https://cloud.githubusercontent.com/assets/10831441/15455728/ecf061e4-2065-11e6-8e70-456f444e2f75.png)

[2016-05-22 18:48] MohamedHaggagH commented on #124
![screenshot from 2016-05-22 20 47 42](https://cloud.githubusercontent.com/assets/10831441/15455764/dcd17ce8-2066-11e6-90b4-11c9c07a2fb1.png)

[2016-05-22 18:50] lhazlewood commented on #124
Then I can't say why it fails for you.  Our CI server runs the build on JDK 8 and it passes with no problems.

Please try to build JJWT on the command line (using Maven) and not in an IDE.  If it passes on the command line and fails in your IDE, then the problem is with your IDE, not JJWT.

I hope that helps!

[2016-05-22 19:12] MohamedHaggagH commented on #124
Thank you,Unfortunately I don't know Maven but i will try to do it and give you the feedback.

[2016-05-24 19:35] martinvw opened #125 "JWS ECDSA signatures should not be ASN.1 DER formatted"
After some security auditing it appeared that when using JJWT with elliptic curve, only a part of the signature is taken into account when validating. Than means than one can append any value to it, it could be the letter 'a' or even an XSS string which could reflect back...

I wrote a test to explain the problem, I can create a pull-request for it. But note that I only added the test, I did not y

[2016-05-24 21:14] lhazlewood commented on #125
I found a way where we can test this accurately using RFC 7520 test vectors:

https://tools.ietf.org/html/rfc7520#section-4.3

The trick here is that ECDSA will automatically generate random bytes during signature calculation (without us controlling that) so we have to 'fake' it to ensure the random number generator returns the same data in the test vectors.

The `FixedSecureRandom` technique outl

[2016-05-25 17:13] lhazlewood commented on #125
After researching this more, I'm fairly confident this is **not** a security issue - just a compatibility one.  IIUC the ECDSA signature verification algorithm will only use the first N bytes of the specified signature and ignore any remaining.  So appending data to an ECDSA signature before validation isn't a valid test.

What *does* need to be done however is to ensure JWS-compatible byte array

[2016-05-29 16:26] sunfeng90 opened #126 "How to use in adt of Eclipse ?"
There are any jars to help the user of eclipse to realise the JWT?

[2016-05-30 01:25] lookuptable commented on #126
Not sure what you're asking exactly.

but if you just want to import this project into eclipse, you can run `mvn eclipse:eclipse` and then import

[2016-05-30 01:28] lookuptable commented on #126
Are you using any build tool like maven or gradle?

[2016-05-30 14:49] cope opened #127 "Is there a good old JAR file I can just use?"
Please?

[2016-05-31 06:19] sunfeng90 commented on #126
No,I using adt and eclipse.

[2016-05-31 16:04] lhazlewood commented on #127
The overwhelming majority of the Java world uses Maven or Gradle or even Ant+Ivy and these tools all acquire the necessary dependencies for you.  The days of manually downloading .jar files - specifically because of the complexities of dependency management and version resolution - is gone.  Please use one of these tools in your project to use JJWT.

That said, here is the fastest way to get the j

[2016-05-31 16:04] #127 closed

[2016-05-31 16:06] lhazlewood commented on #126
Pleas use maven or gradle.  The JJWT project does not have plans to support IDE-specific artifacts.

[2016-05-31 16:06] #126 closed

[2016-06-01 09:20] cope commented on #127
I am getting a build failure for `mvn install -DskipTests`:

[code]
And this is after using -e -X options:
[code]
This is the output for mvn -v:
[code]
I still ran `mvn dependency:copy-dependencies -DincludeScope=runtime` after the above error and this one finished successfully...

So, if the above error is not important, these are the JAR files, then:
[code]

Does this look correct?

[2016-06-01 15:28] lhazlewood commented on #127
The above error is not important.  Those jar files look correct.

[2016-06-01 15:29] lhazlewood commented on #127
oh - you are using a SNAPSHOT build.  This is a volatile/changing build and is not guaranteed to work at all times.  You might want to checkout the latest git release tag to ensure a stable build.

[2016-06-03 15:12] CodeMax opened #128 "Signature verification key accepted but they are not same"
When i create a Token which has the Password "abc123" with the following lines:

`byte[] apiKeySecretBytes = DatatypeConverter.parseBase64Binary("abc123");`
`Key signingKey = new SecretKeySpec(apiKeySecretBytes, signatureAlgorithm.getJcaName());`
`JwtBuilder builder = Jwts.builder().signWith(SignatureAlgorithm.HS512, signingKey)`

And then parse this Token by using the Password "abc1234"

`Claims

[2016-06-03 18:42] lhazlewood commented on #128
"abc123" is not base64 encoded text - you can't use `parseBase64Binary`.

JWS signatures should always be computed and verified by a secure-random key of sufficient length for the algorithm you are using.  Normal 'passwords' (like what people use for username logins) are usually always a bad idea for creating signatures - the cryptographic properties (entropy, length) are very different.

See JJWT

[2016-06-03 18:51] lhazlewood commented on #128
oh, but other than key generation, yes, your builder/parser calls look fine.  This is pretty much the same scenario shown in the Readme's [Usage](https://github.com/jwtk/jjwt#usage) section.  Cheers!

[2016-06-04 12:15] afattahi54 opened #129 "activity-based expiration vs issuing time-based expiration"
In a typical web base application, setting the session time out, for example to 6, means that the session is valid if user does not send any request in 6 minutes.

Well, according to above definition, is it possible that I can set the expiration time base on user activity for a JWT token not a certain time?!

Does "jjwt" implement this or I should handle it myself ?

[2016-06-05 19:54] lhazlewood commented on #129
Hi @afattahi54

JJWT's scope is currently focused *only* to the JWT RFC specifications.  You might think of it as a library and not a framework.

You can use JWTs for things like session management (and many other things), but because the JWT specifications do not propose algorithms specifically for application session management, JJWT does not address such concerns.  You must implement that yours

[2016-06-06 16:08] lhazlewood commented on #129
Closing since there is no work to be done in the JJWT project.  Please use StackOverflow (with the `jjwt` tag) for general questions.  Thanks!

[2016-06-06 16:08] #129 closed

[2016-06-06 16:12] lhazlewood commented on #128
Closing as there is no work to be done for JJWT.  For general questions, please use StackOverflow and use the `jjwt` tag.  Thanks!

[2016-06-06 16:12] #128 closed

[2016-06-07 20:37] lhazlewood commented on #124
I'm closing this issue as there does not appear to be a problem with JJWT itself.  Please re-open if you discover otherwise.  For general questions, please use StackOverflow and use the `jjwt` tag.  Thanks!

[2016-06-09 17:51] himion0 opened #130 "a"

[2016-06-10 00:17] #130 closed

[2016-06-10 10:56] cope commented on #127
I used `git clone --branch 0.6.0 https://github.com/jwtk/jjwt.git` and it worked. Thanks :)

[2016-06-10 11:07] cope opened #131 "Using private/public key example"
Hi, can you please provide an example of how to sign/verify using an existing private/public key pair?

I got it working in node with [node-jsonwebtoken](https://github.com/auth0/node-jsonwebtoken), like this:

[code]
And it works just fine.

**I would like to do the same in Java.**

[2016-06-17 20:18] chunsaker opened #133 "Break out change log to separate file from readme"

[2016-06-18 11:32] notedit opened #135 "parse jwt without key support"
the python jwt support that   decode the payload but not verify.

jjwt support that?

[2016-06-18 21:24] mrwilby commented on #61
+1 . Thinking how to do this now myself.

[2016-06-19 16:22] LGRI commented on #135
This is a essential component for jwt.
jjwt seems to cover only server side jwt handling, but not client side.

[2016-06-21 14:34] csmithmtb commented on #131
Here's what I did during testing using a key pair with the library:
Create a RSA keypair in a java keystore:
`keytool -alias jwtkey -keyalg RSA -dname "CN=Server,OU=Unit,O=Organization,L=City,S=State,C=US" -keypass keypassword -keystore server.jks -storepass jkspassword
`
Java code:
[code]
If you need to get the public key, you can do the following:
[code]
The openssl command will output the publi

[2016-06-21 16:10] lhazlewood commented on #131
Java doesn't support `.pem` files natively.  You'll need to convert from .pem to a format that Java understands.  For example:

http://stackoverflow.com/questions/11787571/how-to-read-pem-file-to-get-private-and-public-key

[2016-06-24 01:23] martintreurnicht opened #136 "Signatures not valid in other implementations"
I'm using ES512 algorithm. When i generate a signature, it's valid in java but doesn't work with https://github.com/progrium/ruby-jwt or https://github.com/auth0/node-jsonwebtoken, but tokens generated by those 2 work with each other.

When trying to parse a token in node, i get the following error:

`JWT Verify error: TypeError: "ES512" signatures must be "132" bytes, saw "138"`

When trying to p

[2016-06-27 22:53] martintreurnicht commented on #125
I've created a pull request to fix this issue, see https://github.com/jwtk/jjwt/pull/137

[2016-06-27 22:53] martintreurnicht commented on #136
I've managed to resolve this issue, see pull request https://github.com/jwtk/jjwt/pull/137

[2016-06-27 23:23] lhazlewood commented on #136
Closing this as a duplicate of #125.  Feel free to ask to re-open if you believe this categorization is incorrect.  Thanks!

[2016-06-27 23:23] #136 closed

[2016-06-27 23:34] lhazlewood commented on #135
This is incorrect - JJWT is meant to be used for both server and client-side scenarios.

What you are asking for is to ignore the signature on a valid JWS and read the JWT header and body anyway.  This violates the JWS specification, and because of that JJWT won't do it for you automatically (JJWT is a spec-compliant library).

That said, if you still want to violate the specification and read the

[2016-06-28 05:03] LGRI commented on #135
@lhazlewood So for spec-compliant reason, we all should expose our secret key to our client, right? Then it violate the rules of web security, for spec-compliant reason. The first & second part of the JWT can be decoded by anyone reason is fairly simple: for decoding by anyone at client-side, without exposing the secret key. If the JWT is designed to be encrypted, why bother to include the first a

[2016-06-28 16:16] lhazlewood commented on #135
@LGRI Of course you shouldn't expose keys in the client - and no one said or even implied that.  How did you infer that?

I could be wrong, but it seems as if many people may not understand the differences between a JWT, a JWS and a JWE.  Anyone who uses any JWT library (JJWT or not) needs to know what these things are.  Libraries like JJWT only facilitate working with these concepts, so people ne

[2016-06-29 01:19] LGRI commented on #135
@lhazlewood The JWT signature is signed by the secret key with payload and header, which means it encrypt the payload and header with secret key. I refered the "JWT signature" as JWS, if there's anything wrong everyone is welcome to correct me anytime. The way I inferred that I should expose my secret key is by using your library, for compliant to spec of validating JWT procedure. I know the anato

[2016-06-29 17:17] lhazlewood commented on #135
I don't mean any disrespect, but I feel it is important to correct some of your statements that are incorrect so that other people reading this thread understand correct terminology.  Everyone who uses JWT/JWS/JWE *needs* to understand these concepts before using any JWT library.

This is incorrect.  It should be:

"A JWS is created by signing a JWT header and payload with a signing key and the re

[2016-06-29 17:39] lhazlewood commented on #135
Here is the Java code for the above answer - you can put this logic in your client:

[code]

The important point here is that *you* (not JJWT) are violating the specification by manipulating the JWS, and you're doing it in a calculated way based on your specific use case.  This is fine for individual use cases, but probably not for a spec-compliant library like JJWT.

[2016-06-29 17:39] #135 closed

[2016-06-30 11:36] miladsalehi opened #138 "Verify signature without based64 encoded"
Hi,

When i input my signed json in jwt.io debugger must check secret base64 encoded to verify signature.
How can i verify signature without based64 encoded?

Thanks.

[2016-06-30 16:15] lhazlewood commented on #138
Hi @miladsalehi,

Can you please ask this question on StackOverflow.com and use the `jjwt` tag?  GitHub issues are only used to track work that must be done in the project.

[2016-06-30 16:15] #138 closed

[2016-06-30 21:12] lhazlewood commented on #125
resolved via #137

[2016-06-30 21:12] #125 closed

[2016-06-30 21:14] lhazlewood commented on #116
closing as resolved since this will be in the next release.  If there is work to do beyond cutting the release, please feel free to re-open.

[2016-06-30 21:14] #116 closed

[2016-07-01 06:08] safvan-elitecore opened #139 "Old Token not getting expired when a new Token is generated before its expiry date"
Hello,
Following is the sequence:
- Generate a Token with expiry date as 30 minutes from current time.
TOKEN 1: String authToken = Jwts.builder().setSubject(username).setExpiration(expiryDate).signWith(SignatureAlgorithm.HS512, key).compact();
- After 15 minutes, generate another Token with same subject.
TOKEN 2: String authToken = Jwts.builder().setSubject(username).setExpiration(expiryDate).sign

[2016-07-01 14:27] bhowell2 commented on #139
@safvan-elitecore,

This is expected behavior on YOUR part, but NOT expected behavior of JWTs. One of the drawbacks with JWTs is invalidating them. The only things that will invalidate a JWT are if it is expired or the signature doesn't checkout. If you're wanting to invalidate them with anything other than time expiration, you're basically getting into tracking state and must store which tokens a

[2016-07-01 18:50] lhazlewood commented on #139
Closing this ticket as this is not something any JWT library can solve as described by @bhowell2

[2016-07-01 18:50] #139 closed

[2016-07-04 18:57] lhazlewood commented on #78
Resolved by #105

[2016-07-04 18:57] #78 closed

[2016-07-04 18:58] lhazlewood commented on #133
Resolved per merge of #134

[2016-07-04 18:58] #133 closed

[2016-07-05 10:08] madmuffin1 commented on #131
@csmithmtb your keystore command is missing the `-genkeypair` param (at least for me on Java 8)

[2016-07-05 12:11] sainaen opened #142 "Depending on the number value of custom claim, DefaultClaims#get() returns Integer or Long"
Simple test case:
[code]
Here, Jackson finds that a `5` is small enough to fit in the `Integer` and so unmarshalls into it, instead of expected `Long`.

What makes matters worse is that when a value is large enough (`≥ 2^31`), Jackson will switch to `Long` and so code that naively always `get()`-s `Integer` will stop working:
[code]

I was going to submit a pull request with addition of simple `if

[2016-07-07 14:30] omsmith opened #143 "Consider using a different Base64 decoder"
As per https://github.com/auth0/node-jsonwebtoken/issues/208, some users of your library are getting stuck on passing in a `String` as a secret. My initial response was "that's not base64, it should be throwing" however given the decoder used, that doesn't appear to be the case. I expect the experience would be much improved if a proper base64 decoder was used, which complained about invalid base6

[2016-07-11 11:35] Rhaea opened #144 "Different secrets allow same token"
Using the secret:
2vwvM326yzyixttGADWoq4rw6iVfj6UQzPmkgKfRY6tPv9M3sC
on one server, and the secret
2vwvM326yzyixttGADWoq4rw6iVfj6UQzPmkgKfRY6tPv9M3sB
on the other will create a situation where both servers accept tokens comming from one another.

I can only think of one reason, namely that parsing the secret will ignore certain bytes if the length is not dividable by some number or similar.
This s

[2016-07-11 16:16] lhazlewood commented on #144
It is not a security risk.  From the sound of your issue, I'd assume you're using an HMAC SHA hashing algorithm, which truncates keys if the key length is greater than the algorithm block size.

Please either ask questions or do your research first before claiming something is a security risk, as doing so could cause worry for others following the issue tracker when no reason to worry exists.

[2016-07-11 16:16] #144 closed

[2016-07-11 21:02] lhazlewood commented on #143
Thanks for the issue!  I agree this could improve usability, so it's a nice enhancement.

[2016-07-13 21:01] dogeared opened #146 "Remove signWith method from JwtBuilder Interface that takes String param"
In `JwtBuilder`, there's a variant of the `signWith` method:

[code]

Although the method signature is clear, people may misunderstand its intent.

Removing this signature will force people to always sign with a `byte[]` or with a `java.security.Key`, thereby insuring that best practices are adhered to.

If we want to provide a way for developers for pass in a base64 encoded byte array, we could p

[2016-07-13 21:02] lhazlewood commented on #146
no need for a static method - they can use `TextCodec.BASE64.decode(aString);` :)

[2016-07-14 22:13] edjiang opened #147 "Update Method Signatures from the completed JWT spec"
Talking with @lhazlewood today:

JJWT was written against the draft JWT spec, and so there's some forms of terminology that are now "off". For instance, in JJWT, a JWT and JWS are different things. In the final version of the spec, what we referred to as "JWT" is now a special case of a JWS.

Also, a JWT is only a "compact" JWS or JWE, although a JWS can have multiple representations.

We should r

[2016-07-14 22:20] edjiang opened #148 "Add jwt as a property of JwtExceptions"
When you try to parse the claims of a JWT, even when it fails validation, there may be instances where you would want to still read the claims.

Talking with @lhazlewood today, we came up with the following idea: adding the parsed JWT as a property of JwtException, so you could so something like:

[code]

This would solve the #86 use case.

[2016-07-18 19:32] hdost commented on #147
JWS - https://tools.ietf.org/html/rfc7515
JWE - https://tools.ietf.org/html/rfc7516

[2016-07-19 16:12] mike9005 opened #149 "ECDSA curve misnamed in README"
In the [Supported Features section](https://github.com/jwtk/jjwt/blob/master/README.md#specification-compliant) of the README, the NIST `P-521` curve is misnamed as `P-512` in the `ES512` JWS algorithm description.

Reference: the [RFC on ECC in TLS](https://tools.ietf.org/html/rfc4492#appendix-A).

[2016-07-19 17:32] lhazlewood commented on #149
Can you please submit a pull request?

[2016-07-20 04:31] jaschenk commented on #113
Any timeframe for full JWE support?

Many Thanks,
Jeff

[2016-07-20 15:17] lhazlewood commented on #113
Hi Jeff!

That work is being done in the [jwe branch](https://github.com/jwtk/jjwt/tree/jwe).  Most of it has been done actually - the current delay is that many of the JWE test vectors are defined in the spec in JWK format, which means.... now we have to support JWK first ;)

So, progress has been good, but we still need to wrap up the JWK and test support to guarantee correct/exact results.  If

[2016-07-21 15:20] mike9005 commented on #149
I would but don't think I have access rights?

[2016-07-21 18:13] lhazlewood commented on #149
You fork the repo into your own github account, create a branch there, and then submit a pull request from your fork/branch to this repo.  Here's a helpful link:  https://help.github.com/articles/using-pull-requests/

HTH!

[2016-07-27 08:51] RoyJacobs opened #151 "Prepare a 0.6.1 release? ECDSA doesn't work in 0.6.0, but is fixed on master"
We are currently trying to use jjwt to validate ES512 tokens, but this doesn't work correctly in version 0.6.0 of jjwt. It does work correctly due to the various ECDSA fixes that have happened in the last few months.

Would it be possible to backport these fixes to a 0.6.1 release?

[2016-07-28 22:01] cpilsworth commented on #116
Is there a schedule in mind for the 0.7 release?  The required `android.util` dependency of 0.6 is stopping me deploying this as a bundle in Apache Felix.

Many thanks, Chris

[2016-07-28 22:11] BryanHunt commented on #116
@cpilsworth The workaround is to un-jar the bundle, remove android.util from the manifest (or make it optional) and re-jar the bundle

[2016-07-28 22:14] lhazlewood commented on #116
`SpringOne` is this coming week, so we'll probably be able to release it asap after then.

[2016-07-28 22:20] cpilsworth commented on #116
Thanks for the update, good to know.  Great library btw, very useful!

[2016-07-29 10:51] cpilsworth commented on #116
I [wrapped the package](https://gist.github.com/cpilsworth/f6fc4d7f4970af0a93c877ec995231dc) in the meantime - rewriting the imports/exports and adding a no-android classifier.

[2016-08-13 23:05] kyeljmd opened #152 "JWT token has an invalid signature"
I'm testing the jjwt for my token generation.  I am validating the created tokens through the debugger on  jwt.io.

Here's how I generate the token.

        long nowMillis = System.currentTimeMillis();
        long expMillis = nowMillis + (ONE_MINUTE_IN_MILLIS * TOKEN_DURATION_IN_MIN);

        return  Jwts
                .builder()
                .setId("01")
                .setIssuedAt(new D

[2016-08-14 04:15] kyeljmd commented on #152
This can be also seen on [Stackoverflow](http://stackoverflow.com/questions/38939056/jjwt-generated-token-has-an-invalid-signature)

[2016-08-14 08:29] lhazlewood commented on #152
Hi @kyeljmd!  Please do not cross-post :) GitHub issues are for issues and StackOverflow is for questions :)

I've answered your question at SO, so I'll close this issue.  Cheers!

[2016-08-14 08:29] #152 closed

[2016-08-15 14:15] nejads opened #153 "NoClassDefFoundError on jboss"
Hi !
I am trying to get started with jjwt on wildfly10.0 and Resteasy.
The application deploy on web server perfectly but Resteasy can not find Macprovider class in runtime.

I got this error:
**org.jboss.resteasy.spi.UnhandledException: java.lang.NoClassDefFoundError: io/jsonwebtoken/impl/crypto/MacProvider**

My maven configuration is as following:
`<dependencies>
        <dependency>

[2016-08-15 16:16] lhazlewood commented on #153
That should be all that is required to ensure the class is in your classpath.  Since the JJWT authors don't use JBoss, please provide a test case/project that re-creates the issue - there's nothing we can do without that.

[2016-08-15 20:43] nejads commented on #153
Your suggestion has solved my problem !
I started a new project with the default values in the build section in POM.XML file and surprisingly JJWT worked like a charm.
Specifically, The project with a custom <finalName> tag in the build configuration doesn't work and without this tag works.

[2016-08-15 20:43] #153 closed

[2016-08-15 22:08] lhazlewood commented on #153
I'm glad to hear it worked out for you! 👍

[2016-08-17 15:27] #149 closed

[2016-08-22 13:32] DaspawnW opened #154 "UTF-8 encoding"
We send in the JWToken firstname and lastname of the user. The lastname contains umlauts like "ö" or "ü". I think the current implementation of the JWToken only implements US-ASCII, so the returned value is unreadable.

[2016-08-23 22:26] sridhar1982 opened #155 "how to get the Map from claims during parsing?"
I have set-up custom claims as map during jwt generation. when decoding jwt, I want to retrieve the map.

I am trying to do this;

[code]

how to get `Map<String,Object>` from claims?

This is how I set custom claims

[code]

[2016-08-25 08:12] eric-taix commented on #155
Claims implements Map<String, Object> with convenient methods for registered claims. Registered claims are stored into this map (ie "iss" -> "http://myapp.com", "sub" -> "me").

So just retrieve claims from body and you are done !
`Claims claims = Jwts.parser().setSigningKey(secret).parseClaimsJws(token).getBody();
claims.get("whatyouwant");`

[2016-08-25 08:24] eric-taix commented on #154
I wrote a simple unit test which create a token and parse it (the subject contains "ö") and the result is just fine !

`String token = factory.createToken("etaixö", new DeviceTest(true, false, false), null);
JwtToken jwtToken = factory.parseToken(token);
assertEquals("etaixö", jwtToken.getUsername());
`

Note: the factory and JwtToken are convenient classes for my application.

[2016-08-25 09:19] DaspawnW commented on #154
ok, thank you so i'll have a look at my code ;-)

[2016-08-25 17:55] sridhar1982 commented on #155
that is still looking for each k-v pair I put as map. I want to retrieve entire map, rather than individual keys. when `.setClaims(getMapFromResponseObject(myObj))`, I set a Map collection and I want to retrieve the same collection, not individual key-value pairs

[2016-08-26 02:13] lhazlewood commented on #155
I don't understand the question.  The `Claims` object *is* the entire claims map:

    Map<String,Object> map = (Map<String,Object>)claims;

Does this make sense?  If not, could you provide a small code snippet that shows what you would like to happen?

[2016-08-26 02:51] sridhar1982 commented on #155
Just as I cited above.

[code]

now when I parse, I would like to get back the map which i set as claims
i.e  `Map<String,String> map = (Map<String,String>) claims;`

The claims by itself contains expiration, iss, subject etc which I do not want. Just the map which I set as claims. The reason I ask this, I have a mapper which coverts this map to java object and vice-versa.

[2016-08-26 05:47] yang22zhang opened #156 "How to decode?"
I have a code like:
eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ

How do I decode it?
Cases without decoding, can determine if expired?
There is no API help me understand JJWT?

[2016-08-26 12:18] dogeared commented on #155
I think you'll want to do:

.claim("serialized", claims)

Then, when you parse, you can just pull out "serialized"

Note: you may want to call is something other than claims as that's generally understood to be all the claims.

HTH,

Micah

[2016-08-26 15:22] sridhar1982 commented on #155
@dogeared thats what I have been doing. when you pull out, you more items out of serialized. see my comments reply above

[2016-08-26 15:25] dogeared commented on #155
In your example, you are calling:

setClaims

Note that my example is:

claim

They are two different methods

[2016-08-28 23:52] eric-taix commented on #155
As @dogeared said just use `JwtBuilder#claim` method :

[code]

The JSON representation will be:
[code]

When you deserialize the Jwt body, just get "myPrivateClaimKey":

[code]

Does it make sense?

[2016-08-28 23:56] sridhar1982 commented on #155
yes, that should work. I will try it in my applicaton

[2016-08-30 13:00] tianzhidao28 opened #157 "Claim get value exception ,but no exception msg"
jwt build :

  return Jwts.builder().setNotBefore(today).setIssuedAt(today).setClaims(new HashMap<String, Object>(){{
                put(EncryptUserId_KEY,userInfo.eid);
                put(UserName_KEY,userInfo.uname);
                put(Admin_KEY,userInfo.admin);
                put(User_Id_KEY,userInfo.uid);
                put(RegistrationID_KEY,userInfo.jid);
            }})
            .si

[2016-09-01 14:46] shumy commented on #112
Most naturally we only have the public key from an external IdP.
So not helping most of us!
How do I use google public keys?

https://www.googleapis.com/oauth2/v1/certs
or
https://www.googleapis.com/oauth2/v3/certs

[2016-09-05 11:54] khalid64927 commented on #86
@lhazlewood I'm getting this exception

"IllegalArgumentException: The default resolveSigningKey(JwsHeader, Claims) implementation cannot be used for asymmetric key algorithms (RSA, Elliptic Curve).  Override the resolveSigningKey(JwsHeader, Claims) method instead and return a Key instance appropriate for the RS256 algorithm."

I'm wondering how can I extract the key value from the certs in JwsHea

[2016-09-06 11:31] x2on opened #160 "Windows RSAPrivateKey (MSCAPI)"
Hi,

im loading a RSAPrivateKey on Windows with the following code:

[code]

But then i get the following exception:
[code]

Any idea why this is not compatible?

[2016-09-06 17:57] bhowell2 commented on #160
Is this an RSA key generated with MSCAPI? Did you store this generated key in the Java Keystore? There are some articles out there that describe how to load your keys into a Java Keystore.

[2016-09-06 19:02] bhowell2 commented on #160
I've also assumed in the response above that you didn't actually use `null` in the `load(null, null)` call above - i figured you would get an error thrown way before about that.

[2016-09-07 06:59] x2on commented on #160
Hi,
im loading the RSAPrivateKey from the Windows Certificate store with the code above.
It works and i get a valid key from the certificate store.
Then i use the following code:

[code]

And this call throws the error above.

[2016-09-07 10:38] aadrian commented on #151
Any change getting a new release?

[2016-09-07 14:28] bhowell2 commented on #160
I know you're saying it loads, but this part: `The specified key of type sun.security.mscapi.RSAPrivateKey is not an RSAPrivateKey.` suggests that the issue is related to the key. I then looked into what RSAPrivateKey it was expecting (see below) and it is a `java.security.interfaces.RSAPrivateKey`, but `sun.security.mscapi.RSAPrivateKey` implements `java.security.interfaces.PrivateKey` and theref

[2016-09-07 21:16] JamesDunne opened #161 "Update Jackson dependency"
Please update Jackson to 2.7 or later, or possibly release different versions of this library which depend on each popular version of Jackson. Jackson 2.4 is too old at this point for some other dependencies I need to bring in and I'm getting runtime errors using anything but the 2.4.2 version as required by jjwt.

[2016-09-07 22:18] lhazlewood commented on #151
I'll see if I can get one out this weekend.  It might happen however if the implementation changes that made this work are closely related to the `SignatureAlgorithm` API changes for 0.7.  I can't remember off the top of my head if that is the case.  Now that most of us are back from vacation, I think a 0.6.1 or 0.7.0 aren't that far away though!

[2016-09-07 22:42] lhazlewood commented on #151
Just curious - did you try an `<exclusion>` directive in your maven pom (or gradle equivalent) to explicitly exclude the JJWT jackson version?

We don't do anything 'special' with Jackson other than just invoking the object mapper, so I'd be surprised if this didn't work (but not saying it will ;) ).

[2016-09-09 08:29] rendion commented on #86
There is absolutely nothing insecure about reading a JWT to extract a "potentially valid" claim.  The signature is either valid or invalid.  You cannot *trick* an application into accepting a signature, since the contents are valid and owned by the signer as proved by the signature itself.  If it *were* insecure in any way to transmit this data which is easily readable in base64, JWT would not be

[2016-09-11 17:05] MartijnDwars opened #163 "ES256 signature length"
According to [draft-ietf-json-web-algorithms](https://tools.ietf.org/html/draft-ietf-jose-json-web-algorithms-24#section-3.4), the length of the signature for ES256 must be 64 bytes. The signature that is being produced by jjwt is longer (e.g. the base64 encoded string is 94 characters, which corresponds to 126 bytes).

When I replaced jjwt by [jose4j](https://bitbucket.org/b_c/jose4j/), the probl

[2016-09-11 19:27] lhazlewood commented on #163
Thanks for the issue!

[2016-09-11 19:54] #161 closed

[2016-09-11 20:39] lhazlewood commented on #86
@rendion what are you talking about?  Don't put words in my mouth - no one is saying tools shouldn't be possible due to invalid signatures. You can use JJWT today to do what was asked for above, it's just maybe not as easy as it could be, and that's a calculated decision because JJWT (and the RFC) favors security.  It's certainly not 'misguided thinking' - it was in fact 'calculated thinking' - yo

[2016-09-11 20:44] lhazlewood commented on #154
Closing due to inability to recreate.  Please feel free to re-open this issue and provide a test case that demonstrates the problem and we'll be happy to take a look and/or fix anything if necessary.

[2016-09-11 20:44] #154 closed

[2016-09-11 20:50] lhazlewood commented on #142
I'm open to ideas!  I think the best recourse here is to use the various `valueOf` methods if the current value is not of the expected type, for example:

[code]

This isn't likely the optimal solution, but I hope the logic makes sense enough as a starting point.

[2016-09-11 20:51] #124 closed

[2016-09-11 20:54] lhazlewood commented on #115
Note: closing this as a duplicate of #113 since the [jwe](https://github.com/jwtk/jjwt/tree/jwe) branch has `Jwk` interfaces.

[2016-09-11 20:54] #115 closed

[2016-09-11 21:09] #107 closed

[2016-09-11 21:10] lhazlewood commented on #107
We will support 1.8 at some point, but there are still many on 1.7, so it probably won't be until next year I would guess.

[2016-09-11 21:12] lhazlewood commented on #151
Due to various changes, it will be easier to do this as 0.7 so we'll focus on that.  We should have a release out shortly.  We need to solve #163 first though.

[2016-09-11 21:12] #151 closed

[2016-09-11 21:15] lhazlewood commented on #60
Pull requests (with tests! we enforce 100% code coverage) are welcome!

[2016-09-11 21:17] MartijnDwars commented on #163
It could be that this is actually a problem in Java's cryptography implementation (BouncyCastle vs. Sun). I tried creating a test case in the jjwt project, but I could not reproduce the problem. I can reproduce the problem in an external project, though.

I'm not an expert on cryptography in Java, but I'll look into it the next days.

[2016-09-11 21:28] lhazlewood commented on #163
Thanks @MartijnDwars - if you could provide even a trivial snippet of code that allows us to reproduce the problem that'd be really helpful.  If I had to guess, I think it's related to the ASN.1/DER encoding that was fixed in master.  @martintreurnicht might have some insight here since he graciously contributed related code.

[2016-09-11 21:30] MartijnDwars commented on #163
@lhazlewood  thanks for your quick reply. I was unable to reproduce the issue in master, so I guess this is already fixed in between 0.6.0 and master. I'm replacing jose4j by jjwt again to see if the issue is fixed in master and will let you know the result.

Anyway, sorry for opening the issue before testing on master!

[2016-09-11 21:37] lhazlewood commented on #163
No worries! The help is much appreciated!

[2016-09-11 21:42] martintreurnicht commented on #163
Hi, yes the change i made was to change the signature from ASN.1/DER encoding (which is the standard in java) to JOSE, which is the format that should be used as per the RFC spec. @lhazlewood you guys should to an official release soon otherwise you'll keep on getting these type of issues

[2016-09-11 21:57] MartijnDwars commented on #163
I can confirm that the issue does not exist on master, so I'll close it. I look forward to the 0.7.0 release!

[2016-09-11 21:57] #163 closed

[2016-09-12 04:18] lhazlewood commented on #163
Thanks!  I think we'll be able to release 0.7 shortly - this was the last bug.

[2016-09-12 07:20] rendion commented on #86
Your response is exactly why just because you think you grokked the JWT
spec you should not be in the business of building security APIs.  The
fact that you dont understand the real life premise of the proposal
means you should cease and desist writing these libraries.

You are a fraud.

On Sun, Sep 11, 2016, at 01:39 PM, Les Hazlewood wrote:

Links:

  1. https://github.com/rendion
  2. https://g

[2016-09-12 17:38] lhazlewood commented on #122
Commented via commmit  https://github.com/jwtk/jjwt/commit/af01cca9224371012f9240c756a6a8ecbf606074

[2016-09-12 17:38] #122 closed

[2016-09-12 17:45] lhazlewood commented on #160
The check was changed from `RSAPrivateKey` because Android doesn't implement that interface - it implements both `RSAKey` and `PrivateKey`, and I believe all JCA-compatible implementations should do this.  `sun.security.mscapi.RSAPrivateKey` does not appear to be JCA-compatible; when working with Java crypto, please always reference interfaces, not concrete implementation classes.

[2016-09-12 17:49] lhazlewood commented on #160
P.S. I'm going to close this as I don't think this is something relevant to JJWT - we will only program to standard JCA API interfaces, not implementation classes.  I think you'll need to find a way to represent the `sun.security.mscapi.RSAPrivateKey` instance as something that implements both `java.security.interfaces.RSAKey` and `java.security.PrivateKey`.

Keys in a Java KeyStore meet this crit

[2016-09-12 17:49] #160 closed

[2016-09-12 17:51] lhazlewood commented on #157
I believe you're seeing the same problem as documented in #142

[2016-09-12 17:53] lhazlewood commented on #156
[code]

An example of this is in the [Quickstart](https://github.com/jwtk/jjwt#quickstart)

[2016-09-12 17:53] #156 closed

[2016-09-12 17:53] lhazlewood commented on #156
For follow-up questions, please use StackOverflow.com.  Please use GitHub for reporting bugs, problems or feature enhancements or requests.  Thanks!

[2016-09-12 18:03] lhazlewood opened #166 "Validate signature before decompression"
This could cause a breaking change for the `SigningKeyResolver` interface since the `Claims` argument would not be available before decompression.  As a result this might need need to wait until 0.8.

[2016-09-12 23:47] lhazlewood commented on #61
fixed in master thanks to @ MichaelSims.  Will be in 0.7 shortly.

[2016-09-12 23:47] #61 closed

[2016-09-13 00:27] lhazlewood commented on #144
I just read this message much later and it came across as short/terse and confrontational - that was not my desire! I'm sorry about that!  In any event, I hope all is well and you found the answer you needed )

[2016-09-13 00:47] lhazlewood commented on #157
Closing as duplicate. If you believe otherwise, please feel free to re-open the issue.

[2016-09-13 00:47] #157 closed

[2016-09-13 19:30] kag0 opened #168 "Obtain claim as POJO"
Currently `DefaultClaims.get(String, Class)` does a bit of date foo or casts the value removed from the claim map. It would be great if the claims object retained the original JSON (perhaps an internal `Map<String, JsonNode>`) and used jackson to deserialize it into the passed class. This might be useful when a claim value is an object, or alternative json types (like `BigDecimal`), or to allow ex

[2016-09-14 16:02] lhazlewood commented on #168
Hrm - what might this look like?  My personal preference is typically in favor of simplicity.

i.e. while not perfect, serializing your object to a string and then saving that as a claim is pretty trivial these days - I'd want to ensure that whatever we supported natively didn't add so much complexity (and still not work for a decent number of cases) when this alternative will always work.  Though

[2016-09-14 17:31] kag0 commented on #168
So I'd propose adding another method, `JsonNode getJson(String)` to retrieve the original JSON value of a claim field. This way all manner of mapping can be covered by the user without adding to jjwt.
The existing `get(String, Class)` method could be modified to look something like this
[code]
This could be implemented by adding a field `Map<String, JsonNode> json` to `JwtMap` or `DefaultClaims`.

[2016-09-15 13:59] sainaen opened #169 "Why are 'expected' and 'actual' arguments of assertEquals switched in a lot of tests?"
It's not an issue with the library per se, but I found that a lot of tests have `assertEquals()` or `assertSame()` calls with the first (`expected`) argument being result of some interaction with an object under the test, while the second (`actual`) arg is a predefined “correct” value. This leads to confusing messages in case of assertion failures (see example below.)

So I was wondering if it's i

[2016-09-16 06:59] thegamblerrises opened #170 "Can JWT be shared between either party, any party can be verifier or generator?"
I am in a confusion. I have two servers and one UI. Server A [nodejs] generates JWT-A, UI takes it and sends it to Server B [java]. The problem is, Serve B is not trusting JWT-A, however it perfectly verifies JWT-B (which it generates on its own).

Problem gets hard when I can verify JWT-A online if I provide secret key. Below is the JWT-A, which came from Server A.

`eyJ0eXAiOiJKV1QiLCJhbGciOiJIU

[2016-09-16 07:16] lhazlewood commented on #170
Is your `secret` a Base64 String that represents a byte array?  Please read the javadoc for the `setSigningKey` method.

[2016-09-16 15:46] thegamblerrises commented on #170
Thanks. What a silly mistake.

[2016-09-16 15:46] #170 closed

[2016-09-16 17:13] dnault opened #171 "Document whether DefaultJwtParser is thread-safe and/or resuable"
Looks like that's the intent; can you make a definitive statement?

Thanks!

[2016-09-16 18:46] lhazlewood commented on #171
Sure!  We hope to add proper docs soon (not just the README), so thanks for the issue!

[2016-09-16 18:57] lhazlewood commented on #170
No worries! I'm glad you were able to get it to work :)

[2016-09-18 10:50] x2on commented on #160
Yeah thats true! Thought that `sun.security.mscapi.RSAPrivateKey` is compatible, but the interface is different...

Thanks for your investigation.

[2016-09-22 17:20] #142 closed

[2016-09-22 17:23] lhazlewood commented on #169
Hi @sainaen,

Great question - the answer is that it is a total mistake.  TestNG and JUnit switched the argument positions of what is expected vs what is actual, and it's easy to forget which is which when writing tests.

We should definitely only use the API as documented.  Please feel free to change anything in a PR if desired!  (Also if you submit a PR, please feel free to ask that this issue b

[2016-09-22 17:23] #169 closed

[2016-09-26 17:29] beders commented on #73
Does anybody know what the latest version that ran on Java 6 was?

[2016-09-26 17:43] lhazlewood commented on #73
The latest 0.7 should work on JDK6 if you compile it yourself with JDK6.  Just don't use the GZipOutputStream (`zip` JWT header) and you should be fine.

[2016-09-26 17:52] beders commented on #73
It's the jackson library that is ruining the fun (they started to go Java 7 with 2.7+)
Trying 0.6.0 now.

[2016-09-26 18:11] lhazlewood commented on #73
You don't need to do that I don't think - you can add an `<exclusion>` to the 0.7 dependency to exclude the one JJWT imports and re-define that as your own dependency.

[2016-09-26 18:28] beders commented on #73
Thanks for the quick feedback.
I'll try that.

Compiling 0.6 or 0.5.1 on a Mac with the latest Java 6 just proclaims:
`src/main/java/io/jsonwebtoken/impl/DefaultJwsHeader.java:[22,8] java.util.Map cannot be inherited with different arguments: <> and <java.lang.String,java.lang.Object>
`
IntelliJ doesn't complain at all. I just can't build this with maven using the Java 6 SDK.
The gods are against

[2016-09-26 18:40] lhazlewood commented on #73
Ah, yeah, I guess I couldn't remember any language discrepancies.  I didn't think there were any, but this shows otherwise!

[2016-09-26 23:27] myshkin5 opened #173 "Generating a JWKS from RsaProvider.getPublic()?"
Hi,

Got my production code to work fine (thanks jjwt!) but I am trying to fix a bunch of broken integration tests that used to assume there was no security. I wanted to keep things as real as possible so I thought I would stand up a mock http server that would return a JWKS. I create a public/private key pair using `RsaProvider` then I encode the public key in a bit of json wrapper. The app pulls

[2016-09-26 23:47] lhazlewood commented on #173
The `CertificateFactory` approach isn't quite right when you have the JVM encoded public key bytes - you want to use a `KeyFactory` instead.

Try this:

[code]

(from http://stackoverflow.com/questions/2411096/how-to-recover-a-rsa-public-key-from-a-byte-array).

HTH!

[2016-09-27 17:01] lhazlewood commented on #173
@myshkin5 is this issue solved for you?  I'd prefer to close this out if so and use GitHub Issues only for actionable work for the team.  We prefer StackOverflow be used for general questions if possible.  Thoughts?

[2016-09-27 17:04] myshkin5 commented on #173
@lhazlewood That did work. Thanks! I can't figure out how to have the same code parse an Auth0 public key and a Java public key but none of my remaining issues are jjwt issues.

Thanks again!

[2016-09-27 17:04] #173 closed

[2016-09-27 17:05] lhazlewood commented on #173
👍

[2016-09-30 08:36] kleewho opened #174 "Can't use setHeader(Header) because ambigous method call"
Header is both a Header and a Map so this won't work:

[code]

[2016-09-30 23:37] lhazlewood commented on #174
I don't understand the issue - this is standard Java method overloading, no?  Can you please clarify the problem?

[2016-09-30 23:38] lhazlewood commented on #174
Ah, don't instantiate `DefaultHeader`.  Use `Jwts.header()` ?

Ordinarily you should not instantiate anything in the `impl` package directly.

[2016-10-03 08:19] kleewho commented on #174
@lhazlewood using `Jwts.header()` doesn't change anything. Standard technique or not compiler won't know which overload version to use, cause both are applicable. This is the simplest thing you can paste and check for yourself:

[code]

[2016-10-05 12:06] ashishguru1986 opened #177 "JWT signature does not match locally computed signature. JWT validity cannot be asserted and should not be trusted."
Getting exception while parsing the jwt

"JWT signature does not match locally computed signature. JWT validity cannot be asserted and should not be trusted."

What is locally computed signature here ? I am working on android platform.
I am using RS256 algorithm for signature and  private(pem) key to build jwt.
To parse/validate jwt I am using public(pem) key.

[2016-10-05 12:09] ashishguru1986 commented on #177
I am using RS256 algorithm to create jwt.

[2016-10-05 16:17] lhazlewood commented on #177
Hi!  In the future, please ask user questions on Stack Overflow.  GitHub Issues is for submitting bugs or feature requests. :)

That said, the 'locally computed signature' is the signature calculated by JJWT when verifying the JWT.  In other words, JWT must calculate a signature locally and see that it matches the one that came with the JWT.  If they do not match, there is a signature calculation

[2016-10-05 17:05] ashishguru1986 commented on #177
Hi

I will ask the same on stack overflow :)

If keys are generated using internally using _java.security KeyPairGenerator_  then code works fine. Code doesn't work with public/private key pair generated using openssl command as below:

"openssl req -x509 -nodes -sha256 -days 730 -newkey rsa:2048 -keyout private.pem -out public.pem -outform PEM"

[2016-10-05 18:03] lhazlewood commented on #177
You will need to use a pem to Java Key converter.  .pem encoded files are not supported by the Java cryptography API out of the box.  See: http://stackoverflow.com/questions/7216969/getting-rsa-private-key-from-pem-base64-encoded-private-key-file

[2016-10-05 18:13] lhazlewood commented on #177
Closing as this is not related to JJWT, but a PEM/Java issue.  If you'd like to contribute support for this to JJWT, please open another issue!  Thanks!

[2016-10-05 18:13] #177 closed

[2016-10-08 00:07] lhazlewood commented on #113
Test vectors to verify the implementation are here: https://tools.ietf.org/html/rfc7520#section-5.6

[2016-10-13 08:51] agemooij commented on #171
Just to make sure this is in fact the case, could you please confirm that `DefaultJwtParser` is in fact thread-safe and that this is guaranteed to be the case in the future?

[2016-10-14 10:16] pnrakesh opened #179 "calling setClaims() after setSubject() will cause NullPointerException"
Executing the below program will throw NullPointerException at line 38

**Code**

[code]

**Output : **

[code]

[2016-10-14 13:31] dogeared commented on #179
Hi @pnrakesh:

The `setClaims` method sets (or resets) the *entire* payload for the JWT. It replaces any previously set claims with the map passed in.

If you called `setClaims` first and then called `setSubject` your example would work as intended.

You're getting an NPE because there is no `sub` claim set in the resultant JWT.

Does that make sense?

I'm going to close this issue as the library

[2016-10-14 13:31] #179 closed

[2016-10-18 09:09] pnrakesh commented on #179
Thanks @dogeared !

[2016-10-18 09:15] andreas-lundgren-storytel opened #180 "Custom numeric claims change type depending on value"
Depending on the value of a custom numeric claim, it may be stored as a Long or an Integer (or something else?)

This causes RequiredTypeException to be thrown depending on the received value.

[code]

This makes it very hard to write robust code.
Suggested solution: The first example, requesting a Long.class should not fail for smaller numbers.

[2016-10-18 09:24] andreas-lundgren-storytel opened #181 "Customisable claims in format "Date by Seconds""
A nice-to-have feature would be to make the list at https://github.com/jwtk/jjwt/blob/48dae365b18aadf6323b32f89f63960cca3a3f47/src/main/java/io/jsonwebtoken/impl/DefaultClaims.java#L116 customisable, allowing users to add custom claims that are dates represented in seconds. This should be added when creating the JWT parser and serialiser.

[2016-10-19 06:47] andreas-lundgren-storytel commented on #180
I just realised that this issue is fixed in `pull request #172`. Will there be a new release soon?

[2016-10-19 07:05] red1009 opened #182 "Key bytes can only be specified for HMAC signatures. Please specify a PublicKey or PrivateKey instance."
Hello,

I am trying to validate a JWT which came from azure. I have signing keys from the metadata but when I try to validate the JWT using the signing keys I get this error. I know that the signature algorithm is RS256, thus the error, but of course I only have a public key.

[2016-10-20 02:16] #182 closed

[2016-10-21 16:26] ghost opened #183 "Can the token be parsed after expiration?"
Hi
I have a custom claims object built into my token and I was wondering if there is a way to Parse the token and skip the time expiration check? This will help me troubleshoot any production issues long after the token has expired.

[2016-10-27 18:27] pauloleitemoreira opened #184 "Improve JwtBuilder JavaDoc to recommend to sign with a SecretKey"
Following this question opened in stackoverflow: [Static secret as byte[], Key or String?](http://stackoverflow.com/questions/40252903/static-secret-as-byte-key-or-string/). The `JwtBuilder` JavaDoc could have some recomendation about using `SecretKey` instead of `byte[]` or `String` to sign a JWT.

According with [SecretKey JavaDoc](https://docs.oracle.com/javase/8/docs/api/javax/crypto/SecretKey

[2016-10-27 18:42] lhazlewood commented on #184
Thanks for the issue!  If you feel inclined to open a PR for this change, that'd be awesome ;)

[2016-10-28 03:06] yqzhan2014 opened #185 "Are there some big companies using the jjwt?"
I want to see some real apis which use jwt as the auth.
Can someone give me confidence to use it.

[2016-10-31 14:20] akoshman opened #186 "Is parseClaimsJws method thread safe?"
Hi,

For sake of optimize a code I'd want to create once and save for further use a parser:

`Jwts.parser().setSigningKey(signKey)`

Can someone say is it safe to execute `parser.parseClaimsJws()` method simultaneously from different threads?

Thanks for help.

[2016-10-31 16:45] lhazlewood commented on #186
It is thread-safe *iff* you don't change the parser configuration.

[2016-10-31 16:51] akoshman commented on #186
@lhazlewood Thank you for help

[2016-10-31 16:51] #186 closed

[2016-11-01 14:44] RobWin commented on #185
Google uses JWT for its ID token.

https://developers.google.com/identity/protocols/OpenIDConnect

[2016-11-03 15:43] oliverhausler opened #187 "Signed JWSs/JWTs are not supported"
When I use `Jwts.parser().parsePlaintextJws(token)` on one of my tokens, I get an exception with something like "Signed JWSs/JWTs are not supported".

That doesn't make much sense to me. Am I doing this wrong?

I want to look at my own token on the client, to read the fields. I can't give the secret to the client. Will I need to use a different library? What is the reason that I can't read fields

[2016-11-12 04:16] ankit8051 opened #188 "JWT tokens gives SignatureException exception."
Hi Team,

We have used jjwt lib for generating the token and use this token to validate the user on other api.

**Token Generation Code::**
[code]

**Token Decryption Code**

[code]

We have different clients which are working on different machines and they are using this token for user authentication.

They will decrypt the token by using above code. SecretKey is same for both the client.

Now th

[2016-11-14 15:57] prateeknischal opened #189 "Allow Exceptions to be throws in SigningKeyResolver interface"
There is a use case that requires me to throw custom exceptions during resolving a key to validate the token. Suppose the token contains the client information which is required to get the key assigned to him. Now if an invalid user_id is passed in the token then It would be a client error. If the DB which has the key fails then it would not be able to retrieve keys even if the user_id is authenti

[2016-11-15 15:29] gposcidonio commented on #189
So a short term solution may be to use unchecked exceptions which is less than ideal.

That having been said, it may be the case that you should do some validation on the token before passing it to the `SigningKeyResolver` which will ensure that any time you return `null`, you know that it's a database issue. This makes sense from a high level as it's not the SigningKeyResolver's job to do validat

[2016-11-15 15:48] gposcidonio commented on #188
Could you provide the output of the error? What does the `SignatureException` message contain?

[2016-11-15 16:03] gposcidonio commented on #187
How are you generating the token?

[2016-11-15 16:25] oliverhausler commented on #187
[code]

[2016-11-15 17:14] prateeknischal commented on #189
It is kind of critical so using unchecked exception would not be accepted. All the information regarding the signing key is in the token itself, and cannot be guaranteed to be correct. Is there a way to get the header and claims parsed without passing the SigningKeyResolver or the actual signingKey (the latter would required increased and redundant information to be sent through a network).

#67 s

[2016-11-18 16:47] andersonblough opened #190 "Add safeguards for reserved claims to Jwts.builder"
Currently the builder pattern does not safeguard against reserved claims being overridden by the setClaims() method. If I am refreshing a token and I use the same claims from my previous token, the order in which I build my jwt should not matter. The claims object i receive from parsing an older jwt will include the expiration, issued, subject and other reserved claims. I should be able to use thi

[2016-11-18 19:32] ricardoccpaiva commented on #171
any news on this ?

[2016-11-21 04:08] lhazlewood commented on #190
I currently personally disagree with this one, but that's not to say my mind can't be changed.

Every builder implementation I've ever seen just sets the value blindly and moves on.  In other words:

    aBuilder.setFoo("whatever").setBar("another").setFoo("blah");

In this example, the object built will have a `foo` value of `blah`, because it was invoked last.

I think what you consider a bug, s

[2016-11-21 15:22] gposcidonio commented on #187
Perhaps you need the following:
[code]

[2016-11-21 15:32] oliverhausler commented on #187
Yes, that would work, but the signing key is not known on the client. Plaintext fields should always be readable, no matter if I know the key or not.

[2016-11-21 16:28] andersonblough commented on #190
I agree with your point about the builder pattern. And in your example above it is clear by reading that statement that foo would have a value "blah" because it is called last. the same cannot be said about the expiration if setClaims() is called last. I guess there is some ambiguity created by the fact that the Claims object consists of both the reserved claims and the user defined claims. I appr

[2016-11-21 18:29] lhazlewood commented on #185
Please use StackOverflow for general questions.  GitHub is used for ticketing (bugs, feature enhancements, etc).

JWT is used by almost all modern Identity Management companies - you should have every confidence using it.

[2016-11-21 18:29] #185 closed

[2016-11-21 18:35] lhazlewood commented on #155
IMO, JWT building/parsing is a completely orthogonal concern from object mapping, but the two can be done cleanly - without polluting either concern - as recommended above.  Closing per the recommended solution from @dogeared and @eric-taix.  Thanks!

[2016-11-21 18:35] #155 closed

[2016-11-21 18:37] lhazlewood commented on #84
I can't believed we missed this.  This definitely should be the case - thanks for the issue!

[2016-11-22 12:38] kleewho opened #192 "Jjwt accepts signature that is also base64 encoded"
Somehow by accident jjwt will accept base64 encoded signatures although according to RFC it should be base64url encoded. The problematic part is that you decode base64 so first you convert signature from base64url to base64. But this convertion doesn't check for presence of `+` or `/` before conversion (which would meant that we have wrong string). Here is the function `Base64UrlCoded#decode`:

[c

[2016-11-22 17:51] ymlaine opened #193 "No signature validation if the signature part is empty !"
Hi,

When verifying a token, (supposed to be RS512 signed in my case) if I parse it with the signature part empty (so ending with the 3rd dot  : xxxxx.yyyy. ) the token is parsed without any Signature Exception !!

Tested on 0.6 and 0.7

Code example :

`		Object body = Jwts.parser().setSigningKey(pubkey).parse(s).getBody();`

I had to add this security check code before parsing the token, but see

[2016-11-22 18:10] lhazlewood commented on #193
Don't call `parse` if you know it is a signed token.  Call `parseClaimsJws`.

[2016-11-22 20:18] ymlaine commented on #193
Ok, thanks, I guessed I was doing smth wrong, but at the same time, I don't really understand the concept to check a signature if it's not mandatory... Anyway... I updated my code, it works better now. :) Thx !

[2016-11-22 20:18] #193 closed

[2016-11-30 13:50] kleewho commented on #192
I would gladly fix that but I need to know what is your preference

[2016-12-01 13:10] kleewho commented on #174
@lhazlewood Have you tried to compile that snippet?

[2016-12-19 17:17] roberterdin opened #196 "Allow bulk adding of claims"
Can you introduce a method in the `JwtBuilder` that allows for bulk insertation of claims but does not overwrite previously set ones?

[code]

[code]

While it is easy to avoid the overwriting it just makes the code prone to errors when the order of the builder functions matters.

**Proposed solution.**
Change the `JwtBuilder` and the `Claims` interfaces and implementations such that they allow an

[2016-12-19 18:35] lhazlewood commented on #196
Thanks for the issue!  A PR would be appreciated!  Please add an `@since 0.7.0` JavaDoc tag to the method before submission.

[2016-12-21 13:32] BorisB-Tradair opened #197 "Creating JWT"
Hello,

I saw on YouTube a video regarding the JWT.
https://youtu.be/oXxbB5kv9OA?t=15m40s

Following this video, I have a question:
Does the way the jwt token being build using the jjwt-repo, is the same as on the youtube video?
If no, is it also OK, and what method is "better"?

Thanks from advanced!

[2017-01-04 18:14] hishamaborob opened #198 "Case where secret keys are not identical but validation succeed"
I was testing this library with some custom code when I ran into a situation where token validation succeed if there was only one additional different character in the secret key on the producer side. For more clarification please execute the following particular case:

[code]

[2017-01-05 20:57] mkwatson opened #199 "JWS JSON Serialization"
Is anyone working on this? [JWS JSON Serialization](https://tools.ietf.org/html/draft-ietf-jose-json-web-signature-31#section-7.2)

I am very interested in this functionality (along with JWE), and could possibly contribute it.

[2017-01-05 21:19] lhazlewood commented on #199
No one is currently working on this, but JWE support is almost done in the `jwe` branch.  HTH!

[2017-01-05 21:29] lhazlewood commented on #198
Did you see #123 ?  Your master key appears to be of an insufficient length for the chosen hashing algorithm.

[2017-01-10 01:14] lhazlewood commented on #198
I've not heard back on this, so I'm going to close per my reference of #123.  If you believe this is incorrect, please feel free to reopen the issue.  Thanks!

[2017-01-10 01:14] #198 closed

[2017-01-10 18:24] lhazlewood commented on #197
Hi, can you please ask this question on StackOverflow and use the `jjwt` tag?  We uses the GH issue tracker for actionable work items only.  Thank you!

[2017-01-10 18:24] #197 closed

[2017-01-10 18:26] lhazlewood commented on #192
I don't see this as an issue?  I mean, this could be seen as a 'feature, not a bug'.

In other words, JJWT will correctly base64url decode signatures as expected.  It also might base64 decode signatures too.  What is the problem?

[2017-01-11 17:49] kleewho commented on #192
The problem is that it will work for subset of all possible inputs which makes this `feature, not a bug` coders bad time, when he needs to figure out why only some of the inputs fail.

[2017-01-12 08:21] epot commented on #160
@lhazlewood it looks like `sun.security.mscapi.RSAPrivateKey` is not available since it is in a private package. Any idea on how what you suggest with this limitation ?

[2017-01-12 09:50] KNIGHTMASTER opened #201 "Can not set Expired Date or Revoke Token"
i am currently using jjwt for my application.
I wonder how to revoke token or setExpirationDate to make it Expired.
I've tried like below, but not working
`
public void setTokenToBeExpired(String token) {
Claims claims = this.getClaimsFromToken(token);
		System.err.println("Expiration "+claims.getExpiration());
		Date reverseExpiration = Date(getCreatedDateFromToken(token).getTime() - 3600 * 1000)

[2017-01-12 11:15] prateeknischal commented on #201
Token based authentication does not support revocation inherently. The main motive behind token based auth was to remove token store (hence signed to prevent tampering). Even if you change the expiration, you cannot assure that the client will not use the original token that still has time left.

The max you can do is to have lower validity period and then create a dynamic blacklist of revoked tok

[2017-01-13 09:27] RobWin commented on #143
Yes, we run into the same issue that `javax.xml.bind.DatatypeConverter.parseBase64Binary` decoded the String not correclty.
`java.util.Base64.getDecoder().decode` works correctly.

[2017-01-17 03:33] oliverhausler opened #202 "Security issue?"
Hi @lhazlewood

This is old and I assume you are aware of this and the library has the required safety measures, but I wanted to point you to this here just to make sure:

https://auth0.com/blog/critical-vulnerabilities-in-json-web-token-libraries/

Cheers, Oliver.

[2017-01-21 16:23] oguzhangedik commented on #135
lhazlewood Thanks for  your answer.

[2017-01-21 20:44] axiopisty commented on #1
I'm curious to watch the videos on REST APIs that was mentioned in @mattjonesorg last comment. Will someone add a link as a comment?

[2017-01-23 15:07] mattjonesorg commented on #1
@axiopisty -- Here's one of my favorites:  https://www.youtube.com/watch?v=hdSrT4yjS1g.  And here's the written form:  https://stormpath.com/blog/fundamentals-rest-api-design.

[2017-01-24 20:39] WebertonSilva commented on #174
Hi, am'i the same problem, Are there any solution ?

[2017-01-25 15:18] kleewho commented on #174
Yeah, do not use it `Header`, but just `Map<String, Object>`. Please note that this map have to be mutable, so do not even try guava or something

[2017-01-25 15:33] kleewho commented on #174
@lhazlewood at least 3 users thinks it is a bug. Could you please try to compile my snippet so you can see it for yourself?

[2017-01-30 13:57] cleiter commented on #202
See https://github.com/jwtk/jjwt/issues/20

[2017-01-30 17:07] oliverhausler commented on #202
@cleiter Thanks! I searched issues but overlooked this.

[2017-01-30 17:07] #202 closed

[2017-02-03 19:24] djKianoosh commented on #112
@shumy let's assume you have a public key like the one you can find on https://jwt.io/ on their debugger example (remember to select RS256 from the dropdown at the top).
[code]
and also the encoded payload they have on the left (you can play with the payload data in json on the right), like this:
[code]

With just the public key, you can validate the encoded payload like this:
[code]

The output o

[2017-02-03 20:34] jbonevich opened #204 "Signing key Base64 encoding discrepancy"
This is NOT a bug, but an observation that you may want to capture in documentation (but at least it is here in the issues so that it does not trip up others).

When I created a JWT using this wonderful library, I was at first signing it with a Base64 encoded string:

However, when I then parsed and validated the JWT, I got errors:

which yielded:

Took me a while to track down and it makes comple

[2017-02-07 16:27] alexcase52 commented on #86
I don't see any problem reading properties of not validated jws if it is needed and then validate. With your resolver-approach it is also possible but a little bit more tricky because the control is inverted.

ok, the "secure" api call is
`
Claims claims = Jwts.parser().setSigningKey(jwtKeyProvider.getKey()).parseClaimsJws(token).getBody();
`

The insecure API might look like:
`
InsecureParser ins

[2017-02-08 05:19] clarkdo commented on #204
+1
Met the same issue due to TextCodec.BASE64 inconsistent behaviour.
Suggestion of @jbonevich is very helpful for newbies.

[2017-02-09 14:24] peterjurkovic commented on #86
I don't neither. There is a few use cases when a claim needs to be checked before checking signature. E.g. based on the claims deiced which Auth service handles authentication. Would be nice to have this.

[2017-02-10 17:50] nateridderman commented on #174
Same problem here. I ended up using setHeaderParam() which is simpler anyways.

[2017-02-11 15:34] Hazem-Ben-Khalfallah commented on #183
I'm interested to get this question's response. I need to retrieve claims from an expired token and I don't see how to do it. Can this be done?

[2017-02-12 17:17] lnoton opened #205 "Parse without validating signature."
I want to use this library on both front-end client and back-end server, as my design uses JWT.

The server will use the JWT as a way of knowing who is making API calls.  IT will validate the JWT signature etc.

However my front-ends are a desktop client and also a website.  They have no need to worry about the signature..but I do want them to be able to pull the contents out from the JWT so it ca

[2017-02-12 17:28] laurencenoton commented on #205
Ok..  Looks like this has been asked before with https://github.com/jwtk/jjwt/issues/86

I'll be honest, I've not read all the detail there, but signing is about ensuring the data has not been tampered with.  There should be a way to read the fields without having to verify the signature first, and my example above is a perfect case.  I am not interested in passing this information out of band on

[2017-02-12 17:46] laurencenoton commented on #205
Ok I've seen https://github.com/jwtk/jjwt/pull/175 and issue #86 .

Really want this to happen ASAP!  Can I help, or are you guys just in the process of getting it merged and signed off?

[2017-02-12 19:53] bhowell2 commented on #205
@laurencenoton, You CAN read the body if you want. You just need to parse it yourself. So, you need to parse the token in Base64 - realize that the body and header are just stored in plain text (so long as you're not encrypting the JWT and just signing it). I think the Les really wanted to keep stuff like this out of the library, though; because it could lead people to security issues by bypassing

[2017-02-14 18:12] lhazlewood commented on #205
You don't need to parse it yourself.  Use a `SigningKeyResolver` and ignore any resulting signature exception. :)  That way your code will be self-documenting that you are explicitly ignoring the security model of JWT based on your specific use case (i.e. your actions were intentional and documented in code as such).

[2017-02-14 18:16] lhazlewood commented on #205
FWIW @laurencenoton, asymmetric keys are *exactly* the solution for your client use case.  You can embed the public key in your client and use it to verify the signature that was created by the private key in the server.

Again, if you want to avoid that (which is less than ideal from the JWT spec committee's opinion - it's why asymmetric keys were invented after all), you can do so by using a `Si

[2017-02-14 18:20] lhazlewood commented on #205
I'll say it again, like I've said elsewhere:  JWTs and the keys used when signing them are largely influenced by the _audience_ of the JWT.  You shouldn't expect that a shared private key JWT would be usable everywhere in your infrastructure or application stack.  If you want to send it (and have it readable) by a client (a different audience), create a *new* JWT that is signed asymmetrically and

[2017-02-14 18:31] dogeared commented on #205
Here's an example of using a SigningKeyResolver:
https://github.com/stormpath/JavaRoadStorm2016/blob/master/roadstorm-jwt-microservices-tutorial/src/main/java/com/stormpath/tutorial/service/SecretService.java#L44

Notice that in the resolveSigningKey method, you have access to the header
and claims.

[2017-02-15 06:32] rhonnava opened #206 "Documentation error in JwtParser.java"
Documentation error in JwtParser.java

There looks like a copy paste error in documentation for this method in JwtParser.java:

[code]

The statement "This is a convenience method: the string argument is first BASE64-decoded to a byte array and this resulting byte array is used to invoke {@link #setSigningKey(byte[])}" describes the method just above it.

[2017-02-15 06:40] dogeared commented on #206
Thanks for this. I'll create a PR to update those docs.

[2017-02-15 10:19] rhonnava opened #208 "JwtParser needs a setVerifyingKey API"
The token signature validation requires the caller to specify a signing key. It does not make it obvious that this is a verify operation.

[code]

In RsaSignatureValidator, the isValid method does a signature verification if the passed key is an instance of type PublicKey. If passed an instance of type PrivateKey, it signs the data again and compares signature.

But at JWTParser layer, the followi

[2017-02-17 12:32] cuyahoga opened #210 "Unexpected SignatureException when parsing"
An access token is generated by a call to the Stormpath Client API, the signature is verified when I check it at https://www.jsonwebtoken.io/ using an API key secret from my Stormpath account, however when I parse it with jwkt 0.7.0 (using that same secret) I get a SignatureException thrown.

The access_token from Stormpath:
`eyJraWQiOiI1ODdXVjlaSlk0UFVCUk1BTkxCQzhYMlVCIiwic3R0IjoiYWNjZXNzIiwiYWxn

[2017-02-17 14:32] cuyahoga commented on #210
Ignore me, turns out I was using the wrong secret! I blame a two-fold problem with https://www.jsonwebtoken.io/

a) It incorrectly showed the signature as verified, even though it turned out I was using the **wrong** signature, so I put too much faith in it
b) It didn't render the "kid" element in the header, so I didn't realise I was feeding the secret from a different pair in the Java code, whic

[2017-02-17 14:32] #210 closed

[2017-02-21 08:31] nvasilescu commented on #183
I face the same problem. I'm using it fora  backend for a mobile app. If the token has expired, I need to generate a new one belonging to the same user. The claims from the expired token can't be read giving expired token exception. I have now 2 options theoretically, practically just one. To make the token expire in a very long period. You can't force a user to login on mobile because it's not th

[2017-02-21 21:36] Hazem-Ben-Khalfallah commented on #183
I have found a way to retrieve claims but without using jjwt code. Here is what I used

`public String parse(String token) {
       final String encodedPayload = token.split("\\.")[1]
                .replace('-', '+').replace('_', '/');
       final String decoded = new String(Base64.getDecoder().decode(encodedPayload));
  }`

This method will return a string containing a serialized Json with Jwt

[2017-02-27 09:35] justkuai opened #211 "why I modify genernated jwt a word, but verifier still success"
`

        String key = "hello";

        String compactJws = Jwts.builder()
                .setSubject("Joe")
                .signWith(SignatureAlgorithm.HS512, key)
                .compact();

        String fakeCompactJws = compactJws.substring(0, compactJws.length() - 1) + "1"; // modify last the word to 1

        System.out.println("real jwt: " + compactJws);
        System.out.println("f

[2017-02-27 19:12] sainaen opened #212 "Deprecate/remove the parse() method"
Following the email thread *“jjwt signature validation bypass”* and a couple of issues here (#193, #90, plus several others related to [the post in Auth0's blog](https://auth0.com/blog/2015/03/31/critical-vulnerabilities-in-json-web-token-libraries/)):

At least some portion of JJWT users confuse the `JwtParser#parse()` to be the main method for parsing **signed** JWT-s, while in fact it will also

[2017-02-27 20:56] djKianoosh commented on #208
I'm not a maintainer/contributor but I like making the distinction between signing and verifying. In a large organization where I'm using this, only one service creates JWT's with the private key, and all other clients only have the public key to verify with. I think this would help with other people's understanding.

Just my $0.02.

[2017-02-28 15:47] sainaen commented on #211
**TL;DR:** This is just how Base64 encoding/decoding works. Even after your modification, actual bytes of the signature are not changed and so it is still valid.

Also, I should note, that the `key` in `signWith(SignatureAlgorithm.HS512, key)` should be a base64 encoded  string, for this method to work. `hello` _works_ as a base64 encoded string, but you might want to be careful about not using an

[2017-03-07 07:30] apollux opened #213 "Usage of requireExpiration(Date expiration)"
I want to validate a received token and make sure that it has a Expiration Time set. It looks like the only way to do such a thing is with the requireExpiration(Date expiration) method. However this requires the Expiration Time to equal the expiration passed as a parameter. On the receiving side I have no clue what the expiration time is going to be. I just want to make sure an expiration time is

[2017-03-10 08:31] lekhasy commented on #131
Can anyone provide another more simple example, please?
I'm a very new to Java and i just spend 4 hours to find out how to work with this lib.
`import io.jsonwebtoken.Jwts;
import io.jsonwebtoken.SignatureAlgorithm;

public class Application {
    public static void main(String[] args) {

        String privateKey = "privateKey";

        String publicKey = "publicKey";

         String compactedJ

[2017-03-10 18:34] lhazlewood commented on #131
@lekhasy your question is a general JVM question (about key pair files) and not related to JJWT specifically.  Did you read my comment above about converting .pem files on the JVM?

http://stackoverflow.com/questions/11787571/how-to-read-pem-file-to-get-private-and-public-key

HTH!

[2017-03-14 13:41] cbudtz commented on #168
Great Idea - was just about to propose the same. This is what I'm doing though:
		 return mapper.convertValue(value, User.class);

[2017-03-16 17:07] ummershervani commented on #115
@lhazlewood, is the support for jwk out yet? Here is what I am trying to achieve..

        HttpsJwks httpsJkws = null;
            httpsJkws = new HttpsJwks("https://ummer.com/jwks");

        httpsJkws.setRetainCacheOnErrorDuration(300);
        HttpsJwksVerificationKeyResolver httpsJwksKeyResolver = new HttpsJwksVerificationKeyResolver(httpsJkws);

        JwtConsumer jwtValidator = new JwtCons

[2017-03-16 20:31] bpappin commented on #86
TL;DR

didnt read most of that anyway, but being able to get the claims without validating the signature is vital for us, since we do *not* want to distribute the signing key, ever. The client still need to be able to get at the unencrypted claims.

The only code that cares is the server side anyway, since we are validating ourselves with the server. The client code should not have the signing key

[2017-03-17 13:31] dogeared commented on #86
@alexcase52 - I don't understand how your solution improves on the existing one. Your comment:

[code]

is exactly what you can do *inside* the signing key resolver:

[code]

[2017-03-23 13:16] bpappin commented on #205
**I was able to work around the signature error** to parse the claims, by _stripping the signature off_ after the second period.

[2017-03-23 15:49] dogeared commented on #187
@oliverhausler - If the JWT is signed, and is therefore a JWS, the specification makes it incumbent upon the JWT library to verify that signature. This is laid out in:

* [RFC 7519 - JWT, section 7.2, #6 and #7](https://tools.ietf.org/html/rfc7519#section-7.2)
* [RFC 7516 - JWE, section 9](https://tools.ietf.org/html/rfc7516#section-9)
* [RFC 7515 - JWS, section 5.2](https://tools.ietf.org/html/rf

[2017-03-23 15:51] dogeared commented on #205
@bpappin - That's an insecure way to parse a JWS.

If the JWT is signed, and is therefore a JWS, the specification makes it incumbent upon the JWT library to verify that signature. This is laid out in:

* [RFC 7519 - JWT, section 7.2, #6 and #7](https://tools.ietf.org/html/rfc7519#section-7.2)
* [RFC 7516 - JWE, section 9](https://tools.ietf.org/html/rfc7516#section-9)
* [RFC 7515 - JWS, section 5

[2017-03-23 16:57] bpappin commented on #205
@dogeared unfortunately that's not always a reasonable specification for the use of this kind of token, in use-case of client/server.

In the case where the server issues the token to authenticate the client, the client doesn't actually need to validate the jwt. And in fact **should not** be able to do so. The moment the client can sign the token, the server can no longer trust it.

When dealing w

[2017-03-23 17:49] dogeared commented on #205
I don't think I mentioned having an untrusted client (like a mobile app) sign JWTs. The solution (and one that is spec compliant), is simply to use asymmetric keys (as @lhazlewood has addressed previously). It's perfectly safe to embed a public key in a mobile app. The mobile app is then empowered to definitively verify that the incoming JWT has not been tampered as its been signed with the server

[2017-03-23 17:56] bpappin commented on #205
We have tried using the SigningKeyResolver, but we have to use roundabout wiring to get access to the claims. At least as far as we understood it.

A key pair is certainly something we considered, and we may implement in the future if it's needed, but it's really overkill for this instance.
There is also still the problem of the update cycle, and permanent keys, which are obviously pretty useless.

[2017-03-23 18:29] dogeared commented on #205
Here's a `SigningKeyResolver` example. You have access to the header and the claims in the method. Hope it helps!

[code]

[2017-03-23 20:09] jong64 commented on #86
Being able to read the claims is NOT the same thing as trusting the claims. I re-read the RFC several times, and it in no way prohibits application from being able to read the claims. The only thing that truly matters is that it can NOT trust the claims it just read UNTIL the signature validation succeeds.

We can not make assumption that every piece of code dealing with JWT has access to the sign

[2017-03-23 22:49] bpappin commented on #205
Thanks for making that effort @dogeared, i will review it shortly.

[2017-03-23 22:53] bpappin commented on #86
@jong64 thats how i read it as well. I think the interpretation as executed here may be misunderstood, although I appreciate the work put into it so far.

There are many use-cases where you wouldn't **want** the client to know the signing token as well.

As I noted in #205 :

Since I'm using this in mobile app clients for client/server authentication, I can never be sure that the client has not be

[2017-03-24 12:25] demaniak commented on #131
Ok, is there anyway to just verify a key using just a public key (perhaps pulled from public rest end point), without going through the pain of a key store?

[2017-03-24 12:49] demaniak commented on #131
@cope here is what I got working:
First, the private/public key pair is generated:
`openssl genrsa -out jwt.pem 2048`
`openssl rsa -in jwt.pem`

that should produce the base64 encoded private key.

For the Base64 encoded public key (easy to use with Spring Boot/Cloud oauth2 and jwt libs):
`openssl rsa -in jwt.pem -pubout`

BUT, to later "manually" read this public key, you need it in `der` format:

[2017-03-24 13:21] csmithmtb commented on #131
You should be able to do so.  Generate the key pair into a keystore.  The OAuth2 server app uses the keystore to sign the JWT.  Export the public key to a file from the keystore to a PEM file(?).  You can copy & paste the contents in the application.yml file in your client apps as 'security.oauth2.resource.jwt.key-value'.

security:
  oauth2:
    resource:
      jwt:
        key-value: |

[2017-03-24 13:23] jong64 commented on #205
The recommended approach of using SigningKeyResolver seems to work fine, although having to write verbose anonymous inner class and deal with the slight overhead of (unnecessary) exception is less than elegant in my opinion.

I tested it even with an expired token, and it worked fine, because apparently the resolveSigningKey() method (or any other overloaded flavor) still gets invoked even if the

[2017-03-28 16:15] bpappin opened #215 "Proguard exclusions"
What are the ProGuard exclusions for JJWT?

For instance, we can't build due to this error.
[code]

[2017-03-28 17:16] bpappin commented on #215
Related issues :

- #7
- #18
- #192
- #143

[2017-03-28 17:17] bpappin commented on #215
one of the warning can be handled with ProGuard rules.

[code]

[2017-03-30 09:35] trojanc opened #216 "Incorrect body base64 length"
Hi, I'm having trouble using this created token from a JavaScript client.

The body of the generated token is not the proper length for base64

I see the class `Base64UrlCodec` is responsible for changing some characters and stripping the padding.
Why is that necessary? This means that a client trying to read the token can't use it without first reversing the replaced characters, and add the requi

[2017-03-30 18:09] alejandro-perez commented on #115
I'm also interested on knowing if you have support for this.

[2017-04-05 07:34] koushiksarbada opened #217 "JWT certificate is validated even the certificate is expired"
Greetings,

i generated a public certificate its expired on march 2017 but i can able to  generated token using the .jks and its validated . Do we need to validate manually is the certificate is expired ?

[2017-04-05 09:27] #217 closed

[2017-04-10 15:32] robrez commented on #174
Casting to map `.setHeader((Map<String, Object>) header)` works

Like the last entry stated, I used `setHeaderParam`, instead.

[2017-04-11 19:34] vvondra commented on #86
@lhazlewood

Even though I have a use case as well (the key is verified by an API gateway and the upstream up just decodes user data from it, no access to signing key), I really like the patient explanations here and it got me convinced that the library should not support it in the API. A userland implementation like mentioned here https://github.com/jwtk/jjwt/issues/86#issuecomment-180095382 is c

[2017-04-12 14:43] sbanouar commented on #215
Hi Brill Pappin,

The proguard exclusions for JJWT & Jackson are:

-keepnames class com.fasterxml.jackson.databind.** { *; }
-dontwarn com.fasterxml.jackson.databind.**
-keepattributes InnerClasses

-keep class org.bouncycastle.** { *; }
-keepnames class org.bouncycastle.** { *; }
-dontwarn org.bouncycastle.**

-keep class io.jsonwebtoken.** { *; }
-keepnames class io.jsonwebtoken.** { *; }
-keepn

[2017-04-26 13:41] bpappin commented on #86
I'm actually becoming more, and more convinced that not being able to parse before the key is verified is a disaster.

Not only is that specific case *not* the spec (as per @jong64 comment above), but it encourages people to include the key where it should never be included, and it encourages people to hack around the library, possibly compromising it in unexpected ways.

Essentially it removed th

[2017-04-27 09:37] rendion commented on #86
@vvondra noone in their right mind would strip the key from the JWT after validation by the API gateway.  Thats not the issue described here at all.  If the connection between the api gateway and downstream services is however secure, the JWT need not be passed at all.  But thats merely an option.

These are not edge cases, a proper API gateway will have multiple keystores and pre-validate JWTs in

[2017-04-27 13:57] jong64 commented on #86
Since base64 encoded text is practically no different from plain text for all intents and purposes (except that the result is URI safe), we can hypothetically assume a token that looks like this for the sole purpose of illustration -

Hello-jjwt-simply-rocks-<HS512 signed signature value of the string "Hello-jjwt-simply-rocks">

So, arguing that you (as either human being or computer software) sho

[2017-04-28 22:42] petergphillips commented on #196
I've just been caught out by the `setClaims` method too, but for a different reason.  The `setClaims` method takes a `Map` and then modifies the passed in map by adding the other claims to the map.  This means that  a immutable map (e.g. `ImmutableMap` or `Collections.unmodifiableMap`) can't be used in the builder.  Modification of input parameters by an API is also not pleasant.

Would it be wort

[2017-05-01 15:56] sk901s opened #218 "Using Compression codes with JDK 1.6"
Hi

I have a claims object that is fairly large and need to compress it. I was interested in using the **.compressWith(CompressionCodecs.DEFLATE)** , however I am stuck with JDK 1.6 at work and noticed I need JDK 1.7 to use the inbuilt compression feature.

I was wondering if there is a way to make it work for JDK1.6.

Thanks

[2017-05-02 07:04] DavidDecraene opened #219 "SignatureException with correct signature"
Here is a test case, built on https://jwt.io where it validates:

String token2 = "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhcHBfbWV0YWRhdGEiOnsibGFzdF9sb2NhdGlvbiI6IkJFIiwiZ3JvdXBzIjpbXSwicm9sZXMiOnsidXNyLWFkbWluIjp0cnVlLCJpbnRlbGwiOnRydWUsIm1udHIiOnRydWV9fX0.ozJKvOcl_O5uPOHaIzTJ34YyCoDqK0i1nNLSVs4Rm50";
String secret2 = "etcectectc";

Jwts.parser().setSigningKey(secret2).parseClaimsJws(token2); /

[2017-05-02 07:30] DavidDecraene commented on #219
Note it can be resolved by doing this instead:
Jwts.parser().setSigningKey(secret2.getBytes("UTF-8")).parseClaimsJws(token2);

which means it is an encoding issue

[2017-05-13 15:04] msymons opened #220 "Update bouncycastle.version to 1.56 or higher"
Bouncy Castle is a crypto package and an optional runtime dependency for jjwt.

Update bouncycastle.version from 1.55 to 1.56 (or 1.57 )to address some 10 separate threats that were [fixed in v1.56](https://www.bouncycastle.org/releasenotes.html).

The threats all have CVE references but details are not found in NVD.

Research by Sonatype assigns CVVS 3.0 threat scores, with the highest (CVE-2016-

[2017-05-13 15:17] msymons opened #221 "Update logback to 1.2.0 or later"
Update QOS.ch [Logback](https://logback.qos.ch/) to 1.2.0 or later in order to address threat [CVE-2017-5929](https://nvd.nist.gov/vuln/detail/CVE-2017-5929?cpeVersion=2.2) with CVSS v3 Base Score 9.8.

From [Logback News](https://logback.qos.ch/news.html):

logback is a test dependency for jjwt, not a compile dependency.

[2017-05-13 15:30] aadrian commented on #221
@martintreurnicht https://github.com/jwtk/jjwt/pull/222 just needs merging

[2017-05-13 15:30] aadrian commented on #220
@martintreurnicht https://github.com/jwtk/jjwt/pull/222 just needs merging

[2017-05-16 19:03] martintreurnicht commented on #221
@aadrian Unfortunately i'm not the right person to speak to. @lhazlewood is the guy you're looking for

[2017-05-16 19:41] #206 closed

[2017-05-16 19:44] lhazlewood commented on #221
PR merged.  Thanks!

[2017-05-16 19:44] #221 closed

[2017-05-16 19:47] lhazlewood commented on #196
PR merged - thank you!

[2017-05-16 19:47] #196 closed

[2017-05-17 08:24] msymons commented on #220
#222 has been merged and added to 0.8 milestone.

[2017-05-17 08:26] msymons commented on #220
Just need to add milestone & close.

[2017-05-17 20:11] lhazlewood commented on #220
Thanks!

[2017-05-17 20:11] #220 closed

[2017-05-21 09:19] EralpB commented on #146
This also got me puzzled.. I think you should remove the String version, I was just checking a string signature like "a" and created one JWT online in a custom manner, of course they didn't match and it was confusing a bit.

[2017-05-21 09:23] EralpB commented on #219
#146

[2017-05-21 12:46] sscarduzio opened #223 "JJWT Needs explicit Jackson dependencies, or it will fail at runtime."
Hello,
We're using this library in our project, but in order for it to work we need to add not only JJWT as a dependency, but also Jackson.

In fact, as soon as you try to remove the explicit dependencies:

https://github.com/sscarduzio/elasticsearch-readonlyrest-plugin/pull/218/commits/d487aaa2bff4579f7f1b3db4f7553935bc49da37#diff-c197962302397baf3a4cc36463dce5eaL105

Everything breaks at runtime

[2017-05-23 17:42] lhazlewood commented on #223
JJWT has an explicit, required (non-optional) compile-time dependency on Jackson as declared in our pom.xml here:

https://github.com/jwtk/jjwt/blob/master/pom.xml#L80-L84

This means Jackson will automatically be pulled in by Maven-compatible dependency mechanisms.   It appears that something in your build (or specific to your build setup or environment) must be excluding it.

[2017-05-23 17:45] lhazlewood commented on #219
Your secret is not Base64-encoded, which is required - as documented - in the `setSigningKey` [JavaDoc](https://github.com/jwtk/jjwt/blob/master/src/main/java/io/jsonwebtoken/JwtParser.java#L165-L180).

[2017-05-23 17:45] #219 closed

[2017-05-23 17:48] lhazlewood commented on #218
You'll have to implement the `CompressionCodec` interface yourself using a JDK 1.6-compatible implementation/algorithm:

[code]

[2017-05-23 17:48] #218 closed

[2017-05-23 17:53] lhazlewood commented on #215
I've added this to a new wiki page:

https://github.com/jwtk/jjwt/wiki/ProGaurd-exclusions

Please free to re-open this issue if you think other actionable work needs to be done.

[2017-05-23 17:53] #215 closed

[2017-05-23 17:55] lhazlewood commented on #212
Yeah, we decided a while ago to remove this before 1.0 final (it was useful for some testing and 'power' scenarios).  I'll leave this open to track that modification.  Thanks!

[2017-05-23 17:58] lhazlewood commented on #211
Closing this as there does not appear to be actionable work for the JJWT project.  If you have questions (as opposed to known actionable work), please use StackOverflow.com and use the `jjwt` tag.  Thanks!

[2017-05-23 17:58] #211 closed

[2017-05-23 18:00] lhazlewood commented on #208
This is better self-documenting - I think it's a good addition.  Thanks for the issue!

[2017-05-23 18:04] lhazlewood commented on #216
Base64Url encoding is different than Base64 encoding.  Base64Url encoding is mandated by the JWT specification - it's not our choice ;)  In other words, the JWT specification does not support plain Base64 encoding.  Your JavaScript client is not JWT-compatible.

That said, I'm closing this as there does not appear to be actionable work for the JJWT project.  If you have questions (as opposed to kn

[2017-05-23 18:04] #216 closed

[2017-05-25 02:27] aerojas opened #225 "[Question] How to parse claims?"
Hello, thank you for making this library! I'm using JWT for the first time and learning using it.
Excuse me if this is not the correct place to send questions to you, but I don't know another way to reach to you.

I made a test JWT using something like the following code

[code]

"perms" is a custom claim, which contains an ArrayList of Strings (permissions).

So when I receive the JWT back, I use

[2017-05-25 02:33] aerojas commented on #225
I found another issue with an answer with instructions to where post questions, so I'm closing this as this is not the correct place to ask. In case you can help me, this is the link https://stackoverflow.com/questions/44171345/jjwt-how-to-parse-claims-correctly

[2017-05-25 02:33] #225 closed

[2017-05-27 01:12] rhonnava commented on #208
@lhazlewood, sorry I did not get that. Do you mean to document this use case or do you mean to add the APIs in the JWTParser layer?

[2017-05-28 17:21] tolask commented on #208
Beside the documentation, IMHO, the most important here is that I don't want to share the private key to everybody... Once the token is generated it can even be thrown out. I suppose that only the public key is expected to be shared and used to verify the signature of the token (as I used to do with Jose4j for example).

[2017-05-29 01:59] rhonnava commented on #208
@tolask I agree.

[2017-05-29 18:03] djKianoosh commented on #208
well, not "thrown out" ;) but yeah locked and sealed for only the server (jwt issuer) to know about. 👍