[2019-07-12 18:07] lhazlewood commented on #388
Did you set up proguard exclusions properly for org.json?

We can't re-create this - we'd need a sample project from someone to demonstrate the problem.

[2019-07-12 22:20] fernando-jascovich commented on #388
I'm not using proguard in that project.
I will generate a sample project later so you can check it.

[2019-07-12 22:38] lhazlewood opened #468 "Enable Probot Stale to manage inactive issues"
https://github.com/probot/stale

[2019-07-12 22:54] #468 closed

[2019-07-13 18:15] lhazlewood opened #470 ".travis.yml cleanup"

[2019-07-13 18:55] #470 closed

[2019-07-13 20:15] fernando-jascovich commented on #388
I made this repository for demonstration: https://github.com/fernando-jascovich/jjwt-issue-388
However, it seems to work fine there. So I think my previous crash was due to some interaction with another third party library.

[2019-07-14 01:56] lhazlewood commented on #388
@fernando-jascovich thanks so much for verifying.  If you are able to re-create the problem in the future, please do open a new ticket or request to re-open this one.  Cheers!

[2019-07-15 07:41] longtimeago commented on #84
let me fix this, should be quick

[2019-07-15 17:06] lhazlewood opened #473 "Introduce JwtParserBuilder and migrate JwtParser.* configuration methods"
Currently JwtParser has configuration methods that modify the parser state (require* methods, setClock, signingKeyResolver, compressionCodecResolver, etc.

All of these methods should be in a `JwtParserBuilder` interface that has a `build()` method that returns a `JwtParser` instance.

This can be introduced before 1.0 and a `Jwts.parserBuilder()` method introduced and that should be documented as

[2019-07-15 17:53] lhazlewood opened #474 "JwtParser custom validators"
The current `JwtParser` interface at the time of this issue's creation has mutator methods that enable validation of various claims.

The current `require`* methods only enforce that the claim exists and is exactly equal to a specified value.  While sufficient for many use cases, this is not robust enough to handle many other validations that might be suitable for an application.  For example, app

[2019-07-15 17:55] lhazlewood commented on #213
I'm closing this in favor of #474 - that issue will allow all sorts of custom validation other than `value != null && expectedValue.equals(value)` (which is what it is today)

[2019-07-15 17:55] #213 closed

[2019-07-15 19:02] lhazlewood commented on #226
Closing this finally as #473 is a dedicated issue to represent the `JwtParserBuilder` work.

[2019-07-15 19:02] #226 closed

[2019-07-15 19:05] lhazlewood commented on #174
Just following this up - yes, the API should be cleaned up to avoid this confusion.  Thanks for reporting and confirming everyone.  We'll track this for a future release, but it remains to be seen if this would require backwards-incompatible changes.  If so, those changes would have to wait for 1.0, otherwise, we'll come up with a fix as best as is possible.

[2019-07-15 19:13] lhazlewood commented on #174
Also note: currently the JJWT API uses method names of `setHeader` and `setHeaderParam` to mirror with that JWT RFC calls these concepts.

An impedance mismatch here is that the spec calls the entire JSON object with all of its name/value pairs as the `Header` (singular) and each name/value pair within it as a `header parameter`, but almost all Java developers refer to these things collectively as

[2019-07-15 19:17] lhazlewood commented on #320
Closing per the author's closure of #346

[2019-07-15 19:17] #320 closed

[2019-07-15 19:19] lhazlewood commented on #327
This is being tracked via #336.  Please make further comments there.  Thanks!

[2019-07-15 19:19] #327 closed

[2019-07-15 19:24] lhazlewood commented on #181
Closing this as it will be implemented and resolved via #474 .  Please use that issue for any further comments.  Thanks!

[2019-07-15 19:24] #181 closed

[2019-07-15 19:38] lhazlewood commented on #212
Given that the final RFC specification requires (using `MUST` taxonomy) the `alg` header be specified for a JWS and JWE, this issue may no longer be necessary such that `parse` will always have the information necessary to process a JWT safely.  Leaving this open to keep as a tracker for research.

[2019-07-15 19:42] lhazlewood commented on #48
This has been very low priority for a long time now, so I'm closing it since it appears we may never get to it.  That said, if anyone else feels the need for this, please do comment.  If there is enough interest, we can certainly re-open it.

[2019-07-15 19:42] #48 closed

[2019-07-16 17:44] lhazlewood commented on #308
Just an update for those following along: The current plans around this issue is that we'll probably keep JDK 7 compatibility until *just* before we release 1.0 final.  It'll be something like 0.14.0 (or similar) and the *only* difference between that release and the 1.0 final release will be that JDK 8 is used and JDK 7 is dropped from the compatibility/build matrix.

This is to ensure that JDK 7

[2019-07-16 17:53] #84 closed

[2019-07-18 02:19] lhazlewood commented on #410
While #414 has been merged, we can't consider this 'done' until the documentation in README.md has been updated to fully cover how to use/configure Gson.  It should be added to the `<a name="json"></a>` section near the bottom of the document.

Also CHANGELOG.md needs to be updated to represent the new feature.

I'll keep this open until someone can issue a PR for these two things or I take a crac

[2019-07-18 23:39] lhazlewood commented on #410
This work has been completed via #476.  We can only merge that right before the 0.11.0 release.

[2019-07-19 13:21] patton73 commented on #410
Ok thank you.

[2019-07-24 06:34] jaapcoomans commented on #308
Thanks for the clear update @lhazlewood. Is there a finite list of issues or items that still need tot be done to be fully RFC-compliant? I would be happy to see if I can file a PR for any of these to help speed up the process.

[2019-07-30 19:59] jplazcano87 opened #477 "Can't compile this library on Android"
hi, i can't compile this library for Android using android studio 3.4 and Gradle 4.4

[code]

```Could not find method api() for arguments [io.jsonwebtoken:jjwt-api:0.10.7] on object of type org.gradle.api.internal.artifacts.dsl.dependencies.DefaultDependency```

[2019-07-31 01:00] #477 closed

[2019-08-05 10:57] Mithrandir21 commented on #113
Amazing to see progress on this issue. ❤️
Just wanted to show appreciation for the hard work on this! 🙏

[2019-08-06 13:25] marschall commented on #235
I would not support `LocalDateTime`. `LocalDateTime` is not an instant and there does not identify a point in time. You would need a time zone for that. Which means you don't know how much time has passed since a claim was issued which means that you don't know whether it is expired.

Even the JSR-310 expert group leader thinks `LocalDateTime` is not generally useful.
https://github.com/tc39/propo

[2019-08-09 16:55] lumphrey opened #478 "HMAC Secret key validation incompatible with hardware security module"
Came across this error while using this library with an nShield Connect HSM. The algorithm we're using is HS512 with a 512-bit secret key that lives in the HSM.

[code]

Older versions of jjwt (0.9, 0.9.1) didn't have this issue because `secretKey.getEncoded()` isn't used.

If a fix for this isn't possible (i.e. validating the key without calling `getEncoded()`), is there a way to work around this

[2019-08-09 17:24] lhazlewood commented on #478
I'm confused.  Even if JJWT doesn't call `getEncoded()`, the JDK signature algorithm implementation will during the `mac.init(key)` call, producing the same problem, no?

In other words, try to run this code yourself, without JJWT involved:

[code]

What happens?

[2019-08-09 17:42] lhazlewood commented on #478
To the best of my knowledge, most HSMs (Hardware Security Module)s require that the cryptographic computations are performed inside the hardware module and not in application space.

If so, this implies that - if you still want to use JVM libraries that perform cryptographic operations in the JVM (like JJWT) - you would need to enable a Java JCE Security Provider implementation (`java.security.Pro

[2019-08-09 18:50] lumphrey commented on #478
Thanks for your replies. Yes, all crypto operations are performed inside the module, so we never see the key bytes (and trying to expose them in application space will cause the error I mentioned).

The HSM did come with a security provider implementation - `com.ncipher.provider.km.nCipherKM`

For the code you mentioned, we have to specify the provider like so, and the work is done inside the hard

[2019-08-09 19:16] lhazlewood commented on #478
It's great to hear that they provide a JCE Provider implementation.

JJWT currently gets the bytes to enforce that the key length is greater than or equal to the length mandated by the JWT specification.  It can't do that without calling `getEncoded()` to inspect the byte array length.

In any event, thanks for reporting this. We'll have to think a little how this should be supported via the new `

[2019-08-12 08:26] tomasklatt opened #479 "Android base64 encoded key validation problem"
Hello,

I have problem with validation the token i am getting from our API.

When i try to validate the tokenI use this code:

`val claims = Jwts.parser().setSigningKey("KEY_STRING").parseClaimsJws("TOKEN_STRING").body`

but even when jwt.io says it's valid the library throws exception

` Token Error: io.jsonwebtoken.security.SignatureException: JWT signature does not match locally computed signat

[2019-08-12 14:19] tomasklatt commented on #479
Ok, solution is

`val claims = Jwts.parser().setSigningKey(Base64.encodeToString("KEY_STRING".toByteArray(), Base64.DEFAULT)).parseClaimsJws("TOKEN_STRING").body`

[2019-08-12 14:19] #479 closed

[2019-08-12 16:18] lhazlewood commented on #479
`setSigningKey` JavaDoc explains that the string is expected to be Base64-encoded.  FWIW, because of issues like this, that method has been deprecated since 0.10.0 and your compiler will warn you if you use it.  So don't use it 😉 .

Ensure you are using the latest stable `0.10.7` release and use `setSigningKey(Key)` instead.

Also, in the future, please ask questions or for help according to our d

[2019-08-13 07:16] tomasklatt commented on #479
Ok, so proper solution is:

`val claims = Jwts.parser().setSigningKey(Keys.hmacShaKeyFor("KEY_STRING".toByteArray())).parseClaimsJws("TOKEN_STRING").body`

right? Next time I will ask on SO, sorry.

[2019-08-27 12:22] MarshallTaylorV opened #480 "JWT BLACKLIST ON SPRING BOOT"
Hello everyone I am for weeks on this problem make a blacklist of chips JWT with spring boot here is what I did when the user tries to disconnect his store his key token in the given database of mongoDB and it works

`@PutMapping(value = "/destroy", consumes = MediaType.APPLICATION_JSON_VALUE, produces = MediaType.APPLICATION_JSON_VALUE)
public JwtBlacklist logout(@RequestBody Map<String,String> j

[2019-08-28 13:36] EtachGu opened #481 "Why parseClaimsJws so slowly, it takes 30s at least"

[2019-09-04 23:00] bttlsgtmajor opened #483 "Validate the least expensive data first"
Currently the process for decoding the jwt within the parse function of DefaultJwtParser is this:

Base64Decode
Keys and Signature Validation
Expiration Validation
Claims Validation

This presents several potential issues and is done in the incorrect order I believe. The order I think this should be in is as follows (I'll follow up with reasons and examples why after):

Base64Decode
Expiration Val

[2019-09-09 11:56] virtual-machinist commented on #352
Why not `Supplier<Instant>` then?

[2019-09-09 16:38] lhazlewood commented on #352
For all sorts of good reasons, JJWT strictly adheres to [Semantic Versioning](https://semver.org).
 This means you cannot introduce backwards-incompatible language features into minor or point releases.  So, Java 8 language features and classes/interfaces are not usable until we can increment a major version number, i.e. JJWT 1.0 or later.

1.0 will not be released until we finish JSON Web Encrypt

[2019-09-09 16:53] lhazlewood commented on #483
The reason for signature or encryption validation first is that the data can't be trusted until after the signature is considered authentic.

If you changed the order of operations, someone could intercept a JWT (a JWS or JWE), change the expiration date (or other trivially-validatable fields), base64-encode the changed data, and send it to its destination.  If the destination validator performed

[2019-09-09 16:53] #483 closed

[2019-09-09 17:00] bttlsgtmajor commented on #483
I disagree. If you check your expiration first and it's expired it doesn't matter if it were intercepted and changed to be expired.... It's invalid and would be rejected regardless. If it weren't intercepted and modified and it was expired you can reject the request because the token is expired without having to run through the signature validation. Now.... assume the token was intercepted and mod

[2019-09-09 17:47] lhazlewood commented on #483
If I intercept your token, and I make it expire a second after it was created, it would prevent you from ever using the target service/website/whatever because you'll always be logged out.  This is clearly a security hole and one of many reasons why unauthenticated data cannot be trusted in a security context. It's the entire reason why signatures exist.

Besides, this isn't really up for debate A

[2019-09-11 00:02] marcoderama commented on #411
I'm not sure if this explains the original issue but this might help others that ended up here for the same/similar problem as @Wouter8.

My package was configured to use jjwt-api 0.10.7.  Unit tests ran fine but when the package was used in a larger project, I ran into the same issue with `io.jsonwebtoken.lang.Classes.invokeStatic`.   After many frustrating hours we figured out that the problem w

[2019-09-12 19:27] lhazlewood opened #484 "Upgrade Jackson to latest stable release"

[2019-09-12 22:06] #484 closed, assigned to nobody

[2019-09-14 14:46] lhazlewood commented on #460
Marking for 1.0 as this might require a backwards incompatible change. (e.g. jwt.getBody())

[2019-09-14 21:17] lhazlewood commented on #462
Closing due to inactivity

[2019-09-14 21:17] #462 closed

[2019-09-15 14:31] CharlieReitzel commented on #460
I'd suggest a new method name, like `jwt.getBodyBytes(...)`.

[2019-09-15 21:57] lhazlewood commented on #460
@CharlieReitzel After thinking about it a bit, that won't be necessary given that `Jwt#getBody()` already uses generics, i.e.

[code]

The parser will just need to support Jwt instances with bodies other than `String` and `Claims` based on the `cty` (Content Type) header.

[2019-09-16 04:44] CharlieReitzel commented on #460
That's not the correct use of the `cty` JWT header.   That header is intended for nested signing and encryption tokens (e.g. a signed "envelope" containing an encrypted "letter").

For non-claims content, I think you can safely expect the caller to know what is contained in the body, possibly by using a custom header.

[2019-09-16 17:12] lhazlewood commented on #460
That's not strictly true.  When not nested, applications can use that header to represent the media type of the payload:

https://tools.ietf.org/html/rfc7515#section-4.1.10 :

[code]

[2019-09-16 18:12] CharlieReitzel commented on #460
I agree, that defaulting to a UTF-8 String payload is appropriate.   But I wouldn't go any further than that with the heuristics.

Better to let the caller make the decisions.  I.e. if the caller wants to use `cty` to specify a MIME type for a binary payload, let 'em.   If they don't, then don't force it.  If the caller calls `String jwt.getBody(String.class)` (or something like that), then it's p

[2019-09-16 23:03] bdemers commented on #473
There are a few other changes targeted to 0.11.0 that require changes in and around the `DefaultJwtParser`, so trying to wrap up this issue first.

[2019-09-18 07:48] rmalchow opened #491 "ES signature validation fails (sometimes)"
hi, i am using jjwt,

i am using this to sign:

		JwtBuilder b = Jwts.builder();

		[...]

		if(pk.getAlgorithm().equals("RSA")) {
			b = b.signWith(SignatureAlgorithm.RS256, pk);
		} else if(epk.getAlgorithm().equals("EC")) {
			b = b.signWith(SignatureAlgorithm.ES256, pk);
		} else {
			throw new NoSuchAlgorithmException();
		}
		return b.compact();

and this to read:

			JwtParser p = Jwts.pars

[2019-09-18 08:04] rmalchow commented on #491
i just ran 10000 cycles of generate keypair, encode, decode .... 37 failed. that's about 0.4% .... there''s actually TWO errors:

one is:
[code]

and the other one:

[code]

[2019-09-18 08:06] yangsaipp opened #492 "The SignatureAlgorithm change to an interface is complete or not ?"
I want to plug  own crypto Implementation to the jjwt library and use it instead of the default provided Crypto layer. I find some userful info on [https://github.com/jwtk/jjwt/pull/194](url).

SignatureAlgorithm is alse enum on the master, So the SignatureAlgorithm change to an interface is complete or not ?

[2019-09-18 16:21] lhazlewood opened #493 "Convert SignatureAlgorithm to an interface, not an enum"
To allow custom signature algorithms to be plugged in.  This is the strategy already taken by the JWE work, we should do the same for JWS.

[2019-09-18 16:22] lhazlewood commented on #492
It is not yet complete.  Because it's a backwards-incompatible change and would break semantic versioning, we cannot make this change until 1.0.  I've created #493 to track this work.

Also, in the future when asking questions, please read https://github.com/jwtk/jjwt#help-questions

Thanks!

[2019-09-18 16:22] #492 closed

[2019-09-18 17:20] lhazlewood commented on #491
Can you share your test code with us? A test case?

Also, are you generating KeyPairs appropriately?

`Keys.keyPairFor(SignatureAlgorithm)` ?

Try the test case *without* the SigningKeyResolver using the appropriately generated keys.  Does it always work?  If so, the problem is probably with the key returned by `publicKeyRepo.getBySerial(s)` (perhaps the key was generated incorrectly).

[2019-09-18 18:05] rmalchow commented on #491
hi

i generate keypairs like this:

    KeyPairGenerator kpg = KeyPairGenerator.getInstance("EC");
    kpg.initialize(new ECGenParameterSpec("secp384r1"));
    return kpg.generateKeyPair();

error happens with both (these are the only ones installed on this machine, i've seen this error on other machines on other JDKs):

bash$ java -version
java version "1.8.0_172"
Java(TM) SE Runtime Environment

[2019-09-18 18:09] rmalchow commented on #491
replacing:

    KeyPairGenerator kpg = KeyPairGenerator.getInstance("EC");
    kpg.initialize(new ECGenParameterSpec("secp384r1"));
    KeyPair kp = kpg.generateKeyPair();

with

    KeyPair kp = Keys.keyPairFor(SignatureAlgorithm.ES256);

makes this go away. this is not the case with RSA keys ... what is the difference here? why would a "regular" EC keypair not work for this? i've signed and chec

[2019-09-18 19:03] lhazlewood commented on #491
The EC curves/signature algorithms are defined in JWT's `JWA` specification:

https://tools.ietf.org/html/rfc7518#section-3.4

The only differences I can tell between your implementation and JJWT's is JJWT generates a keypair by initializing the keypair generator with seeded SecureRandom, which is always recommended for new secure keys, e.g.

[code]

The SecureRandom instance itself is seeded as f

[2019-09-18 19:06] lhazlewood commented on #491
P.S. *Thank You* for the sample/test project.  That makes a world of difference for us to help troubleshoot!

[2019-09-18 19:15] lhazlewood commented on #491
Yep, with your test project, using `secp256r1` does not result in any problems.

[2019-09-18 19:17] lhazlewood commented on #491
Similarly, keeping `secp384r` and changing the sample project's TokenWriter.java line 26 to use `SignatureAlgorithm.ES384` also works without any errors.

[2019-09-18 20:15] lhazlewood opened #494 "Change all documentation to reference Jwts.parserBuilder() + build instead of Jwts.parser()"
@bdemers do you want to take a crack at this as a separate PR?  We can only merge it in immediately prior to cutting 0.11.0.

[2019-09-18 20:24] rmalchow commented on #491
hi,

first off - thanks for providing this library. i am using it with a bit of spring sugar sprinkled on top in this one here:

     https://github.com/mcon-group/spring-jwt

concerning this issue ... first, i was under the impression that all the default getInstance() methods do internally instantiate a new SecureRandom anyways? anyway, I'll add that explicitely.

the error is most definitely in

[2019-09-19 10:51] rmalchow commented on #491
hi,

some progress: the signature produced in `EllipticCurveSigner.doSign` is totally valid & verifiable, even with mismatched key / signing algorithm. and even if the wrapping / unwrapping gives an error. my suspicion is now that somehow, `EllipticCurveProvider.transcodeSignatureToConcat` is miscalculating the size for some reason. Unfortunately, I dont really get what's happening there ...

in m

[2019-09-19 20:48] lhazlewood commented on #491
Hi @rmalchow

Usually cryptographic keys of sizes larger than a hash algorithm's digest length are valid (e.g. it's ok to use a 512 bit secret key to create a hmac sha 256 digest) - the algorithms usually truncate the key to the max length that makes sense for the algorithm.

It is unclear to me if this is allowed with ECDSA signatures - I thought it was.  If not allowed, then yes `SignatureAlgori

[2019-09-19 20:54] lhazlewood commented on #491
@rmalchow just a note:  You don't need the if/then/else bit-length logic in your code.  You can just call `b.signWith(epk.getPrivateKey())` and JJWT will default to the strongest algorithm supportable with the specified key:  https://github.com/jwtk/jjwt#signing-key

[2019-09-22 01:35] jwtnewbie opened #497 "How to Create a JWT in Java with the secret base64 encoded"
Using the online JWT debugger  to encode and decode a JWT  token I created this simple token
[https://jwt.io/#debugger-io?token=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJhZG1pbiIsImF1ZCI6IlNvbHIifQ.5T7L_L1MPfQ_5FjKGa1fTPqrzwK4bNSM812nW6oyjb8](https://jwt.io/#debugger-io?token=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJhZG1pbiIsImF1ZCI6IlNvbHIifQ.5T7L_L1MPfQ_5FjKGa1fTPqrzwK4bNSM812nW6oyjb8)

The secret to encode the to

[2019-09-25 14:31] cschneider opened #502 "The jars are not valid OSGi bundles anymore"
Since this commit:
https://github.com/jwtk/jjwt/commit/439c027c2effcbc0e28d4507e8201071bd14f5d4

The jars do not contain the OSGi metadata anymore. I can do a PR to add it back.

[2019-09-25 18:21] lhazlewood commented on #497
Hi there!

`qwertypasword` is an invalid HMAC signing key per the JWS specification requirements.  The `jwt.io` tool has had and continues to have flaws like this - don't use it as an authoritative source.  It's just a website maintained by a company that isn't an authoritative JWT RFC source.

The JJWT team has written documentation on [understanding safe keys](https://github.com/jwtk/jjwt#jws-ke

[2019-09-25 18:21] #497 closed

[2019-09-25 18:26] lhazlewood commented on #502
Hi @cschneider , a PR would be much appreciated, but you'll probably want to wait until https://github.com/jwtk/jjwt/pull/488 is merged since that PR should wrap-up the remaining module relocation effort.

[2019-09-25 18:28] lhazlewood commented on #399
@bdemers has this been superseded by another issue that you're working on?  I just want to rectify any duplicate issues if they exist.

[2019-09-25 18:28] lhazlewood commented on #399
@bdemers ah, you're addressing this with #488 - my apologies for the noise.

[2019-09-25 19:55] jwtnewbie commented on #497
The issue was resolved on stackoverflow if you’re interested
https://stackoverflow.com/questions/58044813/how-to-create-a-jwt-in-java-with-the-secret-base64-encoded

Sent from my iPhone

[2019-09-26 08:37] cschneider commented on #502
https://github.com/jwtk/jjwt/pull/503

[2019-09-26 08:38] cschneider commented on #502
I just reactivated using the generated manifest in the jar plugin. When this was deactivated before the jar plugin used simply the plain manifest without any OSGi metadata.

[2019-09-27 17:52] #502 closed

[2019-09-27 21:11] #399 closed

[2019-09-30 21:24] #369 closed

[2019-09-30 23:45] lhazlewood commented on #171
For those following along on this issue, JJWT the upcoming JJWT 0.11.0 release introduces a `JwtParserBuilder` that is returned from `Jwts.parserBuilder()` (contrast that with today's `Jwts.parser()`.  Instances of parsers returned from `Jwts.parserBuilder().....build()` are immutable.  Further, `Jwts.parser()` will be removed when 1.0.0 is released eventually.

cc @bdemers - can you please use th

[2019-10-02 18:09] oliverhausler opened #510 "0.9.1 incompatible with Java 11 because of DatatypeConverter"
@bdemers I saw you were trying to update to Java 11, and maybe this is solved in `latest`, but I wanted to tell you 0.9.1 does not run on JDK11 because you are using `DatatypeConverter` for encoding/decoding. You may want to use `java.util.Base64` instead.

[code]

[2019-10-02 18:14] bdemers commented on #510
@oliverhausler Can you try the latest release? That _should_ be fixed already. I'm using JJWT in another project that tests on both 8 & 11.

If you run into an issue let me know and I dig a bit more!

[2019-10-02 19:07] lhazlewood commented on #510
Deterministic Base64 support for all platforms was fixed in the 0.10.0 release 😄

https://github.com/jwtk/jjwt/blob/master/CHANGELOG.md#0100
https://github.com/jwtk/jjwt#base64

[2019-10-02 19:07] #510 closed

[2019-10-02 19:14] oliverhausler commented on #510
@lhazlewood 0.10.0 is not available in Maven.
https://search.maven.org/search?q=a:jjwt

[2019-10-02 19:18] bdemers commented on #510
@oliverhausler that syntax on search.maven does an absolute match.
You would want `q=jjwt` or `q=a:jjwt-api`

[2019-10-02 19:20] bdemers commented on #510
(or search by group id: https://search.maven.org/search?q=g:io.jsonwebtoken )

[2019-10-02 19:21] oliverhausler commented on #510
Thanks, I couldn't guess that the package has been split :(

![image](https://user-images.githubusercontent.com/8090341/66074893-26383a00-e50f-11e9-8675-2ef5639fb05b.png)

[2019-10-02 20:35] lhazlewood commented on #510
Always check the documentation first 😄

https://github.com/jwtk/jjwt#install

[2019-10-02 20:52] lhazlewood commented on #494
@bdemers isn't this done?  Just curious why it's still marked as open when #499 was merged already.

[2019-10-02 21:07] bdemers commented on #494
Yup, it _should_ have auto closed, the tooltip in #499 even says:

[2019-10-02 21:07] #494 closed

[2019-10-02 23:47] neppxiao opened #512 "Caused by: io.jsonwebtoken.lang.UnknownClassException: Unable to load class named [io.jsonwebtoken.impl.DefaultJwtParser] from the thread context, current, or system/application ClassLoaders. All heuristics have been exhausted. Class could not be found."
I have an Android lib A that integrated jjwt.

implementation 'io.jsonwebtoken:jjwt-api:0.10.7'
runtimeOnly 'io.jsonwebtoken:jjwt-impl:0.10.7'
runtimeOnly('io.jsonwebtoken:jjwt-orgjson:0.10.7') {
    exclude group: 'org.json', module: 'json' //provided by Android natively
}

I have my app depends on lib A.
implementation(libA)

When my app is running, I get the UnknownClassException issue.

[2019-10-03 22:13] lhazlewood commented on #512
Your `jjwt-api` declaration should be `api` not `implementation`.  Other edits may be required - to be sure, read:  https://github.com/jwtk/jjwt#install-android

In the future, we kindly request that people do not use GitHub Issues to ask questions.  We use this system for actionable work required to change JJWT's codebase.  For future questions, please read https://github.com/jwtk/jjwt#questions.

[2019-10-03 22:13] #512 closed

[2019-10-08 09:24] YarikSoltys opened #515 "Support RFC 7797"
There is no feature to generate a signature with an unencoded payload according to RFC 7797. I have a "b64" : false and crit: ["b64] claims in the header that according to RFC 7797 should generate a jws with unencoded payload but your library doesn't support this feature for now.
https://tools.ietf.org/html/rfc7797

[2019-10-13 10:44] kimyoon21 opened #516 "how to sign with p8 (apple secret key) file for ES256"
[code]
and I compact it , it says
"Elliptic Curve signatures must be computed using an EC PrivateKey.  The specified key of type javax.crypto.spec.SecretKeySpec is not an EC PrivateKey."

I want to know how can I sign with p8 files .. actually original secret key file is like (not real)

[code]

[2019-10-13 13:49] oliverhausler opened #517 "Document working with secret key strings"
I have a string secret:
[code]

I am signing like this, but you have deprecated:
[code]

So I assume there must be an equivalent, but this here gives me a different token:
[code]

Would you please document how the key must be created to maintain compatibility.

[2019-10-14 08:37] klehelley commented on #517
As can be seen in the JavaDoc for the `signWith` method (I haven't been able to rapidly find the formatted JavaDoc for the project, so I falled back to reading it in the code instead), the second argument is a Base64 representation of the secret key. By calling `String.getBytes()`, you are just converting the characters into their byte equivalent. Which is different than converting the Base64 stri

[2019-10-14 16:18] lhazlewood commented on #516
You can't use secret keys for Elliptic Curve (public/private keypair) algorithms.

Also, this isn't really a JJWT question, but a "How do I use a p8 apple secret key in Java" question.  Because this isn't specific to the JJWT API itself, please ask this question on StackOverflow.

We limit GitHub issues for actionable work that will change the JJWT codebase.  Please read https://github.com/jwtk/jj

[2019-10-14 16:18] #516 closed

[2019-10-14 16:23] lhazlewood commented on #517
Thanks for creating this issue to indicate that the current docs weren't sufficient for answering your question.  This is answered here:

https://stackoverflow.com/questions/40252903/static-secret-as-byte-key-or-string

But definitely should be in the proper JJWT documentation/readme.  We'll use this issue to represent the work to do so.

[2019-10-14 16:36] lhazlewood commented on #517
Also note that, if you're going to use an HMAC-SHA algorithm and your secret key string is:

* Base64-encoded:

        Key secretKey = Keys.hmacShaKeyFor(Decoders.BASE64.decode(secretString));

* Base64URL-encoded:

        Key secretKey = Keys.hmacShaKeyFor(Decoders.BASE64URL.decode(secretString));

* Not encoded at all (e.g. a raw password string):

        Key secretKey = Keys.hmacShaKeyFor(se

[2019-10-14 16:56] lhazlewood opened #518 "Document why changing some characters in a Base64-encoded string does not invalidate signatures"
Add a section to the Readme why this doesn't invalidate signature calculation and is not a flaw in the library.  See #211 #269 #324 and others.

Also:

https://github.com/jwtk/jjwt/issues/520#issuecomment-544633353

https://stackoverflow.com/questions/29941270/why-do-base64-decode-produce-same-byte-array-for-different-strings

https://stackoverflow.com/questions/33663113/multiple-strings-base64-de

[2019-10-15 04:41] oliverhausler commented on #517
Thank you guys, confirmed working.

[2019-10-18 14:42] skjolber opened #519 "Add module-info"
I'm trying to use modules in a support library, but there seems to be no module-info for jjwt. I suggest following either Jackson's or SLF4J's approach.

[2019-10-21 13:31] skjolber commented on #519
First add a default module name, then later module info (a bigger job).

[2019-10-21 13:58] celloni opened #520 "No SignatureException when token ends with non base64 alphabet"
Hey all

I work with Version: `0.10.7`

I don't understand a behaviour of the lib. So I have the following:

Code to parse a token:
[code]
JWT Token ends for example with a non base64 alphabet sign `}` for example like:
[code]

Like this the JWT signature of the Token is not encoded correctly so I would expect an `SignatureException` but the lib extracts the token correctly, so what happens here w

[2019-10-21 16:40] RDevet commented on #308
@lhazlewood Now that Java 13 is out, I strongly believe you should merge this PR. Java 7 is now a billion years old. Those still using Java 7 can continue to use the previous versions of JJWT.

[2019-10-21 17:00] lhazlewood commented on #308
#178 is all that remains, and the current plans are to get the JWT team together in person to knock it out as soon as possible.  Due to work commitments though, that's still probably a couple of months away.

[2019-10-21 17:37] DanFTRX commented on #308
@lhazlewood I'd just like to confirm that the 1.0 release will only be moving the baseline to Java 8 correct?  Not any higher?  As the Android ecosystem will likely not support Java 9+ for years to come.

At this point in time, most measurements put 80+% of android devices with Java 8 compatability.  Additionally, according to some slides given at Google IO 2019,  library backporting for major sys

[2019-10-21 17:57] lhazlewood commented on #520
Your test does not actually change the signature, which in cryptographic contexts, is always a byte array.  Instead, your test is changing a _text encoding_ of the byte array.  They are different things.

JJWT uses a very fast Base64(Url) encoder and decoder that [ignores invalid characters in the string prefix and suffix during decoding](https://github.com/jwtk/jjwt/blob/master/api/src/main/java/

[2019-10-21 17:57] #520 closed

[2019-10-21 18:08] lhazlewood commented on #308
@DanFTRX correct, our 1.0 release will utilize JDK 8 APIs, but not JDK 9 or later.

Also, our release just prior to 1.0 will really contain everything for the 1.0 release as well, but without JDK 8 conveniences (like functional interfaces, etc).  So even Android devs that need the 1.0 functionality will get it, but in the form of the last 0.x release.

The other caveat with the last 0.x release is

[2019-10-21 18:14] DanFTRX commented on #308
@lhazlewood My bigger concern is potential bugfixes/security patches that may occur.

[2019-10-21 18:28] lhazlewood commented on #308
@DanFTRX it's a tough call - thankfully JJWT is quite stable, so other than 3rd-party dependency security issues - like Jackson recently - this may not be an issue at all.  I suppose we can just 'wait and see', and if there is enough need for it, we can provide that.

[2019-10-24 12:53] TobiasReich opened #521 "Allow weak key lengths"
I get a WeakKeyException stating that

I understand that this should not happen and new certificates should have a larger size.
However, we still have some legacy keys in use and need them to be validated - even though we know they are weak.

Is there an option / configuration that allows us to check their claims, even with smaller sized keys? The warning is nice but it seems like after that excep

[2019-10-24 15:06] DanFTRX commented on #308
Good news is that [an upcoming version of Android Studio](https://developer.android.com/studio/preview/features#j8-desugar) will add java 8 library desugaring for select language APIs.(See link for details)  Among these are the APIs that are most likely going to be switched to here in JJWT following the 1.0 release.

[2019-10-24 17:57] mattfiocca opened #522 "Duplicate Platform Classes"
Android Studio 3.4.1
compileSdkVersion 29
minSdkVersion 22
targetSdkVersion 29

My android project builds fine when testing and running debug, but suddenly stopped passing lint during release builds of APKs. The android app bundle release builds are fine.

In `build/reports/lint-results-release-fatal.html`, gradle is complaining about `Duplicate Platform Classes` in:
[code]

Description:
"../../bu

[2019-10-24 19:22] lhazlewood commented on #521
Hi there,

There isn't currently support for weak keys - JJWT aims to be a specification-compliant library, and the RFC spec _mandates_ (not suggests) that weak keys _cannot_ be used for JWSs.  Our [docs cover this](https://github.com/jwtk/jjwt#signature-algorithms-keys), specifically:

Also see https://github.com/jwtk/jjwt#rsa

Because using weak keys compromises security, and the RFC mandates ke

[2019-10-24 19:26] lhazlewood commented on #474
We *might* want to allow disabling key length validation per #521.  This violates the specification, so I don't know how I feel about that, especially if #493 gives an alternative to accomplish the same thing if the user _really_ wants to do this.  In other words #493 makes it possible, but it wouldn't be glaringly easy/obvious by just looking at or using a fluent validator API (which I think is a

[2019-10-24 19:28] lhazlewood commented on #521
P.S. I made a comment on #474 referencing this issue, so I would consider this issue a duplicate of #474.  We'll track any actionable work associated with this ticket in that one, so I'm closing this one.  Feel free to comment and/or ask to re-open if you disagree - happy to discuss further if so.

[2019-10-24 19:28] #521 closed

[2019-10-24 19:32] lhazlewood commented on #308
That's pretty slick!  Odds are very high that we'd probably only use language features supported by desugaring, so hopefully we won't see any issues.  I can't say for sure, but I hope that would be the case.

[2019-10-24 19:36] lhazlewood commented on #522
Thanks for the report @mattfiocca .  Which platform classes are duplicated?

[2019-10-24 19:45] mattfiocca commented on #522
I think just the `json` class.. the xml version of the build report is below.

I've tried both variations of the gradle deps separately, and cleaning builds prior to signing:

[code]
or
[code]

The strange thing is that this only applies to APK signed bundling, and not the Android App Bundling process.

[code]

[2019-10-24 20:03] lhazlewood commented on #522
Your latter `exclude` directive in the gradle config explicitly means they are _not_ included in your project/build, specifically because Android does already include them.  So I don't know what the JJWT team can do here - any ideas?

[2019-10-24 20:04] lhazlewood commented on #522
Also note the XML block references 0.9.1 instead of 0.10.7, so it seems like there is some funny configuration or stale references?  I'm not sure.

[2019-10-24 20:12] mattfiocca commented on #522
That xml output above was the result of using just the `implementation 'io.jsonwebtoken:jjwt:0.9.1'` gradle dependency, here's the result of using
[code]
[code]

but, it appears that the error is happening in the `api` dep, not the `orgjson` runtimeOnly dep...

[2019-10-24 20:22] lhazlewood commented on #522
I don't understand how this is possible.  All classes in JJWT's `api` module are in the `io.jsonwebtoken` package/namespace.  Everything in the `orgjson` module is in the `io.jsonwebtoken.orgjson` package.

[2019-10-24 20:25] mattfiocca commented on #522
Yeah its weird... i have no idea why my compiler is reporting this.

I fixed it locally though by using this in my module gradle:

[code]

[2019-10-24 20:25] #522 closed

[2019-10-24 22:46] lhazlewood opened #524 "Move Services class"
from `io.jsonwebtoken.lang.Services` to the `impl` module in the package `io.jsonwebtoken.impl.lang.Services`.

[2019-10-24 22:54] lhazlewood opened #525 "Move all io.jsonwebtoken.lang.* Classes to the impl module as possible"
due to old implementations (before JJWT was modularized), the `io.jsonwebtoken.lang` package in the `api` module contains a lot of classes and methods that aren't needed by JJWT users.

For 1.0, as many of these classes and methods as possible should be moved to the `impl` module since they're almost exclusively used by JJWT implementation classes.

Note that anything used by any of the extensions

[2019-10-25 02:12] linyongfu2013 opened #526 "is jjwt include jjwt-impl & jjwt-api and the others"
i see a io.jsonwebtoken:jjwt jar in maven central, is this jar include the others jjwt-xxx jar ?

in other words, can only use io.jsonwebtoken:jjwt jar file in my project ?

[2019-10-25 09:05] sapangarg opened #527 "serializeToJsonWith method not present"
i am trying to use serializeToJsonWith method present in Jwts.builer(), but it shows that the function is not there.

[2019-10-25 15:36] lhazlewood commented on #526
Please use JJWT 0.10.7 which has the appropriate api and impl jars.  `io.jsonwebtoken:jjwt` is for old (less than 0.10.0) releases and not recommended.

In the future, please do not use GitHub Issues to ask usage questions:

https://github.com/jwtk/jjwt#help-questions

[2019-10-25 15:36] #526 closed

[2019-10-25 15:40] lhazlewood commented on #527
Hi there!

This feature was introduced in version 0.10.0.  Please ensure your project uses 0.10.7 and you'll see the method.

Also, in the future, we respectfully request that people do not use GitHub Issues for asking usability questions.  We reserve this system for items that require changes to JJWT's codebase (feature requests, bugs, actionable work items, etc).  Thanks!

https://github.com/jwt

[2019-10-25 15:40] #527 closed

[2019-10-25 16:25] lhazlewood commented on #478
Just an internal note:  This issue could likely be solved with #493, whereby the implementation can avoid key strength assertions.

[2019-10-26 22:53] dogeared commented on #525
As a first pass, I wanted to see what the impact would be of moving the lang package into impl. After getting compile time errors due to usages within the api modules, I started moving things back. Turns out, most everything was needed just to get back to compiling properly:

api:
![image](https://user-images.githubusercontent.com/364562/67626972-a8bbcd00-f821-11e9-9ff6-bd017aa14e53.png)

impl:
![

[2019-10-27 18:55] lhazlewood commented on #525
Bummer.  So the goal was to hide whatever we could from projects using JJWT that wasn't necessary in creating and parsing JWTs.

If we have a `jjwt-lang` module that `jjwt-api` depends on, when a user declares `compile` scope for `jjwt-api`, they'll still have compile scope for `jjwt-lang` as well, defeating the purpose of multiple modules.

That said, for 1.0, there are a *lot* of internal implem

[2019-10-27 21:13] #524 closed

[2019-10-30 10:46] jainsahab commented on #333
Hi, is it available on mvnrepository? I can't find it over there.

[2019-10-30 15:57] azagniotov commented on #333
@jainsahab the real Maven Central is https://search.maven.org/ . Everything else are just mirrors of the real thing.

[2019-11-01 16:47] ahmeeeeeeed commented on #153
same problem if you have fixed it can you tell me how

[2019-11-05 14:27] aamarfii opened #530 "SignatureAlgorithm.ES512 has wrong min length requirements"
Current 521
Should be 512

[2019-11-05 21:09] lhazlewood commented on #530
Hi there!  Thanks for trying to help JJWT be bug free, but JJWT is correct and doing the right thing.

Per [RFC 7518, Section 6.2.2.1](https://tools.ietf.org/html/rfc7518#section-6.2.2.1) (bold emphasis is mine):

   private key value.  It is represented as the base64url encoding of
   the octet string representation of the private key value, as defined
   in Section 2.3.7 of SEC1 [SEC1].  **The l

[2019-11-05 21:09] #530 closed

[2019-11-07 12:54] gaussli opened #531 "Is there parse API for getting payload without SigningKey?"
I want to get the payload info before sign the jws, so is there parse API for getting payload without SigningKey?

[2019-11-07 17:23] lhazlewood commented on #531
Please see https://github.com/jwtk/jjwt/issues/205#issuecomment-288818274 and #86

[2019-11-07 17:23] #531 closed

[2019-11-11 18:48] rpanak-generalbytes commented on #381
@lhazlewood I've encountered a similar bug with loading the key in a PKCS 12 keystore. The algorithm name of the secret key gets for some reason (guess it's because it's mandated by the PKCS12 spec) converted to an OID (e.g. HmacSHA512 is 1.2.840.113549.2.11; see http://www.oid-info.com/cgi-bin/display?oid=1.2.840.113549.2.11&action=display). After loading the key, the algorithm identifier stays i

[2019-11-12 15:28] lhazlewood commented on #381
@rpanak-generalbytes can you please help me understand how/where JJWT is involved in what you're seeing?  JJWT doesn't load keys from keystores.  Do you have any example code that demonstrates a problem?  Thanks!

[2019-11-18 10:42] hamam99 opened #533 "/ converted to \/ [BUG]"
I have payload data for JWT `"route": "api/post-test"`, the generated JWT token was different from JWT token that I convert manual from website. So, i try decode generated token and found that  `"route": "api/post-test"` converted to ``"route": "api\/post-test"`.  Is it bug? Or anyone have solution?

[2019-11-18 16:36] lhazlewood commented on #533
What is your test case? Do you have any code that we can run?  What website are you talking about?

[2019-11-18 16:47] lhazlewood commented on #533
This works as expected:

[code]

I don't know what website you're using, but JJWT doesn't assume validity in any website/tool.  It follows only the RFC standards published by the IETF.

[2019-11-19 08:32] hamam99 commented on #533
This is my payload
`{
 typ: "JWT",
 alg: "HS256"
}.
{
 method: "GET",
 route: "api/get-test"
}`

It is the JWT token `eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJtZXRob2QiOiJHRVQiLCJyb3V0ZSI6ImFwaVwvZ2V0LXRlc3QifQ.gEup5umGYFl4WO0jVLh5mxaHa76GVZhJx55VsCUQS5Y`. The secret key is "_1234567890123456789012345678901234567890_".

But when  i  decode the jwt token using website _http://calebb.net/_ , I get re

[2019-11-19 17:22] lhazlewood commented on #533
http://calebb.net must have a bug.  Other online decoders work just fine, for example https://www.jsonwebtoken.io as shown here:

![image](https://user-images.githubusercontent.com/121180/69169919-2a241980-0ac7-11ea-958c-2fd02d5744d5.png)

JJWT encodes and decodes properly, so this is not a JJWT issue, so I'm closing this bug report (it's not a JJWT bug).  You might want to report a bug with caleb

[2019-11-19 17:22] #533 closed

[2019-11-19 22:44] #90 closed

[2019-11-19 22:44] #247 closed

[2019-11-20 03:08] hamam99 commented on #533
Thank you for your response. I had fixed it with using
`.serializeToJsonWith(new GsonSerializer<>())` it will removing _escape string_ (_additional \_) .

[2019-11-20 11:39] rpanak-generalbytes commented on #381
Sure. You are right, JJWT is not involved with keystores. However, that is just an information about how to reproduce the problem (to be precise, how to unwillingly create a valid `SecretKey` that is not usable with JJWT).

The problem itself is that you can have a valid `SecretKey` for HmacSHA512, but the string returned by calling `SecretKey#getAlgorithm()` will be the OID (1.2.840.113549.2.11),

[2019-11-25 20:38] dirkbolte commented on #113
Is there something we can support you with? Any stories/tasks/tests you can delegate?

[2019-11-26 10:35] mancave commented on #236
Any progress on this feature ?

[2019-11-27 11:58] aamarfii opened #534 ""exp" spec claim - String parsing fallback does not allow UTC offsets"
"exp" claim should be number, however jjwt supports parsing the string as a number, and as last fallback parsing string as a ISO_8601 formatted date.

In io.jsonwebtoken.lang.DateFormats
there are following patterns

    private static final String ISO_8601_PATTERN = "yyyy-MM-dd'T'HH:mm:ss'Z'";

    private static final String ISO_8601_MILLIS_PATTERN = "yyyy-MM-dd'T'HH:mm:ss.SSS'Z'";

So they are

[2019-11-27 14:15] aamarfii opened #535 "Claims - Date getIssuedAt() - wrong @return documentation"
/**
     * Returns the JWT <a href="https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-25#section-4.1.6">
     * <code>iat</code></a> (issued at) timestamp or {@code null} if not present.
     *
     * <p>If present, this value is the timestamp when the JWT was created.</p>
     *
     * @return the JWT {@code nbf} value or {@code null} if not present.
     */
    Date getIssuedAt();
----

[2019-11-27 17:51] aamarfii commented on #534
4.1.4.  “exp” (Expiration Time) Claim
exp value **_MUST_** be a number containing a NumericDate value.

2. “NumericDate”
 NumericDate - A JSON numeric value representing the number of seconds from 1970-01-01T00:00:00Z UTC until the specified UTC date/time, ignoring leap seconds.

Allowing anything other than NumericDate is not spec compliant.

[2019-11-28 13:48] lkoe opened #536 "Token created/compressed with 0.10.6 can't be parsed with 0.10.7"
Simple testcase:

[code]

Fails currently with:

[code]

[2019-12-04 14:02] rdss12345 opened #537 "US Export Control rating (ECCN) for jjwt-0.7.0.jar"
Sorry to add this as an issue but I raised a Stack Overflow question and it was promptly closed as off-topic.

Ref: jjwt-0.7.0.jar
We are conducting export control checks on software that uses this library and have identified it as potentially containing cryptography.

As the download links for this library are hosted by github can the developers please confirm whether the required notification un

[2019-12-04 18:59] lhazlewood commented on #537
Thanks very much for trying StackOverflow first - it's much appreciated!

JJWT doesn't implement or distribute any crytpographic algorithms - such as ECDSA, RSA, HMAC-SHA digests, etc, nor does it include, embed or distribute any library (such as BouncyCastle) that can perform these operations either.

When JJWT attempts a cryptographic operation, it becomes a client, or consumer or _caller_ of th

[2019-12-05 16:19] rdss12345 commented on #537
Thank you for your quick response. In summary, we need a US export control licence for our product. In order to gain that we need a rating for the FOSS libraries used by it. We either need to find a rating already provided by a library's authors or get a statement from the authors. As you can imagine there are going to be false positives where we need the author to state that there is no cryptogra

[2019-12-05 16:51] lhazlewood commented on #537
Hi Rowland - I'm glad I could help.  But what reply on 4/12/19?  Do you have a link?

[2019-12-05 16:56] rdss12345 commented on #537
Hi. it's the one above where you state that;

"JJWT doesn't implement or distribute any crytpographic algorithms - such as ECDSA, RSA, HMAC-SHA digests, etc, nor does it include, embed or distribute any library (such as BouncyCastle) that can perform these operations either.

When JJWT attempts a cryptographic operation, it becomes a client, or consumer or caller of the Java Cryptography Archictur

[2019-12-05 20:02] lhazlewood commented on #537
Ah, sorry, my confusion was due to the difference in U.S. dates representations.  I originally thought you were referring to April (4) 12th 2019.  Thanks for clarifying! :smile:

[2019-12-05 20:02] #537 closed

[2019-12-06 10:26] Zwilla opened #538 "java.util.map cannot be inherited with different type arguments 'String and null'"
java.util.map cannot be inherited with different type arguments 'String and null'

https://github.com/jwtk/jjwt/blob/master/impl/src/main/java/io/jsonwebtoken/impl/DefaultJwsHeader.java

Error here:

public class DefaultJwsHeader extends DefaultHeader implements JwsHeader {

how to fix this?

Note, without fixing it will return always null

thx

[2019-12-06 16:12] lhazlewood commented on #538
I don't understand the problem.  What does your code using JJWT look like?  Can you show how this is a problem for you in your project?

[2019-12-16 01:53] jiangyongbing24 commented on #534
I use the following code to test
[code]
Why does 'exp' increase a thousand times？

[2019-12-16 01:54] jiangyongbing24 opened #539 "Why does 'exp' increase a thousand times?"
I use the following code to test
[code]
Why does 'exp' increase a thousand times？

[2019-12-16 10:10] aamarfii commented on #534
@jiangyongbing24 because java.util.Date works with miliseconds, whereas the JWT is epoch-second based, so whatever you pass it is expected to be second, and the library multiplies it by 1000 to follow the java convention.

I recommend you to use setExpiration method which takes the java.util.Date
`Jwts.builder().setExpiration(new Date(Instant.now()).toEpochMilli()))`

[2019-12-16 10:28] aamarfii commented on #539
Date is millis - based
Exp is second based

[2019-12-16 15:54] l3ender commented on #526
It might be helpful if this was in the readme--searching Maven Repository for "jjwt" brings up `io.jsonwebtoken:jjwt` as the first result. After checking the readme, I also wasn't sure (even though my project was building/running as expected).

[2019-12-16 17:22] lhazlewood commented on #526
How is https://github.com/jwtk/jjwt#install not already clear enough?  (Not being argumentative - genuinely curious).

[2019-12-16 17:25] lhazlewood commented on #539
As @aamarfii said.

More information: https://stackoverflow.com/questions/39926104/what-format-is-the-exp-expiration-time-claim-in-a-jwt

[2019-12-16 17:25] #539 closed

[2019-12-16 17:30] lhazlewood commented on #534
@jiangyongbing24 your own quote gives you the answer:

_not_ milliseconds.

https://stackoverflow.com/questions/39926104/what-format-is-the-exp-expiration-time-claim-in-a-jwt

[2019-12-16 17:33] lhazlewood commented on #534
Adding this to the 1.0 milestone (and also marked as `jwt-compliance`).  For 1.0, we should remove ISO-8601 support entirely to guarantee spec-compliant usage.  If a user wants ISO-8601, they should use their own claim different from `exp`.  Thanks for the issue @aamarfii .

[2019-12-16 17:42] aamarfii commented on #534
@lhazlewood same applies for `nbf` and `iat` spec claims

[2019-12-16 18:30] l3ender commented on #526
A lot of project readme/installation doc don't reference the latest version of their artifact(s), so as a result of habit, I always go to Maven Central to see if there are any newer versions. When I did that for this project and saw the singular `jjwt` version, I went back to the readme to search for it and didn't find anything.

Dropping a note under https://github.com/jwtk/jjwt#understanding-jjw

[2019-12-20 18:31] skjolber commented on #519
Bump

[2019-12-31 15:16] annrodrigues opened #541 "Problem with claims / long values"
I added a claim with the Long type value `"code":26469708576325829` but when it is encoded in the class `DefaultJwtBuilder.java` by the method `base64UrlEncode(Object o, String errMsg)` calling `TextCodec.BASE64URL.encode(bytes)`, it returns a token that the value of the claim is `"code": 26469708576325828`. The only last digit is changed!!!

A simple test:

Map<String, Object> publicClaims = new

[2019-12-31 16:37] lhazlewood commented on #541
Hi there!

JJWT basically just delegates your claims Map to the underlying JSON Marshaller (e.g. Jackson).

Can you please try the same test using just a Map and Jackson and let us know what you find?  If the issue occurs with Jackson or your chosen marshaller, there's not much we can do - it would probably be a setting with the marshaller itself.

For example, see this: https://stackoverflow.com/

[2019-12-31 16:39] lhazlewood commented on #541
P.S. if you find the problem is with Jackson and you want to customize the Jackson ObjectMapper to handle this appropriately, you can use your custom ObjectMapper with JJWT as documented here:
* https://github.com/jwtk/jjwt#json
* https://github.com/jwtk/jjwt#json-jackson

If you find this is something with Jackson and you believe that JJWT's default ObjectMapper should be customized a different w

[2019-12-31 16:42] lhazlewood commented on #536
Hi there - thanks for the issue!

Do you know if this has anything to do with the fact that the test JWT is not signed?  Have you tried it with a signed JWT between 0.10.6 and 0.10.7?  Just curious...

[2019-12-31 16:43] lhazlewood commented on #535
Thank you for the issue!  Do you have a PR for this change?  If so, what is the link?

Thanks!

[2019-12-31 16:50] lkoe commented on #536
Hi, the issue also happens with signed tokens - I just narrowed the reproducer down to the most simple case.
It seems as if the ZLIB compression implementation changed between 0.10.6 and 0.10.7 but I couldn't find any related issue attached to the version.

[2019-12-31 16:52] lkoe commented on #536
Related question: would you recommend ZIP compression over DEF? Since clients of our token server might use older versions we need tokens to be stable across versions...

[2020-01-04 22:07] RockyMM commented on #235
@marschall  I completely agree. `LocalDateTime` is ambiguous. However, Instant has far too many advantages over java.util.Date. I will check other tickets for progress on of deprecation of  java.util.Date.

[2020-01-05 18:55] marschall commented on #235
@RockyMM sure, `Instant`, `OffsetDateTime` and `ZonedDateTime` are a great addition and completely fine.

[2020-01-07 08:20] fschutte opened #542 "Support for PS256 in Java 11"
According to the documentation starting from Java 11 it should be possible to use signatures with PS256 algorithm, but when I try this it gives an error unless BouncyCastle is used. But I though that starting from Java 11 BouncyCastle would just not be necessary anymore.
Any tips?
`.signWith(signKey, SignatureAlgorithm.PS256)`
gives
`io.jsonwebtoken.security.SignatureException: Unavailable RSA Sig

[2020-01-07 18:02] lhazlewood commented on #542
Thanks for the issue!

If the string name we use is BouncyCastle specific, it is unclear to me the alternative name that should be used without BC.  For example, which out of following list should be specified?

https://docs.oracle.com/en/java/javase/11/docs/specs/security/standard-names.html

[2020-01-07 18:24] lhazlewood commented on #542
I was thinking that something else in addition to `RSASSA-PSS` was necessary.  I think that may be all that's required, and then specify a `PSSParameterSpec` during signature calculation.  I'll investigate more.

[2020-01-07 19:29] lhazlewood commented on #542
Yep, that was all that was required in local testing - to change the SignatureAlgorithm `jcaName` values from their `SHA<n>withRSAandMGF1` names to all just `RSASSA-PSS` (all three exact same jcaName):

https://github.com/jwtk/jjwt/blob/eadf0ce4fc252341f04c50a45aac6f9c670283e7/api/src/main/java/io/jsonwebtoken/SignatureAlgorithm.java#L90-L109

This is because `RsaProvider` already sets up the corr

[2020-01-07 19:36] lhazlewood commented on #542
Second implementation note:

`SignatureAlgorithmTest.bigInteger` is unbearably slow due to the 2nd `certainty` argument of the `BigInteger` constructor.  Since we don't need ideal randomness for these tests (we're just using that method to produce mock values), change the implementation to be the following:

[code]

This was much faster and sped up the build significantly.

[2020-01-08 17:19] fschutte commented on #542
Hi Les, thanks for picking this up. Do I understand correctly that it could easily be fixed, but it requires a change in the library (namely in SignatureAlgorithm.java)? If so, will it be part of a future new version?

[2020-01-08 20:56] lhazlewood commented on #542
@fschutte yep, that's correct!

[2020-01-08 20:59] lhazlewood commented on #536
@lkoe I don't have a particular recommendation really - my assumption is gzip is pretty-well ubiquitous so I'd probably default to that in my own projects, but that's just a personal preference - not something I can 'formally' recommend (if that makes sense).  Cheers!

[2020-01-10 06:43] FaustPipeDream opened #543 "java.lang.ClassNotFoundException: javax.xml.bind.DatatypeConverter When setup sign"
Hello, I' using
[code]
and When I setup sign use
` Jwts.builder().signWith(SignatureAlgorithm.HS512, SECRET)`
I got a mistake

What should I do to solve this problem?

[2020-01-10 06:44] lhazlewood commented on #543
Please upgrade to the latest stable 0.10.7 release.  Enabling it in your project is documented here: https://github.com/jwtk/jjwt#install

[2020-01-10 08:15] FaustPipeDream commented on #543
Thank you  It really works

[2020-01-10 08:15] #543 closed

[2020-01-15 12:35] bmhm opened #544 "SignatureException should extend ClaimJwtException"
Hi,

I think SignatureException could and/or should contain claims.
Rationale: If a signature cannot be validated, this might be a malicious attempt to falsify a jwt. If we do not read the claims, we do not know the user.

This also means that this exception could only be raised if  the claims were parsed first (before the signature is validated). Currently, the signature exception would fail befo

[2020-01-15 17:27] lhazlewood commented on #544
A signature is not a claim - it's not even in the same JWT string token - and therefore shouldn't extend from `ClaimException`.

If signature verification fails, what makes you think the claims are safe to use and that the user field hasn't been manipulated to be someone else?

The _entire point_ of the signature is to ensure that the claims or header has not been manipulated.  If the correct veri

[2020-01-15 17:27] #544 closed

[2020-01-15 17:47] bmhm commented on #544
Hi @lhazlewood

I understand your point.
I'd just like to know, if the signature is not correct, which account the attacker tried to log in to (subject).

Isn't that somewhat reasonable?
Of course I'm not trusting it at all.

[2020-01-30 00:25] cybercj opened #551 "Why does my code skip the try statement and go directly to the catch?"
I am trying to decode a JWT token string entered by a user and verifying the signature, I am using the io.jsonwebtoken library. I got the "key" by using the "openssl rand -base64 32" command in my terminal. I am currently using "http://jwtbuilder.jamiekurtz.com" to compute the header and payload. I then enter my "key" in the Key field in the jwtbuilder website as shown in the picture in the link b

[2020-01-30 01:20] #551 closed

[2020-02-03 19:28] lhazlewood opened #552 "SignatureAlgorithmTest mock instance too slow"
SignatureAlgorithmTest.bigInteger is unbearably slow due to the 2nd certainty argument of the BigInteger constructor. Since we don't need ideal randomness for these tests (we're just using that method to produce mock values), change the implementation to be the following:

    private static BigInteger bigInteger(int bitLength) {
        BigInteger result = null
        while (result == null || re

[2020-02-03 21:41] #552 closed

[2020-02-04 16:29] lhazlewood commented on #542
Resolved via #554

[2020-02-04 16:29] #542 closed

[2020-02-04 16:31] lhazlewood commented on #538
Closing due to lack of follow-up from OP.

[2020-02-04 16:31] #538 closed

[2020-02-04 19:00] lhazlewood commented on #536
@lkoe I dug into this more today, and unfortunately this issue came about as a side effect of fixing a memory leak in the DeflateCompressionCodec in 0.10.6 and earlier.  It was fixed in the 0.10.7 release per #392

I've opened #556 to fix it.

[2020-02-04 19:01] lhazlewood commented on #536
P.S. even though this is a backwards compatible fix, those using DEFLATE on 0.10.6 should upgrade to 0.10.7 or 0.10.8 as soon as we release it to avoid the memory leak in DEFLATE <= 0.10.6.

[2020-02-04 22:05] lkoe commented on #536
Thanks @lhazlewood much appreciated!

[2020-02-04 22:29] #536 closed

[2020-02-04 23:06] lhazlewood commented on #171
Closing per edits in #559.  Will be released with 0.11.0

[2020-02-04 23:06] #171 closed

[2020-02-04 23:12] lhazlewood commented on #410
Docs merged to README-0-11-0 branch.  Those will be merged during the release.

[2020-02-04 23:12] #410 closed

[2020-02-05 00:08] lhazlewood commented on #336
Some thoughtful design needs to go into this and we just don't want to hold up 0.11 any longer - adding to a future release.

[2020-02-05 02:33] #518 closed

[2020-02-05 06:49] feras-ngss opened #562 "JWT Expiration 10 years"
hi all, thanks for being there to help.
i was woundering is it okay to set a long value to the :
.setExpiration(new Date(System.currentTimeMillis() + 864000000))

to make the expiry date 10 years
or we can just ignore the date it self and the token will never expire ?
thank you

[2020-02-05 06:50] #517 closed

[2020-02-05 21:46] lhazlewood commented on #562
Hi there!  In the future, please as questions per https://github.com/jwtk/jjwt#questions

That said, you don't need to set an expiration at all if you don't want to.  This is better in my opinion than setting a super long expiration like 10 years.

Ordinarily, most people wouldn't do this however, especially if the JWT is used for authentication or authorization.  If it is ever lost or stolen or i

[2020-02-05 21:46] #562 closed

[2020-02-05 23:39] lhazlewood commented on #519
@skjolber now that 0.11.0 is out and builds/works on JDK 11, is this still needed?

[2020-02-06 05:30] feras-ngss commented on #562
thank you very much for helping, and sorry for the bad behaviour of the way of posting the issue .
for me i will never do it but in fact this is a customer requirement

annways i solve it by passing null to the method.

thanks again.

[2020-02-06 11:37] skjolber commented on #519
@lhazlewood  can't seem to find any module descriptor or automatic module name entry in the manifest? Ref https://repo1.maven.org/maven2/io/jsonwebtoken/jjwt-impl/0.11.0/

[2020-02-06 19:37] lhazlewood commented on #519
@skjolber correct, we didn't add them to the release - I was curious however if they are still necessary to use in JDK11 given that our builds run and work on JDK11.

[2020-02-09 17:53] skjolber commented on #519
So disabling the module system is possible, and then all will run 'as before'. But that is hardly proper support. You might be interested in this: https://dzone.com/articles/automatic-module-name-calling-all-java-library-maintainers

I have best experience with using the moditech plugin, see [this example](https://github.com/skjolber/sesseltjonna-csv/blob/master/pom.xml#L167).

[2020-02-12 18:02] mluis commented on #86
In my case, because validation is a separated concern of Claim parsing.

[2020-02-18 10:32] patton73 opened #563 "jar jjwt-gson implementation does not contain ServiceLoader definitions"
The published jar in maven Central for version 0.11.0 does not contain META-INF/services package.
So the service loader does not finde the implementation.
Should be fixed and released again.

[2020-02-18 16:55] lhazlewood commented on #563
We can never change a release that has been published to the world.  It always has to be done as a new release.  Adding to 0.11.1.

cc @bdemers

[2020-02-18 17:00] lhazlewood commented on #563
@bdemers this is because the ServiceLoader files live under that module's `src/resources` directory, and it should have been `src/main/resources` 😛

https://github.com/jwtk/jjwt/tree/0.11.0/extensions/gson/src

[2020-02-18 17:38] bdemers commented on #563
Ugg 😞
Probably a good time to add a quick test to make sure the ServiceLoader returns the expected classes.

If/when we switch to Java 1.8, we can use Google Auto Service (and not deal with creating the META-INF files by hand), but... depending on how you configure annotation processing, it could still get missed

TL;DR: a simple test is needed

[2020-02-22 19:51] Nirostar opened #564 "JacksonDeserializer with claimTypeMap throws NullPointerException while parsing"
I have a problem with parsing my JWS Token with jjwt. The following code snippet

[code]
throws the following NullPointerException.
[code]

I debugged it and saw, that the NPE happened while parsing the header of the Token which is looking like this:

[code]

The NPE happens, because the `parser.currentName()` in `JacksonDeserializer::deserialize(JsonParser parser, DeserializationContext context)`

[2020-02-23 02:43] lhazlewood commented on #564
@Nirostar thanks very much for reporting this!  We'll get a test case for this and release a fix in 0.11.1.

cc @bdemers

[2020-02-24 18:26] bdemers commented on #564
@Nirostar Thanks for providing great info, it made tracking this down much easier (though I still banged my head on this for a bit).

It turns out the Java 9+`Map.of(...)` implementation creates a map that does NOT allow for checking `containsKey(null)`, other map implementations DO allow for this.
The short term workaround is to use the `io.jsonwebtoken.lang.Maps.of` the utility class provided wi

[2020-02-26 21:40] thatsIch opened #567 "jjwt-jackson depends on jackson-databind 2.9.10.1 with known vulnerabilities"
`jjwt-jackson` depends on `jackson-databind` 2.9.10.1 as seen in the [pom](https://github.com/jwtk/jjwt/blob/e115085b14fbcaeca8445b545c8ee948d28a9cad/pom.xml#L100).

Running

     mvn org.owasp:dependency-check-maven:5.3.0:check

results in

Links to the NVD entries:

* https://nvd.nist.gov/vuln/detail/CVE-2019-20330
* https://nvd.nist.gov/vuln/detail/CVE-2020-8840

Upgrading to at least 2.9.10.2

[2020-02-26 21:59] lhazlewood commented on #567
*Sigh*.  Jackson has had *so* many of these this year.

Anyway, thanks for the issue.  For other users looking at this, you can always override the Jackson dependency in your local project by using Maven dependency exclusions (i.e. excluding jackson when depending on jjwt):

https://maven.apache.org/guides/introduction/introduction-to-optional-and-excludes-dependencies.html

[2020-03-02 17:02] lhazlewood commented on #541
No follow-up from OP.  This is ultimately a JSON Marshaller setting (e.g. configure using BigInteger when finding large numbers) and likely out of the purview of JJWT.

[2020-03-02 17:02] #541 closed

[2020-03-03 21:11] timsazon opened #568 "ServiceLocator can't find an implementation in common-pool workers"
Hi, I've noticed that we can't read/create a token in a worker from `ForkJoinPool.commonPool()` in Spring's uber-jar application because ServiceLocator can't find an implementation for that (looks like there is a problem with context class loader related to the thread).

Example (it will throw `UnavailableImplementationException` for `Serializer.class`):
[code]

Currently, I have a workaround to t

[2020-03-04 00:17] lhazlewood commented on #563
@bdemers any status on this?  Can the PR be merged?

[2020-03-04 00:21] lhazlewood commented on #568
Interesting.  Do you have a simple test case that would allow us to re-create this?  Or even a minimal set of code to get us started?

Also, have you seen this?

https://stackoverflow.com/questions/49113207/completablefuture-forkjoinpool-set-class-loader

I wonder if that or something similar could help.

cc @bdemers

[2020-03-04 07:39] timsazon commented on #568
Thank you for the link!

Unfortunately, I can't get rid of `ForkJoinPool` in my case because of it in use by Caffeine's cache loader (I'll check the configuration).

Btw, I made an example app: https://github.com/timsazon/jjwt-568

[2020-03-04 16:19] bdemers commented on #563
Yup, take another quick look at the PR

[2020-03-04 16:59] bdemers commented on #568
Hey @timsazon thanks for putting together a minimal example, that made things MUCH easier.

For a short term workaround you could do something like this:

[code]
Basically just setting the contextClassLoader to something with JJWTs classes.

(or if you can configure the thread pool as mentioned in that stackoverflow post

@lhazlewood
We _could_ set the classloader in Services: https://github.com/j

[2020-03-05 15:09] #567 closed

[2020-03-05 18:22] lhazlewood commented on #564
@bdemers did https://github.com/jwtk/jjwt/pull/566 resolve this issue?

[2020-03-05 19:11] #563 closed

[2020-03-05 19:15] bdemers commented on #564
Yup! fixed in: #566

[2020-03-05 19:15] #564 closed

[2020-03-09 15:51] Nijacvk opened #570 "io.jsonwebtoken.impl.compression.DeflateCompressionCodec not a subtype"
Hi,

I got an error message:  io.jsonwebtoken.impl.compression.DeflateCompressionCodec not a subtype when checking a jwt. Can somebody tell me what is causing the problem an dhow toi fix it?

[2020-03-09 15:54] Nijacvk commented on #570
Caused by: java.util.ServiceConfigurationError: io.jsonwebtoken.CompressionCodec: Provider io.jsonwebtoken.impl.compression.DeflateCompressionCodec not a subtype
	at java.util.ServiceLoader.fail(Unknown Source)
	at java.util.ServiceLoader.access$300(Unknown Source)
	at java.util.ServiceLoader$LazyIterator.nextService(Unknown Source)
	at java.util.ServiceLoader$LazyIterator.next(Unknown Source)
	at

[2020-03-10 09:33] hyperxpro opened #571 "Custom Crypto Interface"
I want to plug-in a custom cryptography provider to perform actions such as signing and verification. Is there any way?

[2020-03-10 15:03] lhazlewood commented on #570
Unfortunately, that's not enough information to find the problem.  Please provide a test case.

[2020-03-10 15:53] lhazlewood commented on #571
Not until 1.0.  See #493 (closing this issue as a duplicate of that one).

[2020-03-10 15:53] #571 closed

[2020-03-10 21:50] avercastadmin opened #572 "> You forgot the `jjwt-impl` .jar:"
OMG. Why? I'm using maven (uber jar) and I do not want external libs. The final jar does not contain the jjwt-impl classes but I can access the classes in IntelliJ

And where do I put the .JAR file?

This doesn't seem to work. The resulting JAR does not contain the implementation classes.

[code]

_Originally posted by @SharkFourSix in https://github.com/jwtk/jjwt/issues/447#issuecomment-508288658

[2020-03-11 12:56] dimipaun opened #573 "Unable to find an implementation for interface io.jsonwebtoken.io.Serializer ... in fat jar"
Hi guys,

We are seeing this error:
`Unable to find an implementation for interface io.jsonwebtoken.io.Serializer using java.util.ServiceLoader. Ensure you include a backing implementation .jar in the classpath, for example, jjwt-impl.jar, or your own .jar for custom implementations.`

Of course, we've included all deps:
[code]

We are using a fat jar (all jars merged into one big jar). I've check

[2020-03-11 14:25] yonetmen commented on #572
I'm having the same problem.

[2020-03-11 17:10] lhazlewood commented on #573
Duplicate of https://github.com/jwtk/jjwt/issues/563.  This will be out in the 0.11.1 bugfix release. Sorry!

[2020-03-11 17:10] #573 closed

[2020-03-11 17:13] lhazlewood commented on #570
Unable to reproduce, and no follow-up from OP.  Please feel free to comment if you have a test case that can re-produce this issue and I'll be happy to re-open it.

(Also, please ensure you're using the latest stable release of 0.11.0).

[2020-03-11 17:13] #570 closed

[2020-03-11 17:29] lhazlewood commented on #572
For usability questions, please read https://github.com/jwtk/jjwt#help-questions

I can assure you that the classes are definitely in the respective .jar files, which means there is something wrong with how you are creating your fat jar - maybe a maven plugin configuration, or similar.  Double-check that whatever approach you are using ensures runtime dependencies are included in addition to compi

[2020-03-11 17:29] #572 closed

[2020-03-11 17:30] lhazlewood commented on #447
For usability questions, please read https://github.com/jwtk/jjwt#help-questions

I can assure you that the classes are definitely in the respective .jar files, which means there is something wrong with how you are creating your fat jar - maybe a maven plugin configuration, or similar.  Double-check that whatever approach you are using ensures runtime dependencies are included in addition to compi

[2020-03-11 17:37] lhazlewood commented on #568
@bdemers the old (non ServiceLocator approach) used the proper Classloading logic 🤦‍♂ 👍

https://github.com/jwtk/jjwt/blob/111633fa8894a68046ade733e05a815536e94bb2/api/src/main/java/io/jsonwebtoken/lang/Classes.java#L72-L96

I think we need to revert to the old approach - not a wholesale reversion - just the bare minimum to use the proper classloader.

Perhaps we replace ServiceLoader.load(spi) wi

[2020-03-11 17:45] lhazlewood commented on #568
Hrm - maybe another approach is to use this method:

https://docs.oracle.com/javase/7/docs/api/java/util/ServiceLoader.html#load(java.lang.Class,%20java.lang.ClassLoader)

And implement our own (static singleton) Classloader instance that just delegates to the ClassLoader cascade logic found in `Classes.forName`.

That static singleton would be created once and we'd change `Services.java` lines 43

[2020-03-11 17:47] lhazlewood commented on #568
I also want to say thank you to @timsazon for the sample project!  That's so helpful!

[2020-03-11 17:54] lhazlewood commented on #409
Just reviewing this again:

This is the only request for such a feature we've ever had, and the internal implementation details are sufficiently complex plus require additional caching interfaces - it's probably just easier for the caller to implement their own `SigningKeyResolver` implementation to use whatever application-specific mechanisms that already exist (and to be honest, scenarios like t

[2020-03-11 17:54] #409 closed

[2020-03-11 17:57] lhazlewood commented on #573
P.S. Until 0.11.1 is released, you can use your own Gson Serializer/Deserializer instances manually as documented here:  https://github.com/jwtk/jjwt#json-gson

[2020-03-11 18:10] bdemers commented on #568
I think parsing the `META-INF/services/*` is out, as you can also load services from a Java 9+ module.

I'm attempting to test, iterating over the three classloaders (similar to the `Classes` util).
It might turn into a mocking nightmare... However, your idea of the `CascadingClassloader` might be the solution 🤔 (or something similar).

[2020-03-11 18:54] bdemers commented on #568
@lhazlewood, I didn't use a classloader, but I did mimic the "accessor" model that `Classes` uses.  Let's move the implementation discussion over to #574

(I just tested this out on @timsazon's sample project)

[2020-03-11 19:57] yonetmen commented on #572
The problem occurred after we bumped the version to **0.11.0** The version **0.10.8** worked without a problem.

[2020-03-11 20:08] SharkFourSix commented on #572
My solution was very easy: I switched to another library 😁
________________________________
From: yonetmen <notifications@github.com>
Sent: Wednesday, March 11, 2020 9:58:02 PM
To: jwtk/jjwt <jjwt@noreply.github.com>
Cc: SharkFourSix <ckamfo02@baker.edu>; Mention <mention@noreply.github.com>
Subject: Re: [jwtk/jjwt] > You forgot the `jjwt-impl` .jar: (#572)

The problem occurred after we bumped th

[2020-03-11 21:57] lhazlewood commented on #572
@yonetmen that's literally the only change you made?  A version number reference and nothing else?  What Java version are you using?

[2020-03-12 06:45] yonetmen commented on #572
We are using dependabot to update our dependencies. Version from  0.10.8 to 0.11.0 was the only change in the build. We are using Java 11.

[2020-03-12 09:44] Nijacvk commented on #570
Hi Les,

Thanks for your response.

I’ve used the latest release and it happens only when the methode is called a number of times.

I’ll try to create a test case.

Verzonden vanuit Mail<https://go.microsoft.com/fwlink/?LinkId=550986> voor Windows 10

________________________________
Van: Les Hazlewood <notifications@github.com>
Verzonden: Wednesday, March 11, 2020 6:13:36 PM
Aan: jwtk/jjwt <jjwt@

[2020-03-12 10:25] SharkFourSix commented on #572
My solution was very easy: I switched to another library 😁. Long time ago.
________________________________
From: yonetmen <notifications@github.com>
Sent: Wednesday, March 11, 2020 9:58:02 PM
To: jwtk/jjwt <jjwt@noreply.github.com>
Cc: SharkFourSix <ckamfo02@baker.edu>; Mention <mention@noreply.github.com>
Subject: Re: [jwtk/jjwt] > You forgot the `jjwt-impl` .jar: (#572)

The problem occurred af

[2020-03-12 19:17] lhazlewood commented on #572
@yonetmen how are you creating your "fat jar"?  What maven settings?  Do you have a mini project or maven snippet that we can use to try to re-create the issue?  If it is indeed something in JJWT's packaging structure, of course we will fix it immediately, but I can't see how it would be impacted by the 0.11.0 release.  Thanks for anything you can give us!

[2020-03-12 19:43] #568 closed

[2020-03-12 20:25] #535 closed

[2020-03-17 12:37] dstr89 opened #577 "Update to LocalDateTime instead of the old Date API"
In my Unit tests I would like to use something like this to fix the time when validating JWT:

[code]
But this is not possible since JJWT uses the old date API. In DefaultClock now() method.

BR,
Daniel

[2020-03-17 17:40] lhazlewood commented on #577
Closing as a duplicate of #235 .  In the meantime, you'll need to convert the JDK 8+ time concepts into a `java.util.Date`.  HTH!

[2020-03-17 17:40] #577 closed

[2020-03-18 14:34] cziegeler opened #578 "Unable to find implementation classes in OSGi"
At least since the removal of the service loader for loading implementations, the library does not work in OSGi anymore. The reason is that the api bundle does not have access to classes from the impl bundle as class loading across bundles only works if those classes are exported (and imported).
I'm not sure how to solve this; clearly it would be wrong to export implementation classes and import t

[2020-03-18 17:04] lhazlewood commented on #578
@cziegeler thanks for the issue - I really appreciate it.

Some questions:

Did this problem happen to you when using 0.10.x or earlier?

Could it be that we're not exporting the OSGi metadata correctly?  This is the only thing we have for maintaining OSGi bundle data:

https://github.com/jwtk/jjwt/blob/c09deaa5f31fb7b3a8184daec4228269942c77a4/pom.xml#L485-L503

(This is in <build><plugins> to ens

[2020-03-18 17:25] bdemers commented on #578
Hi @cziegeler!

[2020-03-18 19:23] cziegeler commented on #578
@lhazlewood Yes, this happended with the 10.x version as well; but I only tested with the latest 10.x release.
@bdemers The OSGi metadata is correct - the api jar exports everything and the impl jar does not export anything - this is how it should be. But due to that the api does not find the impl.
I have some ideas on how to fix it, I'll try them out and then report back here

[2020-03-19 12:35] cziegeler commented on #578
Just some more information: the first official release supporting OSGi is 0.11.0 (which has the same problem).
The easiest solution is to make the implementation bundles fragments and therefore make them visible to the api bundle. In this case, it works exactly as it does outside of OSGi.
I've created a PR for this: #580

[2020-03-19 12:40] cziegeler commented on #578
I've also created a simple sample project which currently references 0.12.0-SNAPSHOT and can be used to reproduce the problem: [jjwt-test](https://github.com/cziegeler/jjwt-test)

[2020-03-19 13:43] bdemers commented on #578
Thanks @cziegeler!
There is also a recommendation from the OSGi alliance here: https://blog.osgi.org/2013/02/javautilserviceloader-in-osgi.html?m=1

It’s a little older at this point, but any thoughts on that technique?

[2020-03-19 14:37] cziegeler commented on #578
@bdemers There are currently two problems - first one is that the API bundle is not finding the classes from the implementation bundle using class loading, second one is that the API bundle is not finding services from the implementation or extension bundles when service loader is used.
The serviceloader approach mentioned there helps with the second problem only, but then requires additional code

[2020-03-24 12:35] cziegeler commented on #578
@bdemers / @lhazlewood  Any chance to get that patch applied? Today it's impossible to use these libraries out of the box in OSGi; with the patch this is finally doable

[2020-03-25 06:28] demetriuzz commented on #578
Good day to all!

For version 0.11.1 in OSGi environment  (on the example Karaf 4.2.8) got a similar problem.

I use instructions `<Embed-Dependency>` different ways, but nothing helped.
There was still an exception:
`io.jsonwebtoken.lang.UnknownClassException`

So I switched to another dependency: `com.auth0/java-jwt/3.10.1`
And use Instructions:
`<Embed-Dependency>java-jwt;inline=true</Embed-Dep

[2020-03-25 07:01] cziegeler commented on #578
Right, we use a similar repackaging solution at the moment as well - which is basically taking all the different libraries (api, impl, serializer) and putting them in a single jar. With the proposed patch this extra work downstream can be avoided

[2020-03-25 23:05] #491 closed

[2020-03-26 07:58] vprudnikov opened #581 "Why doesn't secret key algorithm matter?"
Hi!

I have a question about `JwtParser`.

How I usually create it:
[code]

After looking into the source code of JJWT, I modified that line of code to:
[code]

My test (that calls `jwtParser.parseClaimsJws(token)`) passed but I don't understand WHY.
**Why is there no check in the JJWT library that the _key's algorithm_ matches the algorithm specified in a JWT header?** I just don't expect that th

[2020-03-26 10:55] SailReal opened #582 "isSigned returns true if normal JSON provided or singed with different key"
I've two problems with the `boolean isSigned(String jwt)` method:

The following function call returns *true* if I provide a normal JSON (NOT a singed JWT):

[code]

If I change the the method calls to the following:

[code]

a `io.jsonwebtoken.MalformedJwtException: JWT strings must contain exactly 2 period characters. Found: 14` is thrown (which is the expected behavior).

As `json` a valid JSON

[2020-03-26 16:11] jonalbertini opened #583 "Reject seconds values that would cause overflow"
If seconds used with long max value, there will be an overflow because you put the value (long) multiplied by 1000 in another long...
in my case i got a negative value as result and the Math.max then return 0....

as I was expecting to have the max ClockSkew, I got the Min....

https://github.com/jwtk/jjwt/blob/dacdb2ce25d1161c03904a874da88107b0459766/impl/src/main/java/io/jsonwebtoken/impl/Defaul

[2020-03-27 20:56] lhazlewood commented on #583
I don't quite understand the problem.  You shouldn't have overflow with any relevant value, correct?  Clock skew should ideally be no more than 5 to 10 minutes at most (e.g. 360 seconds).  Multiplying 360 * 1000 shouldn't ever cause overflow.

I'm curious - how did this happen?  What was your input value?

[2020-03-30 07:23] jonalbertini commented on #583
Hello,
 the problem is not in what the clock skew should be. you can't predict the
"use cases". you deliver a function, doing something , with an Input and an
effect. In my case , the framework I use, in TEST cases use the
setAllowedClockSkew to allow expired token. It seems that's the only way to
allow it. so we put the max long Value in input of your function. but the
behaviour is not the one we

[2020-04-01 13:18] pidzama opened #585 "Upgrade jackson-databind to 2.9.10.4"
Again there is couple of new critical vulnerabilities detected in jackson-databind that affect versions before 2.9.10.4 [Search result](https://nvd.nist.gov/vuln/search/results?form_type=Advanced&results_type=overview&query=jackson-databind+before+2.9.10.4&search_type=all)

[2020-04-07 20:06] lhazlewood commented on #583
Test cases written without any insight into why an API exists, or to use the API in an unintended manner, will cause problems like this.  In this case, these test cases are effectively using a feature of the library to avoid the designed purpose of the method - to account for clock skew during parsing.  This method does not exist to allow parsing expired tokens, so the test is using it incorrectly

[2020-04-20 23:48] lhazlewood commented on #581
```new SecretKeySpec(secretKey.getBytes(), "blablablaAlgorithm")```

The second constructor argument is the [name of the digest algorithm used by the JDK JCA standard]( https://docs.oracle.com/javase/7/docs/technotes/guides/security/StandardNames.html#provider).

The JWT header algorithm name is the [digest algorithm identifier as specified in the JWA RFC specification](https://tools.ietf.org/html

[2020-04-20 23:48] #581 closed

[2020-04-21 00:01] lhazlewood commented on #582
Thanks for the issue!

That method is intended to be used for checking strings reasonably expected to be compact JWT strings - not generic JSON.

Based on the confusion, it is probable that others experience it as well, so it's likely we'll deprecate this method in favor of parsing directly - or perhaps at least change the implementation to delegate to parsing, catch a `MalformedJwtException` and

[2020-04-21 05:56] vprudnikov commented on #581
@lhazlewood thank you for your reply!

I was probably confused by a Javadoc of `setSigningKey` saying:
[code]

So (as you see in my example) I created a `SecretKeySpec` with an arbitrary alg string, and it worked out without any error.

I was surprised that the algorithm in SecretKey was just ignored.

[2020-04-23 11:39] fibsifan commented on #381
This is closed now, but I too am experiencing issues with a HmacSha512 Key loaded from a PKCS 12. I'm unsure, whether this is an Issue with the JDK I'm using (OpenJDK in this case) or a problem with jjwt.

The following example might illustrate the problem:

`
package de.jball.crypt.playground;

import io.jsonwebtoken.Jwts;
import io.jsonwebtoken.SignatureAlgorithm;
import io.jsonwebtoken.security

[2020-04-23 12:25] rpanak-generalbytes commented on #381
I think `SignatureAlgorithm#assertValid` is still behaving incorrectly. The issue should be reopened.

[2020-04-23 12:55] fibsifan commented on #381
Created a Test Project with the given code example, which can be used to reproduce the issue.  Could reproduce with OpenJDK11 as well.

Looking at [Java Security Standard Algorithm Names] though, I can't find the String '1.2.840.113549.2.11' anywhere in the document. I would have expected the KeyStore to load the key with the Standard Algorithm name. I might be overlooking something though in the

[2020-04-23 14:47] dirkbolte opened #586 "expose hash algorithm in SignatureAlgorithm enum"
I'm working on a software in the context of OpenID and need to add code creating and verifying `at_hash` and `c_hash` according to https://openid.net/specs/openid-connect-core-1_0.html#CodeIDToken . Instead of having to resolve the algorithm myself it would be great to have this exposed as part of the `SignatureAlgorithm` enum as it already contains all these information.

e.g. I would write code

[2020-04-23 16:57] bhellema commented on #333
Was version 0.10.0 published? https://search.maven.org/artifact/io.jsonwebtoken/jjwt doesn't seem to have it @lhazlewood

[2020-04-23 18:30] lhazlewood commented on #586
I'm a bit confused.  Why not call the `getJcaName()` method on the `SignatureAlgorithm` instance?  I'm sure I'm missing something :-D

[2020-04-23 18:48] dirkbolte commented on #586
`getJcaName()` is works for the KeyGenerator of JCA.

For MessageDigest, I have to use the names as of https://docs.oracle.com/javase/7/docs/technotes/guides/security/StandardNames.html#MessageDigest  - which differ. And I have not found a way provided by JCA to derive one of the other. Is there is though, it would work for me as well. Was thinking about adding some convenience methods though.

[2020-04-24 13:42] fibsifan commented on #381
Since the [corresponding bug report at OpenJDK](https://bugs.openjdk.java.net/browse/JDK-8243551) seems to be accepted _and_ we have a workaround, IMHO this issue can stay closed.

[2020-04-24 16:30] lhazlewood commented on #586
Ah, I see what you're saying now - thanks for the clarification.

JJWT only computes Macs - essentially authenticated message digests, which always require a key.  It doesn't use `MessageDigest` since message digests do not need keys/authentication (e.g. a file MD5 checksum is a message digest because it doesn't require a key, but a digital signature is a Mac because it requires a key for authenti

[2020-04-24 16:48] lhazlewood commented on #381
The alternative is to remove these lines from the assertion check entirely:

https://github.com/jwtk/jjwt/blob/c09deaa5f31fb7b3a8184daec4228269942c77a4/api/src/main/java/io/jsonwebtoken/SignatureAlgorithm.java#L353-L359

But I'm a little hesitant to do that: removing those lines *could* still allow keys that fail when calling `mac.init(key)` if the algorithm name isn't valid.

The safest implement

[2020-04-24 20:07] lhazlewood commented on #585
Merged to master via https://github.com/jwtk/jjwt/pull/587

Thanks!

[2020-04-24 20:07] #585 closed

[2020-04-24 20:52] pidzama commented on #585
Great! Thanks.

[2020-04-25 02:04] rpanak-generalbytes commented on #381
@lhazlewood I think this is a no-brainer. The safest implementation is to accept the proper aliases (OIDs) as well as the current algorithm names (they're both just alternative names for the same thing). I don't see any downside (correct me if I'm wrong). Easy to implement as well, just add three more cases into the appropriate if statement. The OIDs can be Googled, or found [here](http://oid-info

[2020-04-26 07:25] dirkbolte commented on #586
The mapper is what I’m doing now. Was hoping to get around that to have a more save code. Will go with a mapper then.

[2020-04-26 07:25] #586 closed

[2020-04-26 19:25] lhazlewood commented on #381
Adding the OIDs to the check is easy enough - thanks for suggesting the solution!  Reopening so we can address it in a future release.

[2020-04-26 19:25] lhazlewood commented on #381
Actually, closing this (since it is tied to the 0.10.4 release) and opening a new issue to track that work.

[2020-04-26 19:25] #381 closed

[2020-04-26 19:30] lhazlewood opened #588 "SignatureAlgorithm#assertValid should allow OIDs as well as JCA standard names"
Per https://github.com/jwtk/jjwt/issues/381#issuecomment-619302910:

In addition to the existing jcaName checks for JCA Standard Names, also allow OIDs as well due to PKCS12 keystore implementations that use them instead of standard names.

[2020-04-26 19:30] lhazlewood commented on #381
OIDs will be added to the validation check via https://github.com/jwtk/jjwt/issues/588

[2020-05-01 21:23] lhazlewood commented on #333
@jainsahab it is available. 0.10.0 introduced separate artifacts, so there is no longer a single `jjwt` .jar.  See https://search.maven.org/search?q=g:io.jsonwebtoken%20a:jjwt-*

[2020-05-01 21:29] lhazlewood commented on #581
Yep, the JWA RFC doesn't "care" about JDK JCA names, so there's no need to raise an error.

[2020-05-12 14:49] NagaAtLv commented on #438
@mbarkley  Hey, how did you get away with this exception, may i know how did you resolve it?

[2020-05-12 15:03] mbarkley commented on #438
@NagaAtLv we catch the `IllegalArgumentException` and treat it as an authentication error (i.e. the token has the wrong kind of signature). It's not ideal because it could potentially obscure other non security errors that throw that exception type, so we've tried to put the catch at the lowest level possible to avoid catching other errors accidentally.

[2020-05-12 15:06] NagaAtLv commented on #438
@mbarkley  Thanks for the prompt response, it is rather surprising, when i tried to parse the token generated through Azure AD, i can view the json object on jwt.io and other parsing websites... so i just wondering how can i get past this one.

[2020-05-15 08:04] chtseac opened #591 "Maps.MapBuilder::and does not return parameterized MapBuilder"
https://github.com/jwtk/jjwt/blob/7090bf39c3e457f274967af50105a880a42af26b/api/src/main/java/io/jsonwebtoken/lang/Maps.java#L66

Using `and` even once and the type parameters are erased and you have to put `@SuppressWarnings("unchecked")` on that line.

    @SuppressWarnings("unchecked")
    Map<String, String> myMap = Maps
        .<String, String>of("key1", "value1")  // MapBuilder<String, Strin

[2020-05-19 02:19] xjune123 opened #593 "jackson-databind security issues concern"
hi
jjwt  jjwt-jackson has imported jackson-databind 2.9.8,but this version has  a security hole.
when do you improve jasckson-databind version? or can I exclude jackson-databind and import new version?

security issues:
https://github.com/FasterXML/jackson-databind/issues/2620

[2020-05-20 18:36] sanshah opened #594 "ERROR: Unable to resolve dependency for ':app@debugAndroidTest/compileClasspath': Could not resolve io.jsonwebtoken:jjwt-api:0.11.1."
I was trying to add dependency in my Android application. I have added below code in build.gralde file as mentioned here: https://github.com/jwtk/jjwt#dependencies

`api 'io.jsonwebtoken:jjwt-api:0.11.1'`
  `runtimeOnly 'io.jsonwebtoken:jjwt-impl:0.11.1'`
    `runtimeOnly('io.jsonwebtoken:jjwt-orgjson:0.11.1') {`
        `exclude group: 'org.json', module: 'json' //provided by Android natively`

[2020-05-22 20:09] hlavki commented on #578
I don't think that `Fragment-Host` is good solution. It's solution to badly written API.
Really don't understand why there is need to separate API jar from IMPL jar. More complex projects like jackson hasn't this problem.

[2020-05-22 21:08] bdemers commented on #578
@hlavki what would you recommend instead?

I also wouldn’t say separating the interfaces from the implementation packaging is a bad practice. It’s commonly found in many libraries. IIRC OSGi has build in support for this, but the _vanilla_ Java/Android world doesn’t, and mechanisms like ServiceLoader are used.

[2020-05-22 21:25] hlavki commented on #578
Of course, I am not talking about API/Impl separation. It's generally good approach used almost everywhere. And yes, OSGi supports it too.
What I am talking about is linking implementation classes to API classes using strings e.g.:
[code]
vs. e.g. jackson's module system:

[code]
DefaultJwtBuilder  implements JwtBuilder. How many JwtBuilder implementations do you have? I found only this one.

[2020-05-27 09:44] banandh opened #595 "JWT singing with JWKS"
I need a sample for signing JWT using JWKS. Any help would be appreciated

[2020-06-01 21:25] hyperxpro opened #596 "Exception in thread "main" java.lang.NoSuchFieldError: qTESLA"
Error while generating JWT.

Exception:
[code]

Code:
[code]

[2020-06-01 21:34] hyperxpro commented on #595
You can implement `io.jsonwebtoken.SigningKeyResolver` for resolving Keys from JWK.

[2020-06-02 03:28] pinkis1010 commented on #223
@protyay  How did you resolve this issue. M getting same error. Please help me to resolve this issue

[2020-06-02 03:29] pinkis1010 commented on #223
java.lang.NoClassDefFoundError: Could not initialize class io.jsonwebtoken.SignatureAlgorithm
        at com.telstra.util.JwtTokenUtil.doGenerateToken(JwtTokenUtil.java:66) ~[classes/:0.0.1-SNAPSHOT]
        at com.telstra.util.JwtTokenUtil.generateTokenbyUser(JwtTokenUtil.java:60) ~[classes/:0.0.1-SNAPSHOT]
        at com.telstra.psbc.controller.JwtAuthenticationController.createAuthenticationTok

[2020-06-02 10:06] hyperxpro commented on #236
Any updates?

[2020-06-03 08:22] protyay commented on #223
Sorry, I don't remeber @pinkis1010 .

[2020-06-03 16:33] lhazlewood commented on #223
This issue was opened for something pertaining to the 0.7.x codebase, which is over three years old now and no longer maintained.  JJWT no longer requires Jackson - but it _does_ require at least one JSON parser - either Jackson, JSON-java or Gson, depending on which 'plugin' for JJWT you choose as documented here:

https://github.com/jwtk/jjwt#json

Ensure you're using the latest stable version o

[2020-06-03 16:36] #595 closed

[2020-06-03 16:38] lhazlewood commented on #594
It looks like you declared it correctly.  Did you ever resolve this?

It is unclear to me if something would have changed in Android that prevents the dependencies from loading correctly.

As a test, can you see if just changing the version to 0.10.7 solves it for you?  If so, we know something might have been introduced in the 0.11.x release.  I don't really think that would be the case, but it m

[2020-06-03 16:48] lhazlewood commented on #596
I just ran this test locally and it passed, using the following dependency:

[code]

What version of the JDK are you using? And version of BouncyCastle?

Do you have a quick test project in GitHub we can clone to test?

[2020-06-03 16:51] lhazlewood commented on #593
You always have control over what transitive dependencies you can exclude (and then re-define explicitly in your project) via Maven dependency exclusions:

https://www.viralpatel.net/maven-ignore-transitive-dependency/

You can do the same if using Gradle.  This example shows excluding the `org.json` dependency:

https://github.com/jwtk/jjwt#dependencies

This allows you to use whatever version of

[2020-06-03 16:51] #593 closed

[2020-06-03 16:52] lhazlewood commented on #593
P.S. this fix was already merged into the `master` branch via https://github.com/jwtk/jjwt/pull/587

[2020-06-03 16:53] lhazlewood commented on #591
cc @bdemers

[2020-06-04 16:59] oliverlj opened #598 "External signer"
It is complicated to extends DefaultJwtParser, to implement the use of an external signer (I use hashicorp vault).

Could you allow the the use of an external JwtSignatureValidator and of an external JwtSigner ?

[2020-06-04 17:29] lhazlewood commented on #598
Hi there!  This will be implemented via #493, so I'm closing this as a duplicate.  Feel free to comment if you believe this to be incorrect.  Thanks!

[2020-06-04 17:29] #598 closed

[2020-06-04 18:04] masterdany88 commented on #573
Hi. I have same issue while working with war package.
I have jjwt-impl-0.11.1.jar and jjwt-api-0.11.1.jar inside
App-server-0.0.2-SNAPSHOT.war\WEB-INF\lib\
But tomcat prints error:
`
04-Jun-2020 19:55:53.156 SEVERE [http-nio-9000-exec-2] org.apache.catalina.core.StandardWrapperValve.invoke Servlet.service() for servlet [com.qiagen.qbase.qbap.server.conf.RestConfig] in context with path [] threw ex

[2020-06-06 16:05] VilleMiekkoja opened #599 "java.lang.NoClassDefFoundError: io/jsonwebtoken/Jwts"
java.lang.NoClassDefFoundError: io/jsonwebtoken/Jwts

When I run locally with `mvn spring-boot:run` , there's no problem.

But when I package my application into a fully executable jar with `mvn clean install`and then run the jar as a systemd service, I get this error seen above.

It comes from this line:

[code]

Some information:
Version of this package that the issue occurs: 0.11.1
Platform: Ub

[2020-06-06 16:26] lhazlewood commented on #599
`io.jsonwebtoken.Jwts` is in the `jjwt-api` .jar file.  It appears as if the .jar files are not being added to the classpath - i.e. whatever packaging mechanism you're using is not putting the .jars in the correct place, or does not have that location added to the classpath.

[2020-06-06 16:35] VilleMiekkoja commented on #599
When I generate the classpath from the root of my app, it generates a file called classpath, and that has the jjwt-api in it:

jjwt-api-0.11.1.jar

I package the jar with just `mvn clean install -Dmaven.test.skip=true`

And in my pom.xml I have:

[code]

[2020-06-06 16:57] lhazlewood commented on #599
Not sure - you might want to reach out on the Spring Boot forums?  This doesn't appear to be a JJWT issue, but a Spring Boot packaging one.

[2020-06-06 17:24] VilleMiekkoja commented on #599
Could be issue with spring-boot packaging. However my app does find other external libraries without problem it feels. Only problem is with this one so far.

[2020-06-06 17:48] VilleMiekkoja commented on #599
I debug logged the actual classpath for the app inside the application, and for the jar version the actual classpath is the jar file itself. It makes sense since the jar file does contain the jjwt dependencies. So it should find it from classpath, but for some reason does not?

[2020-06-06 17:56] lhazlewood commented on #599
Is there a mini/test Spring Boot project we could clone that re-creates the problem?  That way we can test what you're seeing.

[2020-06-06 18:13] VilleMiekkoja commented on #599
At the moment no, but if I am unable to fix this soon, I'll create a one.

I tried updating maven package spring-boot-starter-parent which handles packaging to 1.5.2.RELEASE -> 1.5.22.RELEASE, and now Im getting a different error:

java.lang.NoClassDefFoundError: org/apache/tomcat/util/http/parser/AcceptLanguage

[2020-06-06 18:36] VilleMiekkoja commented on #599
Problem fixed. Updated package spring-boot-starter-parent to latest version (2.3.0), and the error no longer appears. This can be closed, thank you and sorry for taking your time.

[2020-06-06 20:41] lhazlewood commented on #599
Glad to hear you got it working!

[2020-06-06 20:41] #599 closed

[2020-06-06 20:44] lhazlewood commented on #588
Resolved via #589.  Will be released in 0.11.2

[2020-06-06 20:44] #588 closed

[2020-06-08 10:52] hyperxpro commented on #596
Solved!

The problem was, a dependency was importing an old version of BouncyCastle which caused conflict with the new version. I excluded old version manually from `pom.xml` and everything works fine with new version of BouncyCastle.

[2020-06-08 10:52] #596 closed

[2020-06-08 15:04] lhazlewood commented on #594
@sanshah any update?

[2020-06-08 15:45] spbooth commented on #236
As well as parsing externally generated JWKs it would also be useful to directly support formatting keys generated by the library as JWKs. The API provides essentially a black box for generating keys from a SignatureAlgorithm and it would be nice to be able to generate the corresponding JWK needed to verify a JWT equally easily. Itsnot hard to do by hand but not without engaging with details the l

[2020-06-08 15:51] hyperxpro commented on #236
Found this library for dealing with JWKs. Hope it helps someone else in the future:
[code]

https://connect2id.com/products/nimbus-jose-jwt

[2020-06-08 16:27] lhazlewood commented on #236
@hyperxpro this will be in the JJWT 1.0 release.

[2020-06-08 17:59] #591 closed

[2020-06-09 06:33] sanshah commented on #594
@lhazlewood  Sorry for the delay. It got resolved. There was issue with my IDE and build system. After upgrading it, this issue has been resolved. Thanks

[2020-06-09 06:33] #594 closed

[2020-06-09 07:24] cschneider opened #600 "Jwts"
The Jwts class uses  Classes.newInstance(<classname>) to load implementation classes. This is fundamentally broken when there is not a flat class loader. Generally I propose to never load classes from class names.

One example where this fails is OSGi. I have seen that there is a commit on master to attach impl bundles to the api bundle as fragments. This might work but it is a bad hack. The prope

[2020-06-09 12:17] cschneider commented on #600
The methods in Jwts seem to be largely around initializing classes from impl. Would it make sense to put the Jwts class into impl? This way it could directly access the impl classes without classloader magic. It could still live in a package outside of impl to signal that it is meant to be accessed by users.

[2020-06-09 16:51] lhazlewood commented on #600
This is by design: https://github.com/jwtk/jjwt#install-understandingdependencies

This helps ensure that developers only depend on classes they are 'allowed' to depend upon.  Moving `Jwts` to the `impl` module would force a project compile-time dependency on the `impl` package which is opposite of the design intentions.

FWIW, the `Classes` method implementations check the following classloaders

[2020-06-10 08:18] xjune123 commented on #593
thank you

[2020-06-10 09:34] cziegeler commented on #600
I don't care that much how it is done, as long as it works with OSGi - which it does now with the "hack" (and hack is probably a too strong word - its a consequenc of how this library is doing classloading). I personally would try to avoid loading classes by name - but I'm sure there are good reasons for this case - especially as it changed last year to this approach

[2020-06-11 17:46] #583 closed

[2020-06-11 17:50] lhazlewood commented on #600
Closing as I'm in the process of releasing 0.11.2 now.

[2020-06-11 17:50] #600 closed

[2020-06-18 19:51] FeiChen-okta opened #603 "Support for BiometricPrompt.CryptoObject signing on Android platforms"
Add support for signing with `java.security.Signature` in JwtBuilder.
Currently when using biometrics in Android platforms, the application does not have access to the `Key` if it is protected by biometrics.
Android sends back an CryptoObject containing the `Signature` once fingerprint is verified.
Would like to use this signature object to sign the JWT. Like the following:
[code]
Working around t

[2020-06-24 04:34] oussamaachech opened #604 "RequireIssuer checks multiple issuers"
It would be nice if the `JwtParserBuilder requireIssuer` can accept an array of issuer Strings in order to check if the 'iss' from the parsed jwt token matches one of these issuers.

[2020-06-24 21:13] lexsoto commented on #578
Hello, I am having this exact same issue with version 0.11.2.  Was this fix included in 0.11.2?

[2020-06-24 21:29] bdemers commented on #578
@lexsoto it was.

Can you tell us about your environment and classloader? (and which jars do you have on your classpath?)

[2020-06-25 13:56] lexsoto commented on #578
Thanks, @bdemers,

It is not working for me with Karaf 4.2.9, unless I specify the Serializer explicitly, as in:

`Jwts.builder().serializeToJsonWith(new JacksonSerializer<>())`

[2020-06-25 14:27] bdemers commented on #578
@lexsoto can you include your stacktrace, and the list of JJWT modules that you are using?

[2020-06-25 14:37] cziegeler commented on #578
@lexsoto It works for me with the JacksonSerializer if I include these bundles:
     "io.jsonwebtoken:jjwt-jackson:0.11.2",
     "io.jsonwebtoken:jjwt-impl:0.11.2",
     "io.jsonwebtoken:jjwt-api:0.11.2",
     "com.fasterxml.jackson.core:jackson-core:2.9.10",
     "com.fasterxml.jackson.core:jackson-annotations:2.9.10",
     "com.fasterxml.jackson.core:jackson-databind:2.9.10.4"

(Not testing in K

[2020-06-28 23:02] vkovalch opened #606 "How i can verify PS256 with java 1.8?"
jws = Jwts.parserBuilder()
                        .setSigningKey(publicKey)
                        .build()
                        .parseClaimsJws(jwtString);
except with error:
io.jsonwebtoken.security.SignatureException: Unavailable RSA Signature algorithm 'RSASSA-PSS'.

How i can verify?

dependencies {
    coreLibraryDesugaring 'com.android.tools:desugar_jdk_libs:1.0.9'
    compileOnly 'com

[2020-06-30 08:10] birender-s commented on #236
any update on 1.0 release date with JWK support?

[2020-06-30 09:52] Z923500 opened #608 "is any of the lower version compatible with Java 1.5 compiler?"
for a legacy application deployed in WAS6.1 and java 1.5 we have a requirement similar to JWT. Is there any jjwt jar version compactible with this

[2020-07-01 12:44] Scarysize commented on #411
@marcoderama Thanks for sharing! We actually have the same issue. We upgraded from 0.9.x to 0.11.x and also had conflicting versions without `sbt` noticing anything. Really frustrating...

For searchability, our exception was with the `signWith` method:

[code]

[2020-07-07 15:23] lexsoto commented on #578
These are the bundles I am loading (Karaf 4.2.9):

[code]

I am also seeing this other variation of the same issue, but during validation:

`java.util.ServiceConfigurationError: io.jsonwebtoken.CompressionCodec: Provider io.jsonwebtoken.impl.compression.DeflateCompressionCodec not found
	at java.util.ServiceLoader.fail(ServiceLoader.java:588) ~[?:?]
	at java.util.ServiceLoader$LazyClassPathLookupI

[2020-07-07 19:08] lexsoto commented on #578
Even when I tried to provide my own Compression Codec Resolver it would fail.

`Jwts.parserBuilder().setCompressionCodecResolver(resolver)`

Because in class `DefaultJwtParserBuilder`  the DefaultCompressionCodecResolver is being instantiated:

[2020-07-07 22:04] bdemers commented on #578
@lexsoto that seems reasonable, we do something similar with the `Deserializer`
https://github.com/jwtk/jjwt/blob/master/impl/src/main/java/io/jsonwebtoken/impl/DefaultJwtParserBuilder.java#L187-L192

Any chance you want to try to hack it up and see if it works for you?

[2020-07-08 20:06] lexsoto commented on #578
I worked around the problem by doing this:

1- Shade the Json Web Token libraries:
   `                      <plugin>
				<groupId>org.apache.maven.plugins</groupId>
				<artifactId>maven-shade-plugin</artifactId>
				<configuration>
					<minimizeJar>false</minimizeJar>
					<createDependencyReducedPom>false</createDependencyReducedPom>
					<transformers>
						<transformer implementation="org.a

[2020-07-09 20:24] bdemers commented on #578
@lexsoto can you take a look at #611 and see if that makes your life any easier?

I'm not a regular OSGi user, is there something better we can do in our ServiceLoader logic to make it play better with OSGi environments?  Do OSGi runtimes ignore the ServiceLoader metadata? If we defined a `module-info` (and added the services there) would that help? (granted doing that in a `<` Java 9 way is a PIT

[2020-07-11 16:00] lhazlewood commented on #608
Sorry, no, and we do not have plans to support it.

[2020-07-11 16:00] #608 closed

[2020-07-11 16:02] lhazlewood commented on #606
You'll need to check your dependency declarations and ensure BouncyCastle is declared properly.

Just a friendly reminder: JJWT's GitHub issues are for actionable work that requires changes to the JJWT codebase. Please use StackOverflow with the `#jjwt` tag for usability/help questions. Thanks!

[2020-07-11 16:02] #606 closed

[2020-07-11 16:04] lhazlewood commented on #603
This will be possible when #493 is resolved, so I'd like to close this as a duplicate of that issue.  Feel free to comment if you feel otherwise!

[2020-07-11 16:04] #603 closed

[2020-07-11 16:06] lhazlewood commented on #578
Above @lexsoto [referenced](https://github.com/jwtk/jjwt/issues/578#issuecomment-655064450) this:

https://blog.osgi.org/2013/02/javautilserviceloader-in-osgi.html

That article indicates how, via metadata only (`META-INF/services/io.jsonwebtoken.CompressionCodec` and `META-INF/MANIFEST.MF` files), OSGi environments can emulate `ServiceLoader` functionality.

Since we control both the 'provider' .

[2020-07-11 16:09] lhazlewood commented on #604
This should be completed as part of #336

[2020-07-13 13:46] lexsoto commented on #578
@bdemers Yes,  #611  helps.

Metadata will definitely help, but the code change in #611 is necessary,  in my opinion, since without it, the logic loading the services is executed eagerly, even when our intent is to provide our own Compression Codec Resolver; besides, I don't think that change affects non OSGi users either.

The referenced article explains the nuances with service loader and class

[2020-07-13 14:46] bdemers commented on #578
That is a great starting point!

[2020-07-13 15:58] lhazlewood commented on #578
I agree, this is necessary (to load lazily), but it doesn't address the underlying issue that discovery is not working in an OSGi environment:

My point was that if we got the MANIFEST.MF records correct per the blog article, you shouldn't need to have an `OsgiCompressionCodecResolver` at all.  That you had to create one (and a shade .jar) at all is the problem IMO, and the ideal solution would be

[2020-07-13 17:09] lhazlewood commented on #578
Reopening - [https://github.com/jwtk/jjwt/commit/901048aeacfb9e1243a3af391176c6618e3ccb27](901048a) was only part of the solution.

[2020-07-13 17:48] bdemers commented on #578
Thanks @lhazlewood! I forgot that that linked PR would close the issue automatically

[2020-07-14 12:04] cziegeler commented on #578
@bdemers Regarding your question about "module-info" , apart from the Java 9+ problem, it wouldn't help as OSGi is not using these things out of the box.
Now, granted fragments are not the best solution in the world, but the other option would be proper metadata and usage of service loader - my impression was that this project moved away from that solution - and I assume there were good reasons fo

[2020-07-14 14:15] bdemers commented on #578
@cziegeler
If you can help write an OSGi integration test that would go a long way to fixing this problem.

Is the needed metadata something we can just add to: https://github.com/jwtk/jjwt/blob/master/impl/bnd.bnd

[2020-07-14 14:57] lexsoto commented on #578
I worked on an integration test for this using Karaf, you can find it here:

               https://github.com/lexsoto/jwt-karaf-itest

Feel free to copy and adapt.

A funny thing happened, though, and it is that I expected to fail, but it is working!
Of course this is a very simple test, my real project is a lot more complex, and it was not working there.
I will spend more time figuring out what

[2020-07-14 15:51] cziegeler commented on #578
@bdemers Yes, the metadata can be added to the bnd files - the basics of the test provided by @lexsoto looks good to me.

[2020-07-14 16:23] bdemers commented on #578
@lexsoto no worries! Your project might have more complex classloading, which is what we would like make sure we capture in the test.

Keep us posted!

[2020-07-15 14:55] lexsoto commented on #578
Finally I was able to reproduce the error with a minimal project.

Please check:   [https://github.com/lexsoto/jwt-karaf-itest](url)

This is new version is a multi module project.  The issue shows up when invoking from a Servlet. See servlet in the client subproject.

I hope this helps in solving this issue. Thanks!

[2020-07-15 17:24] bdemers commented on #578
Great!
Is it possible to mimic the classloading in the test? (i'm not sure how karaf does this)

[2020-07-15 18:14] lexsoto commented on #578
I am not sure how to, but it may be possible;  however, I suspect it may be more related to threads, because when I tried different bundles (each has its own class loader), I could not reproduce; only when JJWT is invoked in the context of a Servlet (which run in a web server thread (Jetty) is when I was able to reproduce.

[2020-07-21 10:21] natehsu opened #612 "How to read(decode) a JWS without key"
Hi,
Can I read(decode) a JWS without any key?
Because I need to get expiration time claim and check it, but I don't have the key.
I can't find the java method in documents.

I would appreciate your help.

[2020-07-21 15:10] lhazlewood commented on #612
Just a friendly reminder: JJWT's GitHub issues are for actionable work that requires changes to the JJWT codebase. Please use StackOverflow with the `#jjwt` tag for usability/help questions. Thanks!

This is insecure, so JJWT doesn't support it very easily out of the box because of all the security problems it could cause.

You can do it yourself by taking the middle 'chunk' of the JWS (in between

[2020-07-21 15:10] #612 closed

[2020-07-30 00:21] gauravk48 opened #613 "HS256 token generated using previous version 0.9 is not compatible with 0.11"
We have a server which issues JWT token using HS256 algorithm and some secret using Jwtt version 0.9. The client has upgraded to version 0.11 and now even while using the same secret to validate, its not working. When we just change the version to 0.9, the code works.

Here is the 0.9 code:

Jws<Claims> claims = Jwts.parser()
				.requireIssuer(ISSUER)
				.setSigningKey(SECRET)
				.parseClaimsJw

[2020-07-30 02:05] lhazlewood commented on #613
Without seeing more, it looks like perhaps you might be hitting key length assertions introduced in 0.10.0?

If you you run just the following:

[code]

do you get a `WeakKeyException` ?

If you do, you should use a stronger key on the server since the one currently being used isn't strong enough for the desired algorithm.  If you cannot change that key on the server, you cannot upgrade to JJWT 0.

[2020-08-03 23:25] mikepalarz opened #614 "Android Project Throwing io.jsonwebtoken.lang.UnknownClassException"
I've setup my project according to the directions. My `build.gradle` is essentially the following:

[code]
I am only trying to use this library to generate a JWT in the proper format so that I can unit test my JWT parser. I've created an incredibly simple function to generate the JWT:

[code]
However, I get the following crash the moment that I run my unit test:
[code]
Everywhere that I've looked

[2020-08-04 02:33] lhazlewood commented on #614
Your test looks correct, and it's not obvious to me (after looking at it line by line for a full 10 minutes) why you'd be seeing that exception.

Out of curiosity, what happens when you change the dependencies to look like this?

[code]

`jjwt-api` scope was changed from `api` to `implementation`, and the declarations were moved above any declared test dependencies.

Could you please let me know i

[2020-08-05 16:44] lhazlewood commented on #613
Any update on this?

[2020-08-07 16:16] gauravk48 commented on #613
I will check in some code to reproduce the issue.

Thanks

On Wed, Aug 5, 2020 at 9:44 AM Les Hazlewood <notifications@github.com>
wrote:

[2020-08-11 15:21] john77eipe opened #615 "is it Safe to use SecretKey and JwtParser as static fields"
Is it perfectly safe to use SecretKey and JwtParser as static fields in a spring application

[code]

Thanks

[2020-08-11 16:39] lhazlewood commented on #615
Hi John!

(just a minor request if it's not too much trouble - for questions in the future, please read: https://github.com/jwtk/jjwt#help-questions (thanks!))

That said, when using `Jwts.parserBuilder()`, the `JwtParser` returned from `build()` is immutable, so yes, it is thread-safe and may be used as an application singleton ;)

Cheers!

[2020-08-11 16:39] #615 closed

[2020-08-11 16:40] lhazlewood commented on #614
Any update on this?

[2020-08-11 18:07] oliverhausler opened #616 "Integer claim fails with GSON"
The following works with Jackson but fails with GSON because the claim value becomes non-integer during `build`.

I have
[code]

I do
[code]
and then
[code]

![image](https://user-images.githubusercontent.com/8090341/89934947-59dbfa00-dbdf-11ea-9f07-9d7fad29daa3.png)

[2020-08-11 18:49] oliverhausler commented on #616
If I have a `long` as claim input (I debugged this with my own code here, not using `require`), I see the number being shown as exponential. This fails for a simple epoch time.

![image](https://user-images.githubusercontent.com/8090341/89936591-e38cc700-dbe1-11ea-9097-637001f59c9f.png)

[2020-08-11 21:15] lhazlewood commented on #616
This appears to be a GSON "bug" (at least in most peoples' opinion, mine included), but it's a perfectly fine 'feature' in the GSON maintainers' opinion.  Honestly, I think they're being a bit difficult because the overwhelming majority of the Java community that uses GSON expects Jackson's saner default parsing heuristics.  Here is the issue: https://github.com/google/gson/issues/1084

That said,

[2020-08-12 02:25] mikepalarz commented on #614
Hi @lhazlewood sorry for the delay on this. I will have to try changing the dependencies as you've recommended and get back to you. However, if this at all provides any insight, I was initially running my tests using the JUnit runner. Without changing how the dependencies are being pulled in, I simply switched to the Robolectric test runner and the exception was no longer being thrown.

[2020-08-12 14:59] lhazlewood commented on #614
@mikepalarz thanks for the update.  Based on this, I'll close this issue as it seems highly likely this is based on your local environment.  If not and you find otherwise - no worries!  I'm happy to re-open this issue!

[2020-08-12 14:59] #614 closed

[2020-08-12 15:10] lhazlewood commented on #616
This seems promising: https://stackoverflow.com/a/32235713/407170

[2020-08-12 20:22] oliverhausler commented on #616
Thanks, @lhazlewood

As many people in the SO article say, and according to json.org and http://www.ecma-international.org/publications/files/ECMA-ST/ECMA-404.pdf (I assume these documents guide) there exists no specific number format in JSON. The documents state, that in JSON format a number can be expressed as integer, decimal or exponential (scientific notation).

This given, I would think `1.0

[2020-08-12 22:53] lhazlewood commented on #616
The only purpose of a double or any floating point number is to represent fractional values.  So if there is no fractional value - i.e. the value is a whole number - there is no point whatsoever in using a floating point number to represent integer whole values.

The JSON spec indicates this in Section 8 (Numbers):

_may_ is the key word.  If there is no decimal point, there is no fractional part,

[2020-08-13 02:30] lhazlewood commented on #616
I thought I'd try some experiments.  For posterity:

[code]

[2020-08-13 13:41] mikepalarz commented on #614
Understandable @lhazlewood , thanks for the feedback. I do agree that this was likely due to my particular environment in some way.

[2020-08-14 01:15] mooseburgr commented on #148
Is this still desired? Looking to contribute and this feature seems like a decent way to get my feet wet in here.

[2020-08-14 01:37] lhazlewood commented on #148
Hi @mooseburgr - thanks for checking in!  It is potentially - but there is a *lot* of changes happening right now in the JWE branch as that is our highest priority.  Also a new validation framework may obviate the need for this particular approach - still working on that.  So I'd ask to hold off on this in the meantime while we work on those two things - I wouldn't want to introduce more changes/c

[2020-08-14 01:46] mooseburgr commented on #148
Sure, makes sense. It definitely looks like a lot going on there! Outsider looking in, but let me know if there's any grunt work I could help with.
Thanks for the quick reply, and for all of your hard work! 🙇

[2020-08-14 08:32] horizonzy opened #617 "Deprecate JwtParserBuilder#setSigningKey(String)"
Hello. I noticed the code:
[code]
in the doc, this api will be removed in 1.0 realease, and recommend user to use
`JwtBuilder signWith(Key key, SignatureAlgorithm alg) throws InvalidKeyException;` to replace the old api.

so we need to buid the key as follow:
`SecretKey secretKey = Keys.hmacShaKeyFor(Decoders.BASE64.decode(base64EncodedSecretKey));
`

but the code `JwtParserBuilder setSigningKey(S

[2020-08-14 08:40] horizonzy commented on #617
[code]
if this code will removed, maybe ` io.jsonwebtoken.JwtParserBuilder#setSigningKey(java.lang.String)` remove together, let user build the byte[] by hisself, not build byte[] by himself when  signWith(), build byte[] by framework when setSigningKey

[2020-08-14 16:14] lhazlewood commented on #617
The `JwtParserBuilder.setSigningKey(String)` should have been deprecated - this was an oversight when we created it and copied over the interface methods from the old setters on `JwtParser`.  `JwtParser` does indeed reflect that the method is deprecated, so it shouldn't be used.

I'll update this issue to reflect that work.  Thanks for reporting it!

[2020-08-15 03:12] horizonzy commented on #617
@lhazlewood another question, I notice `io.jsonwebtoken.security.Keys#hmacShaKeyFor(byte [])`, when build the key, it will auto choose algorithm according the byte's length. if we invoke `JwtBuilder signWith(Key key)`, it will use the algorithm in key. but in fact, we can invoke `JwtBuilder signWith(Key key, SignatureAlgorithm alg)`, choose the algorithm by ourselves.
what is the difference betwee

[2020-08-19 03:01] gauravk48 commented on #613
I have created two repositories with code to show that the token generated by one version is not compatible with the other.

Here is the jwt 0.9 repo: https://github.com/gauravk48/jwttest9
Here is the jwt 0.11 repo: https://github.com/gauravk48/jwttest11

You can compile using maven, and then generate the token from one version and try using it on the later version. It shows the following error:
`

[2020-08-19 03:06] gauravk48 commented on #613
@lhazlewood Please take a look and suggest how to resolve this. The token is generated on one host but should be able to validate on any different host as long as the secret is shared between them.

[2020-08-19 13:14] lhazlewood commented on #613
@gauravk48 thanks so much for putting this together!  I'll take a look as soon as I can - probably later today or tomorrow.

[2020-08-19 13:48] oliverhausler commented on #616
I agree with you that looking at the decimal point `.` or the `E` is the right way to determine the number format. This is what I would have done as well. Also agree with what you say regarding floating point numbers and lost precision.

The problem with GSON I believe is that it doesn't have a definition of what's expected on the Java side, as we're using `Object` here. If we would have the JWT e

[2020-08-19 14:33] lhazlewood commented on #616
Yes, exactly.  The GSON team's primary (exclusive?) focus is on marshaling and unmarshaling of strongly-typed Java classes, as opposed to Maps, so that leads to this issue.

Yes, that would indeed work in GSON, but poses a more invasive implementation requirement for all JJWT users:  All users - not just GSON ones - would be forced to write implementation classes just to use JWTs, further coupling

[2020-08-19 14:46] oliverhausler commented on #616
I don't know if it's possible in Java to create a strongly typed class on the fly and pass it to GSON as `TypeToken`. I have done something like this in C# before. This could be an approach as well, without the disadvantages you described above. But yes, it would break more in your existing library than it would do good, I guess.

Thanks for discussing as well, Les. :)

[2020-08-19 15:14] lhazlewood commented on #617
`signWith(Key, SignatureAlgorithm)` is for cases when you have a key, but you want to override JJWT's heuristics and explicitly choose the signature algorithm.

For example, maybe you have an existing 512-bit secret key.  This would work for `HmacSHA512` algorithms, but it could also be used for `HmacSHA384` and `HmacSHA256`.  Maybe due to the size of the JWT signature, you want to use `HS256` bec

[2020-08-19 15:16] lhazlewood commented on #617
FWIW, this is covered in our documentation 😅 :

https://github.com/jwtk/jjwt#jws-key-create

[2020-08-19 15:25] horizonzy commented on #617
I got it. thank you 🤭

[2020-08-20 15:16] wenlincheng opened #618 "sign fail v0.11.2"
[code]
I used the following method to generate the token, but the signature is wrong. What is the reason?

[2020-08-20 15:23] lhazlewood commented on #618
Hello.

What do you mean the signature is 'wrong'?  What exception is thrown?

Also, in the future, we kindly ask to please do not use GitHub issues to ask questions:  https://github.com/jwtk/jjwt#help-questions  Thanks!

[2020-08-21 08:17] Paul-Etienne opened #619 "InvalidKeyException using Android SecretKey stored in the KeyStore"
I'm using the JJWT library to build a JWT that I'm trying to sign with a SecretKey I've stored in the KeyStore of Android.

Here's my code to store a key in said KeyStore:

[code]

KeyProperties.KEY_ALGORITHM_HMAC_SHA256 is equal to "HmacSHA256" and getKeyStore() returns an instance of my KeyStore.

There seems to be no issue with my key as I can use it to perform Mac operations without any proble

[2020-08-24 20:51] lhazlewood commented on #94
Hi @Tougee - thanks for the kind words!

So I have some good news (I think) that will make this so much easier in the very near future.  I've been in the process of working on the JWE implementation(s) for the last two weeks pretty heavily, and this has spawned some refactoring and introducing new concepts that will allow you to support `Ed25519` and any other algorithm you may want:

- Per #493,

[2020-08-25 02:34] Tougee commented on #94
Sounds great! I'm looking forward this, and will deprecated out forks until it's finished

[2020-08-27 17:52] gauravk48 commented on #613
Any updates on this @lhazlewood
Thanks for looking.

[2020-08-27 19:08] lhazlewood commented on #613
@gauravk48 sorry for the delay - I was deep in JWE code all week! I hope I can get to this soon.

[2020-09-11 08:15] DKExxE opened #621 "Deserialization-of-Untrusted-Data-CVE-2020-24616-CWE-502"
com.fasterxml.jackson.core:jackson-databind is a library which contains the general-purpose data-binding functionality and tree-model for Jackson Data Processor.

Affected versions of this package are vulnerable to Deserialization of Untrusted Data. It mishandles the interaction between serialization gadgets and typing, related to br.com.anteros.dbcp.AnterosDBCPDataSource (aka Anteros-DBCP).

CWE-

[2020-09-15 12:06] mrts commented on #617
@lhazlewood, I have a concern regarding `JwtParserBuilder#setSigningKey()` deprecation.

We need to validate the signature of JWTs with a public key from the certificate that is embedded in the JWT header `x5c` field (as specified in [RFC 7515](https://tools.ietf.org/html/rfc7515#section-4.1.6)).

When `setSigningKey()` is present, we can first parse the header without specifying the key and set i

[2020-09-15 15:41] gauravk48 commented on #613
Just checking if you got time to look into the issue> @lhazlewood

[2020-09-15 17:30] lhazlewood commented on #617
Hi @mrts !

There are a couple of issues with the `JwtParserBuilder#setSigningKey`* method variants.

1.  The key a parser uses isn't _really_ a signing key.  Technically it is a signature _verification_ key.  It is for legacy reasons that JJWT calls it a 'signing' key for both building and parsing.  This is incorrect and a proper name (verification key) will be used for 1.0.

That said, this part

[2020-09-15 17:35] lhazlewood commented on #613
@gauravk48 not yet - I had other responsibilities that prevented me from digging in further.  I should be able to get back to this soon - probably this or next week.  Thanks for the reminder!

[2020-09-16 18:17] mrts commented on #617
Hi @lhazlewood ! Thank you! Can I vote for `@FunctionalInterface` for the upcoming `VerificationKeyResolver`(s) so that lambdas can be used?

It would be awesome if I could write something along the lines of the following:

[code]

[2020-09-17 03:28] lhazlewood commented on #617
@mrts the last release just prior to 1.0 final will probably still be JDK7-compatible, so no `@FunctionalInterface` at that time.  The 1.0 release that immediately follows is likely to be JDK 8-based, but we're still looking into that because there are still a lot of Android apps that don't support 8 yet.

That said, the new interface will be functional, but it will change slightly:  instead of pa

[2020-09-17 10:28] mrts commented on #617
Perfect, that's exactly our thinking as well.

Heartfelt thanks for your good work and careful design of the API - and likewise, cheers!

[2020-09-26 18:56] qahari1978 opened #622 "My massage"
Parse error on line 1:
��1Tt5AJ�8�VBV��xQL
^
Expecting 'STRING', 'NUMBER', 'NULL', 'TRUE', 'FALSE', '{', '[', got 'undefined'

[2020-09-26 18:59] lhazlewood commented on #622
This isn't enough information to diagnose the problem.  Do you have test code we can execute that allows us to re-create the problem?

[2020-10-03 15:10] UkrainianCitizen commented on #354
@lhazlewood How close are you to working on 1.0?

[2020-10-05 22:45] felipecamargo opened #623 "CloudHSM privatekey signature"
Hello,

Do you guys have any example on how I can integrate with cloudHSM as a sign provider?
In my case I can't export the Private Key from HSM. I have to use only cloudHSM to sign the JWS.

[2020-10-16 07:26] Gagandeep1408 opened #625 "for iOS"
Is same version available for iOS swift?

[2020-10-16 17:40] lhazlewood commented on #625
JJWT is a library for the JVM and Android only.

[2020-10-16 17:40] #625 closed

[2020-10-18 17:37] lhazlewood commented on #622
No follow up answer or test case - closing.

[2020-10-18 17:37] #622 closed

[2020-10-18 17:38] lhazlewood commented on #618
No follow up - closing

[2020-10-18 17:38] #618 closed

[2020-10-29 03:20] youngjoon-lee opened #626 "Support ES256K (secp256k1)"
Hi all,

I'm trying to use this library for my platform, but my platform has been using ES256K keys, not ES256.

Do you have any plan to support ES256K? It seems there have been no discussions about ES256K in this repo.
If you think it's reasonable, I can open a PR :)

Please consider and let me know if I can do it.

[2020-10-29 22:06] mbogner commented on #573
With 0.11.2 I got the same error that impl couldn't be found. Adding the jackson lib as stated above solved that problem for me as well.

[2020-11-03 00:35] rvillane opened #628 "io.jsonwebtoken:jjwt-jackson:0.11.2 has security vulnerabilities"
io.jsonwebtoken:jjwt-jackson:0.11.2 uses com.fasterxml.jackson.core_jackson-databind version 2.9.10.4 that has 6 vulnerabilities

https://web.nvd.nist.gov/view/vuln/detail?vulnId=CVE-2020-14060
https://web.nvd.nist.gov/view/vuln/detail?vulnId=CVE-2020-14061
https://web.nvd.nist.gov/view/vuln/detail?vulnId=CVE-2020-14062
https://web.nvd.nist.gov/view/vuln/detail?vulnId=CVE-2020-14195
https://web.nv

[2020-11-03 10:05] youngjoon-lee commented on #626
@lhazlewood Could you consider to review this issue?

[2020-11-03 11:48] watery commented on #573
@mbogner Did you explicitly used `0.11.1` for that dependency while you're using jjwt `0.11.2`?
I'm using `0.11.2` for all the dependencies and I'm still seeing this.

[2020-11-03 16:57] KevinCandia commented on #177
Hello, I have the same problem, please your help

[2020-11-13 09:48] pradipta commented on #317
Facing this on 11

[2020-11-17 23:05] gauravk48 commented on #613
@lhazlewood Any update on this?

[2020-11-20 02:26] guofeiwu opened #630 "claims can't be parsed correctly"
![image](https://user-images.githubusercontent.com/22710134/99749656-e751b300-2b19-11eb-8f83-5cfb434dbce1.png)

I am used
[code]

like this
io.jsonwebtoken.RequiredTypeException: Cannot convert existing claim value of type 'class java.lang.Double' to desired type 'class java.lang.Long'. JJWT only converts simple String, Date, Long, Integer, Short and Byte types automatically. Anything more complex

[2020-11-20 02:30] guofeiwu commented on #630
the jjwt version is 0.11.2

[2020-11-20 02:51] guofeiwu commented on #630
ok I'm find the answer https://github.com/jwtk/jjwt/issues/616 thanks

[2020-11-20 02:51] #630 closed

[2020-11-26 08:47] ratulSharker commented on #280
`DefaultJwtParser();` this constructor is been deprecated.

How to parse signed JWTs without the key ?

[2020-11-26 08:54] dereekb commented on #280
Been a while since I touched a project using this, but looks like with my project I updated to version 0.10.7 and just got the parser from `Jwts.parser();`.

[code]

[2020-11-26 20:05] ratulSharker commented on #280
@dereekb i am using [0.11.2](https://github.com/jwtk/jjwt#install-jdk-maven). From [here](https://github.com/jwtk/jjwt/blob/71ed1b67aafacb3a7383ee8de659023292a89135/api/src/main/java/io/jsonwebtoken/Jwts.java#L119) i came to know that `Jwts.parser()` became deprecated and documented to use `parserBuilder()`.

I tried with `parserBuilder()`. I tried with a signed token with it's signature part chop

[2020-11-26 21:34] dereekb commented on #280
My guess is that was added to follow spec and prevent bugs from passing through on peoples apps.

You can either downgrade to a previous version (unless you needed features in 11), or re-implement (copy paste) the claims decoding code.

Here's the current code:
https://github.com/jwtk/jjwt/blob/72973f9b9ba72438d97834db2bd56e36d3c48592/impl/src/main/java/io/jsonwebtoken/impl/DefaultJwtParser.java#L

[2020-11-26 22:19] ars-java commented on #604
Is anybody implementing it? If not I can take this issue.

[2020-12-07 08:51] zcourts opened #631 "Improving performance (public vs private key use when parsing)"
A significant proportion of our request processing is spent on parsing JWT tokens.
I've seen https://github.com/jwtk/jjwt/issues/226 and https://github.com/jwtk/jjwt/issues/473
Between 0.10 and the latest 0.11 there was a clear 10% or so improvement due to the improvements made to make the parser re-usable.

In 0.10 we had this
<img width="915" alt="jwt1" src="https://user-images.githubusercontent

[2020-12-07 11:22] tsiyona opened #632 "Unable to verify RSA signature using configured PublicKey"
We are generating a JWT using a dedicated Go library, with a .pem private key of 2048-bit length.
The jwt was signed with RS512 algorithm.
On Java server side, we verify this jwt using jjwt and a corresponding public key as follows:

`Jwts.parser().setSigningKey(publicKey).parseClaimsJws(jwt);`

We fail here with the following error:
`Unable to verify RSA signature using configured PublicKey. Sign

[2020-12-08 14:07] jkeruzec commented on #628
You have even the 2.12.0 that just came out !

[2020-12-11 20:43] Ulterior commented on #160
Works like a charm in my case too

[2020-12-12 20:25] #623 closed

[2020-12-20 10:36] juferdinand opened #634 "Token doesn't expire"
Hello together I use this code:
[code]
and my JWT Token doesn't expire after 10 Minutes, I don't know what is false, maybe an Bug?

Thanks for help

[2020-12-22 10:10] mohammedkalimullah opened #635 "Could not able to package using Maven"
We are planning to use this JWT in our peoplesoft Application. but i could not able package this as JAR file. Please help advise.
![image](https://user-images.githubusercontent.com/53372610/102876957-f01f0700-4480-11eb-9d41-71893977c8fc.png)

[2020-12-22 17:36] advancedwebdeveloper opened #636 "Broken dependency for Flow9 project: cannot find symbol Jwts.parserBuilder()"
Hi there.

I am experiencing some oddities with your library (v 0.10.8) , while trying to build Java packages of [Flow9](https://github.com/area9innovation/flow9) project:

https://github.com/area9innovation/flow9/issues/729
.
I am neither sure if it is acceptable to migrate to the latest version of your package nor whether is the cause of the issues with v. 0.10.8.
My experience with Java APIs al

[2020-12-22 17:49] advancedwebdeveloper commented on #636
CC @alstrup

[2020-12-28 10:06] hayond opened #637 "graal support?"
I use jjwt generate token for my micronaut app，I use graalvm build native-image, when generate token, I get this error:

`io.jsonwebtoken.lang.UnknownClassException: Unable to load class named [io.jsonwebtoken.impl.DefaultJwtBuilder] from the thread context, current, or system/application ClassLoaders.  All heuristics have been exhausted.  Class could not be found.  Have you remembered to include

[2021-01-02 16:51] runnermann commented on #148
Hello, We are running into the same issue while attempting to parse claims from an expired token. We need a way to ignore that a token has expired, and allow other exceptions to be thrown. This assists to ensure that a token is from the correct originator, and allows us to use it, along with other validation information, to refresh for that user. Thanks for all of the hard work on this.

[2021-01-05 07:21] ckmoga opened #638 "Method io.jsonwebtoken.Jwts.parserBuilder() not found after migrating to 0.11.2"
I have just migrated to the latest version and started getting this error at runtime:

`java.lang.NoSuchMethodError: io.jsonwebtoken.Jwts.parserBuilder()`

My dependencies:

[code]

[2021-01-06 12:16] youngjoon-lee commented on #626
@lhazlewood Hi. Could you review this PR?

[2021-01-11 15:25] rvillane commented on #628
Hi, any idea if this library is still maintained ?

[2021-01-13 12:01] Ikki-Dai opened #639 "give an option to remove 'alg' in JWT header or forbid 'NONE' to pass"
use token such as '{"alg":"NONE"}.{aud=14092834123, exp=1610540988, iss=test}.' base64 String 'eyJhbGciOiJOT05FIn0=.eyJhdWQiOiIxNDA5MjgzNDEyMyIsImV4cCI6MTYxMDU0MDk4OCwiaXNzIjoidGVzdCJ9.'
which can pass verification and caused security issue

[2021-01-18 09:42] Ikki-Dai commented on #639
while use 'parseClaimsJws' can check this case. thanks

[2021-01-18 09:42] #639 closed

[2021-01-18 12:10] hadestructhor opened #640 "Could not resolve io.jsonwebtoken:jjwt-api:0.9.1"
I'm trying to use jjwt with spring boot and I used gradle like it's said in the readme of this github like this :
[code]

and changed the version from 0.11.2 to 0.9.1 because I'm following [this guide](https://bezkoder.com/spring-boot-jwt-authentication/) that uses this library.

I keep getting this error message even when switching to the newest version:
[code]

[2021-01-19 13:21] salman-khandu opened #641 "jjwt library not allow explicitly to specify hashing algorithm during token validation"
Is there any way to specify the hashing algorithm while validating the token explicitly? OWASP cheatsheet suggests to specify it explicitly as best practices.

`Jwts.parser().setSigningKey(key).parseClaimsJws(token);`

I have tried to find a way but I haven't found it. auth0 library https://github.com/auth0/java-jwt allow adding algorithm during token validation.

[2021-01-20 08:21] commodis commented on #621
still relevant

[2021-01-21 12:05] Elshad1 opened #643 "io.jsonwebtoken.security.SignatureException: Unavailable RSA Signature algorithm 'RSASSA-PSS'"
Hello!
I am trying to create a JWT but I am getting this error message
[code]
Mу code:
[code]

My dependencies:
[code]

[2021-01-23 15:34] andymiaomiao opened #644 "can't get Issuer after parsing Claims"
the version is 0.9.1
[code]
the issuer is always null.

[2021-01-23 16:37] #644 closed

[2021-01-23 16:38] andymiaomiao commented on #644
got it . the code "setClaims(new HashMap<>())" override the claims.

[2021-01-28 13:12] slovenec88 commented on #613
We kinda had a similar issue.

It was between the server on 0.9, and the client with a different jwt library (njwt latest).
To fix it we had to increase the secret above 265 bytes and base64 encode the secret on the client side.

[2021-01-30 10:49] #578 closed

[2021-02-02 16:16] ryber opened #645 "UnknownClassException on DefaultJwtParserBuilder when in AWS Lambda"
Hello, I am using this fine library in a AWS lambda and getting a weird error that is NOT happening in other situations (like a EC2-Spring Boot app). I don't THINK it's this lib's fault in any way but I'm grasping at straws now.

Basically we get this error:

[code]

The pom for the project has all of the jars:
[code]

in fact, if I break open the shaded jar that is being used I can clearly see th

[2021-02-03 19:42] scharrua commented on #640
Hello!
I have the same error when trying to add :
[code]

to my pom.xml file.

Any clue on how to solve this?

[2021-02-09 08:22] zhangwenhua-tron opened #648 "io.jsonwebtoken.CompressionCodec: Error reading configuration file"
Hi,
I found an error message when I use jjwt, how does this error happen?
It seems that it is not an exception, so I cannot catch it.

[2021-02-09 16:01] martinvisser commented on #640
@hadestructhor There is no `jjwt-api` version `0.9.x`, that was introduced in `0.10.0`. See for example https://mvnrepository.com/artifact/io.jsonwebtoken/jjwt-api. The question is why you need to downgrade though.

@scharrua Your dependency is just fine, which should resolve normally. See https://mvnrepository.com/artifact/io.jsonwebtoken/jjwt/0.9.1.

To me, this doesn't sound like an issue of jj

[2021-02-11 18:36] raghavendra-peddi opened #649 "How we can encode using own secret key for HSA256 algorithm."
We already have existing secret key, how we can encode a token using same secret key? can someone help on this

[2021-02-15 23:10] lhazlewood commented on #645
Do you have a quick/tiny sample app that demonstrates this problem?  Your Maven config looks fine.

[2021-02-15 23:16] lhazlewood commented on #640
Artifact names changed with the 0.10.x release, so when you downgraded below 0.10.x, the names were incorrect.  Please read the following for the correct current names:

https://github.com/jwtk/jjwt#install

[2021-02-15 23:16] #640 closed

[2021-02-15 23:18] lhazlewood commented on #637
We'd welcome a pull request for this, but it's low priority for the core JJWT team until 1.0 is released.

[2021-02-15 23:19] lhazlewood commented on #634
We use GitHub Issues to track actionable work for changing JJWT's codebase.  Please read https://github.com/jwtk/jjwt#questions for asking general usability questions.  Thanks!

[2021-02-15 23:19] #634 closed

[2021-02-15 23:20] lhazlewood commented on #649
https://github.com/jwtk/jjwt#jws-create-key

Please ask follow-up usability questions by reading https://github.com/jwtk/jjwt#help-questions

[2021-02-15 23:20] #649 closed

[2021-02-15 23:21] lhazlewood commented on #648
No code example? Test case? Sample application?  It's impossible for us to help without more information.

Also, for future usability questions, please kindly read https://github.com/jwtk/jjwt#help-questions before opening a GitHub issue.  Thanks!

[2021-02-15 23:21] #648 closed

[2021-02-15 23:23] lhazlewood commented on #636
The method you refer to (`Jwts.parserBuilder()`) was introduced in 0.11.0 per https://github.com/jwtk/jjwt/blob/master/CHANGELOG.md#0110.  You must be using that version or later to reference that method.

[2021-02-15 23:23] #636 closed

[2021-02-15 23:30] lhazlewood commented on #641
This is unnecessary with JJWT because the `None` algorithm - as well as using weaker or different signature verification keys - has always failed with JJWT signature verification since JJWT was first released.  Auth0's initial releases of `java-jwt` suffered from this security flaw, which is why they had to add support for it.  There's no reason to add it to JJWT that I can tell.  I'm happy to dis

[2021-02-15 23:34] lhazlewood commented on #643
Do you have a sample project that we can run?  What JDK were you using for this test?

[2021-02-16 00:36] lhazlewood commented on #635
Did you find out what the problem was?  What JDK did you use to build?

[2021-02-16 00:40] lhazlewood commented on #632
Do you have the stack trace?  I'm trying to figure out where the exception was thrown - either in JJWT or by the JDK/JCE layer.

[2021-02-16 01:02] lhazlewood commented on #631
Circling back to this:

The code isn't any less secure because the resulting output is still used in a security-necessary bitwise-or comparison to the previous computed signature value (i.e. `MessageDigest.isEqual`).

Verifying signatures with the private key was an old/legacy 'feature' for server-side applications that could verify signatures with their existing private key (whereas clients alway

[2021-02-16 01:02] #631 closed

[2021-02-16 01:05] lhazlewood commented on #638
What version did you use previously?  Were you able to come to a resolution?

[2021-02-16 06:21] ckmoga commented on #638
I was on 0.10.2 but my issue was related to the fact that the dependency was runtimeOnly. My project is an SSO library that consumers import and utiliize for authentication. After adding the same dependencies to consumers the issue was resolved.

[2021-02-17 18:29] lhazlewood commented on #638
Thanks for the clarification!

[2021-02-17 18:29] #638 closed

[2021-02-17 18:32] lhazlewood commented on #628
@rvillane yes, it's maintained :)

For those concerned about Jackson, the version associated with JJWT is just what JJWT compiles against.  You always have the ability to exclude this dependency within your project and override it with your preferred Jackson version:

https://maven.apache.org/guides/introduction/introduction-to-optional-and-excludes-dependencies.html#dependency-exclusions

[2021-02-17 18:41] lhazlewood commented on #604
Reopening.  However, we're introducing a new validation framework for 1.0, so the implementation of this will be dependent upon that, so please no pull requests for this feature just yet - until that is finished.

[2021-02-18 06:19] zhangwenhua-tron commented on #648
I know it is a weird question， after I reboot my application, there is no more errors.
I cannot reproduce it, but I don't know why it occurred...

[2021-02-19 21:12] lhazlewood commented on #641
Closing for now - happy to re-open if you can demonstrate a case where JJWT doesn't satisfy best practices already.

[2021-02-19 21:12] #641 closed

[2021-02-19 21:14] lhazlewood commented on #628
Closing as #642 resolves this issue.

[2021-02-19 21:14] #628 closed

[2021-02-19 21:16] lhazlewood commented on #635
Closing for now - you might wish to reference this repository's .travis.yml file - it performs the full Maven builds (and a test/coverage build) across multiple operating systems, and they all work fine.

[2021-02-19 21:16] #635 closed

[2021-02-19 21:18] lhazlewood commented on #626
I don't understand the purpose for this PR - why did you create an alternative name for ES256?

The JJWT team will only support specification-defined algorithms, not custom ones. When #178 is complete however, you'll be able to add custom algorithms in your own project, so that might solve this use case? Please advise.

[2021-02-19 21:19] lhazlewood commented on #621
Resolved by #642.  Will be released in 0.11.3 or later.

[2021-02-19 21:19] #621 closed

[2021-02-24 23:39] skjolber opened #652 "Optimization: Cache header"
Initial test show that caching the header could improve the performance by about 10%.

So this would be possible (as far as I can see), if keys returned by SigningKeyResolver could either be validated on use, or the cache cleared when keys are no longer valid.

[2021-02-25 15:25] bdemers commented on #652
Hey @skjolber,

I'm not sure I'm following completely, can you point to where you think the keys should be cached?

What implementation of `SigningKeyResolver` are you using?  It _should_ be possible to create an implementation that caches your key.

For example, I have a simplistic resolver that caches keys here: https://github.com/okta/okta-jwt-verifier-java/blob/master/impl/src/main/java/com/ok

[2021-02-25 19:20] skjolber commented on #652
The whole JWT header (as a String) should be mapped to a cache entry containing

 - Header
 - SignatureAlgorithm
 - Key
 - CompressionCodec

Also, this means that the SigningKeyResolver only looks at the header, i.e. not the body, when determining the appropriate key.

[2021-02-25 19:28] skjolber commented on #652
So something [like this](https://github.com/skjolber/java-jwt-benchmark/blob/cacheHeaderExperiment/frameworks/jjwt-bench/src/main/java/com/github/skjolber/bench/jjwt/DefaultJwtParser.java#L233).

[2021-02-25 23:54] bdemers commented on #652
OH, you want to cache the actual base64 encoded header in order to optimize the serialization of the header?

So in the case of a JWT:

[code]

You would use the header `eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzUxMiJ9` as the cache key, and the value of said entry would be an object wrapping the decoded header value in my case a `JwsHeader` containing:

[code]

(**NOTE:** this could be a `JweHeader` in the f

[2021-02-26 17:01] skjolber commented on #652
Run the benchmark using `./gradlew --stop && ./gradlew clean build jmhClasses jmh  --info -x :frameworks:jjwt-bench:spotbugsMain --stacktrace` with java 8 for the following output:

| Benchmark | Mode | Cnt | Score |Error | Units |
|-----------|------|-----|-------|------|-------|
JwtVerifyBenchmark.auth0_verify |        thrpt |    5 | 28880,019 | ± 1439,777 | ops/s |
JwtVerifyBenchmark.fusionauth

[2021-02-26 21:26] bdemers commented on #652
With key rotation for remote jwks, the list all of all valid `kid` isn't known ahead of time, so could not automatically prime the cache.  I think for many use-cases the number of different headers an application sees is probably minimal, so caching after decoding should be enough to see the benefit.

[2021-02-26 22:57] lhazlewood commented on #652
It is unclear to me how valuable this would actually be in real-world applications, as opposed to a benchmark suite. (I'm not saying it is not valuable - just that I honestly don't know if it is or not).

Things like `exp` and `jti` fields are very common which means you *still* have to deserialize the header into JSON in order to assert things like expiration and other restrictions (`nbf`, etc).

[2021-02-27 00:02] skjolber commented on #652
@bdemers Remote keys must be downloaded before evaulating tokens, so the set of possible headers will be known in time (at runtime), but lets save the 'permutation' approach for later - you're right the simpler caching after decoding should be good enough.

@lhazlewood Yes, but those fields are in the JWT body. The JWT header is usually data which almost static, like signature algorithm, body comp

[2021-03-01 16:21] bdemers commented on #652
Hey @skjolber,
The list of jwks keys is NOT always known ahead of time, this is an important detail when it comes to key rotation and removing any exposed keys.  The initial set of keys would be known, and these _could_ be cached, but cache misses would be expected once the IdP starts issuing tokens with a newer key.

It's also worth mentioning, the caching strategy would also be slightly coupled

[2021-03-01 17:57] DanFTRX commented on #308
Just as an update, since April 2020, android now has the capability to backport most standard Java 8 core libraries to older devices, so Android shouldn't be a blocking point for Java 8 usage anymore.

[2021-03-01 19:20] lhazlewood commented on #308
@DanFTRX thanks for the update, that's really helpful.  I've made a *ton* of progress on JWE the last week, so hopefully it won't be too much longer before I can focus efforts on this issue and others slated for 1.0.

[2021-03-01 23:24] skjolber commented on #652
@bdemers I agree. The remote JWKs should be kept up-to-date; refreshes triggered either by time or by unknown keys. JWKs no longer on the list should be banned. Thus changes to the JWKs must affect the cache.

In general keeping the remote JWKs up-to-date in an optimal way is somewhat complicated - [here is my take on it](https://github.com/entur/jwt-resource-server/tree/master/jwt-server#json-web

[2021-03-02 03:06] slebetman commented on #230
So the answer to this question is to stop using this library and use Jose4J instead? Great!

[2021-03-02 03:12] bdemers commented on #230
@slebetman take a look at: https://github.com/jwtk/jjwt#parsing-of-custom-claim-types
If that doesn't help, feel free to open another issue asking for doc clarification

[2021-03-02 03:59] lhazlewood commented on #230
JJWT has this functionality as documented in @bdemers link - it was released in 0.11.0.

The reason why JJWT does it this particular way (through the JSON marshaller) is that is because marshaling behavior (converting to/from JSON and custom object types) is squarely in the domain/responsibility of JSON marshaller libraries (like Jackson, etc).  There's no need for JJWT to reinvent this wheel when

[2021-03-02 04:12] lhazlewood commented on #230
I just added an answer to the SO question (I hadn't seen it until now), so hopefully this helps others in the future (please upvote if it satisfies your needs: https://stackoverflow.com/a/66433213/407170 ).  Thanks for the comment!

[2021-03-02 10:15] zcourts commented on #631
@lhazlewood notification for this got lost amongst the endless GH notifications I get.
It's an interesting question. I think the performance difference is significant enough to raise an exception if a private key is provided. As you said, the public key can be obtained if the PK is what's available.

If there is a really really strong argument for retaining the behaviour in 1.0 I'd suggest provide

[2021-03-02 22:07] lhazlewood commented on #631
@zcourts - great minds think alike 😄   I'm working on the `jwe` branch which already has this and many other changes that enforce type-safety of arguments on sign/verify, encrypt/decrypt with Java generics.  So yep, only PrivateKeys will be allowed for assymetric key signature algorithms once this is released 😅

[2021-03-11 02:50] #626 closed

[2021-03-13 13:54] moglideveloper opened #655 "same expiry date not returned whee set as Claim in signed jwt token"
Below is a sample program, that is not returning correct expiry date from claims.

[code]

Actual output :-

[code]

Expected output :-

[code]

Thread for same question on stackoverflow :-

https://stackoverflow.com/questions/66614235/same-expiry-date-not-returned-whee-set-as-claim-in-signed-jwt-token

[2021-03-13 15:24] bdemers commented on #655
Hey @moglideveloper! Reply to to SO thread if you are still stuck!

Copied from StackOverflow:

JWT date precision is to the second while Java dates are millisecond. When dates are serialized the extra precision is lost. You would need to adjust your test.

It would be easer to notice this problem if you use a ISO 8601 format or, the old standard “getTime()”

[2021-03-13 15:24] #655 closed

[2021-03-13 20:51] bdemers commented on #655
I was on mobile with my original answer, but I wanted to add, if you are on Java 8+ you can do something like:

[code]

Then your test would be something like:

[code]

[2021-03-15 11:40] ffroliva opened #656 "DefaultClaims not immutable"
https://github.com/jwtk/jjwt/blob/a4130dd1ec5d4bef4b1835927a2a1d966a519109/impl/src/main/java/io/jsonwebtoken/impl/JwtMap.java#L103

Hi,

I recently faced an issue in my code while setting claims using google guava ImmutableMap.
Since ImmutableMap is immutable no new data can be added to the claims and if so it will throw an exception. I would suggest making `DefaultClaims (JwtMap)` immutable. How

[2021-03-15 15:59] bdemers commented on #656
Hi @ffroliva!

I'm not sure I'm following this 100%.

I only took a quick look, but it looks like JwtMap shouldn't rely on the map you pass in.  I'm likely missing something though, can you provide a quick snippet example, and the stacktrace you see?

https://github.com/jwtk/jjwt/blob/a4130dd1ec5d4bef4b1835927a2a1d966a519109/impl/src/main/java/io/jsonwebtoken/impl/JwtMap.java#L30-L40

Which versio

[2021-03-15 16:27] ffroliva commented on #656
I currently can not generate a proper sample project, but here is the overall idea.

This code is from version 0.9.1 which is the version I am currently working with.

[code]

Hi `JwtMap(Map<String, ?> map)` accept any `Map` implementation. if I create a claim using `ImmutableMap` this code will throw an exception because `setSubject(subject)` calls `map.put()` which is invalid from `ImmutableMap`

[2021-03-15 18:15] lhazlewood commented on #656
The 0.10.0 release changed from using a direct assignment of the map to a copy constructor (https://github.com/jwtk/jjwt/blob/0.10.0/impl/src/main/java/io/jsonwebtoken/impl/JwtMap.java#L40) to avoid situations like these and prevent unexpected/uncontrolled modifications to the underlying map.

This is mostly why I request that people upgrade to the latest stable and re-test before opening a ticket

[2021-03-15 18:18] lhazlewood commented on #656
P.S.  Sorry, didn't see your comment about 0.11.2.  I don't see how that's possible given the copy-constructor approach.  Maybe you still had the 0.9.x jars in your project config or classpath?  Would it be possible to create a mini test project to verify?

[2021-03-15 18:26] lhazlewood commented on #656
I just did a local test in my project (with the latest 0.11.x JJWT version) with this slightly modified test (same as yours, just creates the immutable map slightly differently):

[code]

No errors - it produces the JWS just fine.

I *suspect* this might be a project configuration issue?  Not sure - but if you could throw together a tiny sample project to show us, that would help.  Because based o

[2021-03-15 19:00] ffroliva commented on #656
Hi Les,

You are correct. version 0.10.0 fixed the issue. The `pulAll` method fixed
it. My mistake to mention version 0.11.2. You can close this issue.

Regards,

Flávio Oliva

Em seg., 15 de mar. de 2021 às 18:26, Les Hazlewood <
***@***.***> escreveu:

[2021-03-15 19:28] lhazlewood commented on #656
Thanks @ffroliva !  Cheers 😄

[2021-03-15 19:28] #656 closed

[2021-03-21 07:46] pethaniakshay commented on #174
Any update on this issue? Its still persist in the latest version.

[2021-03-22 20:16] bdemers commented on #174
It's likely something that will need to wait for a breaking API change @pethaniakshay, but for now, you should be able to cast the param to force the use of the expected method. (or one of the other header related methods)

I just flagged the issue with the "1.0" milestone as well

[2021-04-07 20:17] Marcono1234 commented on #617
Slightly unrelated to this issue, but @mrts, when using `"x5c"` for signature validation you have to verify the ceritificate chain for that certificate, as mentioned in [RFC 7515](https://tools.ietf.org/html/rfc7515#section-4.1.6) you linked:

Otherwise a user can sign a token with their own private key, provide their public key as `"x5c"` and the token would be pass verification.
I assume that yo

[2021-04-07 21:22] YesidMarin opened #657 "How set my public key"
Hi! Can you please provide an example of how to sign/verify using an existing public key pair with this structure?

![image](https://user-images.githubusercontent.com/29234631/113935933-bfa77280-97bc-11eb-9d09-ca7c086732dc.png)

[2021-04-08 09:20] mrts commented on #617
Thanks for bringing this up, absolutely!

Here's how we do it in the [Web eID project](https://web-eid.eu/): [link](https://github.com/web-eid/web-eid-authtoken-validation-java/blob/main/src/main/java/org/webeid/security/validator/validators/SubjectCertificateTrustedValidator.java#L49-L79).

[2021-04-10 12:48] ryber commented on #645
Sorry, we ended up switching the lambda to  an EC2 in Fargate, exact same code, and no error 🤷 I don't have a public example unfortunately.

[2021-04-12 17:17] bdemers commented on #645
@amol-can are you using a shaded jar? If so you probably need to configure the transformer: https://maven.apache.org/plugins/maven-shade-plugin/examples/resource-transformers.html#ServicesResourceTransformer

That said, I'd highly recommend against using the shade plugin, and instead of using something like the `maven-spring-boot-plugin`.  **NOTE:** This CAN be used for non-spring applications, an

[2021-04-13 13:27] ChocolateOverflow commented on #411
What are the current latest compatible versions of the dependencies relating to this issue? I'm using `jjwt-0.9,1` and I've tried `jjwt-api-0.10-x` with no luck.

[2021-04-13 14:35] bdemers commented on #411
Hi! @ChocolateOverflow take a look at: https://github.com/jwtk/jjwt#installation for examples (and the current version)

[2021-04-14 01:15] ChocolateOverflow commented on #411
I've figured out that I needed to remove the `jjwt` dependency and have just the 3 listed in `#installation`.

[2021-04-18 13:51] sysmat opened #659 "usage of RuntimeException"
why is io.jsonwebtoken using runtime(MalformedJwtException, RuntimeException) exception?

[2021-04-18 15:47] bdemers commented on #659
Hey @sysmat!  I'm not sure what you are asking.
Can you explain the problem you are having and what your question is?
StackOverflow has a great reference on [how to ask good questions](https://stackoverflow.com/help/how-to-ask).

[2021-04-21 14:48] jakub-bochenski commented on #115
Yeah, just use jose4j and save yourself some time

[2021-04-23 09:27] martinth commented on #336
In the meantime, you can do this to get the audiences:

[code]

[2021-04-23 09:49] remmelt opened #660 "Unclear error message when parsing date claims"
[code]

The above code will throw an exception, because the token expired. This is great. The exception thrown has a helpful message:
`io.jsonwebtoken.ExpiredJwtException: JWT expired at 1970-01-01T00:00:02Z. Current time: 1970-01-01T00:00:03Z, a difference of 1 milliseconds.  Allowed clock skew: 1000 milliseconds.`

This got me scratching my head... "If the difference is 1ms, and the allowed skew

[2021-04-25 07:00] cpilson opened #661 "Dependency bump to address CVE-2019-12384, CVE-2019-14540"
These CVEs have been resolved in `com.fasterxml.jackson.core:jackson-databind@2.9.10`.

I propose bumping the dependency: `com.fasterxml.jackson.core:jackson-databind@2.9.6` -> `com.fasterxml.jackson.core:jackson-databind@2.9.10`

Is there interest here?

[2021-04-25 07:08] cpilson commented on #661
Hmm. Looks like this was done in https://github.com/jwtk/jjwt/pull/642 which will map to a forthcoming release of [0.11.3](https://github.com/jwtk/jjwt/milestone/24).

Is MavenCentral lagging significantly behind this repo? I [saw 0.9.1 listed as the latest build out there](https://search.maven.org/artifact/io.jsonwebtoken/jjwt).

[2021-04-25 07:12] cpilson commented on #661
Bummer. Looks like this is now known as [Some New Hotness](https://stackoverflow.com/questions/65934148/json-web-token-support-for-the-jvm-does-include-impl-api-and-jackson).

Guess we can just close this out.

[2021-04-25 07:12] #661 closed

[2021-05-04 18:07] ChristopherSchultz commented on #408
Honestly, I think it makes more sense to support something like `signWith(Certificate)` for token-generation and `setSigningKey(Certificate)` for token-validation for starters. Then a future improvement could be `useSigningKeyFromToken(true)` or something to allow the library to go fetch the certificate and verify using it.

[2021-05-04 18:26] ChristopherSchultz commented on #131
Using an external library (bouncycastle) or another class is not really necessary at all to read a PEM file. It's like 2 lines of Java code:

[code]

[2021-05-04 18:33] ChristopherSchultz commented on #408
🤦‍♂️

Of course, you can't sign with a Certificate, since the Certificate class doesn't expose the private key.

But maybe something like `signWith(Certificate, PrivateKey)` where the `signWith` method checks to see that (a) the private key belongs with the Certificate and (b) the certificate is valid, hasn't expired, etc.

[2021-05-05 13:08] ashu7ank commented on #123
hi guys ,the issue mentioned, I am still facing it now, only with HS512, can anyone explain exactly why is this happening, if someone does not want this to happen what needs to be fixed, we have already tried to match the block size and increased key size till 128bytes as well for HS512. this did not work

[2021-05-05 14:03] lhazlewood commented on #123
https://github.com/jwtk/jjwt#understanding-base64-in-security-contexts

[2021-05-05 14:28] gaetjen commented on #280
@ratulSharker
To parse the header and body without signature verification on 11.2 you can use `Jwts.parserBuilder().build().parseClaimsJw**t**(unsignedToken)`.

[2021-05-07 02:50] Rambalac commented on #336
Well, you cannot. Java Maps do not allow you to convert into collections. And Java Maps do not keep duplicated keys.

[2021-05-10 12:31] dongzhuang opened #662 "Support JSR310 (Java 8+ Instant / Duration)"
Currently, JJWT compiles for Java 1.7 (much of this has to do with Android support).

JJWT 1.0 will contain breaking changes, at that point we could update the `Date` and `long`s to `Instant` and `Duration`.

Until then use:

* `Date.from(instant)`
* `Duration.ofSeconds(10).toMillis()`

[2021-05-28 10:06] EPilz opened #663 "Verify JWT with JWKs"
Is there a way to verify a JWT  with JWKs?

[2021-05-28 12:51] bdemers commented on #663
Not directly, but it’s pretty easy to add a custom key resolver to do it.
https://github.com/okta/okta-jwt-verifier-java/blob/master/impl/src/main/java/com/okta/jwt/impl/jjwt/RemoteJwkSigningKeyResolver.java

(Mobile, sorry for the brief response)
If this doesn’t help let me know

[2021-05-29 10:32] EPilz commented on #663
Thanks for the quick response! How is the access token then verified?

[2021-05-29 23:12] bdemers commented on #663
You can use JJWT to validate an JWT access token, but each IdP will have different guidelines as to which additional claims to validate.  Which IdP are you using?

Note: any recommendations from an IdP would always be in addition the standard JWT validation (which JJWT does automatically)

[2021-05-31 05:09] EPilz commented on #663
I need to validate the JWT access token with a JWK. What is the easiest way to do that?

JWK:
{```

"kty": "RSA",
"use": "sig",
"kid": "xxxxxxxxxxxxxxxx",
"x5t": "xxxxxxxxxxxxxxxx",
"n": "xxxxxxxxxxxxxxxxxx",
"e": "xxxx",
"x5c": [
"xxxxxxxxxxxxxxxxxxx"
],
"issuer": "https://login.microsoftonline.com/xxxxxxxxxxxxxxxxx/v2.0"
},
[code]

[2021-06-02 18:12] lhazlewood commented on #663
Just a note: this will be easier when #178 is complete as JWK support is required for JWE.

[2021-06-06 13:03] zhangan12138 opened #666 "Tokens can be resolved by multiple keys"
Hello, I was confused when I used JJWT in the test. When I used 'XXXX' as the key to get the token, I used 'XXXXX ',' XXXXXX' and 'XXXXXXX' to successfully resolve the token. I wonder if I made a mistake in the operation

[question.txt](https://github.com/jwtk/jjwt/files/6604227/question.txt)

[2021-06-07 15:11] bdemers commented on #657
I'm guessing @YesidMarin has already found an answer, but before this get's closed I figured I'd post a link to a simplistic JWKS key resolver: https://github.com/okta/okta-jwt-verifier-java/blob/okta-jwt-verifier-parent-0.5.1/impl/src/main/java/com/okta/jwt/impl/jjwt/RemoteJwkSigningKeyResolver.java

NOTE: v1.0 of JJWT should have support for this directly (as it is required for JWEs)

[2021-06-07 15:11] #657 closed

[2021-06-07 17:06] bdemers commented on #666
Hi @zhangan12138!

Your attached doesn't reproduce the issue you are describing, there are a few problems:
1. Your keys `xxxx` and `xxxxxxx` are not valid, when running this example you _should_ see output similar to:

2. Your test uses a pre-generated JWS, and while that is sufficient if you know how the JWS was created, just reading this code it isn't clear.  My suggestion is to merge your two t

[2021-06-11 00:16] #643 closed

[2021-06-11 00:16] #632 closed

[2021-06-16 22:03] Marcono1234 commented on #666
@zhangan12138 it looks like you fell for the misleading `parse(...)` method:
[code]

Sadly the documentation does not make it very clear, but this method does **not** verify the signature of the token, see #212.
You need to use either [`parseClaimsJws`](https://javadoc.io/static/io.jsonwebtoken/jjwt-api/0.11.2/io/jsonwebtoken/JwtParser.html#parseClaimsJws(java.lang.String)) or [`parsePlaintextJws`

[2021-06-16 23:06] bdemers commented on #666
Changing the method functionality is a breaking change, but it's something that we are looking into for 1.0

I think most folks confuse assume a JWT is always JWS, so the default parser needs a little work.  We are also working on supporting JWE's support which will help flush how to clarify the difference between the different types of JWTs

[2021-06-19 09:53] IARI opened #667 "[request] support for java.time"
I is my understanding that java.util.Date should not be used anymore.
I suggest to add support for java.time.

[2021-06-19 19:05] bdemers commented on #667
This will likely be added in v1. The current version of JJWT currently targets Java 7 APIs for Android compatibility (which is why we are still using Date)

I don’t know if I would say, ‘Date’ shouldn’t be used, but I would still much rather use Instant and Duration instead 😀

[2021-06-21 06:58] Paul-Etienne commented on #619
Hello, do you have an estimate of the merging date of the `jwe` branch?

[2021-06-21 19:28] Marcono1234 commented on #666
@bdemers, there is probably still some work left until version 1.0 will be released and from what I have read it will be a backward incompatible release, so users will likely be hesitant upgrading their dependency.
Do you think it would make sense to already perform the method renaming before 1.0 to make users aware of their potentially unsafe usage as soon as possible?
#658 only renames the metho

[2021-06-21 22:05] bdemers commented on #666
Hey @Marcono1234,

I'm not sure I've following 100%. Renaming methods is a breaking change and isn't backward compatible.

[2021-06-21 22:15] Marcono1234 commented on #666
Sorry for being imprecise there, the pull request is not actually "renaming" the methods, instead it annotates the old methods with `@Deprecated` and adds new methods with more expressive names to which the deprecated methods delegate.
So existing code is not breaking due to this (unless it implements `JwtParser`, which is unlikely?), but it will cause deprecation warnings.

[2021-06-22 18:32] lhazlewood commented on #660
Dunno why I didn't see this until now.  We'll leave this open to see if we can make this clearer.  Thanks for the issue!

[2021-06-22 18:34] lhazlewood commented on #667
Internal note: see #308 and #352

[2021-06-23 22:14] lhazlewood commented on #619
Unfortunately no.  I wasn't able to work on it the last few months, but I picked it up again two days ago.  I *really* want to wrap this up (it's an awesome feature, and I'm tired of the delays myself), but it all depends on work schedules.  Thanks for checking in!

[2021-06-25 15:26] phil294 commented on #177
In case this helps anyone: If you're experiencing this when attempting to parse a JWT access_token from Microsoft Azure AD, the token itself might be invalid due to bad requested scopes: See https://stackoverflow.com/a/60966371

[2021-06-26 03:13] #659 closed

[2021-06-26 03:13] #645 closed

[2021-06-26 11:14] mdiu2203 opened #669 "dependency error in Spring boot"
Hello, I'm grateful thanks to this library.
but I detected an error using this library in Spring Boot.
maybe it's because of Gradle version. I checked the error message as below.

[code]

It works under version 7. but not works more than version 7.
i think it's because of 'compile'.

[2021-06-26 18:20] lhazlewood commented on #669
Hello there!

There is no `compile` method anywhere in the JJWT API, so I don't know what could be causing this.

Do you have a code sample/snippet or example project that demonstrates the behavior so we can troubleshoot?

[2021-06-26 19:23] bdemers commented on #669
The ‘compile’ scope has been removed in Gradle v7. You must use ‘implementation’ now instead.

[2021-06-26 20:27] lhazlewood commented on #669
@bdemers doesn't that mean we should update the docs here then? https://github.com/jwtk/jjwt#gradle

[2021-06-26 20:51] Marcono1234 opened #670 "Project has no GitHub Security Policy"
The project has currently no [GitHub Security Policy](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository). Users therefore don't know where to report vulnerablities, in case they discover one.

[2021-06-26 21:27] bdemers commented on #669
Yup, sorry we had a related PR were we had talked about this. #664

let’s reopen this one to keep track of it

[2021-07-06 03:00] robbzzzzzzz commented on #573
@masterdany88 I adopted this guy‘s guidance，now it works. A dependency is missing

[2021-07-06 03:03] robbzzzzzzz commented on #573
But before the program can run normally，When we upload a new version，report this error. thanks @masterdany88

[2021-07-08 08:31] jdussouillez commented on #83
Any updates on this ?

[2021-07-08 21:43] lhazlewood commented on #83
Same status as my last comment.  1.0 has been a long time coming, but we *are* actively working on it.

[2021-07-14 11:00] jiangxiaoqiang opened #674 "The signing key's algorithm 'SHA256withECDSA' does not equal a valid HmacSHA* algorithm name and cannot be used with HS512."
I am not sure it is a bug:

https://stackoverflow.com/questions/68375397/the-signing-keys-algorithm-sha256withecdsa-does-not-equal-a-valid-hmacsha-al?noredirect=1#comment120841873_68375397

[2021-07-14 11:01] jiangxiaoqiang commented on #674
any more infomation I am glade to provide.

[2021-07-14 15:18] bdemers commented on #674
Looks like this is resolved now on StackOverflow 😄
Let us know if you still have questions!

[2021-07-14 15:18] #674 closed

[2021-07-18 18:07] pradeepovid opened #675 "String Object in payload wrapping the variable name along with the value"
![JWT-StringLiteral](https://user-images.githubusercontent.com/87616228/126077702-2f1b0cae-f160-43b8-b1ff-d162792ed523.PNG)
![JWT-STringObject](https://user-images.githubusercontent.com/87616228/126077709-bd9e0c95-a8a7-434b-a0cb-08afad845b05.PNG)
Trying to create a Json Web Token using this library. It is working fine if i pass a string literal/ string value directly.

But when i pass it via a Str

[2021-07-18 18:38] lhazlewood commented on #675
What does the Java code look like that results in those two outputs? Can you please paste those two snippets?

Also, please ask questions according to https://github.com/jwtk/jjwt#help-questions in the future.  We use GitHub issues for actionable work to be completed on the codebase itself.  Thanks!

[2021-07-18 18:39] #675 closed

[2021-07-19 03:59] pradeepovid commented on #675
Hi Team,

*Below is the working piece of code with hardcoded string value.*

*String userId = "pradeep";*

String secret = System.getProperty("STREAM_SECRET");
System.out.println(secret);
   SignatureAlgorithm signatureAlgorithm = SignatureAlgorithm.HS256;

   long nowMillis = System.currentTimeMillis();
   Date now = new Date(nowMillis);

   //We will sign our JWT with our ApiKey secret
   byte[]

[2021-07-19 18:10] lhazlewood commented on #675
JJWT doesn't manipulate or 'wrap' any String value you use as a claim, and it doesn't add carriage-return/newlines in claim values.

I suspect whatever value you used for `chatAppUserId` was not actually a raw id value, but a JSON String from some other object that was previously marshalled.

Modify your method to print the value of `chatAppUserId` before you use it with JJWT:

[code]

[2021-07-20 05:17] pradeepovid commented on #675
Hi,

 We solved it. As you rightly said the issue was in the Rest API which was
accepting the incoming values. Now everything is fine.

Thanks,
Pradeep

On Mon, 19 Jul, 2021, 11:40 PM Les Hazlewood, ***@***.***>
wrote:

[2021-08-04 23:58] lhazlewood commented on #613
@bdemers if you get a sec would you mind taking a look at this when you get a sec? I'm unable to pick up new work until the JWE stuff is done (I'm in the thick of it).

[2021-08-08 07:00] ronzeidman opened #676 "Support XML DSIG alg values"
Some libraries use XML DSIG alg values in the jwt header (mostly .net standard library) instead of the standard JWS alg. meaning that instead of using ` "alg": "RS256" ` they're using ` "alg": "http://www.w3.org/2001/04/xmldsig-more#rsa-sha256" `. Because of that I can't use this library to parse and validate tokens generated by these libraries. It's a pretty small fix to add this value table (loc

[2021-08-08 16:38] bdemers commented on #676
@ronzeidman can you provide a pointer to the lib/framework that does this? (Ideally with some example code or pointer to similar)?

[2021-08-08 16:51] lhazlewood commented on #676
Hrmmm - #493 (being done in the `jwe` branch) will allow you to plug in any custom signature algorithms that are not specification compliant.

The libraries that you refer to are *not* specification compliant - the cross-reference table that you listed is explicitly to help implementers know what algorithm to use in their programming language of choice when encountering the JWA/RFC identifier stri

[2021-08-08 17:02] lhazlewood commented on #676
An analogous example of the original request:

This would be like JJWT - a Java library - to use the Java Cryptography Architecture identifier of `HmacSHA256` (in your linked cross reference table) as the jwt `alg` value, and then expecting .NET library authors to support that value because its in the table.

RFCs exist specifically for cross-language/platform compatibility, and the respective .NE

[2021-08-09 14:13] nick-randal commented on #676
It was said that those libraries are not specification compliant but the link above states,

   signature and MAC "alg" (algorithm) values defined in this
   specification with the equivalent identifiers used by other standards
   and software packages.

   **other standards and software packages.**

   What is the downside of having a library that increases its flexibility by supporting an append

[2021-08-09 14:32] nick-randal commented on #676
@bdemers

This relies on Microsoft's System.IdentityModel.Jwt NuGet package. This package contains 4 DLLs widely in use:

- System.Identity.Tokens.Jwt
- Microsoft.IdentityModel.JsonWebTokens
- Microsoft.IdentityModel.Tokens
- Microsoft.IdentityModel.Logging

[code]

[2021-08-09 15:28] lhazlewood commented on #676
As I stated above, that section is provided as help (only) to implementors so they can more easily identify how to implement the specification algorithms.  It is in an Appendix, and therefore not part of the formal specification values.  (It is is considered 'non normative' in RFC speak - it is added for help and clarity, not something that defines specification behavior.)

You said it yourself -

[2021-08-09 15:42] nick-randal commented on #676
You have made some valid points except about this not being a part of the JWA. It is quite clearly stated that XML DSIG is support.

See https://tools.ietf.org/id/draft-ietf-jose-json-web-algorithms-01.html  Section 3.5

[2021-08-09 15:48] lhazlewood commented on #676
Sorry, but that's not in the specification.  You linked to a draft specification created in 2012.  The formal/official specification removed that well before final adoption as an RFC.  The official spec is here:

https://datatracker.ietf.org/doc/html/rfc7518

and it has no such language.

[2021-08-09 15:50] nick-randal commented on #676
The JWA RC you reference about in section 3.1 literally says to see Appendix A.1. Its making direct reference to it.

   signature and MAC "alg" (algorithm) values defined in this
   specification with the equivalent identifiers used by other standards
   and software packages.

[2021-08-09 15:59] lhazlewood commented on #676
Yes, `other` being the key word 😉 I've explained that the Appendix exists to help implementors know *how* to compute the signature in their language of choice, not *what* the `alg` value is.  It does not say anywhere in that document that they are supported values for the `alg` header parameter.  Where do you see that explicitly?

If you look at the actual subsections defining the `alg` values and

[2021-08-09 16:18] nick-randal commented on #676
Please show me where it states explicitly those values are not supported. I am taking the document at face value. It makes direct reference to the appendix in the specification and I don't see how that relegates it to the land of anecdotal reference. Appendixes at there to keep text from being noisy and I don't see any definition of RFCs where it says that moving something to an appendix renders i

[2021-08-09 17:07] lhazlewood commented on #676
For the `alg` header for JWS explicitly, this section:

https://datatracker.ietf.org/doc/html/rfc7518#section-3.1

defines the only text `alg` values that are defined by the specification, from required to optional to recommended implementation requirements.  If the spec intended the URIs to be used, don't you think they'd be in that section, with at least an `Optional` distinction?

*Can* they be

[2021-08-09 17:21] lhazlewood commented on #676
Also, for posterity.  Section 3.1 says:

   values defined by this specification for use with JWS, each of which
   is explained in more detail in the following sections:

That's it.  That's the only source of truth for `alg` values for use with JWS defined by the JWA specification.  It says so right in that sentence.

Other values *can* be used (e.g. URIs), but they are not guaranteed to be suppo

[2021-08-09 17:48] bdemers commented on #676
@nick-randal

In your above example, if you update the alg value, does that fix the problem?

[code]

to:

[code]

From:
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/b45a5b4cf4e918ca2b2c12ff1951f1be7b592bac/src/Microsoft.IdentityModel.Tokens/SecurityAlgorithms.cs#L104

Maybe this is partially a usage issue of that library?

It looks like the JWA constan

[2021-08-09 18:18] lhazlewood commented on #676
@bdemers don't you mean:

from:

[code]

to:

[code]

[2021-08-09 18:41] nick-randal commented on #676
@bdemers I arbitrarily picked a signature key type. In further testing though I can confirm that the .net libraries understand both sets of codes.

@lhazlewood I don't agree with cherry picking an RFC or redefining what an appendix means. There are plenty of RFCs that move things like tables into an appendix to not clutter the text. RFC places no rules on how a writer structures their document nor

[2021-08-09 20:08] lhazlewood commented on #676
@nick-randal No one is cherry-picking anything.  I keep telling you `See appendix A` is a "cross-reference", not a standardized set of values for the JWA RFC.  Cross-reference means "not in this document, but a pointer to other documents."  If it's not standardized in this (JWA) document (Section 3), it's not part of the specification, plain and simple.  It is saying something akin to "if you're n

[2021-08-09 20:50] lhazlewood commented on #676
FWIW, I have contacted the RFC Working Group and asked them to clarify the point about Appendix A.1 we are debating.  We'll see what they say 😜

[2021-08-09 21:03] nick-randal commented on #676
It is literally in the document. The appendix is not a cross reference and its incorrect to decide that it is not relevant.

I don't need you to implement this. I am advocating for @ronzeidman who submitted this and indicating that Microsoft takes in both values and made the decision to output XML DSIG.

There is no expansion of functionality being asked for here, we are hashing over a key mapping

[2021-08-09 21:04] nick-randal commented on #676
You should take a look at something like the TLS RFC which moves many portions of the document to multiple appendices.

[2021-08-09 21:39] lhazlewood commented on #676
Yes, it is! it says it _literally_ in the RFC in the part of Section 3.1 that you like to point to:

   signature and MAC "alg" (algorithm) values defined in this
   specification with the equivalent identifiers used by other standards
   and software packages.

It is literally a cross-reference of JWS-defined values (in 3.1) with non-JWS values defined in other specifications.  There is no indica

[2021-08-10 07:37] ronzeidman commented on #676
Thanks for giving my issue so much thought. I agree with both approaches. Thing is I'm validating a token that was not generated by me and I have a very limited control on the other side's code. So even if Microsoft changes their library in a breaking way (probably won't happen since it'll change currently generated tokens in many places) banning the old "alg" values, I may encounter other people

[2021-08-10 17:42] bdemers commented on #676
(This comment was delayed due to a GH outage)

@ronzeidman any chance you can point me to the product or lib that created the token with the XML DSIG URL in it? Maybe I can help you track that down and get that lib to put the _proper_ fix in?

Either way, I think #493 is the only path forward for this (which is part of the larger JWE support work that is going on)

As a short-term, _ugly_ stop gap

[2021-08-11 14:41] lhazlewood commented on #676
@ronzeidman: @bdemers suggestion should work without requiring a fork:

I know it's not exactly obvious how to do this - is it possible for you to provide a test JWS string produced by the .NET library (with a test key)?  If so either of us could create a quick code sample that demonstrates the technique and you could just use that.

If you can't provide a sample JWS and key, we can try to simulat

[2021-08-11 14:44] lhazlewood commented on #676
@ronzeidman The JWE work is being tracked under #113

[2021-08-13 17:15] darioseidl commented on #573
Is a serializer JAR (for Jackson or Gson) required?

Like @mbogner said,

with 0.11.2 I'm also seeing this error unless I include the Jackson or Gson jar and the error message is misleading as it says that the `jjwt-impl.jar` is missing, but it's actually the `jjwt-jackson.jar` that was missing in my case:

[code]

results in:

but this works:

[code]

[2021-08-17 14:36] schotten opened #678 "Jwts.builder() - setClaims - overwrite others propertyes"
If the form do you make the Jwts.builder(), the setClaims overwrite the Subject in the wrong form.
I will sent do exemple:

**Firstly i create the claims and after i will create the JWT token string**

**The create JWT token to form that the Subject is acessyble in future**

**The read JWT token and get the login**

**The error:**
If i change the order for builder in function generateIdentificatio

[2021-08-17 15:57] bdemers commented on #678
Hi @schotten!

The setters follow a typical Java bean pattern, the `setClaims()` method _should_ overwrite any previously added claims. I'm guessing you probably want to use the `addClaims()` method instead:

https://github.com/jwtk/jjwt/blob/6fe3759d641a5e89ea9a824fa9213b02b5e51483/api/src/main/java/io/jsonwebtoken/JwtBuilder.java#L98-L120

You may also want to look at the `setClaims(Claims)` met

[2021-08-17 17:29] lhazlewood commented on #678
Just noting:

It is JavaBeans idiomatic behavior to _replace_ state when calling a `set` method.  If you call `setClaims`, the expectation is that you are fully replacing the existing Claims object and/or all state associated with the existing Claims object.  `addClaims` was added to support appending state (as opposed to idiomatic full replacement).

See also #66 and #179.

As a result, and based

[2021-08-17 17:29] #678 closed

[2021-08-24 06:07] Fs02 opened #679 "JWT signature does not match locally computed signature only on some POD"
**Describe the bug**

We are using `PS256` as signing algorithm with rotated keys. the app is running on java 11 and deployed in kubernetes.
Recently we started to encounter signature verification issue, all jwt that passed through one pod will fail with `JWT signature does not match locally computed signature. JWT validity cannot be asserted and should not be trusted` message, but further retry w

[2021-08-24 17:00] bdemers commented on #679
Is anything different between those instances? JVM, version of JJWT, configuration, etc?

[2021-08-25 03:24] Fs02 commented on #679
It's running on the same k8s deployment, so it should have the exact same configuration

[2021-08-28 23:49] Marcono1234 commented on #670
Not stale!

[2021-08-31 02:35] bdemers commented on #669
Fixed in: #665

[2021-08-31 02:35] #669 closed

[2021-08-31 06:14] Fs02 commented on #679
Hi, thanks for your suggestion, I've added the log, and still waiting for the problem to happen again

can you explain how this can happens? `cachedJwks = jwks.associateBy { it.id }` looks normal to me, I'm assuming `jwks.associateBy { it.id }` will be evaluated first before assigned to `cachedJwks` 🤔

[2021-08-31 14:23] bdemers commented on #679
This assumes that the `kid` is `null`, but the problem I could see is annotated below. (which if it's a publicly accessible server this _could_ be the case,)

[code]

But ultimately we don't have a lot to go on, and I'm just guessing.

[2021-09-03 22:15] MarkusKramer commented on #637
Only adding DefaultJwtBuilder will not be sufficient. I've got jjwt working in a Graal native image build now. Parsing a JWT can be done like this:
[code]

You'll also need some config files to get compression to work - which unfortunately you currently can't get rid of as it's always getting statically initialized even when not needed.

META-INF/native-image/someprojectname/resource-config.json
[

[2021-09-06 08:21] Fs02 commented on #679
The issue triggered again, but we don't see this log, looks like this is not the problem 🤔

[2021-09-06 14:13] bdemers commented on #679
What do your logs show? Did you fix the threading issue?

[2021-09-06 18:12] lhazlewood commented on #637
Thanks for the update @MarkusKramer .  Is it possible to declare DefaultJwtParserBuilder and DefaultJwtBuilder in `resource-config.json` as well, and then have it work 'out of the box' without having to use `jjwt-impl` in compile-scope?

Nothing in the `impl` module is guaranteed for backwards compatibility.  If you directly use its classes as above, breaking changes could occur on future upgrades

[2021-09-06 20:42] MarkusKramer commented on #637
Yes, you can use `Jwts.parserBuilder()` if you add to reflect-config.json

[code]

Just tested with Graal. And similar for the builder and other classes.

When including theses configs in jjwt-impl it should work out of the box.
However... one key benefit of Graal is to get rid of unneeded code, and we're sort of preventing it this way. It would be better to have less reflection in jjwt, by Jwts d

[2021-09-06 21:27] lhazlewood commented on #637
A `CompressionCodecResolver` is always needed in case a `zip` header is encountered, but I understand your point around reflection.

We have discussed at times moving the `impl` package and its sub-packages into a single .jar and changing everything in there to package protected to prevent people from depending on those classes.

A `reflect-config.json` might be a better/faster stop-gap in the mea

[2021-09-07 17:56] FreeMoneyHyb opened #680 "WE WANT YOU"
UtIXMHmTqJ3eHxeb2sNtHuQoa6JBhiOr5AdEOJINFJLaNL7avJLQLdRv6YHy5DuFg1rawaDDTxABWbyKxNH7jbkY12qqknOjnZcCs4QOEZNuVMMh0t6njBKI76qaY/wNBhtUb676uVNMjr7TkPWt5lfipOnjUJDZ9+czsHexVSOmwYvT132EzsOdQtVj6/16kGAueiG5gy1EohC0F0DG3qCN0+OSL6vhT5htt6A9yKMiIzebiF7ljw3RyQL7M7+LdImU6xsP+/fsufa3fzFkLcsAHbPJMXlndfbGAmWBTtsGpl65EsCnRxFsDhnMlAXccj9Ra23DLP7JjIvBH7AAwgP96pQeZv37+71FpjcSKRYGlDBXLiOerFs3y8BJF7JgEI8hV/fR2X9aKeYR

[2021-09-07 18:16] lhazlewood commented on #680
Spam. Deleting and closing.

[2021-11-05 12:47] maximedn opened #687 "JWT with JSON body seen as plaintext JWT"
Hi,

We are facing a this behavior when using the latest release of jjwt (`0.9.1`):

When parsing the claims of a token that has a JSON body using `Jwts.parser().[...].parseClaimsJws(token)`, the token is seen as a plaintext JWT. Here is what the token contains:

Header:
[code]

Payload
[code]

Apparently, the token payload contains an extra \r\n at the end, which makes it interpreted as a plainte

[2021-11-05 18:36] lhazlewood commented on #687
Hi Maxime!

Out of curiosity, what made you believe `0.9.1` was the latest JJWT release?  It's actually `0.11.2` per [https://github.com/jwtk/jjwt#install](https://github.com/jwtk/jjwt#install)

That said, I'm not sure that `0.11.2` will solve your problem.

Compact JWT bodies can represent both plaintext as well as JSON, so we have to use heuristics (the line you quoted) to do our best to try and

[2021-11-08 21:55] lhazlewood commented on #519
@andrewhrytsiv Hi!  All I can say as an unpaid team of volunteers, we move as quickly as we're able, so we cannot commit to any dates or timelines.

I will say however that there has been a *tremendous* amount of active work in the last 3 months on the `jwe` branch and other PRs, so all I can say is that 1) we're working as hard as we can and 2) there are a lot of awesome things about to drop in t

[2021-11-09 15:02] andrewhrytsiv commented on #519
@lhazlewood I appreciate your work. Thank you for the feedback.

[2021-11-13 00:26] TheLeaf-code opened #689 "Is there an alternative for parseClaimsJws() in Jwts.builder() for jjwt?"
I am not entirely sure if this is a bug or not, so posting here.

Currently following [this][1] documentation to implement Apple sign in on the server side on our Java server. In this documentation, the author is using jjwt in order to verify the jwt token passed in from the client side. I was able to complete all of the steps in here, except for this line of code:

    Jwts.parser().setSigningKey

[2021-11-14 02:47] bdemers commented on #689
I’m mobile (sorry for the sort reply)

It’s a “builder” pattern so you need to call the “build” method to get the parser, something like:

    Jwts.parserBuilder()
      // set signing keys, and other props
      .build();

The interface parser interface is the same, it’s now immutable.

[2021-11-15 18:31] netmackan commented on #408
The way I have been considering is to use the SigningKeyResolver as you suggest.
Something like this:
[code]

But question remains what exception to use and if there is any downside of doing it like this or any alternative. I probably just go with JwtException for now.